force-app/main/default/flows/AccountTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assign_RecordTypeIdAccount</name>
        <label>レコードタイプIDを割りあて</label>
        <locationX>578</locationX>
        <locationY>1207</locationY>
        <assignmentItems>
            <assignToReference>var_RecordTypeIdAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_RecordTypeAssign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_RecordTypeAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RecordTypeIdMovingTrader</name>
        <label>レコードタイプIDを割りあて</label>
        <locationX>842</locationX>
        <locationY>1207</locationY>
        <assignmentItems>
            <assignToReference>var_RecordTypeIdMovingTrader</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_RecordTypeAssign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_RecordTypeAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RecordTypeIdRealEstateAgency</name>
        <label>レコードタイプIDを割りあて</label>
        <locationX>1106</locationX>
        <locationY>1207</locationY>
        <assignmentItems>
            <assignToReference>var_RecordTypeIdRealEstateAgency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_RecordTypeAssign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_RecordTypeAssign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_New</name>
        <label>新規</label>
        <locationX>685</locationX>
        <locationY>742</locationY>
        <defaultConnectorLabel>それ以外</defaultConnectorLabel>
        <rules>
            <name>isNew1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordType</targetReference>
            </connector>
            <label>新規</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_RecordType</name>
        <label>レコードタイプ判定</label>
        <locationX>974</locationX>
        <locationY>1087</locationY>
        <defaultConnector>
            <targetReference>loop_RecordTypeAssign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_RecordTypeAssign.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RecordTypeIdAccount</targetReference>
            </connector>
            <label>委託企業</label>
        </rules>
        <rules>
            <name>isMovingTrader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_RecordTypeAssign.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MovingTrader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RecordTypeIdMovingTrader</targetReference>
            </connector>
            <label>引越業者</label>
        </rules>
        <rules>
            <name>isRealEstateAgency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_RecordTypeAssign.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RealEstateAgency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RecordTypeIdRealEstateAgency</targetReference>
            </connector>
            <label>不動産会社/家主</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_RecordTypeNotMovingTrader</name>
        <label>レコードタイプ判定</label>
        <locationX>490</locationX>
        <locationY>1519</locationY>
        <defaultConnectorLabel>引越し業者</defaultConnectorLabel>
        <rules>
            <name>isNotMovingTrader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_RecordTypeIdMovingTrader</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_CreateCollaborationGroup</targetReference>
            </connector>
            <label>引越業者以外</label>
        </rules>
    </decisions>
    <decisions>
        <description>親取引先が更新（新規作成時に親取引先項目の登録がされた場合も含む）された場合は配下の取引先責任者や仲介不動産会社にこの取引先を選択している新規を更新しなければいけない為判定</description>
        <name>decision_UpdateParentId</name>
        <label>親取引先の更新判定</label>
        <locationX>687</locationX>
        <locationY>556</locationY>
        <defaultConnector>
            <targetReference>decision_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>更新なし</defaultConnectorLabel>
        <rules>
            <name>isUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ParentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_ParentIdUpdateHeadQuarter</targetReference>
            </connector>
            <label>親取引先項目の更新（新規作成時の登録を含む）</label>
        </rules>
    </decisions>
    <description>親取引先の更新判定をする決定コンポーネントの追加
親取引先が更新されたら取引先担当者の「本社」項目と新規の「仲介業者本社」項目を更新するサブフローを追加</description>
    <environments>Default</environments>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>取引先トリガー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AC_取引先トリガー</label>
    <loops>
        <name>loop_RecordTypeAssign</name>
        <label>レコードタイプ割りあてループ</label>
        <locationX>490</locationX>
        <locationY>967</locationY>
        <collectionReference>getRecordType</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_RecordType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_RecordTypeNotMovingTrader</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRecordType</name>
        <label>レコードタイプを取得</label>
        <locationX>490</locationX>
        <locationY>847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_RecordTypeAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_AccountOwner_0_0_0_0</name>
        <label>取引先の所有者変更</label>
        <locationX>693</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>decision_UpdateParentId</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>568</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>update_AccountOwner_0_0_0_0</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_CreateCollaborationGroup</name>
        <label>グループ作成</label>
        <locationX>358</locationX>
        <locationY>1639</locationY>
        <flowName>CreateCollaborationGroup</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordTypeIdAccount</name>
            <value>
                <elementReference>var_RecordTypeIdAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RecordTypeIdRealEstateAgency</name>
            <value>
                <elementReference>var_RecordTypeIdRealEstateAgency</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>親取引先を更新時に、配下の取引先担当者の「本社」項目と新規の「仲介業者本社」項目を更新するフロー</description>
        <name>flow_ParentIdUpdateHeadQuarter</name>
        <label>AC_親取引先更新時に配下の本社項目を更新</label>
        <locationX>890</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>decision_New</targetReference>
        </connector>
        <flowName>ParentIdUpdateHeadQuarter</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_RecordTypeIdAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_RecordTypeIdMovingTrader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecordTypeIdRealEstateAgency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
