force-app/main/default/flows/AccountingRequestRenewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_ErrorFlag1</name>
        <label>エラーフラグTrue</label>
        <locationX>368</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>var_IsErrorCheckDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_DecisionApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorFlag2</name>
        <label>エラーフラグTrue</label>
        <locationX>368</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>var_IsErrorDecisionApplication</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorFlag3</name>
        <label>エラーフラグTrue</label>
        <locationX>381</locationX>
        <locationY>1001</locationY>
        <assignmentItems>
            <assignToReference>var_IsErrorPayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_PaymentOrBillingSetting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorFlag4</name>
        <label>エラーフラグTrue</label>
        <locationX>233</locationX>
        <locationY>1345</locationY>
        <assignmentItems>
            <assignToReference>var_IsErrorRemittanceDateAndBankAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_PaymentOrBillingSetting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorFlag5</name>
        <label>エラーフラグTrue</label>
        <locationX>282</locationX>
        <locationY>1553</locationY>
        <assignmentItems>
            <assignToReference>var_IsErrorPaymentOrBillingSetting</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_ErrorFlag</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_CheckDate</name>
        <label>チェック日判定</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>get_DecisionApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェック日あり</defaultConnectorLabel>
        <rules>
            <name>isNullCheckDate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Renewal.FirstCheckDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Renewal.SecondaryCheckDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ErrorFlag1</targetReference>
            </connector>
            <label>チェック日なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DecisionApplication</name>
        <label>決裁申請判定</label>
        <locationX>577</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>get_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>決裁申請あり</defaultConnectorLabel>
        <rules>
            <name>isNullDecisionApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ErrorFlag2</targetReference>
            </connector>
            <label>決裁申請なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_ErrorFlag</name>
        <label>エラーフラグ判定</label>
        <locationX>587</locationX>
        <locationY>1711</locationY>
        <defaultConnector>
            <targetReference>flow_CreatePaymentRecordNewMatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>エラーなし</defaultConnectorLabel>
        <rules>
            <name>isError</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_IsErrorCheckDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_IsErrorDecisionApplication</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_IsErrorPayment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_IsErrorPaymentOrBillingSetting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_IsErrorRemittanceDateAndBankAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Error</targetReference>
            </connector>
            <label>エラーあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Payment</name>
        <label>支払判定</label>
        <locationX>571</locationX>
        <locationY>999</locationY>
        <defaultConnector>
            <targetReference>assign_ErrorFlag3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>支払あり</defaultConnectorLabel>
        <rules>
            <name>isNullPayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_PaymentOrBillingSetting</targetReference>
            </connector>
            <label>支払なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_PaymentOrBillingSetting</name>
        <label>支払/請求設定判定</label>
        <locationX>582</locationX>
        <locationY>1531</locationY>
        <defaultConnector>
            <targetReference>assign_ErrorFlag5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>支払/請求設定なし</defaultConnectorLabel>
        <rules>
            <name>isNotNullPaymentOrBillingSetting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PaymentOrBillingSetting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_ErrorFlag</targetReference>
            </connector>
            <label>支払/請求設定あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_RemittanceDateAndBankAccount</name>
        <label>送金日/口座判定</label>
        <locationX>386</locationX>
        <locationY>1344</locationY>
        <defaultConnector>
            <targetReference>assign_ErrorFlag4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>データなし</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_PaymentOrBillingSetting.RemittanceDestination__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_PaymentOrBillingSetting.RemittanceDestination__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_PaymentOrBillingSetting.RemittanceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_PaymentOrBillingSetting</targetReference>
            </connector>
            <label>データあり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RE_経理手配（更新） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RE_経理手配（更新）</label>
    <loops>
        <name>loop_PaymentOrBillingSetting</name>
        <label>支払/請求設定ループ</label>
        <locationX>582</locationX>
        <locationY>1338</locationY>
        <collectionReference>get_PaymentOrBillingSetting</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_RemittanceDateAndBankAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_PaymentOrBillingSetting</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_DecisionApplication</name>
        <label>決裁申請取得</label>
        <locationX>591</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_DecisionApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Renewal.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>承認</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DecisionApplication2__c</object>
        <sortField>ApprovalDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Payment</name>
        <label>支払を取得</label>
        <locationX>583</locationX>
        <locationY>844</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DecisionApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DecisionApplication__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PaymentOrBillingSetting</name>
        <label>支払/請求設定を取得</label>
        <locationX>584</locationX>
        <locationY>1178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_PaymentOrBillingSetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaymentOrBillingType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>契約金</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PaymentOrBillingSetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Renewal</name>
        <label>更新を取得</label>
        <locationX>583</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_CheckDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Renewal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_Error</name>
        <label>エラー画面</label>
        <locationX>337</locationX>
        <locationY>1749</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ErrorMessage1</name>
            <fieldText>&lt;p&gt;一次チェック日、二次チェック日の入力がありません。&lt;/p&gt;&lt;p&gt;チェックを実施したうえで、再度実行してください。&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_IsErrorCheckDate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display_ErrorMessage2</name>
            <fieldText>&lt;p&gt;承認済みの決裁申請が存在しません。&lt;/p&gt;&lt;p&gt;決裁取得後、再度実行してください。&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_IsErrorDecisionApplication</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display_ErrorMessage3</name>
            <fieldText>&lt;p&gt;既に経理手配は実施されています。&lt;/p&gt;&lt;p&gt;修正が必要な場合は請求管理チームへ連絡してください。&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_IsErrorPayment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display_ErrorMessage4</name>
            <fieldText>&lt;p&gt;送金先口座または送金日が設定されていないデータがあります。&lt;/p&gt;&lt;p&gt;該当の支払/請求設定を確認し、送金先口座、送金日を入力してください。&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_IsErrorRemittanceDateAndBankAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display_ErrorMessage5</name>
            <fieldText>&lt;p&gt;経理手配に必要な情報がありません。&lt;/p&gt;&lt;p&gt;「支払/請求設定」ボタンクリックし、必要情報を入力してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_IsErrorPaymentOrBillingSetting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Renewal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_CreatePaymentRecordNewMatter</name>
        <label>支払レコード作成</label>
        <locationX>594</locationX>
        <locationY>1888</locationY>
        <flowName>CreatePaymentRecordNewMatter</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_DecisionApplication.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RealEstateId</name>
            <value>
                <elementReference>get_Renewal.RealEstate__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsErrorCheckDate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsErrorDecisionApplication</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsErrorPayment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsErrorPaymentOrBillingSetting</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsErrorRemittanceDateAndBankAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
