force-app/main/default/flows/AmountCalcByAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_BankAccount1_1</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingSecurityDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingDeposit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_10</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>6446</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthCommonCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_11</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>6782</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthCommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthParkingFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_12</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>7118</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingBillingNextMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxBillingNextMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_AgencyCommission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_13</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>7454</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.AgencyCommission__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_14</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>7790</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_15</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>8126</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_16</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>8462</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_17</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>8798</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_18</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>9134</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_19</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>9470</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DepositAmortisation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_19_0</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>9806</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.DepositAmortisation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_NewMatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_2</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingReward</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_3</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingReward__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingKeyMoney</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_4</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingKeyMoney__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthRent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_5</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>4766</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthRent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthManagementCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_6</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>5102</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthCommonCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_7</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>5438</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthCommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthParkingFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_8</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>5774</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingBillingThisMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxBillingThisMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthRent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount1_9</name>
        <label>口座1に集計</label>
        <locationX>50</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthRent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthManagementCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_1</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingSecurityDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingDeposit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_10</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>6446</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthCommonCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_11</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>6782</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthCommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthParkingFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_12</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>7118</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingBillingNextMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxBillingNextMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_AgencyCommission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_13</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>7454</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.AgencyCommission__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_14</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>7790</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_15</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>8126</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_16</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>8462</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_17</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>8798</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_18</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>9134</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_19</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>9470</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DepositAmortisation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_19_0</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>9806</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.DepositAmortisation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_NewMatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_2</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingReward</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_3</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingReward__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingKeyMoney</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_4</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingKeyMoney__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthRent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_5</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>4766</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthRent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthManagementCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_6</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>5102</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthCommonCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_7</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>5438</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthCommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthParkingFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_8</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>5774</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingBillingThisMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxBillingThisMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthRent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2_9</name>
        <label>口座2に集計</label>
        <locationX>314</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthRent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthManagementCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_1</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingSecurityDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingDeposit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_10</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>6446</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthCommonCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_11</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>6782</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthCommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthParkingFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_12</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>7118</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingBillingNextMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxBillingNextMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_AgencyCommission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_13</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>7454</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.AgencyCommission__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_14</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>7790</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_15</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>8126</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_16</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>8462</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_17</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>8798</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_18</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>9134</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherBillingAmount6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_19</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>9470</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingOtherBillingAmount6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxOtherBillingAmount6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DepositAmortisation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_19_0</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>9806</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.DepositAmortisation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_NewMatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_2</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingReward</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_3</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingReward__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingKeyMoney</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_4</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingKeyMoney__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthRent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_5</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>4766</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthRent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthManagementCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_6</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>5102</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthCommonCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_7</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>5438</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthCommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingThisMonthParkingFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_8</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>5774</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ExcludingBillingThisMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RemittanceTaxAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_TaxBillingThisMonthParkingFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthRent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3_9</name>
        <label>口座3に集計</label>
        <locationX>578</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>var_RemittanceAmount3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthRent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BillingNextMonthManagementCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccountId</name>
        <label>口座Idコレクションに割り当て</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingSecurityDepositAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingDepositAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingRewardAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingKeyMoneyAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthRentAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthManagementChargeAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthCommonChargeAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingThisMonthParkingFeeAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthRentAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthManagementChargeAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthCommonChargeAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.BillingNextMonthParkingFeeAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.AgencyCommissionAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.OtherBillingAmount1Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.OtherBillingAmount2Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.OtherBillingAmount3Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.OtherBillingAmount4Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.OtherBillingAmount5Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.OtherBillingAmount6Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AllBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FifthSetConfirm.DepositAmortisationAccount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sort_BankAccountIdCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LoopCountReset</name>
        <label>ループカウントリセット</label>
        <locationX>270</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>var_LoopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_BankAccountFind</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LoopCountUp1</name>
        <label>ループカウントアップ</label>
        <locationX>952</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>var_LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_BankAccountDuplicateCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LoopCountUp_2</name>
        <label>ループカウントアップ</label>
        <locationX>754</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>var_LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_LoopCountCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TargetBankAccountIdCollection</name>
        <label>コレクションに追加</label>
        <locationX>1040</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>var_TargetBankAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_BankAccountDuplicateCheck</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BankAccountIdCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TemporaryBankAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_BankAccountDuplicateCheck</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_BankAccountDuplicateCheck</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sort_BankAccountIdCollection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>コレクションを並び替え</label>
        <locationX>776</locationX>
        <locationY>806</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>var_AllBankAccountIdCollection</collectionReference>
        <connector>
            <targetReference>var_NullDeleteAllBankAccountIdCollection</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>var_NullDeleteAllBankAccountIdCollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Nullを削除</label>
        <locationX>776</locationX>
        <locationY>926</locationY>
        <assignNextValueToReference>currentItem_var_NullDeleteAllBankAccountIdCollection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>var_AllBankAccountIdCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_var_NullDeleteAllBankAccountIdCollection</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_BankAccountDuplicateCheck</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>decision_AccountCheck1</name>
        <label>口座1チェック</label>
        <locationX>270</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>update_NewMatter_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックNG</defaultConnectorLabel>
        <rules>
            <name>Account1Match_1</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.BankCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBankNum1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.BranchOfficeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBranchOfficeNum1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.DepositType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountType1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountNum1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_AccountCheck2</targetReference>
            </connector>
            <label>口座1一致</label>
        </rules>
        <rules>
            <name>Account2Match_1</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.BankCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBankNum2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.BranchOfficeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBranchOfficeNum2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.DepositType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountType2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.BankAccountNum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountNum2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_AccountCheck2</targetReference>
            </connector>
            <label>口座2一致</label>
        </rules>
        <rules>
            <name>Account3Match_1</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.BankCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBankNum3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.BranchOfficeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBranchOfficeNum3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.DepositType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountType3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1.BankAccountNum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountNum3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_AccountCheck2</targetReference>
            </connector>
            <label>口座3一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_AccountCheck2</name>
        <label>口座2チェック</label>
        <locationX>270</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>update_NewMatter_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックNG</defaultConnectorLabel>
        <rules>
            <name>Account1Match_2</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.BankCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBankNum1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.BranchOfficeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBranchOfficeNum1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.DepositType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountType1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountNum1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_AccountCheck3</targetReference>
            </connector>
            <label>口座1一致</label>
        </rules>
        <rules>
            <name>Account2Match_2</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.BankCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBankNum2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.BranchOfficeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBranchOfficeNum2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.DepositType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountType2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.BankAccountNum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountNum2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_AccountCheck3</targetReference>
            </connector>
            <label>口座2一致</label>
        </rules>
        <rules>
            <name>Account3Match_2</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.BankCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBankNum3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.BranchOfficeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBranchOfficeNum3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.DepositType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountType3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2.BankAccountNum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountNum3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_AccountCheck3</targetReference>
            </connector>
            <label>口座3一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_AccountCheck3</name>
        <label>口座3チェック</label>
        <locationX>270</locationX>
        <locationY>3182</locationY>
        <defaultConnector>
            <targetReference>update_NewMatter_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックNG</defaultConnectorLabel>
        <rules>
            <name>Account1Match_3</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.BankCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBankNum1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.BranchOfficeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBranchOfficeNum1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.DepositType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountType1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountNum1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_BillingSecurityDeposit</targetReference>
            </connector>
            <label>口座1一致</label>
        </rules>
        <rules>
            <name>Account2Match_3</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.BankCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBankNum2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.BranchOfficeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBranchOfficeNum2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.DepositType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountType2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.BankAccountNum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountNum2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_BillingSecurityDeposit</targetReference>
            </connector>
            <label>口座2一致</label>
        </rules>
        <rules>
            <name>Account3Match_3</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.BankCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBankNum3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.BranchOfficeCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountBranchOfficeNum3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.DepositType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountType3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3.BankAccountNum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_FifthSetConfirm.ContractMoneyBankAccountNum3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_BillingSecurityDeposit</targetReference>
            </connector>
            <label>口座3一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_AgencyCommission</name>
        <label>仲介手数料割り振り</label>
        <locationX>446</locationX>
        <locationY>7334</locationY>
        <defaultConnector>
            <targetReference>decision_OtherBillingAmount1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.AgencyCommission__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.AgencyCommissionAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_13</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.AgencyCommission__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.AgencyCommissionAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_13</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.AgencyCommission__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.AgencyCommissionAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_13</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BankAccountDuplicateCheck</name>
        <label>Id重複チェック</label>
        <locationX>952</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>assign_TargetBankAccountIdCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>重複なし</defaultConnectorLabel>
        <rules>
            <name>IsDuplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LoopCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_TemporaryBankAccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_BankAccountDuplicateCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_BankAccountDuplicateCheck</targetReference>
            </connector>
            <label>重複</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BankAccountIdCountCheck</name>
        <label>口座ID数チェック</label>
        <locationX>776</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>update_NewMatter_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>3件以上</defaultConnectorLabel>
        <rules>
            <name>IsUnder3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_BankAccountIdCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_BankAccountIdCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LoopCountReset</targetReference>
            </connector>
            <label>3件以下</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingDeposit</name>
        <label>請求保証金割り振り</label>
        <locationX>446</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>decision_BillingReward</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingDeposit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingDepositAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_2</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingDeposit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingDepositAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_2</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingDeposit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingDepositAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_2</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingKeyMoney</name>
        <label>請求権利金割り振り</label>
        <locationX>446</locationX>
        <locationY>4310</locationY>
        <defaultConnector>
            <targetReference>decision_BillingThisMonthRent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingKeyMoney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingKeyMoneyAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_4</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingKeyMoney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingKeyMoneyAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_4</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingKeyMoney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingKeyMoneyAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_4</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingNextMonthCommonCharge</name>
        <label>請求翌月共益費割り振り</label>
        <locationX>446</locationX>
        <locationY>6662</locationY>
        <defaultConnector>
            <targetReference>decision_BillingNextMonthParkingFee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthCommonCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthCommonChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_11</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthCommonCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthCommonChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_11</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthCommonCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthCommonChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_11</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingNextMonthManagementCharge</name>
        <label>請求翌月管理費割り振り</label>
        <locationX>446</locationX>
        <locationY>6326</locationY>
        <defaultConnector>
            <targetReference>decision_BillingNextMonthCommonCharge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthManagementCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthManagementChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_10</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthManagementCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthManagementChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_10</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthManagementCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthManagementChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_10</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingNextMonthParkingFee</name>
        <label>請求翌月駐車場代割り振り</label>
        <locationX>446</locationX>
        <locationY>6998</locationY>
        <defaultConnector>
            <targetReference>decision_AgencyCommission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthParkingFee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthParkingFeeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_12</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthParkingFee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthParkingFeeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_12</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthParkingFee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthParkingFeeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_12</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingNextMonthRent</name>
        <label>請求翌月家賃割り振り</label>
        <locationX>446</locationX>
        <locationY>5990</locationY>
        <defaultConnector>
            <targetReference>decision_BillingNextMonthManagementCharge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthRent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthRentAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_9</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthRent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthRentAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_9</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthRent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingNextMonthRentAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_9</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingReward</name>
        <label>請求礼金割り振り</label>
        <locationX>446</locationX>
        <locationY>3974</locationY>
        <defaultConnector>
            <targetReference>decision_BillingKeyMoney</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingReward__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingRewardAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_3</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingReward__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingRewardAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_3</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingReward__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingRewardAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_3</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingSecurityDeposit</name>
        <label>請求敷金割り振り</label>
        <locationX>446</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <targetReference>decision_BillingDeposit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingSecurityDeposit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingDepositAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_1</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingSecurityDeposit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingDepositAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_1</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingSecurityDeposit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingDepositAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_1</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingThisMonthCommonCharge</name>
        <label>請求当月共益費割り振り</label>
        <locationX>446</locationX>
        <locationY>5318</locationY>
        <defaultConnector>
            <targetReference>decision_BillingThisMonthParkingFee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthCommonCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthCommonChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_7</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthCommonCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthCommonChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_7</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthCommonCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthCommonChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_7</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingThisMonthManagementCharge</name>
        <label>請求当月管理費割り振り</label>
        <locationX>446</locationX>
        <locationY>4982</locationY>
        <defaultConnector>
            <targetReference>decision_BillingThisMonthCommonCharge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthManagementCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthManagementChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_6</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthManagementCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthManagementChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_6</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthManagementCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthManagementChargeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_6</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingThisMonthParkingFee</name>
        <label>請求当月駐車場代割り振り</label>
        <locationX>446</locationX>
        <locationY>5654</locationY>
        <defaultConnector>
            <targetReference>decision_BillingNextMonthRent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthParkingFee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthParkingFeeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_8</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthParkingFee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthParkingFeeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_8</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthParkingFee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthParkingFeeAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_8</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_BillingThisMonthRent</name>
        <label>請求当月家賃割り振り</label>
        <locationX>446</locationX>
        <locationY>4646</locationY>
        <defaultConnector>
            <targetReference>decision_BillingThisMonthManagementCharge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthRent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthRentAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_5</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthRent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthRentAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_5</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthRent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.BillingThisMonthRentAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_5</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DepositAmortisation</name>
        <label>敷引/償却割り振り</label>
        <locationX>446</locationX>
        <locationY>9686</locationY>
        <defaultConnector>
            <targetReference>update_NewMatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.DepositAmortisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.DepositAmortisationAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_19_0</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.DepositAmortisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.DepositAmortisationAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_19_0</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.DepositAmortisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.DepositAmortisationAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_19_0</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_LoopCountCheck</name>
        <label>ループカウントチェック</label>
        <locationX>754</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>loop_BankAccountFind</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>カウントなし</defaultConnectorLabel>
        <rules>
            <name>Count1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LoopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_BankAccount1</targetReference>
            </connector>
            <label>カウント1</label>
        </rules>
        <rules>
            <name>Count2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LoopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_BankAccount2</targetReference>
            </connector>
            <label>カウント2</label>
        </rules>
        <rules>
            <name>Count3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LoopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_BankAccount3</targetReference>
            </connector>
            <label>カウント3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OtherBillingAmount1</name>
        <label>その他1請求金額割り振り</label>
        <locationX>446</locationX>
        <locationY>7670</locationY>
        <defaultConnector>
            <targetReference>decision_OtherBillingAmount2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount1Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_14</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount1Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_14</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount1Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_14</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OtherBillingAmount2</name>
        <label>その他2請求金額割り振り</label>
        <locationX>446</locationX>
        <locationY>8006</locationY>
        <defaultConnector>
            <targetReference>decision_OtherBillingAmount3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount2Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_15</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount2Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_15</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount2Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_15</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OtherBillingAmount3</name>
        <label>その他3請求金額割り振り</label>
        <locationX>446</locationX>
        <locationY>8342</locationY>
        <defaultConnector>
            <targetReference>decision_OtherBillingAmount4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount3Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_16</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount3Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_16</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount3Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_16</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OtherBillingAmount4</name>
        <label>その他4請求金額割り振り</label>
        <locationX>446</locationX>
        <locationY>8678</locationY>
        <defaultConnector>
            <targetReference>decision_OtherBillingAmount5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount4Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_17</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount4Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_17</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount4Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_17</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OtherBillingAmount5</name>
        <label>その他5請求金額割り振り</label>
        <locationX>446</locationX>
        <locationY>9014</locationY>
        <defaultConnector>
            <targetReference>decision_OtherBillingAmount6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount5Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_18</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount5Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_18</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount5Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_18</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OtherBillingAmount6</name>
        <label>その他6請求金額割り振り</label>
        <locationX>446</locationX>
        <locationY>9350</locationY>
        <defaultConnector>
            <targetReference>decision_DepositAmortisation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>BankAccountId1_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount6__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount6Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1_19</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>BankAccountId2_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount6__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount6Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount2.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2_19</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>BankAccountId3_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount6__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.OtherBillingAmount6Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_BankAccount3.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_BankAccount3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3_19</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <description>口座名義のAPI名変更に伴う編集</description>
    <formulas>
        <name>formula_ExcludingBillingNextMonthParkingFee</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delBillingNextMonthParkingFeeTaxCategory__c}),
&quot;In10&quot;,{!get_FifthSetConfirm.BillingNextMonthParkingFee__c} - {!formula_TaxBillingNextMonthParkingFee},
&quot;In08&quot;,{!get_FifthSetConfirm.BillingNextMonthParkingFee__c} - {!formula_TaxBillingNextMonthParkingFee},
{!get_FifthSetConfirm.BillingNextMonthParkingFee__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_ExcludingBillingThisMonthParkingFee</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delBillingThisMonthParkingFeeTaxCategory__c}),
&quot;In10&quot;,{!get_FifthSetConfirm.BillingThisMonthParkingFee__c} - {!formula_TaxBillingThisMonthParkingFee},
&quot;In08&quot;,{!get_FifthSetConfirm.BillingThisMonthParkingFee__c} - {!formula_TaxBillingThisMonthParkingFee},
{!get_FifthSetConfirm.BillingThisMonthParkingFee__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_ExcludingOtherBillingAmount1</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory1__c}),
&quot;In10&quot;,{!get_FifthSetConfirm.OtherBillingAmount1__c} - {!formula_TaxOtherBillingAmount1},
&quot;In08&quot;,{!get_FifthSetConfirm.OtherBillingAmount1__c} - {!formula_TaxOtherBillingAmount1},
{!get_FifthSetConfirm.OtherBillingAmount1__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_ExcludingOtherBillingAmount2</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory2__c}),
&quot;In10&quot;,{!get_FifthSetConfirm.OtherBillingAmount2__c} - {!formula_TaxOtherBillingAmount2},
&quot;In08&quot;,{!get_FifthSetConfirm.OtherBillingAmount2__c} - {!formula_TaxOtherBillingAmount2},
{!get_FifthSetConfirm.OtherBillingAmount2__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_ExcludingOtherBillingAmount3</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory3__c}),
&quot;In10&quot;,{!get_FifthSetConfirm.OtherBillingAmount3__c} - {!formula_TaxOtherBillingAmount3},
&quot;In08&quot;,{!get_FifthSetConfirm.OtherBillingAmount3__c} - {!formula_TaxOtherBillingAmount3},
{!get_FifthSetConfirm.OtherBillingAmount3__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_ExcludingOtherBillingAmount4</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory4__c}),
&quot;In10&quot;,{!get_FifthSetConfirm.OtherBillingAmount4__c} - {!formula_TaxOtherBillingAmount4},
&quot;In08&quot;,{!get_FifthSetConfirm.OtherBillingAmount4__c} - {!formula_TaxOtherBillingAmount4},
{!get_FifthSetConfirm.OtherBillingAmount4__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_ExcludingOtherBillingAmount5</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory5__c}),
&quot;In10&quot;,{!get_FifthSetConfirm.OtherBillingAmount5__c} - {!formula_TaxOtherBillingAmount5},
&quot;In08&quot;,{!get_FifthSetConfirm.OtherBillingAmount5__c} - {!formula_TaxOtherBillingAmount5},
{!get_FifthSetConfirm.OtherBillingAmount5__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_ExcludingOtherBillingAmount6</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory6__c}),
&quot;In10&quot;,{!get_FifthSetConfirm.OtherBillingAmount6__c} - {!formula_TaxOtherBillingAmount6},
&quot;In08&quot;,{!get_FifthSetConfirm.OtherBillingAmount6__c} - {!formula_TaxOtherBillingAmount6},
{!get_FifthSetConfirm.OtherBillingAmount6__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxBillingNextMonthParkingFee</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delBillingNextMonthParkingFeeTaxCategory__c}),
&quot;In10&quot;,FLOOR({!get_FifthSetConfirm.BillingNextMonthParkingFee__c} /1.1*0.10),
&quot;In08&quot;,FLOOR({!get_FifthSetConfirm.BillingNextMonthParkingFee__c} /1.08*0.08),
&quot;Ex10&quot;,FLOOR({!get_FifthSetConfirm.BillingNextMonthParkingFee__c}*0.10),
&quot;Ex08&quot;,FLOOR({!get_FifthSetConfirm.BillingNextMonthParkingFee__c}*0.08),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxBillingThisMonthParkingFee</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delBillingThisMonthParkingFeeTaxCategory__c}),
&quot;In10&quot;,FLOOR({!get_FifthSetConfirm.BillingThisMonthParkingFee__c} /1.1*0.10),
&quot;In08&quot;,FLOOR({!get_FifthSetConfirm.BillingThisMonthParkingFee__c} /1.08*0.08),
&quot;Ex10&quot;,FLOOR({!get_FifthSetConfirm.BillingThisMonthParkingFee__c}*0.10),
&quot;Ex08&quot;,FLOOR({!get_FifthSetConfirm.BillingThisMonthParkingFee__c}*0.08),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxOtherBillingAmount1</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory1__c}),
&quot;In10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount1__c} /1.1*0.10),
&quot;In08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount1__c} /1.08*0.08),
&quot;Ex10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount1__c}*0.10),
&quot;Ex08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount1__c}*0.08),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxOtherBillingAmount2</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory2__c}),
&quot;In10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount2__c} /1.1*0.10),
&quot;In08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount2__c} /1.08*0.08),
&quot;Ex10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount2__c}*0.10),
&quot;Ex08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount2__c}*0.08),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxOtherBillingAmount3</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory3__c}),
&quot;In10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount3__c} /1.1*0.10),
&quot;In08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount3__c} /1.08*0.08),
&quot;Ex10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount3__c}*0.10),
&quot;Ex08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount3__c}*0.08),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxOtherBillingAmount4</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory4__c}),
&quot;In10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount4__c} /1.1*0.10),
&quot;In08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount4__c} /1.08*0.08),
&quot;Ex10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount4__c}*0.10),
&quot;Ex08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount4__c}*0.08),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxOtherBillingAmount5</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory5__c}),
&quot;In10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount5__c} /1.1*0.10),
&quot;In08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount5__c} /1.08*0.08),
&quot;Ex10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount5__c}*0.10),
&quot;Ex08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount5__c}*0.08),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxOtherBillingAmount6</name>
        <dataType>Currency</dataType>
        <expression>CASE(TEXT({!get_FifthSetConfirm.delOtherBillingTaxCategory6__c}),
&quot;In10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount6__c} /1.1*0.10),
&quot;In08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount6__c} /1.08*0.08),
&quot;Ex10&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount6__c}*0.10),
&quot;Ex08&quot;,FLOOR({!get_FifthSetConfirm.OtherBillingAmount6__c}*0.08),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>NM_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_送金先口座別金額計算</label>
    <loops>
        <name>loop_BankAccountDuplicateCheck</name>
        <label>口座重複チェックループ</label>
        <locationX>776</locationX>
        <locationY>1046</locationY>
        <collectionReference>var_NullDeleteAllBankAccountIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_LoopCountUp1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_BankAccountIdCountCheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_BankAccountFind</name>
        <label>口座レコード取得ループ</label>
        <locationX>270</locationX>
        <locationY>1958</locationY>
        <collectionReference>var_TargetBankAccountIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_LoopCountUp_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_AccountCheck1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Account</name>
        <label>取引先を取得</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FifthSetConfirm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_BankAccount1</name>
        <label>口座1を取得</label>
        <locationX>358</locationX>
        <locationY>2318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_BankAccountFind</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_BankAccountFind</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BankAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_BankAccount2</name>
        <label>口座2を取得</label>
        <locationX>622</locationX>
        <locationY>2318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_BankAccountFind</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_BankAccountFind</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BankAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_BankAccount3</name>
        <label>口座3を取得</label>
        <locationX>886</locationX>
        <locationY>2318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_BankAccountFind</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_BankAccountFind</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BankAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FifthSetConfirm</name>
        <label>5点確定を取得</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_BankAccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NewMatter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FifthSetConfirm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規を取得</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_NewMatter</name>
        <label>新規レコードを更新</label>
        <locationX>446</locationX>
        <locationY>10022</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractMoneyAccount1__c</field>
            <value>
                <elementReference>get_BankAccount1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractMoneyAccount2__c</field>
            <value>
                <elementReference>get_BankAccount2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractMoneyAccount3__c</field>
            <value>
                <elementReference>get_BankAccount3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractMoneyAccountCheckResult__c</field>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceAmount1__c</field>
            <value>
                <elementReference>var_RemittanceAmount1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceAmount2__c</field>
            <value>
                <elementReference>var_RemittanceAmount2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceAmount3__c</field>
            <value>
                <elementReference>var_RemittanceAmount3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceTaxAmount1__c</field>
            <value>
                <elementReference>var_RemittanceTaxAmount1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceTaxAmount2__c</field>
            <value>
                <elementReference>var_RemittanceTaxAmount2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceTaxAmount3__c</field>
            <value>
                <elementReference>var_RemittanceTaxAmount3</elementReference>
            </value>
        </inputAssignments>
        <object>NewMatter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_NewMatter_0</name>
        <label>新規レコードを更新</label>
        <locationX>1018</locationX>
        <locationY>3302</locationY>
        <connector>
            <targetReference>screen_Error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractMoneyAccount1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContractMoneyAccount2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContractMoneyAccount3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContractMoneyAccountCheckResult__c</field>
            <value>
                <stringValue>NG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceAmount1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceAmount2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceAmount3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceTaxAmount1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceTaxAmount2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceTaxAmount3__c</field>
        </inputAssignments>
        <object>NewMatter__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_Error</name>
        <label>エラー画面</label>
        <locationX>1018</locationX>
        <locationY>3422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_Explanation2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;口座設定エラー&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;送金先口座の設定が誤っています。&lt;/p&gt;&lt;p&gt;5点確定レコードを確認してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Start</name>
        <label>開始画面</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
        <fields>
            <name>display_Explanation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;送金先口座別送金額計算&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;送金先口座別の送金額を計算します。&lt;/p&gt;&lt;p&gt;右下の「次へ」をクリックしてください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screen_Start</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_var_NullDeleteAllBankAccountIdCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AllBankAccountIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BankAccountIdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RemittanceAmount1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_RemittanceAmount2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_RemittanceAmount3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_RemittanceTaxAmount1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_RemittanceTaxAmount2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_RemittanceTaxAmount3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_TargetBankAccountIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TemporaryBankAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
