force-app/main/default/flows/AssignCalculateDetailExpenseItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>CD_精算明細費目割り当て {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CD_精算明細費目割り当て</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_CalculateDetail</name>
        <label>精算明細を取得</label>
        <locationX>579</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CalculateDetailExpenseItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CalculateDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CalculateDetailExpenseItems</name>
        <label>精算明細費目レコード取得</label>
        <locationX>598</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_CalculateDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CalculateDetail.CalculateDetailExpenseItems__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CalculateDetailExpenseItems__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_CalculateDetail</name>
        <label>レコードを更新</label>
        <locationX>598</locationX>
        <locationY>612</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Material__c</field>
            <value>
                <elementReference>get_CalculateDetailExpenseItems.Material__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place__c</field>
            <value>
                <elementReference>get_CalculateDetailExpenseItems.Place__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder__c</field>
            <value>
                <elementReference>get_CalculateDetailExpenseItems.SortOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>get_CalculateDetailExpenseItems.Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkContent__c</field>
            <value>
                <elementReference>get_CalculateDetailExpenseItems.WorkContent__c</elementReference>
            </value>
        </inputAssignments>
        <object>CalculateDetail__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_CalculateDetail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
