force-app/main/default/flows/AutoNotificationNewMatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_SendChatter</name>
        <label>Chatterに投稿</label>
        <locationX>1682</locationX>
        <locationY>1160</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>assign_SendSuccessTrue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_MessageForFeed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_InputChatID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>action_SendChatterGroup</name>
        <label>Chatterに投稿</label>
        <locationX>980</locationX>
        <locationY>1208</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>assign_SendSuccessTrue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_MessageForFeedGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_InputChatID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>action_SendDefaultChatter</name>
        <label>Chatterに投稿</label>
        <locationX>1309</locationX>
        <locationY>1156</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>assign_SendSuccessTrue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_DefaultMessageForFeed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_InputChatID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>action_SendDefaultChatterGroup</name>
        <label>Chatterに投稿</label>
        <locationX>869</locationX>
        <locationY>1171</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>assign_SendSuccessTrue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_DefaultMessageForFeedGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_InputChatID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>action_SendEmail</name>
        <label>メール送信</label>
        <locationX>1048</locationX>
        <locationY>2068</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>assign_SendSuccessTrue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>var_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>var_InputEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>var_HtmlValue</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReportOutput</name>
        <label>帳票出力</label>
        <locationX>1331</locationX>
        <locationY>2272</locationY>
        <actionName>ReportOutput</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decision_isFaxError</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputVarKey2</name>
            <value>
                <elementReference>NewMatter.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputVarKey1</name>
            <value>
                <elementReference>var_InputAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputVarNo</name>
            <value>
                <elementReference>var_InputReportNo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputVarType</name>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_ErrorCode</assignToReference>
            <name>errorCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_ResultCode</assignToReference>
            <name>resultCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_FaxFlow</name>
        <label>FaxFlow割り当て</label>
        <locationX>463</locationX>
        <locationY>2374</locationY>
        <assignmentItems>
            <assignToReference>var_IsFaxFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_SendSuccessTrue</name>
        <label>送信成功フラグ割り当て</label>
        <locationX>2146</locationX>
        <locationY>2196</locationY>
        <assignmentItems>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>社宅担当者の割り当て追加</description>
        <name>assign_TemplateFields</name>
        <label>テンプレート使用項目割り当て</label>
        <locationX>582</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>NewMatter.NewMatterId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.NewMatterId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.AccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.AccountName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.Signature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.AgencyTraderName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.AgencyTraderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.AgencyStaffLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.AgencyStaffLastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DecisionRealEstateName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DecisionRealEstateName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.CorporateHousingStaffName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.CorporateHousingStaffName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.ContractMoneyRemittanceScheduledDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.ContractMoneyRemittanceScheduledDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.LastRentPaymentMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.LastRentPaymentMonth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.ResidentLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.ResidentLastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.ContractStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.ContractStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.AgencyStaffName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.AgencyStaffName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.del_AgencyPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.del_AgencyPhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.ManagementTraderName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.ManagementTraderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.ManagementTraderPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.ManagementTraderPhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DecisionAtApplicationCounter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DecisionAtApplicationCounter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DecisionAgencyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DecisionAgencyName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DecisionAgencySraffName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DecisionAgencySraffName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DecisionAgencyPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DecisionAgencyPhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DecisionRealEstateRoom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DecisionRealEstateRoom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DecisionContractStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DecisionContractStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DecisionMoveDesiredDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DecisionMoveDesiredDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DecisionTraderName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DecisionTraderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DocumentName1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DocumentName1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DocumentName2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DocumentName2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DocumentName3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DocumentName3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DocumentName4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DocumentName4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.DocumentName5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.DocumentName5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.FifthSetCollectScheduledDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.FifthSetCollectScheduledDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMatter.MediationRequestRequestTraderList__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.MediationRequestRequestTraderList__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_ChatterFlag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ToDoConnectError</name>
        <label>接続エラーのToDo割り当て</label>
        <locationX>1694</locationX>
        <locationY>2564</locationY>
        <assignmentItems>
            <assignToReference>var_Todo.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_NotConnectErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.ChargeTeam__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>進行中</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAX連携機能への接続エラー</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Todo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Todo</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_ToDoFaxError</name>
        <label>FAX処理エラーのToDo作成</label>
        <locationX>1434</locationX>
        <locationY>2568</locationY>
        <assignmentItems>
            <assignToReference>var_Todo.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_FaxErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.ChargeTeam__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>進行中</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAX処理エラー</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Todo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Todo</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_TodoNotFoundEmailTemplate</name>
        <label>Todoを割り当て</label>
        <locationX>1231</locationX>
        <locationY>1892</locationY>
        <assignmentItems>
            <assignToReference>var_Todo.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Message__c.NotFoundEmailTemplateMessage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.ChargeTeam__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NotFoundEmailTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Todo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Todo</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_TodoNotSned</name>
        <label>Todoを割り当て</label>
        <locationX>709</locationX>
        <locationY>2518</locationY>
        <assignmentItems>
            <assignToReference>var_Todo.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Message__c.NotSendErrorMessage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.ChargeTeam__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NotSendError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Todo.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewMatter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Todo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Todo</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decision_AttachmentMailAdress</name>
        <label>メールアドレス判定</label>
        <locationX>749</locationX>
        <locationY>1420</locationY>
        <defaultConnector>
            <targetReference>assign_SendSuccessTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>アドレスあり</defaultConnectorLabel>
        <rules>
            <name>NoAttachmentMailAdress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_InputEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_FaxFlag</targetReference>
            </connector>
            <label>アドレスなし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_ChatterFlag</name>
        <label>Chatterフラグ判定</label>
        <locationX>573</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>decision_IsAttachmentEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Chatter送信なし</defaultConnectorLabel>
        <rules>
            <name>isChatterTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_InputIsFeed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_ToChatter</targetReference>
            </connector>
            <label>Chatter送信あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_FAX</name>
        <label>FAX判定</label>
        <locationX>811</locationX>
        <locationY>2263</locationY>
        <defaultConnector>
            <targetReference>ReportOutput</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Faxあり</defaultConnectorLabel>
        <rules>
            <name>isNoFax</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_InputFax</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputFax</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_TodoNotSned</targetReference>
            </connector>
            <label>FAXなし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_FaxFlag</name>
        <label>Faxフラグ判定</label>
        <locationX>551</locationX>
        <locationY>2241</locationY>
        <defaultConnector>
            <targetReference>assign_TodoNotSned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FAX送信なし</defaultConnectorLabel>
        <rules>
            <name>isFaxTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_InputIsFax</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_FAX</targetReference>
            </connector>
            <label>FAX送信あり</label>
        </rules>
        <rules>
            <name>isFAXFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_InputIsFaxFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_FaxFlow</targetReference>
            </connector>
            <label>FAXフロー送信</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsAttachmentEmail</name>
        <label>メールフラグ判定</label>
        <locationX>455</locationX>
        <locationY>1336</locationY>
        <defaultConnector>
            <targetReference>decision_MailFlag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>メール送信なし</defaultConnectorLabel>
        <rules>
            <name>AttachmentEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_InputIsAttachmentEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_AttachmentMailAdress</targetReference>
            </connector>
            <label>添付付きメール</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsDefaultEmailTemplete</name>
        <label>デフォルトテンプレート判定</label>
        <locationX>806</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>get_EmailTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>固有のテンプレート</defaultConnectorLabel>
        <rules>
            <name>IsDefaultEmailTemplete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_InputEmailTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_DefaultEmailTemplate</targetReference>
            </connector>
            <label>デフォルトテンプレート</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsDefaultFeedTemplete</name>
        <label>デフォルトテンプレート判定</label>
        <locationX>1447</locationX>
        <locationY>1024</locationY>
        <defaultConnector>
            <targetReference>action_SendChatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>固有のテンプレート</defaultConnectorLabel>
        <rules>
            <name>IsDefaultFeedTemplete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_InputFeedTemplete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputFeedTemplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>action_SendDefaultChatter</targetReference>
            </connector>
            <label>デフォルトテンプレート</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsDefaultFeedTempleteGroup</name>
        <label>デフォルトテンプレート判定</label>
        <locationX>923</locationX>
        <locationY>1033</locationY>
        <defaultConnector>
            <targetReference>action_SendChatterGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>固有のテンプレート</defaultConnectorLabel>
        <rules>
            <name>IsDefaultFeedTempleteGroup</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_InputFeedTemplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputFeedTemplete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>action_SendDefaultChatterGroup</targetReference>
            </connector>
            <label>デフォルトテンプレート</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_isFaxError</name>
        <label>FAXエラー判定</label>
        <locationX>1569</locationX>
        <locationY>2272</locationY>
        <defaultConnector>
            <targetReference>assign_SendSuccessTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>成功</defaultConnectorLabel>
        <rules>
            <name>ConnectError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ResultCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ToDoConnectError</targetReference>
            </connector>
            <label>接続失敗</label>
        </rules>
        <rules>
            <name>FaxError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ResultCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ToDoFaxError</targetReference>
            </connector>
            <label>失敗</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsMailTemplete</name>
        <label>メールテンプレート存在判定</label>
        <locationX>1056</locationX>
        <locationY>1894</locationY>
        <defaultConnector>
            <targetReference>assign_TodoNotFoundEmailTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>テンプレートなし</defaultConnectorLabel>
        <rules>
            <name>IsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_HtmlValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_HtmlValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_MailAdress</targetReference>
            </connector>
            <label>メールテンプレートあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsPortalGroup</name>
        <label>ポータル使用有無判定</label>
        <locationX>823</locationX>
        <locationY>838</locationY>
        <defaultConnector>
            <targetReference>decision_IsDefaultFeedTempleteGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ポータル利用</defaultConnectorLabel>
        <rules>
            <name>IsNotPortalGroup</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_PortalUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_IsAttachmentEmail</targetReference>
            </connector>
            <label>ポータル未使用</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsPortalUser</name>
        <label>ポータル利用ユーザ判定</label>
        <locationX>1449</locationX>
        <locationY>903</locationY>
        <defaultConnector>
            <targetReference>decision_IsDefaultFeedTemplete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ポータル利用</defaultConnectorLabel>
        <rules>
            <name>isNotPortalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_IsAttachmentEmail</targetReference>
            </connector>
            <label>ポータル未利用</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_MailAdress</name>
        <label>メールアドレス判定</label>
        <locationX>861</locationX>
        <locationY>1927</locationY>
        <defaultConnector>
            <targetReference>action_SendEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>アドレスあり</defaultConnectorLabel>
        <rules>
            <name>isNotMailAdress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_InputEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_FaxFlag</targetReference>
            </connector>
            <label>アドレスなし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_MailFlag</name>
        <label>メールフラグ判定</label>
        <locationX>436</locationX>
        <locationY>1659</locationY>
        <defaultConnector>
            <targetReference>decision_FaxFlag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>メール送信なし</defaultConnectorLabel>
        <rules>
            <name>isMailTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_InputIsMail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_IsDefaultEmailTemplete</targetReference>
            </connector>
            <label>メール送信あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_ToChatter</name>
        <label>Chatter送信先判定</label>
        <locationX>813</locationX>
        <locationY>472</locationY>
        <defaultConnector>
            <targetReference>get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>取引先</defaultConnectorLabel>
        <rules>
            <name>isToContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_InputContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_InputContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_User</targetReference>
            </connector>
            <label>取引先担当者</label>
        </rules>
    </decisions>
    <description>テンプレート割り当て項目に「社宅担当者姓」を削除</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_CheckListUrl</name>
        <dataType>String</dataType>
        <expression>if(isblank({!var_CheckListUrl}), &quot;&quot;, &quot;チェックリスト：&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_LibraryURL</name>
        <dataType>String</dataType>
        <expression>if(isblank({!var_LibraryURL}), &quot;&quot;, &quot;格納先：&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_NotFoundEmailTemplate</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Subject__c.NotFoundEmailTemplateSubject__c} + &quot;（&quot; + {!var_InputNotificationTitle}+ &quot;）&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_NotSendError</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Subject__c.NotSendErrorSubject__c} + &quot;（&quot; + {!var_InputNotificationTitle}+ &quot;）&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_ReplaceLeftBracketsHtml</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
{!var_HtmlValue},
&quot;{{{&quot;,
&quot;{&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_ReplaceLeftBracketsSubject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
{!var_Subject},
&quot;{{{&quot;,
&quot;{&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_ReplaceNewMatterObjectHtml</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
{!var_HtmlValue},
&quot;NewMatter__c&quot;,
&quot;!get_NewMatter&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_ReplaceNewMatterObjectSubject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
{!var_Subject},
&quot;NewMatter__c&quot;,
&quot;!get_NewMatter&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_ReplaceRightBracketsHtml</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
{!var_HtmlValue},
&quot;}}}&quot;,
&quot;}&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_ReplaceRightBracketsSubject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
{!var_Subject},
&quot;}}}&quot;,
&quot;}&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_ReportNo</name>
        <dataType>Number</dataType>
        <expression>IF (ISBLANK({!var_InputReportNo}),{!var_InputDefaultReportNo},{!var_InputReportNo})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>NT_自動通知（新規） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_自動通知（新規）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>通知先ユーザを特定するために、代表ユーザフラグがTRUEの取引先担当者を取得</description>
        <name>get_Contact</name>
        <label>取引先担当者の取得</label>
        <locationX>824</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PortalUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_InputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsRepresentativeUser__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_DefaultEmailTemplate</name>
        <label>メールテンプレート取得</label>
        <locationX>888</locationX>
        <locationY>1782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_MailAdress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DefaultMailTemplate</elementReference>
            </value>
        </filters>
        <filters>
            <field>UiType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aloha</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>var_HtmlValue</assignToReference>
            <field>Body</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_EmailTemplate</name>
        <label>メールテンプレート取得</label>
        <locationX>1031</locationX>
        <locationY>1668</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsMailTemplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_InputEmailTemplate</elementReference>
            </value>
        </filters>
        <filters>
            <field>UiType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aloha</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>var_HtmlValue</assignToReference>
            <field>Body</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_PortalUser</name>
        <label>ユーザ取得</label>
        <locationX>824</locationX>
        <locationY>721</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsPortalGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_User</name>
        <label>ユーザを取得</label>
        <locationX>1453</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsPortalUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_InputContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>NewMatter</name>
        <label>新規レコード取得</label>
        <locationX>585</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_TemplateFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>NewMatter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_DefaultMessageForFeed</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!get_User.Id}]
{!var_DefaultFeedTemplate}
{!formula_CheckListUrl}{!var_CheckListUrl}
{!formula_LibraryURL}{!var_LibraryURL}</text>
    </textTemplates>
    <textTemplates>
        <name>text_DefaultMessageForFeedGroup</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!get_PortalUser.Id}]
{!var_DefaultFeedTemplate}
{!formula_CheckListUrl}{!var_CheckListUrl}
{!formula_LibraryURL}{!var_LibraryURL}</text>
    </textTemplates>
    <textTemplates>
        <name>text_FaxErrorMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>﻿{!$Setup.Message__c.FaxErrorMessage__c}
エラーコード：{!var_ErrorCode}</text>
    </textTemplates>
    <textTemplates>
        <name>text_MessageForFeed</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!get_User.Id}]
{!var_InputFeedTemplete}
{!formula_CheckListUrl}{!var_CheckListUrl}
{!formula_LibraryURL}{!var_LibraryURL}</text>
    </textTemplates>
    <textTemplates>
        <name>text_MessageForFeedGroup</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!get_PortalUser.Id}]
{!var_InputFeedTemplete}
{!formula_CheckListUrl}{!var_CheckListUrl}
{!formula_LibraryURL}{!var_LibraryURL}</text>
    </textTemplates>
    <textTemplates>
        <name>text_NotConnectErrorMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!var_ErrorCode}
{!$Setup.Message__c.FaxConnectErrorMessage__c}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CheckListUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DefaultFeedTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DefaultMailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ErrorCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_HtmlValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputChatID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputDefaultReportNo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_InputEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputFax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputFeedTemplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputIsAttachmentEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_InputIsFax</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputIsFaxFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputIsFeed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputIsMail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputNotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputReportNo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_IsFaxFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_LibraryURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ResultCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Todo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCol_Todo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
