force-app/main/default/flows/AutoEstimateReminderMailChatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_CacncelCalculate</name>
        <label>更新項目割り当て</label>
        <locationX>417</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculate.RepairEstimateCollectScheduleDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_DaysLater</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_CancelCalcurate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_flow</name>
        <label>割り当て</label>
        <locationX>383</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>var_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CalculateCounterEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CalculateCounterFax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>flow_ReportOutput</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ReportName</name>
        <label>帳票名割り当て</label>
        <locationX>564</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>var_ReportName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>F_RecordEstimateReminder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_IsSendSuccess</name>
        <label>送信成功判定</label>
        <locationX>549</locationX>
        <locationY>1046</locationY>
        <defaultConnectorLabel>送信失敗</defaultConnectorLabel>
        <rules>
            <name>isSendSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsSendSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CacncelCalculate</targetReference>
            </connector>
            <label>送信成功</label>
        </rules>
    </decisions>
    <description>帳票名を変数に入れる割当要素を追加
メールとFaxを退避させる割当要素を追加
一時停止要素を追加
自動通知の入力値を変更
・var_InputEmail ⇒　var_Email
・var_InputFax⇒　var_Fax</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_DaysLater</name>
        <dataType>Date</dataType>
        <expression>Today() + {!$Setup.SyatakusanSetting__c.EstimateReminderAdditionDays__c}</expression>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>CL_見積督促（メール・Chatter） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CL_見積督促</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>自動通知のサブフローから出力されたTodoを作成する</description>
        <name>create_Todo</name>
        <label>Todoの作成</label>
        <locationX>555</locationX>
        <locationY>885</locationY>
        <connector>
            <targetReference>decision_IsSendSuccess</targetReference>
        </connector>
        <inputReference>varCol_Todo</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>update_CancelCalcurate</name>
        <label>解約レコードを更新</label>
        <locationX>417</locationX>
        <locationY>1286</locationY>
        <inputReference>var_CancelCalculate</inputReference>
    </recordUpdates>
    <start>
        <locationX>430</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>assign_ReportName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EstimateReminderTargetFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RepairEstimateCollectDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsCalculateCounterAutoNotice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CancelCalculate__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-04</startDate>
            <startTime>14:14:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_AutoNotificationCancelCalculate</name>
        <label>CL_自動通知（解約精算）</label>
        <locationX>558</locationX>
        <locationY>740</locationY>
        <connector>
            <targetReference>create_Todo</targetReference>
        </connector>
        <flowName>AutoNotificationCancelCalculate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultFeedTemplate</name>
            <value>
                <elementReference>$Setup.DefaultFeedTemplate__c.EstimateReminder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultMailTemplate__c.EstimateReminder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>$Record.CalculateCounter__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputChatId</name>
            <value>
                <elementReference>var_ChatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputContactId</name>
            <value>
                <elementReference>$Record.CalculateCounterStaff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputDefaultReportNo</name>
            <value>
                <elementReference>$Setup.DefaultReportNum__c.EstimateReminder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>var_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFax</name>
            <value>
                <elementReference>var_Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFax</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <elementReference>var_IsJudgeChat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>原状回復費用見積の督促</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_inputReportNo</name>
            <value>
                <elementReference>var_ReportNum</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_Todo</assignToReference>
            <name>varCol_Todo</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Chatterを送る相手を判断するフロー</description>
        <name>flow_IdentifyChat</name>
        <label>MB_チャット特定フロー</label>
        <locationX>557</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>pause_1</targetReference>
        </connector>
        <flowName>MB_IdentifyChat</flowName>
        <inputAssignments>
            <name>var_OperationId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SNT_RealEstateCompany</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_ChatId</assignToReference>
            <name>var_ChatId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_IsJudgeChat</assignToReference>
            <name>var_isJudgeChat</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>flow_ReportOutput</name>
        <label>RM_帳票出力</label>
        <locationX>559</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>flow_IdentifyChat</targetReference>
        </connector>
        <flowName>ReportOutput</flowName>
        <inputAssignments>
            <name>var_InputReportName</name>
            <value>
                <elementReference>var_ReportName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_ReportNum</assignToReference>
            <name>var_OutputReportNum</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CancelCalculate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelCalculate__c</objectType>
    </variables>
    <variables>
        <name>var_ChatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Fax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsJudgeChat</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCol_Todo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <waits>
        <name>pause_1</name>
        <label>一時停止</label>
        <locationX>375</locationX>
        <locationY>687</locationY>
        <defaultConnectorLabel>デフォルトパス</defaultConnectorLabel>
        <waitEvents>
            <name>Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>flow_AutoNotificationCancelCalculate</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>一時停止</label>
        </waitEvents>
    </waits>
</Flow>
