force-app/main/default/flows/CA_CalculateDailyRent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_CancelMonthDailyAsCommonInterest</name>
        <label>日割共益費（自動計算）の割り当て</label>
        <locationX>718</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.CancelMonthDailyAsCommonInterest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_CommonServiceFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CancelMonthDailyAsManagementCharge</name>
        <label>日割管理費（自動計算）の割り当て</label>
        <locationX>728</locationX>
        <locationY>882</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.CancelMonthDailyAsManagementCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_ManageFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CancelMonthDailyAssumptionGarage</name>
        <label>日割駐車場（自動計算）割り当て</label>
        <locationX>722</locationX>
        <locationY>1162</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.CancelMonthDailyAssumptionGarage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Parking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CancelMonthDailyAssumptionRent</name>
        <label>日割家賃（自動計算）の割り当て</label>
        <locationX>730</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.CancelMonthDailyAssumptionRent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_formula_BeforeCalcilation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CommonServiceFee</name>
        <label>共益費割り当て</label>
        <locationX>723</locationX>
        <locationY>1315</locationY>
        <assignmentItems>
            <assignToReference>var_BillingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancelApprication__r.Rent__r.CommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CancelMonthDailyAsCommonInterest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CommonServiceFeeAfter</name>
        <label>解約月請求共益費割り当て</label>
        <locationX>1286</locationX>
        <locationY>1612</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.CancelMonthBillingCommonCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ContractOther1BillingAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ContractOther1BillingAmount</name>
        <label>契約その他1割り当て</label>
        <locationX>730</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>var_BillingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancelApprication__r.Rent__r.ContractOther1BillingAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DailyOther1AmountAutoCalc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ContractOther2BillingAmount</name>
        <label>契約その他2割り当て</label>
        <locationX>736</locationX>
        <locationY>1964</locationY>
        <assignmentItems>
            <assignToReference>var_BillingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancelApprication__r.Rent__r.ContractOther2BillingAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DailyOther2AmountAutoCalc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ContractOther3BillingAmount</name>
        <label>契約その他3割り当て</label>
        <locationX>743</locationX>
        <locationY>2321</locationY>
        <assignmentItems>
            <assignToReference>var_BillingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancelApprication__r.Rent__r.ContractOther3BillingAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DailyOther3AmountAutoCalc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ContractOther4BillingAmount</name>
        <label>契約その他4割り当て</label>
        <locationX>747</locationX>
        <locationY>2658</locationY>
        <assignmentItems>
            <assignToReference>var_BillingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancelApprication__r.Rent__r.ContractOther4BillingAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DailyOther4AmountAutoCalc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DailyOther1AmountAutoCalc</name>
        <label>日割その他1金額（自動計算）割り当て</label>
        <locationX>733</locationX>
        <locationY>1793</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.DailyOther1AmountAutoCalc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherAmount1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DailyOther2AmountAutoCalc</name>
        <label>日割その他2金額（自動計算）割り当て</label>
        <locationX>740</locationX>
        <locationY>2149</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.DailyOther2AmountAutoCalc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherAmount2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DailyOther3AmountAutoCalc</name>
        <label>日割その他3金額（自動計算）割り当て</label>
        <locationX>743</locationX>
        <locationY>2500</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.DailyRateOther3AmountAutoCalc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherAmount3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DailyOther4AmountAutoCalc</name>
        <label>日割その他4金額（自動計算）割り当て</label>
        <locationX>746</locationX>
        <locationY>2838</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.DailyRateOther4AmountAutoCalc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_OtherAmount4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>formula_BeforeCalcilationの数式計算を行うための割り当て</description>
        <name>assign_formula_BeforeCalcilation</name>
        <label>数式計算を行うための割り当て</label>
        <locationX>729</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_BeforeCalculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Rent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ManagementFee</name>
        <label>管理費割り当て</label>
        <locationX>728</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>var_BillingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancelApprication__r.Rent__r.ManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CancelMonthDailyAsManagementCharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ManagementFeeAfter</name>
        <label>解約月請求管理費割り当て</label>
        <locationX>1294</locationX>
        <locationY>1015</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.CancelMonthBillingManagementCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Parking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_OtherAmount1After</name>
        <label>解約月請求その他1金額割り当て</label>
        <locationX>1289</locationX>
        <locationY>1965</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.OtherAmount1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ContractOther2BillingAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_OtherAmount2After</name>
        <label>解約月請求その他2金額割り当て</label>
        <locationX>1300</locationX>
        <locationY>2328</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.OtherAmount2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ContractOther3BillingAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_OtherAmount3After</name>
        <label>解約月請求その他3金額割り当て</label>
        <locationX>1321</locationX>
        <locationY>2653</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.BillingRentOther3Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ContractOther4BillingAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_OtherAmount4After</name>
        <label>解約月請求その他4金額割り当て</label>
        <locationX>1325</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.BillingRentOther4Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_CancelCalculate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Parking</name>
        <label>駐車場代割り当て</label>
        <locationX>729</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>var_BillingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancelApprication__r.Rent__r.ParkingFee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CancelMonthDailyAssumptionGarage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ParkingAfter</name>
        <label>解約月請求駐車場割り当て</label>
        <locationX>1295</locationX>
        <locationY>1316</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.CancelMonthBillingGarageCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CommonServiceFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Rent</name>
        <label>家賃割り当て</label>
        <locationX>722</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>var_BillingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancelApprication__r.Rent__r.Rent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CancelMonthDailyAssumptionRent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RentAfter</name>
        <label>解約月請求家賃割り当て</label>
        <locationX>1288</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateUpdate.CancelMonthBillingRent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ManagementFee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_CommonServiceFee</name>
        <label>解約月請求共益費のnull判定</label>
        <locationX>1047</locationX>
        <locationY>1433</locationY>
        <defaultConnector>
            <targetReference>assign_ContractOther1BillingAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notNull</defaultConnectorLabel>
        <rules>
            <name>null_CommonServiceFee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CancelMonthBillingCommonCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CommonServiceFeeAfter</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_ManageFee</name>
        <label>解約月請求管理費のnull判定</label>
        <locationX>1004</locationX>
        <locationY>940</locationY>
        <defaultConnector>
            <targetReference>assign_Parking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notNull</defaultConnectorLabel>
        <rules>
            <name>null_MF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CancelMonthBillingManagementCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ManagementFeeAfter</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OtherAmount1</name>
        <label>解約月請求その他1金額のnull判定</label>
        <locationX>1057</locationX>
        <locationY>1796</locationY>
        <defaultConnector>
            <targetReference>assign_ContractOther2BillingAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notNull</defaultConnectorLabel>
        <rules>
            <name>null_OtherAmount1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OtherAmount1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_OtherAmount1After</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OtherAmount2</name>
        <label>解約月請求その他2金額のnull判定</label>
        <locationX>1075</locationX>
        <locationY>2154</locationY>
        <defaultConnector>
            <targetReference>assign_ContractOther3BillingAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notNull</defaultConnectorLabel>
        <rules>
            <name>null_OtherAmount2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OtherAmount2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_OtherAmount2After</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OtherAmount3</name>
        <label>解約月請求その他3金額のnull判定</label>
        <locationX>1091</locationX>
        <locationY>2502</locationY>
        <defaultConnector>
            <targetReference>assign_ContractOther4BillingAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notNull</defaultConnectorLabel>
        <rules>
            <name>null_OtherAmount3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingRentOther3Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_OtherAmount3After</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_OtherAmount4</name>
        <label>解約月請求その他4金額のnull判定</label>
        <locationX>1088</locationX>
        <locationY>2841</locationY>
        <defaultConnector>
            <targetReference>update_CancelCalculate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notNull</defaultConnectorLabel>
        <rules>
            <name>null_OtherAmount4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingRentOther4Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_OtherAmount4After</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Parking</name>
        <label>解約月請求駐車場料金のnull判定</label>
        <locationX>1020</locationX>
        <locationY>1228</locationY>
        <defaultConnector>
            <targetReference>assign_CommonServiceFee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notNull</defaultConnectorLabel>
        <rules>
            <name>null_Parking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CancelMonthBillingGarageCost__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ParkingAfter</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Rent</name>
        <label>解約月請求家賃のnull判定</label>
        <locationX>1013</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>assign_ManagementFee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notNull</defaultConnectorLabel>
        <rules>
            <name>null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CancelMonthBillingRent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RentAfter</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <description>日割日数を取引先に持たせる仕様から解約精算に持たせる仕様に変更</description>
    <environments>Default</environments>
    <formulas>
        <description>計算方法適用前想定請求額</description>
        <name>formula_BeforeCalculation</name>
        <dataType>Number</dataType>
        <expression>({!var_BillingAmount}/{!formula_ProratedNumberOfDays})*DAY({!$Record.CancelApprication__r.LastRentDefraymentDate__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>計算不法適用用数式</description>
        <name>formula_Calculation</name>
        <dataType>Number</dataType>
        <expression>CASE(TEXT({!$Record.CalculationMethod__c}),&apos;切り捨て&apos;,FLOOR({!formula_BeforeCalculation}),&apos;切り上げ&apos;,CEILING({!formula_BeforeCalculation}),&apos;四捨五入&apos;,ROUND({!formula_BeforeCalculation},0),0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>日割り日数</description>
        <name>formula_ProratedNumberOfDays</name>
        <dataType>Number</dataType>
        <expression>CASE(TEXT({!$Record.ProratedDays__c}),&apos;28&apos;,28,&apos;29&apos;,29,&apos;30&apos;,30,&apos;31&apos;,31,0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CA_日割り家賃の計算(解約) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CA_日割り家賃の計算(解約)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約精算の更新</label>
        <locationX>755</locationX>
        <locationY>3011</locationY>
        <inputReference>var_CancelCalculateUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>603</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>assign_Rent</targetReference>
        </connector>
        <filterFormula>OR(
AND(ISCHANGED({!$Record.CalculationMethod__c}),NOT(ISBLANK(TEXT({!$Record.ProratedDays__c}))))
,AND(ISCHANGED({!$Record.ProratedDays__c}),NOT(ISBLANK(TEXT({!$Record.CalculationMethod__c}))))
)</filterFormula>
        <object>CancelCalculate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>各請求金額格納用</description>
        <name>var_BillingAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_CancelCalculateUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelCalculate__c</objectType>
    </variables>
    <variables>
        <name>var_temp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
