force-app/main/default/flows/CalculateDetailTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>decision_IsChangeBorrowerPay</name>
        <label>借主負担額変更判定</label>
        <locationX>448</locationX>
        <locationY>750</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ChangeBorrowerPay</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BorrowerPay__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TaxRate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_TaxCalculateDetail</targetReference>
            </connector>
            <label>借主負担額変更</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsNew</name>
        <label>新規作成</label>
        <locationX>449</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>decision_UpdateQuantityUnitPrice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>更新</defaultConnectorLabel>
        <rules>
            <name>isNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_AssignCalculateDetailExpenseItems</targetReference>
            </connector>
            <label>新規</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_UpdateQuantityUnitPrice</name>
        <label>数量/個数変更</label>
        <locationX>447</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>decision_IsChangeBorrowerPay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>UpdateQuantityUnitPrice</name>
            <conditionLogic>(1 OR 2)AND( 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UnitPrice__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UnitPrice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_BurdenAmountAutomaticCalculation</targetReference>
            </connector>
            <label>変更</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>CD_精算明細トリガー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CD_精算明細トリガー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>329</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>decision_IsNew</targetReference>
        </connector>
        <object>CalculateDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_AssignCalculateDetailExpenseItems</name>
        <label>サブフロー：精算明細費目割り当て</label>
        <locationX>700</locationX>
        <locationY>388</locationY>
        <connector>
            <targetReference>flow_BurdenAmountAutomaticCalculation</targetReference>
        </connector>
        <flowName>AssignCalculateDetailExpenseItems</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flow_BurdenAmountAutomaticCalculation</name>
        <label>flow_</label>
        <locationX>726</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>decision_IsChangeBorrowerPay</targetReference>
        </connector>
        <flowName>BurdenAmountAutomaticCalculation</flowName>
        <inputAssignments>
            <name>var_CalculateDetail</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flow_TaxCalculateDetail</name>
        <label>精算明細税額計算</label>
        <locationX>721</locationX>
        <locationY>747</locationY>
        <flowName>TaxCalculateDetail</flowName>
        <inputAssignments>
            <name>var_BorrowerPay</name>
            <value>
                <elementReference>$Record.BorrowerPay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CalculateDetail</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
