force-app/main/default/flows/CancelUnsubscribe.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_SendChatter</name>
        <label>解約キャンセル通知</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>create_ToDo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_CancelUnsubsciribe</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>get_Cancel.RealEstate__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>更新を取得しないように変更</description>
    <environments>Default</environments>
    <interviewLabel>CA_解約キャンセル {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CA_解約キャンセル</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_ToDo</name>
        <label>ToDo作成</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>update_Cancel</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>解約がキャンセルされたため、更新業務を再開します。該当の更新レコードを確認してください。</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>解約キャンセル</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>get_Cancel.RealEstate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Cancel</name>
        <label>解約申入を取得</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_dataManageChatterGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cancel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_dataManageChatterGroup</name>
        <label>データ管理チームchatterグループを取得</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>データ管理チーム</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_queue</name>
        <label>データ管理チームのキューを取得</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>action_SendChatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DataManagementQueue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Cancel</name>
        <label>解約申入の更新</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>update_CancelCalculate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Cancel.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseReason__c</field>
            <value>
                <stringValue>解約キャンセル</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </inputAssignments>
        <object>Cancel__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>フェーズを完了に更新する</description>
        <name>update_CancelCalculate</name>
        <label>解約精算の更新</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Cancel.CancelCalculate__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseReason__c</field>
            <value>
                <stringValue>解約キャンセル</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <screens>
        <name>screen_confirmation</name>
        <label>解約キャンセル確認画面</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>キャンセル</backButtonLabel>
        <connector>
            <targetReference>get_Cancel</targetReference>
        </connector>
        <fields>
            <name>display_confirmation</name>
            <fieldText>&lt;p&gt;解約をキャンセルします。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_CancelUnsubsciribe</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!get_Cancel.RealEstate__r.Account__r.RenewalTeam__r.ChatterId__c}]
@[{!get_dataManageChatterGroup.Id}]
解約キャンセル
****
物件ＩＤ：{!get_Cancel.RealEstateId__c}
物件名称： {!get_Cancel.RealEstateName__c}
号室：{!get_Cancel.RealEstate__r.RoomNum__c}
契約満了日：{!get_Cancel.Rent__r.ContractEndDate__c}
更新区分：{!get_Cancel.RealEstate__r.Account__r.ServiceContractRenewalConditionChange__r.RenewalCategory__c}
決裁申請：{!get_Cancel.RealEstate__r.RenewalApprovalCategory__c}
斡旋担当：{!get_Cancel.NewMatter__r.ChargeTeam__r.Name}
****
解約の理由： {!get_Cancel.CancelReason__c}
受付日：{!get_Cancel.AcceptDate__c}
申請書着日： {!get_Cancel.ApplicationFormArriveDate__c}
退去予定日： {!get_Cancel.MoveOutScheduledDate__c}
SPT提出日：{!get_Cancel.PrimitiveSubmitDate__c}
備考： {!get_Cancel.Note__c}
変更依頼日： {!get_Cancel.CancellationRequestDate__c}
変更依頼備考：{!get_Cancel.CancellationRequestNote__c}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
