force-app/main/default/flows/CancelCalculateNone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>decision_IsSendSuccess</name>
        <label>送信成功判定</label>
        <locationX>768</locationX>
        <locationY>461</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>SendSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsSendSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_TodoSuccess</targetReference>
            </connector>
            <label>送信成功</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_DepositRefundScheduledDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!$Setup.ReminderSetting__c.ReturnScheduleDate__c}</expression>
    </formulas>
    <interviewLabel>CL_0円精算通知 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CL_0円精算通知</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_TodoSuccess</name>
        <label>Todoを作成</label>
        <locationX>779</locationX>
        <locationY>582</locationY>
        <connector>
            <targetReference>update_CancelCalculate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>自動で精算窓口へ承認後連絡を行いました。</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_CancelCalculate.CancelCalculateTeam__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>0円精算通知</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_CancelCalculate</name>
        <label>解約精算取得</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AutoNotificationCancelCalculate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CancelCalculate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約精算レコード更新</label>
        <locationX>780</locationX>
        <locationY>705</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovedContactDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DepositRefundScheduledDate__c</field>
            <value>
                <elementReference>formula_DepositRefundScheduledDate</elementReference>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_CancelCalculate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AutoNotificationCancelCalculate</name>
        <label>NT_自動通知（解約精算）</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>decision_IsSendSuccess</targetReference>
        </connector>
        <flowName>AutoNotificationCancelCalculate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultMailTemplate__c.CancelCalculateNone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>get_CancelCalculate.CalculateCounter__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputChatterGroupId</name>
            <value>
                <elementReference>get_CancelCalculate.CalculateCounter__r.Account__r.ChatterGroupId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>get_CancelCalculate.CalculateCounterEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFax</name>
            <value>
                <elementReference>get_CancelCalculate.CalculateCounterFax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFax</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>0円精算</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_inputReportNo</name>
            <value>
                <elementReference>$Setup.DefaultReportNum__c.CancelCalculateNone__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
