force-app/main/default/flows/CancelCounterSelection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_CancelCancelCounter</name>
        <label>家主に解約を割り当て（解約窓口）</label>
        <locationX>1031</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>var_Landlord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AssignCancelCancelCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignCancelCancelCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CancelIsCancelApplicationCounter</name>
        <label>家主に解約を割り当て（解約申入れ）</label>
        <locationX>1033</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>var_Landlord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AssignCancelIsCancelApplicationCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignCancelIsCancelApplicationCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CancelManagementCompany</name>
        <label>家主に解約を割り当て</label>
        <locationX>1033</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>var_Landlord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AssignCancelManagementCompany</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignCancelManagementCompany</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_CancelCounter</name>
        <label>解約窓口の判定</label>
        <locationX>1236</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>loop_AssignCancelCancelCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>解約窓口ではない</defaultConnectorLabel>
        <rules>
            <name>IsCancelCounter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_AssignCancelCancelCounter.TraderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>解約窓口</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CancelCancelCounter</targetReference>
            </connector>
            <label>解約窓口</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CountNum</name>
        <label>カウント値の判定</label>
        <locationX>766</locationX>
        <locationY>838</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isCount0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_AssignCancelManagementCompany</targetReference>
            </connector>
            <label>0</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CountNum_0</name>
        <label>カウント値の判定</label>
        <locationX>773</locationX>
        <locationY>569</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isCount0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_AssignCancelIsCancelApplicationCounter</targetReference>
            </connector>
            <label>0</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsCancelApplicationCounter</name>
        <label>解約申入れ先の判定</label>
        <locationX>1230</locationX>
        <locationY>706</locationY>
        <defaultConnector>
            <targetReference>loop_AssignCancelIsCancelApplicationCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>IsCancelApplicationCounter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_AssignCancelIsCancelApplicationCounter.IsCancelApplicationCounter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CancelIsCancelApplicationCounter</targetReference>
            </connector>
            <label>解約申入れ先</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_isManagementCompany</name>
        <label>管理会社の判定</label>
        <locationX>1262</locationX>
        <locationY>1024</locationY>
        <defaultConnector>
            <targetReference>loop_AssignCancelManagementCompany</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>解約窓口ではない</defaultConnectorLabel>
        <rules>
            <name>ManagementCompany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_AssignCancelManagementCompany.TraderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>管理会社</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_AssignCancelManagementCompany.Account__r.AccountType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>個人</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CancelManagementCompany</targetReference>
            </connector>
            <label>管理会社</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>解約申入れ先自動 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CA_解約窓口選定</label>
    <loops>
        <name>loop_AssignCancelCancelCounter</name>
        <label>家主に解約を割り当て（解約窓口）</label>
        <locationX>787</locationX>
        <locationY>360</locationY>
        <collectionReference>get_LandlordRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_CancelCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_CountNum_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_AssignCancelIsCancelApplicationCounter</name>
        <label>家主に解約を割り当て（解約申入れ）</label>
        <locationX>783</locationX>
        <locationY>706</locationY>
        <collectionReference>get_LandlordRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_IsCancelApplicationCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_CountNum</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_AssignCancelManagementCompany</name>
        <label>家主に解約を割り当て（管理会社）</label>
        <locationX>716</locationX>
        <locationY>1023</locationY>
        <collectionReference>get_LandlordRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_isManagementCompany</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_LandlordRecord</name>
        <label>家主レコード情報取得</label>
        <locationX>787</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_AssignCancelCancelCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RealEstate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Landlord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>660</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_LandlordRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Landlord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Landlord__c</objectType>
    </variables>
    <variables>
        <name>var_RealEstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
