force-app/main/default/flows/CaseTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>decision_IsNew</name>
        <label>新規作成判定</label>
        <locationX>772</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>flow_CreateChat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_InputCaseContact</targetReference>
            </connector>
            <label>新規作成</label>
        </rules>
    </decisions>
    <description>トリガー条件を作成と更新で起動するように修正</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>ケーストリガー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS_ケーストリガー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Case</name>
        <label>ケースの所有者更新</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>UpdateStageCase</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>update_Case</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_CreateChat</name>
        <label>チャット作成</label>
        <locationX>757</locationX>
        <locationY>814</locationY>
        <flowName>CreateChat_Case</flowName>
        <inputAssignments>
            <name>var_NewRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flow_InputCaseContact</name>
        <label>連絡先自動入力</label>
        <locationX>673</locationX>
        <locationY>783</locationY>
        <connector>
            <targetReference>flow_CreateChat</targetReference>
        </connector>
        <flowName>InputCaseContact</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RealEstateId</name>
            <value>
                <elementReference>$Record.RealEstate__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UpdateStageCase</name>
        <label>CA_フェーズ自動更新（ケース）</label>
        <locationX>779</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>decision_IsNew</targetReference>
        </connector>
        <flowName>UpdateStageCase</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
