force-app/main/default/flows/CHExecutionRegulationCheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>CH_社宅規定照合実行 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH_社宅規定照合実行</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_CH</name>
        <label>入替を取得</label>
        <locationX>622</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_Start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_Start</name>
        <label>開始画面</label>
        <locationX>624</locationX>
        <locationY>397</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>flow_RegulationCheck</targetReference>
        </connector>
        <fields>
            <name>display_StartMessage</name>
            <fieldText>&lt;p&gt;規定照合を実行します。&lt;/p&gt;&lt;p&gt;続行するには、「次へ」をクリックしてください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>496</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_CH</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_RegulationCheck</name>
        <label>CH_社宅規定照合</label>
        <locationX>621</locationX>
        <locationY>517</locationY>
        <flowName>CH_RegulationCheck</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_CH.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
