force-app/main/default/flows/CHReApplicationCreateCHCheckRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_CheckRecord</name>
        <label>チェックレコード割り当て</label>
        <locationX>380</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>var_CHCheck.CheckCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>手動</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CHCheck.CheckResult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>未チェック</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CHCheck.Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CH.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CHCheck.CorporateHousingRegulation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CorporateHousingRegulation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CHCheck.CheckFieldsName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_ItemName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CHCheck.CheckFieldsValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_itemValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CHCheck.RegulationFieldsName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>再申請</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CHCheck.RegulationFieldsValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CorporateHousingRegulation.ReApplication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CHCheck.CheckResultComment__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CHCheck.OperationCheckMasterId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OperationCheckMaster.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CHCheck.SortOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OperationCheckMaster.SortOrder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CHCheck.IsReconfirmMandatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_CHCheck</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CHCheck</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_OperationCheckMaster</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_RenewalORCreate</name>
        <label>更新・新規作成判定</label>
        <locationX>516</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>新規作成</defaultConnectorLabel>
        <rules>
            <name>isRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_InputRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CHCheck</targetReference>
            </connector>
            <label>更新</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_TargetOperation</name>
        <label>対象業務判定</label>
        <locationX>371</locationX>
        <locationY>1024</locationY>
        <defaultConnector>
            <targetReference>loop_OperationCheckMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>それ以外</defaultConnectorLabel>
        <rules>
            <name>isCH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_includes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CheckRecord</targetReference>
            </connector>
            <label>入替業務</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_includes</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!loop_OperationCheckMaster.CheckTarget__c},&quot;入替&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_itemValue</name>
        <dataType>String</dataType>
        <expression>CASE({!var_InputNumber}, 1, {!get_CH.Reapplication1OccurrenceReason__c}, 2, {!get_CH.Reapplication2OccurrenceReason__c},3,{!get_CH.Reapplication3OccurrenceReason__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_Regulation</name>
        <dataType>String</dataType>
        <expression>IF({!get_CH.RecordType.DeveloperName}=&quot;Move&quot;,{!get_CH.NewResidentName__r.CorporateHousingRegulation__c},{!get_CH.LeftEmployee__r.CorporateHousingRegulation__c})</expression>
    </formulas>
    <interviewLabel>CH_再申請専用チェックレコード作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH_再申請専用チェックレコード作成</label>
    <loops>
        <name>loop_OperationCheckMaster</name>
        <label>業務チェックマスタループ</label>
        <locationX>655</locationX>
        <locationY>1128</locationY>
        <collectionReference>get_OPCheckMaster</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_TargetOperation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_CHCheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_CHCheck</name>
        <label>入替チェックレコード作成</label>
        <locationX>657</locationX>
        <locationY>1326</locationY>
        <inputReference>varCol_CHCheck</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Account</name>
        <label>取引先を取得</label>
        <locationX>650</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ServiceAll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CH.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CH</name>
        <label>入替レコード取得</label>
        <locationX>525</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_RenewalORCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CorporateHousingRegulation</name>
        <label>社宅規定取得</label>
        <locationX>654</locationX>
        <locationY>837</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_OPCheckMaster</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_Regulation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CorporateHousingRegulation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_OPCheckMaster</name>
        <label>業務チェックマスタ取得</label>
        <locationX>651</locationX>
        <locationY>956</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_OperationCheckMaster</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>ServiceContractAll__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ServiceAll.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceContractAll__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RegulationCheckField__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>再申請</stringValue>
            </value>
        </filters>
        <filters>
            <field>CorporateHousingRegulation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CorporateHousingRegulation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OperationCheckMaster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ServiceAll</name>
        <label>サービス_全体を取得</label>
        <locationX>650</locationX>
        <locationY>692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CorporateHousingRegulation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account.ServiceContractAll__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContractAll__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CHCheck</name>
        <label>入替チェックレコードを更新</label>
        <locationX>343</locationX>
        <locationY>421</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CH.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CheckFieldsName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>text_ItemName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CheckFieldsValue__c</field>
            <value>
                <elementReference>formula_itemValue</elementReference>
            </value>
        </inputAssignments>
        <object>ChangeCheck__c</object>
    </recordUpdates>
    <start>
        <locationX>453</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_CH</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_ItemName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>再申請理由({!var_InputNumber}回目)</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CHCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChangeCheck__c</objectType>
    </variables>
    <variables>
        <name>var_InputNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>再申請専用チェックレコードを更新するか新規作成するかの判定フラグ
更新だとTrue</description>
        <name>var_InputRenewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_CHCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChangeCheck__c</objectType>
    </variables>
</Flow>
