force-app/main/default/flows/CLCreateCancelCalculateCheckRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_AddCollection</name>
        <label>コレクションに追加</label>
        <locationX>784</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>varCol_CLCheck</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CLCheck</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CLCheck</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_OperationCheckMaster</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CLCheck</name>
        <label>変数に割りあて</label>
        <locationX>957</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>var_CLCheck.OperationCheckMasterId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OperationCheckMaster.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CLCheck.CheckFieldsName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OperationCheckMaster.CheckFieldsName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CLCheck.CheckFieldsValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OperationCheckMaster.CheckFieldsDescription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CLCheck.CancelCalculate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CLCheck.IsReconfirmMandatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OperationCheckMaster.IsReconfirmMandatory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CLCheck.CheckCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>手動</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_AddCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_TargetOperation</name>
        <label>対象業務判定</label>
        <locationX>766</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>loop_OperationCheckMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>それ以外</defaultConnectorLabel>
        <rules>
            <name>isCL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_Includes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CLCheck</targetReference>
            </connector>
            <label>解約精算業務</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_Includes</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!loop_OperationCheckMaster.CheckTarget__c},&quot;解約精算&quot; )</expression>
    </formulas>
    <interviewLabel>CL_解約精算チェックレコード作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CL_解約精算チェックレコード作成</label>
    <loops>
        <name>loop_OperationCheckMaster</name>
        <label>業務チェックマスタループ</label>
        <locationX>585</locationX>
        <locationY>675</locationY>
        <collectionReference>get_OperationCheckMaster</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_TargetOperation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_CLCheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_CLCheck</name>
        <label>解約精算チェック作成</label>
        <locationX>586</locationX>
        <locationY>974</locationY>
        <inputReference>varCol_CLCheck</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Account</name>
        <label>取引先を取得</label>
        <locationX>589</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_OperationCheckMaster</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CL.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CL</name>
        <label>解約精算を取得</label>
        <locationX>587</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CancelCalculate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_OperationCheckMaster</name>
        <label>業務チェックマスタを取得</label>
        <locationX>586</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_OperationCheckMaster</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>ServiceContractAll__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account.ServiceContractAll__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceContractAll__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RegulationCheckField__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CheckFieldsName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OperationCheckMaster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_CL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CLCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelCalculateCheck__c</objectType>
    </variables>
    <variables>
        <name>var_ConditionChangeCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConditionChangeCheck__c</objectType>
    </variables>
    <variables>
        <name>var_NewCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewCheck__c</objectType>
    </variables>
    <variables>
        <name>varCol_CLCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelCalculateCheck__c</objectType>
    </variables>
    <variables>
        <name>varCol_ConditionChangeCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConditionChangeCheck__c</objectType>
    </variables>
    <variables>
        <name>varCol_NewCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewCheck__c</objectType>
    </variables>
</Flow>
