force-app/main/default/flows/ConfirmationCheckTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>CC_新規確認書チェックトリガー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC_新規確認書チェックトリガー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_ConfirmationCheck</name>
        <label>新規確認書チェックの更新</label>
        <locationX>452</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>CreateShareObjectConfirmationCheck</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CreateShareObjectConfirmationCheck</targetReference>
        </connector>
        <object>ConfirmationCheck__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>CreateShareObjectConfirmationCheck</name>
        <label>CC_シェアオブジェクト作成（新規確認書チェック）</label>
        <locationX>452</locationX>
        <locationY>513</locationY>
        <flowName>CreateShareObjectConfirmationCheck</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
