force-app/main/default/flows/CreateMessageBoardNoOperationRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_CorporateHousingCompany</name>
        <label>社宅担当会社の割り当て</label>
        <locationX>670</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>var_UpdateMessageBoard.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateMessageBoard.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MessageBoardId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_MessageBoard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ManagementTraderCompany</name>
        <label>不動産管理会社の割り当ての割り当て</label>
        <locationX>906</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>var_UpdateMessageBoard.delRealEstateManagementCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateMessageBoard.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MessageBoardId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_MessageBoard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RealEstateAgencyCompany</name>
        <label>不動産仲介会社の割り当て</label>
        <locationX>1178</locationX>
        <locationY>1373</locationY>
        <assignmentItems>
            <assignToReference>var_UpdateMessageBoard.delRealEstateAgencyCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateMessageBoard.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MessageBoardId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_MessageBoard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resident</name>
        <label>入居者の割り当て</label>
        <locationX>358</locationX>
        <locationY>1381</locationY>
        <assignmentItems>
            <assignToReference>var_UpdateMessageBoard.Resident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateMessageBoard.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MessageBoardId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_MessageBoard</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>MarketingGroup</name>
        <choiceText>マーケティンググループ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NetworkGroup</name>
        <choiceText>ネットワークグループ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OperationGroup</name>
        <choiceText>オペレーショングループ</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>decision_LoginUserProfile</name>
        <label>ログインユーザプロファイル判定</label>
        <locationX>779</locationX>
        <locationY>1192</locationY>
        <defaultConnector>
            <targetReference>update_MessageBoard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>CompanyCommunityUserEmployee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業コミュニティユーザ(社員)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Resident</targetReference>
            </connector>
            <label>企業コミュニティユーザ(社員)</label>
        </rules>
        <rules>
            <name>CompanyCommunityUserManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業コミュニティユーザ(担当者)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CorporateHousingCompany</targetReference>
            </connector>
            <label>企業コミュニティユーザ(担当者)</label>
        </rules>
        <rules>
            <name>RealEstateCommunityUsers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>不動産コミュニティユーザ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ManagementTraderCompany</targetReference>
            </connector>
            <label>不動産コミュニティユーザ</label>
        </rules>
        <rules>
            <name>RealEstateAgencyCommunityUsers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>不動産仲介会社コミュニティユーザ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RealEstateAgencyCompany</targetReference>
            </connector>
            <label>不動産仲介会社コミュニティユーザ</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MB_伝言板作成（業務レコード無し） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MB_伝言板作成（業務レコード無し）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_MessageBoard</name>
        <label>伝言板の作成</label>
        <locationX>779</locationX>
        <locationY>573</locationY>
        <assignRecordIdToReference>var_MessageBoardId</assignRecordIdToReference>
        <connector>
            <targetReference>screen_CompleteCreateMessageBoard</targetReference>
        </connector>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>input_Content</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>input_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Chat__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_ToDo</name>
        <label>ToDoの作成</label>
        <locationX>786</locationX>
        <locationY>928</locationY>
        <connector>
            <targetReference>decision_LoginUserProfile</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>input_SharedWith</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>進行中</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>伝言板の共有先を設定してください。</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>var_MessageBoardId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Profile</name>
        <label>プロファイルの取得</label>
        <locationX>780</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_User</name>
        <label>ユーザの取得</label>
        <locationX>780</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_CreateMessageBoard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_MessageBoard</name>
        <label>伝言板の更新</label>
        <locationX>794</locationX>
        <locationY>1545</locationY>
        <inputReference>var_UpdateMessageBoard</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_CompleteCreateMessageBoard</name>
        <label>伝言板の作成完了画面</label>
        <locationX>780</locationX>
        <locationY>729</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_ToDo</targetReference>
        </connector>
        <fields>
            <name>display_CompleteCreateMessageBoard</name>
            <fieldText>&lt;p&gt;伝言板レコードの作成が完了しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_CreateMessageBoard</name>
        <label>伝言板の作成</label>
        <locationX>779</locationX>
        <locationY>444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_MessageBoard</targetReference>
        </connector>
        <fields>
            <name>display_FlowTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;伝言板作成（業務レコード無し&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;）&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display_ChoiseSNTGroup</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;宛て先を選択してください。&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_SNTGroup</name>
            <choiceReferences>OperationGroup</choiceReferences>
            <choiceReferences>NetworkGroup</choiceReferences>
            <choiceReferences>MarketingGroup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>日本社宅サービス業務担当</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_Name</name>
            <dataType>String</dataType>
            <fieldText>件名</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_Content</name>
            <fieldText>内容</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_SharedWith</name>
            <defaultValue>
                <stringValue>日本社宅サービス株式会社の関係者以外と会話をしたい場合、関係者の「会社名」と「氏名」を入力してください。</stringValue>
            </defaultValue>
            <fieldText>共有先</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>653</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_MessageBoard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>var_MessageBoardId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UpdateMessageBoard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
</Flow>
