force-app/main/default/flows/CreateChatterTemplateChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_ChatterPost</name>
        <label>Chatter投稿</label>
        <locationX>1415</locationX>
        <locationY>1910</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>screen_ChatterPostFinish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_ChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>get_Change.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>action_ChatterPost_0</name>
        <label>Chatter投稿</label>
        <locationX>1591</locationX>
        <locationY>1927</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>screen_ChatterPostFinish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_ChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_ChatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_ApplicationReminder</name>
        <label>変数割り当て</label>
        <locationX>1655</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ApplicationReminder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AtLeaveCheckListSend</name>
        <label>変数割り当て</label>
        <locationX>958</locationX>
        <locationY>1573</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_AtLeaveCheckListSend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChangeFeasibilityConfirm</name>
        <label>変数割り当て</label>
        <locationX>401</locationX>
        <locationY>1572</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ChangeFeasibilityConfirm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CompanyDecisionContact</name>
        <label>変数割り当て</label>
        <locationX>3170</locationX>
        <locationY>1614</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_CompanyDecisionContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CorrespondenceDiscussions</name>
        <label>変数割り当て</label>
        <locationX>1070</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_CorrespondenceDiscussions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LeaveApplicationReminderChange</name>
        <label>変数割り当て</label>
        <locationX>168</locationX>
        <locationY>1566</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveApplicationReminderChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LeaveApplicationResultNoticeReceipt</name>
        <label>変数割り当て</label>
        <locationX>283</locationX>
        <locationY>1565</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveApplicationResultNoticeReceipt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LeaveApprovalContactChange</name>
        <label>変数割り当て</label>
        <locationX>50</locationX>
        <locationY>1563</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveApprovalContactChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LeaveBillCreateRequest</name>
        <label>変数割り当て</label>
        <locationX>1533</locationX>
        <locationY>1587</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveBillCreateRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LeaveChangeNotice</name>
        <label>変数割り当て</label>
        <locationX>854</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveChangeNotice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LeaveCompanyContact</name>
        <label>変数割り当て</label>
        <locationX>1417</locationX>
        <locationY>1576</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveCompanyContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LeaveConfirmRequest</name>
        <label>変数割り当て</label>
        <locationX>1297</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveConfirmRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LeaveEstimateReminder</name>
        <label>変数割り当て</label>
        <locationX>1184</locationX>
        <locationY>1575</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveEstimateReminder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LeaveGuidance</name>
        <label>変数割り当て</label>
        <locationX>750</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveGuidance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LeaveResidentChangeRequest</name>
        <label>変数割り当て</label>
        <locationX>640</locationX>
        <locationY>1570</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveResidentChangeRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MoveApplicationResultNoticeReceipt</name>
        <label>変数割り当て</label>
        <locationX>1885</locationX>
        <locationY>1587</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoveApplicationResultNoticeReceipt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MoveApprovalContactChange</name>
        <label>変数割り当て</label>
        <locationX>1768</locationX>
        <locationY>1586</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoveApprovalContactChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MoveBillCreateRequest</name>
        <label>変数割り当て</label>
        <locationX>3054</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoveBillCreateRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MoveCompanyRequest</name>
        <label>変数割り当て</label>
        <locationX>2935</locationX>
        <locationY>1611</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoveCompanyRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MoveConfirmRequest</name>
        <label>変数割り当て</label>
        <locationX>2813</locationX>
        <locationY>1605</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoveConfirmRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MoveDateAdjustment</name>
        <label>変数割り当て</label>
        <locationX>2115</locationX>
        <locationY>1593</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoveDateAdjustment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MoveDateChangeNotice</name>
        <label>変数割り当て</label>
        <locationX>2588</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoveDateChangeNotice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MoveDateChangeRequest</name>
        <label>変数割り当て</label>
        <locationX>2482</locationX>
        <locationY>1593</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoveDateChangeRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MoveEstimateReminder</name>
        <label>変数割り当て</label>
        <locationX>2697</locationX>
        <locationY>1603</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoveEstimateReminder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MoveGuidance</name>
        <label>変数割り当て</label>
        <locationX>2350</locationX>
        <locationY>1596</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoveGuidance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MovePossibleDateConfirm</name>
        <label>変数割り当て</label>
        <locationX>1997</locationX>
        <locationY>1591</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MovePossibleDateConfirm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MoveResidentChangeRequest</name>
        <label>変数割り当て</label>
        <locationX>2236</locationX>
        <locationY>1604</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MoveResidentChangeRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ProblemItemsAdjustment</name>
        <label>変数割り当て</label>
        <locationX>520</locationX>
        <locationY>1566</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ProblemItemsAdjustment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_ApplicationReminder</name>
        <choiceText>申請督促</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>申請督促</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ApprovalContactChange</name>
        <choiceText>承認後連絡</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>承認後連絡</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_AtLeaveCheckListSend</name>
        <choiceText>退去時チェックリスト送付</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>退去時チェックリスト送付</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ChangeCounter</name>
        <choiceText>入替窓口</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入替窓口</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ChangeCounterStaff</name>
        <choiceText>窓口担当者</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>窓口担当者</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ChangeFeasibilityConfirm</name>
        <choiceText>入替可否確認</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入替可否確認</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_CompanyDecisionContact</name>
        <choiceText>企業決裁連絡</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>企業決裁連絡</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_CorrespondenceDiscussions</name>
        <choiceText>今後の対応を協議</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>今後の対応を協議</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveApplicationReminderChange</name>
        <choiceText>退去申請督促</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>退去申請督促</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveApplicationResultNoticeReceipt</name>
        <choiceText>申請結果通知受領</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>申請結果通知受領​</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveBillCreateRequest</name>
        <choiceText>請求書作成依頼</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>請求書作成依頼</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveChangeNotice</name>
        <choiceText>退去日変更通知</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>退去日変更通知</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveCompanyContact</name>
        <choiceText>企業へ連絡</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>企業へ連絡</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveConfirmRequest</name>
        <choiceText>確認依頼</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>確認依頼</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveEstimateReminder</name>
        <choiceText>見積督促</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>見積督促</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveGuidance</name>
        <choiceText>退去案内</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>退去案内</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveResidentChangeRequest</name>
        <choiceText>入居者変更依頼</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入居者変更依頼</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MoveApplicationResultNoticeReceipt</name>
        <choiceText>申請結果通知受領</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>申請結果通知受領</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MoveBillCreateRequest</name>
        <choiceText>請求書作成依頼</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>請求書作成依頼</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MoveCompanyRequest</name>
        <choiceText>企業へ連絡</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>企業へ連絡</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MoveConfirmRequest</name>
        <choiceText>確認依頼</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>確認依頼</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MoveDateAdjustment</name>
        <choiceText>入居日調整</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入居日調整</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MoveDateChangeNotice</name>
        <choiceText>入居日変更通知</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入居日変更通知</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MoveDateChangeRequest</name>
        <choiceText>入居日変更依頼</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入居日変更依頼</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MoveEstimateReminder</name>
        <choiceText>見積督促</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>見積督促</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MoveGuidance</name>
        <choiceText>入居案内</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入居案内</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MovePossibleDateConfirm</name>
        <choiceText>入居可能日確認</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入居可能日確認</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MoveResidentChangeRequest</name>
        <choiceText>入居者変更依頼</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入居者変更依頼</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ProblemItemsAdjustment</name>
        <choiceText>問題事項を調整</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>問題事項を調整</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decision_ChangeCounter</name>
        <label>入替窓口通知先判定</label>
        <locationX>1283</locationX>
        <locationY>847</locationY>
        <defaultConnector>
            <targetReference>get_Landlord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>入替窓口</defaultConnectorLabel>
        <rules>
            <name>isCounterStaff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_NotificationDestination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ChangeCounterStaff</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_CounterStaff</targetReference>
            </connector>
            <label>窓口担当者</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CorporateHousingStaff</name>
        <label>連絡先有無判定</label>
        <locationX>1835</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>get_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>連絡先あり</defaultConnectorLabel>
        <rules>
            <name>isNotProxyContact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.ProxyContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Change.ProxyContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>連絡先なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CounterStaff</name>
        <label>窓口担当者の有無判定</label>
        <locationX>822</locationX>
        <locationY>849</locationY>
        <defaultConnector>
            <targetReference>get_ChangeCounterStaff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>窓口担当者あり</defaultConnectorLabel>
        <rules>
            <name>isNotCounterStaff</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.CounterStaffName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Change.CounterStaffName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>窓口担当者なし</label>
        </rules>
    </decisions>
    <decisions>
        <description>チャットオブジェクトからフローの呼び出しがあったかを判定する</description>
        <name>decision_FromChat</name>
        <label>チャットからのChatter投稿判定</label>
        <locationX>1397</locationX>
        <locationY>1797</locationY>
        <defaultConnector>
            <targetReference>action_ChatterPost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isFromChat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>action_ChatterPost_0</targetReference>
            </connector>
            <label>チャットからのChatter投稿</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NotificationDestination</name>
        <label>通知先判定</label>
        <locationX>1418</locationX>
        <locationY>730</locationY>
        <defaultConnector>
            <targetReference>decision_CorporateHousingStaff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>企業社員</defaultConnectorLabel>
        <rules>
            <name>isChangeCounter</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalContactChange</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ChangeFeasibilityConfirm</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveResidentChangeRequest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveChangeNotice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveEstimateReminder</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveConfirmRequest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveBillCreateRequest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalContactChange</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MovePossibleDateConfirm</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveResidentChangeRequest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveDateChangeNotice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveEstimateReminder</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveConfirmRequest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveBillCreateRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_SelectNotificationDestinationGroup</targetReference>
            </connector>
            <label>入替窓口</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Portal</name>
        <label>ポータル利用判定</label>
        <locationX>1090</locationX>
        <locationY>1136</locationY>
        <defaultConnector>
            <targetReference>decision_SelectTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ポータルあり</defaultConnectorLabel>
        <rules>
            <name>isPortaNot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NotificationDestination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_PortalUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>ポータルなし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_PortalGroup</name>
        <label>ポータル利用グループ判定</label>
        <locationX>1406</locationX>
        <locationY>1242</locationY>
        <defaultConnector>
            <targetReference>decision_SelectTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ポータル利用あり</defaultConnectorLabel>
        <rules>
            <name>IsNotPortal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NotificationDestination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>ポータル利用なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_SelectTemplate</name>
        <label>選択テンプレート判定</label>
        <locationX>1408</locationX>
        <locationY>1401</locationY>
        <defaultConnector>
            <targetReference>assign_CompanyDecisionContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>企業決裁連絡（入居）</defaultConnectorLabel>
        <rules>
            <name>isLeaveApprovalContactChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalContactChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LeaveApprovalContactChange</targetReference>
            </connector>
            <label>承認後連絡（退去）</label>
        </rules>
        <rules>
            <name>isLeaveApplicationReminderChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveApplicationReminderChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LeaveApplicationReminderChange</targetReference>
            </connector>
            <label>退去申請督促（退去）</label>
        </rules>
        <rules>
            <name>isLeaveApplicationResultNoticeReceipt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveApplicationResultNoticeReceipt</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LeaveApplicationResultNoticeReceipt</targetReference>
            </connector>
            <label>申請結果通知受領（退去）</label>
        </rules>
        <rules>
            <name>isChangeFeasibilityConfirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ChangeFeasibilityConfirm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChangeFeasibilityConfirm</targetReference>
            </connector>
            <label>入替可否確認（退去）</label>
        </rules>
        <rules>
            <name>isProblemItemsAdjustment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ProblemItemsAdjustment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ProblemItemsAdjustment</targetReference>
            </connector>
            <label>問題事項を調整（退去）</label>
        </rules>
        <rules>
            <name>isLeaveResidentChangeRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveResidentChangeRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LeaveResidentChangeRequest</targetReference>
            </connector>
            <label>入居者変更依頼（退去）</label>
        </rules>
        <rules>
            <name>isLeaveGuidance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveGuidance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LeaveGuidance</targetReference>
            </connector>
            <label>退去案内（退去）</label>
        </rules>
        <rules>
            <name>isLeaveChangeNotice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveChangeNotice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LeaveChangeNotice</targetReference>
            </connector>
            <label>退去日変更通知（退去）</label>
        </rules>
        <rules>
            <name>isAtLeaveCheckListSend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_AtLeaveCheckListSend</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_AtLeaveCheckListSend</targetReference>
            </connector>
            <label>退去時チェックリスト送付（退去）</label>
        </rules>
        <rules>
            <name>isCorrespondenceDiscussions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_CorrespondenceDiscussions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CorrespondenceDiscussions</targetReference>
            </connector>
            <label>今後の対応を協議（退去）</label>
        </rules>
        <rules>
            <name>isLeaveEstimateReminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveEstimateReminder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LeaveEstimateReminder</targetReference>
            </connector>
            <label>見積督促（退去）</label>
        </rules>
        <rules>
            <name>isLeaveConfirmRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveConfirmRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LeaveConfirmRequest</targetReference>
            </connector>
            <label>確認依頼（退去）</label>
        </rules>
        <rules>
            <name>isLeaveCompanyContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveCompanyContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LeaveCompanyContact</targetReference>
            </connector>
            <label>企業へ連絡（退去）</label>
        </rules>
        <rules>
            <name>isLeaveBillCreateRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveBillCreateRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LeaveBillCreateRequest</targetReference>
            </connector>
            <label>請求書作成依頼（退去）</label>
        </rules>
        <rules>
            <name>isApplicationReminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApplicationReminder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApplicationReminder</targetReference>
            </connector>
            <label>申請督促（退去）</label>
        </rules>
        <rules>
            <name>isMoveApprovalContactChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalContactChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MoveApprovalContactChange</targetReference>
            </connector>
            <label>承認後連絡（入居）</label>
        </rules>
        <rules>
            <name>isMoveApplicationResultNoticeReceipt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveApplicationResultNoticeReceipt</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MoveApplicationResultNoticeReceipt</targetReference>
            </connector>
            <label>申請結果通知受領（入居）</label>
        </rules>
        <rules>
            <name>isMovePossibleDateConfirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MovePossibleDateConfirm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MovePossibleDateConfirm</targetReference>
            </connector>
            <label>入居可能日確認（入居）</label>
        </rules>
        <rules>
            <name>isMoveDateAdjustment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveDateAdjustment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MoveDateAdjustment</targetReference>
            </connector>
            <label>入居日調整（入居）</label>
        </rules>
        <rules>
            <name>isMoveResidentChangeRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveResidentChangeRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MoveResidentChangeRequest</targetReference>
            </connector>
            <label>入居者変更依頼（入居）</label>
        </rules>
        <rules>
            <name>isMoveGuidance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveGuidance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MoveGuidance</targetReference>
            </connector>
            <label>入居案内（入居）</label>
        </rules>
        <rules>
            <name>isMoveDateChangeRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveDateChangeRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MoveDateChangeRequest</targetReference>
            </connector>
            <label>入居日変更依頼（入居）</label>
        </rules>
        <rules>
            <name>isMoveDateChangeNotice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveDateChangeNotice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MoveDateChangeNotice</targetReference>
            </connector>
            <label>入居日変更通知（入居）</label>
        </rules>
        <rules>
            <name>isMoveEstimateReminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveEstimateReminder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MoveEstimateReminder</targetReference>
            </connector>
            <label>見積督促（入居）</label>
        </rules>
        <rules>
            <name>isMoveConfirmRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveConfirmRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MoveConfirmRequest</targetReference>
            </connector>
            <label>確認依頼（入居）</label>
        </rules>
        <rules>
            <name>isMoveCompanyRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveCompanyRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MoveCompanyRequest</targetReference>
            </connector>
            <label>企業へ連絡（入居）</label>
        </rules>
        <rules>
            <name>isMoveBillCreateRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MoveBillCreateRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MoveBillCreateRequest</targetReference>
            </connector>
            <label>請求書作成依頼（入居）</label>
        </rules>
    </decisions>
    <description>チャットオブジェクトからのChatter投稿にも対応</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_MoveGuidance</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.MoveGuidanceFeed__c}),
{!$Setup.DefaultFeedTemplate__c.MoveGuidance__c},
{!get_NotificationTemplate.MoveGuidanceFeed__c})</expression>
    </formulas>
    <formulas>
        <name>foumula_LeaveGuidance</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.LeaveGuidanceFeed__c}),
{!$Setup.DefaultFeedTemplate__c.LeaveGuidance__c},
{!get_NotificationTemplate.LeaveGuidanceFeed__c})</expression>
    </formulas>
    <interviewLabel>CA_Chatterテンプレート挿入(入替) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH_Chatterテンプレート挿入(入替)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Change</name>
        <label>入替取得</label>
        <locationX>1426</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NotificationTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ChangeCounterStaff</name>
        <label>ユーザ取得</label>
        <locationX>786</locationX>
        <locationY>1232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_PortalGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Change.CounterStaffName__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_NotificationDestination</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_ChatterGroup</name>
        <label>Chatterグループ取得</label>
        <locationX>1292</locationX>
        <locationY>1072</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PortalUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Landlord.Account__r.ChatterGroupId__c</elementReference>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>var_NotificationDestination</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Landlord</name>
        <label>家主取得</label>
        <locationX>1285</locationX>
        <locationY>957</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ChatterGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Change.ChangeCounter__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Landlord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NotificationTemplate</name>
        <label>通知テンプレート取得</label>
        <locationX>1427</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_SelectChatterTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Change.Account__r.NotificationTemplate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NotificationTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PortalUser</name>
        <label>ポータルユーザを取得</label>
        <locationX>1096</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Portal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Landlord.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_User</name>
        <label>ユーザー取得</label>
        <locationX>1642</locationX>
        <locationY>915</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_PortalGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Change.ProxyContact__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_NotificationDestination</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>screen_ChatterInput</name>
        <label>Chatter入力画面</label>
        <locationX>1426</locationX>
        <locationY>591</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_NotificationDestination</targetReference>
        </connector>
        <fields>
            <name>input_LeaveApplicationReminderChange</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.LeaveApplicationReminderChange__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_LeaveApplicationReminderChange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_LeaveApprovalContactChange</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ApprovalContactChange__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApprovalContactChange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveApprovalContactChange</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ApprovalContactChange__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApprovalContactChange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_LeaveApplicationResultNoticeReceipt</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.LeaveApplicationResultNoticeReceipt__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_LeaveApplicationResultNoticeReceipt</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ChangeFeasibilityConfirm</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ChangeFeasibilityConfirm__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ChangeFeasibilityConfirm</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ProblemItemsAdjustment</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ProblemItemsAdjustment__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ProblemItemsAdjustment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_LeaveResidentChangeRequest</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.LeaveResidentChangeRequest__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_LeaveResidentChangeRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_LeaveGuidance</name>
            <defaultValue>
                <stringValue>{!foumula_LeaveGuidance}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>退去案内</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_LeaveChangeNotice</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.LeaveChangeNotice__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_LeaveChangeNotice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_AtLeaveCheckListSend</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.AtLeaveCheckListSend__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_AtLeaveCheckListSend</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_CorrespondenceDiscussions</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.CorrespondenceDiscussions__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_CorrespondenceDiscussions</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_LeaveEstimateReminder</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.LeaveEstimateReminder__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_LeaveEstimateReminder</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_LeaveConfirmRequest</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.LeaveConfirmRequest__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_LeaveConfirmRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_LeaveCompanyContact</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.LeaveCompanyContact__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_LeaveCompanyContact</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_LeaveBillCreateRequest</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.LeaveBillCreateRequest__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_LeaveBillCreateRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ApplicationReminder</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ApplicationReminder__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_LeaveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApplicationReminder</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveApplicationResultNoticeReceipt</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.MoveApplicationResultNoticeReceipt__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MoveApplicationResultNoticeReceipt</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MovePossibleDateConfirm</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.MovePossibleDateConfirm__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MovePossibleDateConfirm</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveDateAdjustment</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.MoveDateAdjustment__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MoveDateAdjustment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveResidentChangeRequest</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.MoveResidentChangeRequest__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MoveResidentChangeRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveGuidance</name>
            <defaultValue>
                <stringValue>{!formula_MoveGuidance}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MoveGuidance</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveDateChangeRequest</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.MoveDateChangeRequest__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MoveDateChangeRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveDateChangeNotice</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.MoveDateChangeNotice__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MoveDateChangeNotice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveEstimateReminder</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.MoveEstimateReminder__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MoveEstimateReminder</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveConfirmRequest</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.MoveConfirmRequest__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MoveConfirmRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveCompanyRequest</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.MoveCompanyRequest__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MoveCompanyRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveBillCreateRequest</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.MoveBillCreateRequest__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MoveBillCreateRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_CompanyDecisionContact</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.CompanyDecisionContact__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_MoveChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_CompanyDecisionContact</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ChatterPostFinish</name>
        <label>Chatter通知完了画面</label>
        <locationX>1415</locationX>
        <locationY>2056</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ChatterPostFinish</name>
            <fieldText>&lt;p&gt;Chatterへの通知が完了しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_PortalUserError</name>
        <label>ポータルユーザーエラー</label>
        <locationX>1649</locationX>
        <locationY>1246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_NotPortalUser</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;この通知先はChatterを利用できません&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_SelectChatterTemplate</name>
        <label>Chatterテンプレート選択画面</label>
        <locationX>1430</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen_ChatterInput</targetReference>
        </connector>
        <fields>
            <name>input_LeaveChatterTemplate</name>
            <choiceReferences>choice_LeaveApplicationReminderChange</choiceReferences>
            <choiceReferences>choice_ApprovalContactChange</choiceReferences>
            <choiceReferences>choice_LeaveApplicationResultNoticeReceipt</choiceReferences>
            <choiceReferences>choice_ChangeFeasibilityConfirm</choiceReferences>
            <choiceReferences>choice_ProblemItemsAdjustment</choiceReferences>
            <choiceReferences>choice_LeaveResidentChangeRequest</choiceReferences>
            <choiceReferences>choice_LeaveGuidance</choiceReferences>
            <choiceReferences>choice_LeaveChangeNotice</choiceReferences>
            <choiceReferences>choice_AtLeaveCheckListSend</choiceReferences>
            <choiceReferences>choice_CorrespondenceDiscussions</choiceReferences>
            <choiceReferences>choice_LeaveEstimateReminder</choiceReferences>
            <choiceReferences>choice_LeaveConfirmRequest</choiceReferences>
            <choiceReferences>choice_LeaveCompanyContact</choiceReferences>
            <choiceReferences>choice_LeaveBillCreateRequest</choiceReferences>
            <choiceReferences>choice_ApplicationReminder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>入替(退去)業務Chatterテンプレート</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Change.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leave</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MoveChatterTemplate</name>
            <choiceReferences>choice_ApprovalContactChange</choiceReferences>
            <choiceReferences>choice_MoveApplicationResultNoticeReceipt</choiceReferences>
            <choiceReferences>choice_MovePossibleDateConfirm</choiceReferences>
            <choiceReferences>choice_MoveDateAdjustment</choiceReferences>
            <choiceReferences>choice_MoveResidentChangeRequest</choiceReferences>
            <choiceReferences>choice_MoveGuidance</choiceReferences>
            <choiceReferences>choice_MoveDateChangeRequest</choiceReferences>
            <choiceReferences>choice_MoveDateChangeNotice</choiceReferences>
            <choiceReferences>choice_MoveEstimateReminder</choiceReferences>
            <choiceReferences>choice_MoveConfirmRequest</choiceReferences>
            <choiceReferences>choice_MoveCompanyRequest</choiceReferences>
            <choiceReferences>choice_MoveBillCreateRequest</choiceReferences>
            <choiceReferences>choice_CompanyDecisionContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>入替(入居)業務Chatterテンプレート</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Change.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Move</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_SelectNotificationDestinationGroup</name>
        <label>通知先選択</label>
        <locationX>1287</locationX>
        <locationY>729</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_ChangeCounter</targetReference>
        </connector>
        <fields>
            <name>input_NotificationDestination</name>
            <choiceReferences>choice_ChangeCounter</choiceReferences>
            <choiceReferences>choice_ChangeCounterStaff</choiceReferences>
            <dataType>String</dataType>
            <fieldText>通知先</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1301</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Change</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_ChatterText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!var_NotificationDestination}]
{!var_ChatterText}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChatterText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NotificationDestination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
