force-app/main/default/flows/CreateRealEstateChangeHistoryFieldByAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_RealEstateChangeHistory</name>
        <label>物件変更履歴を割り当て</label>
        <locationX>980</locationX>
        <locationY>1143</locationY>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.UpdateDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_RealEstateChangeHistory.ChangeDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.RealEstate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.PreviousValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_RealEstateChangeHistory.BeforeFieldValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.NewValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_RealEstateChangeHistory.FieldValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.UpdateFields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_RealEstateChangeHistory.FieldByAccountName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.IsFieldByAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_RealEstateChangeHistoryCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RealEstateChangeHistoryCollection</name>
        <label>物件変更履歴コレクションの割り当て</label>
        <locationX>979</locationX>
        <locationY>1301</locationY>
        <assignmentItems>
            <assignToReference>varCol_RealEstateChangeHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RealEstateChangeHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_RealEstateChangeHistory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_OperationRecord</name>
        <label>業務判定</label>
        <locationX>776</locationX>
        <locationY>602</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsNewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_FifthSetConfirm</targetReference>
            </connector>
            <label>新規</label>
        </rules>
        <rules>
            <name>IsChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Change</targetReference>
            </connector>
            <label>入替</label>
        </rules>
        <rules>
            <name>IsConditionChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_ConditionChange</targetReference>
            </connector>
            <label>条件変更</label>
        </rules>
    </decisions>
    <description>新規レコード取得を削除</description>
    <environments>Default</environments>
    <interviewLabel>FA_物件変更履歴作成（個社別項目） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FA_物件変更履歴作成（個社別項目）</label>
    <loops>
        <name>loop_RealEstateChangeHistory</name>
        <label>物件変更履歴割り当てループ</label>
        <locationX>787</locationX>
        <locationY>1144</locationY>
        <collectionReference>varCol_FieldByAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_RealEstateChangeHistory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_RealEstateChangeHistory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_RealEstateChangeHistory</name>
        <label>物件変更履歴の作成</label>
        <locationX>787</locationX>
        <locationY>1424</locationY>
        <inputReference>varCol_RealEstateChangeHistory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Change</name>
        <label>入替の取得</label>
        <locationX>785</locationX>
        <locationY>764</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccount_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ConditionChange</name>
        <label>条件変更の取得</label>
        <locationX>981</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccount_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ConditionChange__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FieldByAccount</name>
        <label>個社別項目の取得</label>
        <locationX>599</locationX>
        <locationY>889</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_RealEstateChangeHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FifthSetConfirm__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_FifthSetConfirm.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsRealEstateField__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FifthSetConfirm__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FieldByAccount__c</object>
        <outputReference>varCol_FieldByAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ChangeDate__c</queriedFields>
        <queriedFields>FieldByAccountName__c</queriedFields>
        <queriedFields>BeforeFieldValue__c</queriedFields>
        <queriedFields>FieldValue__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_FieldByAccount_2</name>
        <label>個社別項目の取得</label>
        <locationX>785</locationX>
        <locationY>874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_RealEstateChangeHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Change.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsRealEstateField__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Change__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FieldByAccount__c</object>
        <outputReference>varCol_FieldByAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ChangeDate__c</queriedFields>
        <queriedFields>FieldByAccountName__c</queriedFields>
        <queriedFields>FieldValue__c</queriedFields>
        <queriedFields>BeforeFieldValue__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_FieldByAccount_3</name>
        <label>個社別項目の取得</label>
        <locationX>985</locationX>
        <locationY>885</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_RealEstateChangeHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConditionChange__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ConditionChange.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsRealEstateField__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConditionChange__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FieldByAccount__c</object>
        <outputReference>varCol_FieldByAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ChangeDate__c</queriedFields>
        <queriedFields>FieldByAccountName__c</queriedFields>
        <queriedFields>BeforeFieldValue__c</queriedFields>
        <queriedFields>FieldValue__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_FifthSetConfirm</name>
        <label>5点確定の取得</label>
        <locationX>605</locationX>
        <locationY>770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NewMatter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FifthSetConfirm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RealEstate</name>
        <label>物件の取得</label>
        <locationX>785</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_OperationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RealEstate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RealEstate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>659</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>get_RealEstate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RealEstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RealEstateChangeHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstateChangeHistory__c</objectType>
    </variables>
    <variables>
        <name>varCol_FieldByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldByAccount__c</objectType>
    </variables>
    <variables>
        <name>varCol_RealEstateChangeHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstateChangeHistory__c</objectType>
    </variables>
</Flow>
