force-app/main/default/flows/CreateChat_NewMatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>aasign_Count</name>
        <label>判定用変数に割り当て</label>
        <locationX>868</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filter_Created</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>aasign_Count_0</name>
        <label>判定用変数に割り当て</label>
        <locationX>1290</locationX>
        <locationY>949</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filter_Created2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_decision_Creation2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>aasign_Count_0_0</name>
        <label>判定用変数に割り当て</label>
        <locationX>1616</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filter_Created3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_decision_Creation2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>aasign_Count_0_0_0</name>
        <label>判定用変数に割り当て</label>
        <locationX>2027</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filter_Created4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_decision_Creation2_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AddMultipleRecords2</name>
        <label>作成用複数レコードに追加</label>
        <locationX>925</locationX>
        <locationY>1337</locationY>
        <assignmentItems>
            <assignToReference>var_ChatRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ChatRecordForSNT_Resident</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Inputed2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AddMultipleRecords4</name>
        <label>更新用複数レコードに追加</label>
        <locationX>1351</locationX>
        <locationY>1303</locationY>
        <assignmentItems>
            <assignToReference>var_ChatRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ChatRecordForSNT_RECompany</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Inputed3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AddMultipleRecords4_0</name>
        <label>更新用複数レコードに追加</label>
        <locationX>1721</locationX>
        <locationY>1323</locationY>
        <assignmentItems>
            <assignToReference>var_ChatRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ChatRecordForResident_RECompany</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Inputed4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AddMultipleRecords4_0_0</name>
        <label>更新用複数レコードに追加</label>
        <locationX>2138</locationX>
        <locationY>1249</locationY>
        <assignmentItems>
            <assignToReference>var_ChatRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ChatRecordForSNT_HousingCompany</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SingleRecord3</name>
        <label>SNT⇔入居者用レコードに割り当て</label>
        <locationX>720</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_Resident.Resident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NewRecord.ProxyContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_Resident.NewMatter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NewRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_Resident.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>社宅サービスへの連絡（ご利用者（ご入居者）様）</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_Resident.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SNT_入居者</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_Resident.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_AddMultipleRecords2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SingleRecord6</name>
        <label>SNT⇔不動産会社用レコードに割り当て</label>
        <locationX>1138</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_RECompany.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NewRecord.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_RECompany.NewMatter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NewRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_RECompany.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>社宅サービスへの連絡（不動産・管理会社）</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_RECompany.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SNT_不動産会社</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_RECompany.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_AddMultipleRecords4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SingleRecord7</name>
        <label>入居者⇔不動産会社用レコードに割り当て</label>
        <locationX>1531</locationX>
        <locationY>1339</locationY>
        <assignmentItems>
            <assignToReference>var_ChatRecordForResident_RECompany.Resident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NewRecord.ProxyContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForResident_RECompany.NewMatter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NewRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForResident_RECompany.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ご利用者（ご入居者）様への連絡／不動産・管理会社への連絡</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForResident_RECompany.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NewRecord.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForResident_RECompany.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>入居者_不動産会社</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForResident_RECompany.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_AddMultipleRecords4_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SingleRecord7_0</name>
        <label>SNT⇔社宅担当者用レコードに割り当て</label>
        <locationX>1947</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_HousingCompany.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>社宅サービスへの連絡（企業ご担当者様）</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_HousingCompany.NewMatter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NewRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_HousingCompany.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SNT_社宅担当者</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForSNT_HousingCompany.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NewRecord.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChatRecordForResident_RECompany.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_AddMultipleRecords4_0_0</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filter_Created</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>作成済み判定用フィルター</label>
        <locationX>732</locationX>
        <locationY>1031</locationY>
        <assignNextValueToReference>currentItem_filter_Created2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Chat</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_Created2.User__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>SNT_入居者</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_filter_Created2.Resident__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_NewRecord.ProxyContact__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>aasign_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_Created2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>作成済判定用フィルター</label>
        <locationX>1214</locationX>
        <locationY>992</locationY>
        <assignNextValueToReference>currentItem_filter_Created2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Chat</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_Created2.User__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>SNT_不動産会社</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_filter_Created2.RealEstateCompany__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_NewRecord.Agency__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>aasign_Count_0</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_Created3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>作成済み判定フィルター</label>
        <locationX>1550</locationX>
        <locationY>1040</locationY>
        <assignNextValueToReference>currentItem_filter_Created2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Chat</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_Created2.User__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>入居者_不動産会社</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_filter_Created2.RealEstateCompany__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_NewRecord.Agency__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_filter_Created2.Resident__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_NewRecord.ProxyContact__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>aasign_Count_0_0</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_Created4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>作成済み判定フィルター</label>
        <locationX>1931</locationX>
        <locationY>968</locationY>
        <assignNextValueToReference>currentItem_filter_Created2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Chat</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_Created2.User__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>SNT_社宅担当者</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_filter_Created2.Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_NewRecord.Account__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>aasign_Count_0_0_0</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>decision_Creation</name>
        <label>作成要否判定</label>
        <locationX>879</locationX>
        <locationY>1030</locationY>
        <defaultConnector>
            <targetReference>assign_SingleRecord3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>必要あり</defaultConnectorLabel>
        <rules>
            <name>NotCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Inputed2</targetReference>
            </connector>
            <label>必要なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_decision_Creation2</name>
        <label>作成要否判定</label>
        <locationX>1343</locationX>
        <locationY>1026</locationY>
        <defaultConnector>
            <targetReference>assign_SingleRecord6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>必要あり</defaultConnectorLabel>
        <rules>
            <name>NotCreate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Inputed3</targetReference>
            </connector>
            <label>必要なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_decision_Creation2_0</name>
        <label>作成要否判定</label>
        <locationX>1669</locationX>
        <locationY>1064</locationY>
        <defaultConnector>
            <targetReference>assign_SingleRecord7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>必要あり</defaultConnectorLabel>
        <rules>
            <name>NotCreate3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Inputed4</targetReference>
            </connector>
            <label>必要なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_decision_Creation2_0_0</name>
        <label>作成要否判定</label>
        <locationX>2120</locationX>
        <locationY>931</locationY>
        <defaultConnector>
            <targetReference>assign_SingleRecord7_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>必要あり</defaultConnectorLabel>
        <rules>
            <name>NotCreate4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_null</targetReference>
            </connector>
            <label>必要なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Inputed</name>
        <label>項目入力済み</label>
        <locationX>720</locationX>
        <locationY>838</locationY>
        <defaultConnector>
            <targetReference>decision_Inputed2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>未入力</defaultConnectorLabel>
        <rules>
            <name>isInputed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewRecord.ProxyContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_Created</targetReference>
            </connector>
            <label>入力済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Inputed2</name>
        <label>項目入力済み</label>
        <locationX>1152</locationX>
        <locationY>856</locationY>
        <defaultConnector>
            <targetReference>decision_Inputed3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>入力なし</defaultConnectorLabel>
        <rules>
            <name>isInputed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewRecord.Agency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_Created2</targetReference>
            </connector>
            <label>入力済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Inputed3</name>
        <label>項目入力済み</label>
        <locationX>1518</locationX>
        <locationY>858</locationY>
        <defaultConnector>
            <targetReference>decision_Inputed4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>入力なし</defaultConnectorLabel>
        <rules>
            <name>Updated4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewRecord.Agency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_NewRecord.ProxyContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_Created3</targetReference>
            </connector>
            <label>入力済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Inputed4</name>
        <label>項目入力済み</label>
        <locationX>1812</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>decision_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>未入力</defaultConnectorLabel>
        <rules>
            <name>Updated2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewRecord.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_Created4</targetReference>
            </connector>
            <label>入力済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_null</name>
        <label>decision_null</label>
        <locationX>2870</locationX>
        <locationY>1148</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isNotNullRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_ChatRecord</targetReference>
            </connector>
            <label>レコードあり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NM_チャット作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_チャット作成(新規)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_ChatRecord</name>
        <label>チャットレコードを作成</label>
        <locationX>1830</locationX>
        <locationY>1501</locationY>
        <inputReference>var_ChatRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Chat</name>
        <label>伝言板を取得</label>
        <locationX>583</locationX>
        <locationY>848</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Inputed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NewMatter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chat__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>458</locationX>
        <locationY>581</locationY>
        <connector>
            <targetReference>get_Chat</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_Created2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>var_ChatRecordForResident_RECompany</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <description>SNT⇔社宅担当者用の単一レコード</description>
        <name>var_ChatRecordForSNT_HousingCompany</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>var_ChatRecordForSNT_RECompany</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>var_ChatRecordForSNT_Resident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>var_ChatRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NewMatter__c</objectType>
    </variables>
    <variables>
        <name>var_NewRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MediationRequest__c</objectType>
    </variables>
</Flow>
