force-app/main/default/flows/CreatePaymentRecordCancelCalculateScreenFrow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_InputInformation</name>
        <label>入力内容の割り当て</label>
        <locationX>601</locationX>
        <locationY>2488</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateRecord.PaymentDestinationBankAccount1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RemittanceBankAccount1.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculateRecord.PaymentDestinationBankAccount2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RemittanceBankAccount2.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculateRecord.PaymentDestinationBankAccount3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RemittanceBankAccount3.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculateRecord.IsTransferFeeSubtraction1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_IsTransferFeeSubtraction1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculateRecord.IsTransferFeeSubtraction2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_IsTransferFeeSubtraction2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculateRecord.IsTransferFeeSubtraction3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_IsTransferFeeSubtraction3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculateRecord.PaymentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PaymentDestinationPaymentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_CancelCalculate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_InputData</name>
        <label>入力内容の判定</label>
        <locationX>594</locationX>
        <locationY>1128</locationY>
        <defaultConnector>
            <targetReference>decision_Remittance1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>エラーなし</defaultConnectorLabel>
        <rules>
            <name>isInputError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_CalculateAmount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>formula_RefundTotalAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Error</targetReference>
            </connector>
            <label>入力エラー</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Payment</name>
        <label>支払対象の判定</label>
        <locationX>592</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>screen_Error1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>支払対象無し</defaultConnectorLabel>
        <rules>
            <name>isPayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CancelCalculateRecord.RefundTotalAmount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SlipTypeChandelCaluculate</targetReference>
            </connector>
            <label>支払対象</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Remittance1</name>
        <label>送金先1の判定</label>
        <locationX>602</locationX>
        <locationY>1335</locationY>
        <defaultConnector>
            <targetReference>decision_Remittance2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isExistRemittance1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_RemittanceBankAccount1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Remittee1Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Payment1</targetReference>
            </connector>
            <label>送金先1あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Remittance2</name>
        <label>送金先2の判定</label>
        <locationX>604</locationX>
        <locationY>1719</locationY>
        <defaultConnector>
            <targetReference>decision_Remittance3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isExistRemittance2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_RemittanceBankAccount2.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Remittee2Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Payment2</targetReference>
            </connector>
            <label>送金先2あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Remittance3</name>
        <label>送金先3の判定</label>
        <locationX>595</locationX>
        <locationY>2103</locationY>
        <defaultConnector>
            <targetReference>assign_InputInformation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isExistRemittance3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_RemittanceBankAccount3.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_Remittee3Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Payment3</targetReference>
            </connector>
            <label>支払先3あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_CalculateAmount</name>
        <dataType>Currency</dataType>
        <expression>{!input_Remittee1Amount} + {!input_Remittee2Amount} + {!input_Remittee3Amount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_RefundTotalAmount</name>
        <dataType>Currency</dataType>
        <expression>ABS({!var_CancelCalculateRecord.RefundTotalAmount__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PA_支払レコード作成（解約） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PA_支払レコード作成（解約）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Payment1</name>
        <label>支払作成</label>
        <locationX>802</locationX>
        <locationY>1420</locationY>
        <assignRecordIdToReference>var_CreatedPaymentId</assignRecordIdToReference>
        <connector>
            <targetReference>create_PaymentDetail1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>var_CancelCalculateRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountingTicketType__c</field>
            <value>
                <elementReference>var_SlipType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankAccount__c</field>
            <value>
                <elementReference>input_RemittanceBankAccount1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DecisionApplication__c</field>
            <value>
                <elementReference>var_DecisionApplication2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTransferFeeSubtract__c</field>
            <value>
                <elementReference>input_IsTransferFeeSubtraction1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RealEstate__c</field>
            <value>
                <elementReference>var_CancelCalculateRecord.RealEstate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceDate__c</field>
            <value>
                <elementReference>input_PaymentDestinationPaymentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_Payment2</name>
        <label>支払作成</label>
        <locationX>815</locationX>
        <locationY>1832</locationY>
        <assignRecordIdToReference>var_CreatedPaymentId</assignRecordIdToReference>
        <connector>
            <targetReference>create_PaymentDetail2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>var_CancelCalculateRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountingTicketType__c</field>
            <value>
                <elementReference>var_SlipType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankAccount__c</field>
            <value>
                <elementReference>input_RemittanceBankAccount2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DecisionApplication__c</field>
            <value>
                <elementReference>var_DecisionApplication2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTransferFeeSubtract__c</field>
            <value>
                <elementReference>input_IsTransferFeeSubtraction2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RealEstate__c</field>
            <value>
                <elementReference>var_CancelCalculateRecord.RealEstate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceDate__c</field>
            <value>
                <elementReference>input_PaymentDestinationPaymentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_Payment3</name>
        <label>支払作成</label>
        <locationX>811</locationX>
        <locationY>2201</locationY>
        <assignRecordIdToReference>var_CreatedPaymentId</assignRecordIdToReference>
        <connector>
            <targetReference>create_PaymentDetail3</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>var_CancelCalculateRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountingTicketType__c</field>
            <value>
                <elementReference>var_SlipType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankAccount__c</field>
            <value>
                <elementReference>input_RemittanceBankAccount3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DecisionApplication__c</field>
            <value>
                <elementReference>var_DecisionApplication2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTransferFeeSubtract__c</field>
            <value>
                <elementReference>input_IsTransferFeeSubtraction3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RealEstate__c</field>
            <value>
                <elementReference>var_CancelCalculateRecord.RealEstate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemittanceDate__c</field>
            <value>
                <elementReference>input_PaymentDestinationPaymentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_PaymentDetail1</name>
        <label>支払明細作成</label>
        <locationX>798</locationX>
        <locationY>1567</locationY>
        <connector>
            <targetReference>decision_Remittance2</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>input_Remittee1Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetailName__c</field>
            <value>
                <elementReference>get_ExpenseItem.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpenseItem__c</field>
            <value>
                <elementReference>get_ExpenseItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPaymentTarget__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>var_CreatedPaymentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxRate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PaymentDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_PaymentDetail2</name>
        <label>支払明細作成</label>
        <locationX>815</locationX>
        <locationY>2005</locationY>
        <connector>
            <targetReference>decision_Remittance3</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>input_Remittee2Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetailName__c</field>
            <value>
                <elementReference>get_ExpenseItem.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpenseItem__c</field>
            <value>
                <elementReference>get_ExpenseItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPaymentTarget__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>var_CreatedPaymentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxRate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PaymentDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_PaymentDetail3</name>
        <label>支払明細作成</label>
        <locationX>812</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>assign_InputInformation</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>input_Remittee3Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetailName__c</field>
            <value>
                <elementReference>get_ExpenseItem.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpenseItem__c</field>
            <value>
                <elementReference>get_ExpenseItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPaymentTarget__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>var_CreatedPaymentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxRate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PaymentDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_ExpenseItem</name>
        <label>費目を取得</label>
        <locationX>601</locationX>
        <locationY>811</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_CreatePaymentRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>精算額</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ExpenseItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SlipTypeChandelCaluculate</name>
        <label>伝票種別を取得</label>
        <locationX>605</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ExpenseItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>解約精算</stringValue>
            </value>
        </filters>
        <object>SlipType__c</object>
        <outputReference>var_SlipType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PaymentCategory__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約精算レコードの更新</label>
        <locationX>807</locationX>
        <locationY>2633</locationY>
        <inputReference>var_CancelCalculateRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_CreatePaymentRecord</name>
        <label>支払レコード作成画面</label>
        <locationX>600</locationX>
        <locationY>949</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_InputData</targetReference>
        </connector>
        <fields>
            <name>display_CreatePaymentRecordMessage</name>
            <fieldText>&lt;p&gt;支払レコードを作成します。&lt;/p&gt;&lt;p&gt;支払先別に送金額を入力してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_CreatePaymentRecord_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_CreatePaymentRecord_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_RemittanceBankAccount1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Payment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>BankAccount__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>送金先口座1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>var_CancelCalculateRecord.PaymentDestinationBankAccount1__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_CreatePaymentRecord_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_RemittanceBankAccount2</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Payment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>送金先口座2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>BankAccount__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>var_CancelCalculateRecord.PaymentDestinationBankAccount2__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_CreatePaymentRecord_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_RemittanceBankAccount3</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Payment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>送金先口座3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>BankAccount__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>var_CancelCalculateRecord.PaymentDestinationBankAccount3__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_CreatePaymentRecord_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_CreatePaymentRecord_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_IsTransferFeeSubtraction1</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>var_CancelCalculateRecord.IsTransferFeeSubtraction1__c</elementReference>
                    </defaultValue>
                    <fieldText>振手差引フラグ1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_CreatePaymentRecord_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_IsTransferFeeSubtraction2</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>var_CancelCalculateRecord.IsTransferFeeSubtraction2__c</elementReference>
                    </defaultValue>
                    <fieldText>振手差引フラグ2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_CreatePaymentRecord_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_IsTransferFeeSubtraction3</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>var_CancelCalculateRecord.IsTransferFeeSubtraction3__c</elementReference>
                    </defaultValue>
                    <fieldText>振手差引フラグ3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_CreatePaymentRecord_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_CreatePaymentRecord_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_PaymentDestinationPaymentDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>var_CancelCalculateRecord.PaymentDate__c</elementReference>
                    </defaultValue>
                    <fieldText>支払日</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_CreatePaymentRecord_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_CreatePaymentRecord_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_CalculateAmount</name>
                    <fieldText>&lt;p&gt;精算額：{!formula_RefundTotalAmount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_CreatePaymentRecord_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Remittee1Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>formula_RefundTotalAmount</elementReference>
                    </defaultValue>
                    <fieldText>送金先1金額</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_CreatePaymentRecord_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Remittee2Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>送金先2金額</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_CreatePaymentRecord_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Remittee3Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>送金先3金額</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Error</name>
        <label>エラー画面</label>
        <locationX>833</locationX>
        <locationY>1126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ErrorMessage</name>
            <fieldText>&lt;p&gt;精算額がと一致していません。&lt;/p&gt;&lt;p&gt;「前へ」をクリックしてください&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Error1</name>
        <label>エラー画面1</label>
        <locationX>823</locationX>
        <locationY>513</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ErrorMessage1</name>
            <fieldText>&lt;p&gt;支払対象はありません。&lt;/p&gt;&lt;p&gt;精算金額を確認してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>472</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>decision_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filter_ExpenseItem1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseItem__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_PaymentOrBillingSettingDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PaymentOrBillingSettingDetail__c</objectType>
    </variables>
    <variables>
        <name>var_BillingAddressBankAccount1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BillingAddressBankAccount2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BillingAddressBankAccount3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CancelCalculateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelCalculate__c</objectType>
    </variables>
    <variables>
        <name>var_CreatedPaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DecisionApplication2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PaymentDestinationPaymentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PaymentDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PaymentDetail__c</objectType>
    </variables>
    <variables>
        <name>var_SlipType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SlipType__c</objectType>
    </variables>
    <variables>
        <name>varCol_PaymentDetail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PaymentDetail__c</objectType>
    </variables>
    <variables>
        <name>varCol_PaymentDetailTemp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PaymentDetail__c</objectType>
    </variables>
    <variables>
        <name>varCol_PaymentOrBillingSetting</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PaymentOrBillingSetting__c</objectType>
    </variables>
    <variables>
        <name>varCol_PaymentOrBillingSettingUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PaymentOrBillingSetting__c</objectType>
    </variables>
</Flow>
