force-app/main/default/flows/CreateProgressManagementDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendCahngeChatterMessage_0</name>
        <label>入替Chatterメッセージ送信</label>
        <locationX>931</locationX>
        <locationY>2447</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>loopChange</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>loopChange.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>sendChancelChatterMessage</name>
        <label>解約Chatterメッセージ送信</label>
        <locationX>804</locationX>
        <locationY>3566</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>loopCancel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>loopCancel.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>sendNewMatterChatterMessage</name>
        <label>新規Chatterメッセージ送信</label>
        <locationX>804</locationX>
        <locationY>1166</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>loopNewMatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>loopNewMatter.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assign_ApplicationChangeHistory1</name>
        <label>申請変更履歴項目割り当て</label>
        <locationX>953</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.NewMatter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopNewMatter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.PreviousApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getChangeApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.ChangeContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_ForApplicationChangeHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.NewApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Collection1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ApplicationChangeHistory2_1</name>
        <label>申請変更履歴項目割り当て</label>
        <locationX>983</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.ChangeMove__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopChange.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.PreviousApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getChangeApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.ChangeContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_ForApplicationChangeHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.NewApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ApplicationChangeHistory2_2</name>
        <label>申請変更履歴項目割り当て</label>
        <locationX>1200</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.ChangeLeave__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopChange.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.PreviousApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getChangeApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.ChangeContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_ForApplicationChangeHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.NewApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ApplicationChangeHistory3</name>
        <label>申請変更履歴項目割り当て</label>
        <locationX>925</locationX>
        <locationY>3305</locationY>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.Cancel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCancel.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.PreviousApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getChangeApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.ChangeContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_ForApplicationChangeHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory.NewApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Collection3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CancelUpdate</name>
        <label>解約フェーズ変更</label>
        <locationX>923</locationX>
        <locationY>3091</locationY>
        <assignmentItems>
            <assignToReference>loopCancel.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCancel.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>assign_ApplicationChangeHistory3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChangeUpdate</name>
        <label>入替フェーズ変更</label>
        <locationX>1080</locationX>
        <locationY>1860</locationY>
        <assignmentItems>
            <assignToReference>loopChange.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopChange.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>decision_ChangeRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Collection1</name>
        <label>コレクションに割り当て</label>
        <locationX>951</locationX>
        <locationY>1096</locationY>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistoryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ApplicationChangeHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewMatterCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopNewMatter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNewMatterChatterMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Collection2</name>
        <label>コレクションに割り当て</label>
        <locationX>1176</locationX>
        <locationY>2456</locationY>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistoryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ApplicationChangeHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendCahngeChatterMessage_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Collection3</name>
        <label>コレクションに割り当て</label>
        <locationX>923</locationX>
        <locationY>3566</locationY>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistoryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ApplicationChangeHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCancel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendChancelChatterMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NewMatterUpdate</name>
        <label>新規フェーズ変更</label>
        <locationX>937</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>loopNewMatter.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopNewMatter.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApplicationChangeHistory</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>assign_ApplicationChangeHistory1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_ChangeRecordType</name>
        <label>レコードタイプ判定</label>
        <locationX>1068</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>assign_ApplicationChangeHistory2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>入替退去</defaultConnectorLabel>
        <rules>
            <name>IsMove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopChange.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_ChangeRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApplicationChangeHistory2_1</targetReference>
            </connector>
            <label>入替入居</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCancel</name>
        <label>解約レコード有無</label>
        <locationX>584</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>loopCancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NoCancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getChancel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_ApplicationChangeHistory</targetReference>
            </connector>
            <label>解約レコード無</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChange</name>
        <label>入替レコード有無</label>
        <locationX>584</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>loopChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NoChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getChange</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getChancel</targetReference>
            </connector>
            <label>入替レコード無</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNewMatter</name>
        <label>新規レコード有無</label>
        <locationX>584</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>loopNewMatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NoNewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_NewMatter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getChange</targetReference>
            </connector>
            <label>新規レコード無</label>
        </rules>
    </decisions>
    <interviewLabel>AP_進捗管理レコード自動作成（削除申請） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP_進捗管理レコード自動作成（削除申請）</label>
    <loops>
        <name>loopCancel</name>
        <label>解約通知ループ</label>
        <locationX>716</locationX>
        <locationY>3086</locationY>
        <collectionReference>getChancel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_CancelUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_ApplicationChangeHistory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopChange</name>
        <label>入替通知ループ</label>
        <locationX>848</locationX>
        <locationY>1838</locationY>
        <collectionReference>getChange</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_ChangeUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getChancel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopNewMatter</name>
        <label>新規通知ループ</label>
        <locationX>716</locationX>
        <locationY>686</locationY>
        <collectionReference>get_NewMatter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_NewMatterUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getChange</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_ApplicationChangeHistory</name>
        <label>申請変更履歴作成</label>
        <locationX>584</locationX>
        <locationY>3878</locationY>
        <connector>
            <targetReference>update_NewMatter</targetReference>
        </connector>
        <inputReference>var_ApplicationChangeHistoryCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_ChangeRecordType</name>
        <label>入替入居レコードタイプ取得</label>
        <locationX>584</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Move</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規レコード取得</label>
        <locationX>584</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isNewMatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getChangeApplication.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getApplication</name>
        <label>申請レコード取得</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getChangeApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChancel</name>
        <label>解約レコード取得</label>
        <locationX>584</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isCancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getChangeApplication.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cancel__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChange</name>
        <label>入替レコード取得</label>
        <locationX>584</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ChangeRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getChangeApplication.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChangeApplication</name>
        <label>変更・削除対象申請取得</label>
        <locationX>584</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApplication.ChangeApplication__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Cancel</name>
        <label>解約レコード更新</label>
        <locationX>584</locationX>
        <locationY>4238</locationY>
        <inputReference>var_CancelCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Change</name>
        <label>入替レコード更新</label>
        <locationX>584</locationX>
        <locationY>4118</locationY>
        <connector>
            <targetReference>update_Cancel</targetReference>
        </connector>
        <inputReference>var_ChangeCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_NewMatter</name>
        <label>新規レコード更新</label>
        <locationX>584</locationX>
        <locationY>3998</locationY>
        <connector>
            <targetReference>update_Change</targetReference>
        </connector>
        <inputReference>var_NewMatterCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!OwnerId}]
削除申請が承認されました。
社宅担当者と協議してください。
削除申請：https://d5h0000029fh5eae--vxcdev02.lightning.force.com/lightning/r/Application__c/{!getApplication.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>text_ForApplicationChangeHistory</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>削除申請が承認されましたので、ステータスを完了に変更しました。</text>
    </textTemplates>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ApplicationChangeHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApplicationChangeHistory__c</objectType>
    </variables>
    <variables>
        <name>var_ApplicationChangeHistoryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApplicationChangeHistory__c</objectType>
    </variables>
    <variables>
        <name>var_Cancel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cancel__c</objectType>
    </variables>
    <variables>
        <name>var_CancelCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cancel__c</objectType>
    </variables>
    <variables>
        <name>var_Change</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change__c</objectType>
    </variables>
    <variables>
        <name>var_ChangeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change__c</objectType>
    </variables>
    <variables>
        <name>var_NewMatter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewMatter__c</objectType>
    </variables>
    <variables>
        <name>var_NewMatterCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewMatter__c</objectType>
    </variables>
</Flow>
