force-app/main/default/flows/CreateSealNewMatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_NewMatter</name>
        <label>新規更新割り当て</label>
        <locationX>882</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>var_NewMatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewMatter.Seal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Seal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_NewMatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Seal</name>
        <label>捺印管理の割り当て</label>
        <locationX>882</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>var_CreateSeal.New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateSeal.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateSeal.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Seal</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SE_捺印管理作成(新規) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SE_捺印管理作成(新規)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Seal</name>
        <label>捺印管理を作成</label>
        <locationX>882</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>get_Seal</targetReference>
        </connector>
        <inputReference>var_CreateSeal</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規の取得</label>
        <locationX>882</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Seal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordTypeId</name>
        <label>レコードタイプIdを取得</label>
        <locationX>882</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewMatter</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seal__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Seal</name>
        <label>捺印管理を取得</label>
        <locationX>882</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_NewMatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Seal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_NewMatter</name>
        <label>新規更新</label>
        <locationX>882</locationX>
        <locationY>926</locationY>
        <inputReference>var_NewMatter</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreateSeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Seal__c</objectType>
    </variables>
    <variables>
        <name>var_NewMatter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewMatter__c</objectType>
    </variables>
</Flow>
