force-app/main/default/flows/CreateDecisionApplicationRenewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_DecisionApplicationRealEstate</name>
        <label>項目割り当て(物件)</label>
        <locationX>729</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateAdress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RealEstateAdress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.RoomNum__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DecisionApplicationRenewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DecisionApplicationRenewal</name>
        <label>項目割り当て(更新)</label>
        <locationX>722</locationX>
        <locationY>1110</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.DecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>更新</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApplicationMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>更新</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApprovalPattern__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ApprovalPattern.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>申請前</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ContractStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewContractTermStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ContractEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewContractTermEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Deposit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewSecurityDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Rent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewRent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CommonCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewCommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ManagementCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Parking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewGarage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherRenewalCostDetail1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.OtherProcedureExpense1Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherRenewalCostDetail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.OtherProcedureExpense2Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherRenewalCostDetail3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.OtherProcedureExpense3Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherRenewalCostDetail4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.OtherProcedureExpense4Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherFields1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.Other1ExpenseItems__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherFields2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.Other2ExpenseItems__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherFields3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.Other3ExpenseItems__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherFields4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.Other4ExpenseItems__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherAmount1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewOther1Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherAmount2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewOther2Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherAmount3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewOther3Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherAmount4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewOther4Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherRenewalCostFields1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.OtherProcedureExpense1Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherRenewalCostFields2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.OtherProcedureExpense2Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherRenewalCostFields3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.OtherProcedureExpense3Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherRenewalCostFields4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.OtherProcedureExpense4Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalFee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.NewRenewalFee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalCharges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.ConsumptionTaxCharges__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.DepositDifference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_DepositDifference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.DailyRateRentDifference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.DailyRateRentDifference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.DailyRateCommonInterestDifference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.DailyRateCommonChargeDifference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.DailyRateManagementDifference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.DailyRateManagementChargeDifference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.DailyRateParkingDifference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Renewal.DailyRateGarageDifference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_DecisionApplication</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_DecisionApplicationExistence</name>
        <label>決裁申請存在チェック</label>
        <locationX>584</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>get_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>決裁申請なし</defaultConnectorLabel>
        <rules>
            <name>isExistence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Error</targetReference>
            </connector>
            <label>決裁申請あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_DepositDifference</name>
        <dataType>Currency</dataType>
        <expression>IF(
{!get_Renewal.DepositDifference__c} &gt; 0,
{!get_Renewal.DepositDifference__c},0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_OtherFieldsTax1</name>
        <dataType>Number</dataType>
        <expression>CASE(LEN({!var_OtherFieldsTaxCategory1}),
4,VALUE(RIGHT({!var_OtherFieldsTaxCategory1},2)),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_OtherFieldsTax2</name>
        <dataType>Number</dataType>
        <expression>CASE(LEN({!var_OtherFieldsTaxCategory2}),
4,VALUE(RIGHT({!var_OtherFieldsTaxCategory2},2)),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_OtherFieldsTax3</name>
        <dataType>Number</dataType>
        <expression>CASE(LEN({!var_OtherFieldsTaxCategory3}),
4,VALUE(RIGHT({!var_OtherFieldsTaxCategory3},2)),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_OtherFieldsTax4</name>
        <dataType>Number</dataType>
        <expression>CASE(LEN({!var_OtherFieldsTaxCategory4}),
4,VALUE(RIGHT({!var_OtherFieldsTaxCategory4},2)),
0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_RealEstateAdress</name>
        <dataType>String</dataType>
        <expression>TEXT({!get_RealEstate.State__c})&amp;{!get_RealEstate.City__c}&amp;{!get_RealEstate.Street__c}</expression>
    </formulas>
    <formulas>
        <name>formula_RemittanceAmount1</name>
        <dataType>Currency</dataType>
        <expression>{!var_RemittanceAmount1Tax0}+{!var_RemittanceAmount1Tax1}+{!var_RemittanceAmount1Tax2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_RemittanceAmount2</name>
        <dataType>Currency</dataType>
        <expression>{!var_RemittanceAmount2Tax0}+{!var_RemittanceAmount2Tax1}+{!var_RemittanceAmount2Tax2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_RemittanceAmount3</name>
        <dataType>Currency</dataType>
        <expression>{!var_RemittanceAmount3Tax0}+{!var_RemittanceAmount3Tax1}+{!var_RemittanceAmount3Tax2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxAmount1</name>
        <dataType>Currency</dataType>
        <expression>{!formula_TaxAmount1Tax1}+{!formula_TaxAmount1Tax2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxAmount1Tax1</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!var_RemittanceAmount1Tax1}*{!var_MasterTax1}/100)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxAmount1Tax2</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!var_RemittanceAmount1Tax2}*{!var_MasterTax2}/100)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxAmount2</name>
        <dataType>Currency</dataType>
        <expression>{!formula_TaxAmount2Tax1} +{!formula_TaxAmount2Tax2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxAmount2Tax1</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!var_RemittanceAmount2Tax1}*{!var_MasterTax1}/100)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxAmount2Tax2</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!var_RemittanceAmount2Tax2}*{!var_MasterTax2}/100)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxAmount3</name>
        <dataType>Currency</dataType>
        <expression>{!formula_TaxAmount3Tax1} +{!formula_TaxAmount3Tax2}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxAmount3Tax1</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!var_RemittanceAmount3Tax1}*{!var_MasterTax1}/100)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxAmount3Tax2</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!var_RemittanceAmount3Tax2}*{!var_MasterTax2}/100)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>DA_決裁申請レコード作成（更新） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DA_決裁申請レコード作成（更新）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_DecisionApplication</name>
        <label>決裁申請レコード作成</label>
        <locationX>712</locationX>
        <locationY>1267</locationY>
        <connector>
            <targetReference>update_Renewal</targetReference>
        </connector>
        <inputReference>var_DecisionApplication</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_ApprovalPattern</name>
        <label>承認パターンを取得</label>
        <locationX>716</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_Start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Renewal.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>決裁申請</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApprovalPattern__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_DecisionApplication</name>
        <label>決裁申請を取得</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_DecisionApplicationExistence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DecisionApplication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RealEstate</name>
        <label>物件を取得</label>
        <locationX>905</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Renewal.RealEstate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RealEstate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordType</name>
        <label>レコードタイプを取得</label>
        <locationX>716</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ApprovalPattern</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RenewalContractDecisionApplication</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DecisionApplication__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Renewal</name>
        <label>更新を取得</label>
        <locationX>716</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RealEstate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Renewal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Renewal</name>
        <label>更新レコード更新</label>
        <locationX>702</locationX>
        <locationY>1409</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Renewal.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>申請中</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_Error</name>
        <label>開始画面</label>
        <locationX>452</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;決裁エラー&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;既に決裁申請が作成されています。&lt;/p&gt;&lt;p&gt;内容を確認してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Start</name>
        <label>開始画面</label>
        <locationX>715</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_DecisionApplicationRealEstate</targetReference>
        </connector>
        <fields>
            <name>display_start</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;決裁申請確認&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;決裁申請レコードを作成します。&lt;/p&gt;&lt;p&gt;続行する場合は右下の「次へ」をクリックしてください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_DecisionApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_var_NullDeleteAllBankAccountIdCollection_0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_var_ZeroDeleteColTax_0</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BankAccountIdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ConditionChangeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContractMoneyAccount1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContractMoneyAccount2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContractMoneyAccount3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DecisionApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DecisionApplication__c</objectType>
    </variables>
    <variables>
        <name>var_LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_MasterTax1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_MasterTax2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NewOtherAmount1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NewOtherAmount2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NewOtherAmount3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NewOtherAmount4</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_NewRentAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OtherAmountAccount1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OtherAmountAccount2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OtherAmountAccount3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OtherAmountAccount4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OtherFieldsTaxCategory1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OtherFieldsTaxCategory2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OtherFieldsTaxCategory3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OtherFieldsTaxCategory4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RealEstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RemittanceAmount1Tax0</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RemittanceAmount1Tax1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RemittanceAmount1Tax2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RemittanceAmount2Tax0</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RemittanceAmount2Tax1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RemittanceAmount2Tax2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RemittanceAmount3Tax0</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RemittanceAmount3Tax1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RemittanceAmount3Tax2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TemporaryBankAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TemporaryTax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
