force-app/main/default/flows/CreateChat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>チャットオブジェクトの解約申込項目に値が入っている場合、解約申込項目のレコードタイプ別のChatter投稿テンプレートを呼び出すための分岐</description>
        <name>decision_CancelRecordType</name>
        <label>解約申込レコードタイプ判定</label>
        <locationX>272</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>flow_CreateChatterTemplateCancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>名義変更以外</defaultConnectorLabel>
        <rules>
            <name>isContractorChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Chat.Cancel__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ContractorChange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_CreateChatterTemplateContractorChange</targetReference>
            </connector>
            <label>名義変更</label>
        </rules>
    </decisions>
    <decisions>
        <description>チャットオブジェクトの業務項目に対応するChatter投稿テンプレートを呼び出すための分岐</description>
        <name>decision_OperationRecord</name>
        <label>業務レコード判定</label>
        <locationX>501</locationX>
        <locationY>394</locationY>
        <defaultConnectorLabel>業務レコードなし</defaultConnectorLabel>
        <rules>
            <name>isNewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Chat.NewMatter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_CreateChatterTemplateNewMatter</targetReference>
            </connector>
            <label>新規</label>
        </rules>
        <rules>
            <name>isRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Chat.Renewal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_CreateChatterTemplateRenewal</targetReference>
            </connector>
            <label>更新</label>
        </rules>
        <rules>
            <name>isChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Chat.Change__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_CreateChatterTemplateChange</targetReference>
            </connector>
            <label>入替</label>
        </rules>
        <rules>
            <name>isConditionChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Chat.ConditionChange__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_CreateChatterTemplateConditionChange</targetReference>
            </connector>
            <label>条件変更</label>
        </rules>
        <rules>
            <name>isCancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Chat.Cancel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_CancelRecordType</targetReference>
            </connector>
            <label>解約申入</label>
        </rules>
        <rules>
            <name>isCancelCalculate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Chat.CancelCalculate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_CreateChatterTemplateCancelCalculate</targetReference>
            </connector>
            <label>解約精算</label>
        </rules>
    </decisions>
    <description>チャットオブジェクトのボタンから、テンプレートを使用したChatter投稿を行う</description>
    <environments>Default</environments>
    <interviewLabel>CC_テンプレからチャット作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC_テンプレからChatter投稿</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Chat</name>
        <label>チャット取得</label>
        <locationX>509</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_OperationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chat__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>383</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Chat</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_CreateChatterTemplateCancel</name>
        <label>CA_Chatterテンプレート挿入(解約申入)</label>
        <locationX>168</locationX>
        <locationY>665</locationY>
        <flowName>CreateChatterTemplateCancel</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_Chat.Cancel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ChatId</name>
            <value>
                <elementReference>get_Chat.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flow_CreateChatterTemplateCancelCalculate</name>
        <label>CL_Chatterテンプレート挿入(解約精算)</label>
        <locationX>214</locationX>
        <locationY>380</locationY>
        <flowName>CreateChatterTemplateCancelCalculate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_Chat.CancelCalculate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ChatId</name>
            <value>
                <elementReference>get_Chat.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flow_CreateChatterTemplateChange</name>
        <label>CH_Chatterテンプレート挿入(入替)</label>
        <locationX>590</locationX>
        <locationY>573</locationY>
        <flowName>CreateChatterTemplateChange</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_Chat.Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ChatId</name>
            <value>
                <elementReference>get_Chat.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flow_CreateChatterTemplateConditionChange</name>
        <label>CC_Chatterテンプレート挿入(条件変更)</label>
        <locationX>487</locationX>
        <locationY>574</locationY>
        <flowName>CreateChatterTemplateConditionChange</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_Chat.ConditionChange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ChatId</name>
            <value>
                <elementReference>get_Chat.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flow_CreateChatterTemplateContractorChange</name>
        <label>CA_Chatterテンプレート挿入(名義変更)</label>
        <locationX>385</locationX>
        <locationY>656</locationY>
        <flowName>CreateChatterTemplateContractorChange</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_Chat.Cancel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ChatId</name>
            <value>
                <elementReference>get_Chat.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flow_CreateChatterTemplateNewMatter</name>
        <label>NM_Chatterテンプレート挿入(新規)</label>
        <locationX>927</locationX>
        <locationY>390</locationY>
        <flowName>CreateChatterTemplateNewMatter</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_Chat.NewMatter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ChatId</name>
            <value>
                <elementReference>get_Chat.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flow_CreateChatterTemplateRenewal</name>
        <label>RE_Chatterテンプレート挿入(更新)</label>
        <locationX>706</locationX>
        <locationY>580</locationY>
        <flowName>CreateChatterTemplateRenewal</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_Chat.Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ChatId</name>
            <value>
                <elementReference>get_Chat.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
