force-app/main/default/flows/CreateSpotFbData.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateSpotFbData</name>
        <label>スポットFBデータ作成</label>
        <locationX>499</locationX>
        <locationY>526</locationY>
        <actionName>CallCreateSpotFbData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen_CreateFbDataEnded</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>executionUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputDate</name>
            <value>
                <elementReference>RemittanceDate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>Today() + 1</expression>
    </formulas>
    <interviewLabel>スポットFBデータ作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>スポットFBデータ作成</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen_confirmCreateFbData</name>
        <label>FBデータ作成確認画面</label>
        <locationX>499</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateSpotFbData</targetReference>
        </connector>
        <fields>
            <name>display_confirmRemittanceDate</name>
            <fieldText>&lt;p&gt;送金日：{!RemittanceDate}&lt;/p&gt;&lt;p&gt;のFBデータを作成します。&lt;/p&gt;&lt;p&gt;よろしければ「次へ」をクリックしてください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_CreateFbDataEnded</name>
        <label>FBデータ作成完了画面</label>
        <locationX>499</locationX>
        <locationY>683</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_EndInfo</name>
            <fieldText>&lt;p&gt;FBデータ作成を開始しました。&lt;/p&gt;&lt;p&gt;完了後、ベルマーク通知が送信されます。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_InputRemittanceDate</name>
        <label>送金日入力画面</label>
        <locationX>499</locationX>
        <locationY>221</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen_confirmCreateFbData</targetReference>
        </connector>
        <fields>
            <name>display_StartInfo</name>
            <fieldText>&lt;p&gt;FBデータを作成します。送金日を入力してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RemittanceDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Tomorrow</elementReference>
            </defaultValue>
            <fieldText>送金日</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screen_InputRemittanceDate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
