force-app/main/default/flows/CreateSealCancel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_Seal</name>
        <label>捺印管理の割り当て</label>
        <locationX>882</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_CreateSeal.Cancel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cancel.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateSeal.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cancel.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateSeal.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateSeal.CancelCalculate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Seal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateCancel</name>
        <label>解約更新割り当て</label>
        <locationX>882</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>var_Cancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cancel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cancel.Seal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Seal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculate.Seal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Seal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Cancel</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SE_捺印管理作成(解約) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SE_捺印管理作成(解約)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Seal</name>
        <label>捺印管理を作成</label>
        <locationX>882</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>get_Seal</targetReference>
        </connector>
        <inputReference>var_CreateSeal</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Cancel</name>
        <label>解約申入の取得</label>
        <locationX>882</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CancelCalculate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cancel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CancelCalculate</name>
        <label>解約精算の取得</label>
        <locationX>882</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Seal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CancelCalculateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CancelCalculate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordTypeId</name>
        <label>レコードタイプIdを取得</label>
        <locationX>882</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seal__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Seal</name>
        <label>捺印管理を取得</label>
        <locationX>882</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_UpdateCancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cancel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Seal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Cancel</name>
        <label>解約申入更新</label>
        <locationX>882</locationX>
        <locationY>1046</locationY>
        <connector>
            <targetReference>update_CancelCalculate</targetReference>
        </connector>
        <inputReference>var_Cancel</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約精算更新</label>
        <locationX>882</locationX>
        <locationY>1166</locationY>
        <inputReference>var_CancelCalculate</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Cancel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cancel__c</objectType>
    </variables>
    <variables>
        <name>var_CancelCalculate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelCalculate__c</objectType>
    </variables>
    <variables>
        <name>var_CancelCalculateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreateSeal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Seal__c</objectType>
    </variables>
</Flow>
