force-app/main/default/flows/CreateRealEstateChangeHistoryChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_ChangeField</name>
        <label>入替項目割り当て</label>
        <locationX>890</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>var_RealEstate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.RealEstate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Resident</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.NewResidentName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>入居中</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangeDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.MoveScheduledDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_RealEstate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChangeField_0</name>
        <label>入替項目割り当て</label>
        <locationX>743</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_RealEstate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.RealEstate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>解約</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangeDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.LeaveScheduledDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_RealEstate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Collection</name>
        <label>コレクションに割りあて</label>
        <locationX>892</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>varCol_RealEstateChangeHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RealEstateChangeHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>assign_RealEstateChangeHistoryResident_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Collection_0</name>
        <label>コレクションに割りあて</label>
        <locationX>890</locationX>
        <locationY>1125</locationY>
        <assignmentItems>
            <assignToReference>varCol_RealEstateChangeHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RealEstateChangeHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>create_RealEstateChangeHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RealEstateChangeHistoryResident</name>
        <label>物件変更履歴を割りあて(入居者)</label>
        <locationX>794</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.UpdateDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ChangeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.IsAutoUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.RealEstate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RealEstate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.PreviousResident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.ContractorName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.NewResident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Resident</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.PreviousValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_PreviousResidentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.NewValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NewResidentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.UpdateFields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>入居者</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RealEstateChangeHistoryResident_0</name>
        <label>物件変更履歴を割りあて(入居者)</label>
        <locationX>982</locationX>
        <locationY>672</locationY>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.UpdateDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ChangeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.IsAutoUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.RealEstate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RealEstate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.PreviousResident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.ContractorName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.NewResident__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.PreviousValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_PreviousResidentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.NewValue__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.UpdateFields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>入居者</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RealEstateChangeHistoryResident_0_0</name>
        <label>物件変更履歴を割りあて(ステータス)</label>
        <locationX>888</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.UpdateDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ChangeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.IsAutoUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.RealEstate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RealEstate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.PreviousText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.NewText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.PreviousValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.NewValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RealEstateChangeHistory.UpdateFields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ステータス</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Collection_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Resident</name>
        <label>入居者の判定</label>
        <locationX>885</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>create_RealEstateChangeHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>変更なし</defaultConnectorLabel>
        <rules>
            <name>isChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RealEstate.ContractorName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_Resident</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dicision_ChangeRecordId</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <elementReference>isMove</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RealEstateChangeHistoryResident</targetReference>
            </connector>
            <label>変更あり（入居者）</label>
        </rules>
        <rules>
            <name>isChanged2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_RealEstate.ContractorName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_Resident</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dicision_ChangeRecordId</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <elementReference>isLeave</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RealEstateChangeHistoryResident_0</targetReference>
            </connector>
            <label>変更あり（退去）</label>
        </rules>
    </decisions>
    <decisions>
        <name>dicision_ChangeRecordId</name>
        <label>入替レコードタイプの判定</label>
        <locationX>736</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>get_RealEstate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルト</defaultConnectorLabel>
        <rules>
            <name>isMove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>入替(入居)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChangeField</targetReference>
            </connector>
            <label>入居</label>
        </rules>
        <rules>
            <name>isLeave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>入替(退去)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChangeField_0</targetReference>
            </connector>
            <label>退去</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_NewResidentName</name>
        <dataType>String</dataType>
        <expression>{!get_Change.NewResidentName__r.LastName} + &quot; &quot; + {!get_Change.NewResidentName__r.FirstName}</expression>
    </formulas>
    <formulas>
        <name>formula_PreviousResidentName</name>
        <dataType>String</dataType>
        <expression>{!get_RealEstate.ContractorName__r.LastName} + &quot; &quot; + {!get_RealEstate.ContractorName__r.FirstName}</expression>
    </formulas>
    <interviewLabel>RE_物件変更履歴作成（入替） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>（不要）RE_物件変更履歴作成（入替）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_RealEstateChangeHistory</name>
        <label>物件変更履歴作成</label>
        <locationX>892</locationX>
        <locationY>1292</locationY>
        <inputReference>varCol_RealEstateChangeHistory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Change</name>
        <label>入替を取得</label>
        <locationX>599</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dicision_ChangeRecordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication.Change__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_DecisionApplication</name>
        <label>決裁申請を取得</label>
        <locationX>447</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DecisionApplication2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RealEstate</name>
        <label>物件を取得</label>
        <locationX>891</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Resident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RealEstate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RealEstate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_DecisionApplication</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChangeDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RealEstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RealEstateChangeHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstateChangeHistory__c</objectType>
    </variables>
    <variables>
        <name>var_Resident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_RealEstateChangeHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstateChangeHistory__c</objectType>
    </variables>
</Flow>
