force-app/main/default/flows/CreateChatterTemplateNewMatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_ChatterPost</name>
        <label>Chatter投稿</label>
        <locationX>1271</locationX>
        <locationY>2143</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>screen_ChatterPostFinish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_ChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>action_ChatterPost_0</name>
        <label>Chatter投稿</label>
        <locationX>1464</locationX>
        <locationY>2165</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>screen_ChatterPostFinish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_ChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_ChatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_AccountDecisionApplication</name>
        <label>変数割り当て</label>
        <locationX>1353</locationX>
        <locationY>1597</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_AccountDecisionApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AdjustmentConditions</name>
        <label>変数割り当て</label>
        <locationX>2458</locationX>
        <locationY>1618</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_AdjustmentConditions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ApplicationContentAdjustmentUpdate</name>
        <label>変数割り当て</label>
        <locationX>679</locationX>
        <locationY>1587</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ApplicationContentAdjustmentUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ApprovalContactNM</name>
        <label>変数割り当て</label>
        <locationX>2256</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ApprovalContactNM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ApprovalContactNMContractorChange</name>
        <label>変数割り当て</label>
        <locationX>2358</locationX>
        <locationY>1626</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ApprovalContactNMContractorChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ApprovalContactNMParking</name>
        <label>変数割り当て</label>
        <locationX>2163</locationX>
        <locationY>1616</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ApprovalContactNMParking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ApprovalProxyContactNM</name>
        <label>変数割り当て</label>
        <locationX>1981</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ApprovalProxyContactNM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ApprovalProxyContactNMContractorChange</name>
        <label>変数割り当て</label>
        <locationX>2073</locationX>
        <locationY>1612</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ApprovalProxyContactNMContractorChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ApprovalProxyContactNMParking</name>
        <label>変数割り当て</label>
        <locationX>1876</locationX>
        <locationY>1602</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ApprovalProxyContactNMParking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ConfirmationContractCondition</name>
        <label>変数割り当て</label>
        <locationX>1438</locationX>
        <locationY>1588</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ConfirmationContractCondition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ConfirmationPreviewProgress</name>
        <label>変数割り当て</label>
        <locationX>777</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ConfirmationPreviewProgress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ConfirmationScrutinyProgress</name>
        <label>変数割り当て</label>
        <locationX>2555</locationX>
        <locationY>1626</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ConfirmationScrutinyProgress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ContactAccountNewMatter</name>
        <label>変数割り当て</label>
        <locationX>1267</locationX>
        <locationY>1599</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ContactAccountNewMatter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DecisionContactToAgency</name>
        <label>変数割り当て</label>
        <locationX>1657</locationX>
        <locationY>1603</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_DecisionContactToAgency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DecisionContactToEmployee</name>
        <label>変数割り当て</label>
        <locationX>1554</locationX>
        <locationY>1596</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_DecisionContactToEmployee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_FirstStorageDocumentReminderNewMatter</name>
        <label>変数割り当て</label>
        <locationX>1751</locationX>
        <locationY>1599</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_FirstStorageDocumentReminderNewMatter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_FivePieceSetReminder</name>
        <label>変数割り当て</label>
        <locationX>970</locationX>
        <locationY>1586</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_FivePieceSetReminder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_FivePieceSetRequest</name>
        <label>変数割り当て</label>
        <locationX>877</locationX>
        <locationY>1592</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_FivePieceSetRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GreetingMail</name>
        <label>変数割り当て</label>
        <locationX>50</locationX>
        <locationY>1578</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_GreetingMail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LegalApplicationApprovalContactNewMatter</name>
        <label>変数割り当て</label>
        <locationX>1082</locationX>
        <locationY>1592</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_LegalApplicationApprovalContactNewMatter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MediationContactUnnecessaryAgency</name>
        <label>変数割り当て</label>
        <locationX>167</locationX>
        <locationY>1581</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MediationContactUnnecessaryAgency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MediationContactUnnecessaryVer</name>
        <label>変数割り当て</label>
        <locationX>391</locationX>
        <locationY>1588</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MediationContactUnnecessaryVer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MediationRequestSend</name>
        <label>変数割り当て</label>
        <locationX>283</locationX>
        <locationY>1580</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_MediationRequestSend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_OtherDecisionContact</name>
        <label>変数割り当て</label>
        <locationX>2656</locationX>
        <locationY>1633</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_OtherDecisionContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SendApplicationForm</name>
        <label>変数割り当て</label>
        <locationX>2746</locationX>
        <locationY>1633</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_SendApplicationForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SendApplicationForm_0</name>
        <label>変数割り当て</label>
        <locationX>2823</locationX>
        <locationY>1641</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_StorageDocumentReminderNewMatter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SendBusinessConsignmentCertific</name>
        <label>変数割り当て</label>
        <locationX>586</locationX>
        <locationY>1582</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_SendBusinessConsignmentCertific</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SendFireInsurancePolicy</name>
        <label>変数割り当て</label>
        <locationX>488</locationX>
        <locationY>1590</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_SendFireInsurancePolicy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SendLegalApplication</name>
        <label>変数割り当て</label>
        <locationX>1176</locationX>
        <locationY>1596</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_SendLegalApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_AccountDecisionApplication</name>
        <choiceText>企業決裁申請</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>企業決裁申請</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_AdjustmentConditions</name>
        <choiceText>条件調整</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>条件調整</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Agency</name>
        <choiceText>仲介業者</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>仲介業者</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_AgencyStaff</name>
        <choiceText>仲介業者担当者</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>仲介業者担当者</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ApplicationContentAdjustmentUpdate</name>
        <choiceText>申請内容調整/更新</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>申請内容調整/更新</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ApprovalContactNM</name>
        <choiceText>承認後連絡（不動産/通常）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>承認後連絡（不動産/通常）</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ApprovalContactNMContractorChange</name>
        <choiceText>承認後連絡（不動産/名変）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>承認後連絡（不動産/名変）</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ApprovalContactNMParking</name>
        <choiceText>承認後連絡（不動産/駐車場）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>承認後連絡（不動産/駐車場）</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ApprovalProxyContactNM</name>
        <choiceText>承認後連絡（社員/通常）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>承認後連絡（社員/通常）</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ApprovalProxyContactNMContractorChange</name>
        <choiceText>承認後連絡（社員/名変）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>承認後連絡（社員/名変）</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ApprovalProxyContactNMParking</name>
        <choiceText>承認後連絡（社員/駐車場）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>承認後連絡（社員/駐車場）</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ConfirmationContractCondition</name>
        <choiceText>契約条件確認</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>契約条件確認</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ConfirmationPreviewProgress</name>
        <choiceText>内見進捗確認</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>内見進捗確認</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ConfirmationScrutinyProgress</name>
        <choiceText>精査進捗確認</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>精査進捗確認</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ContactAccountNewMatter</name>
        <choiceText>企業に連絡</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>企業に連絡</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_DecisionContactToAgency</name>
        <choiceText>決定連絡（不動産向け）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>決定連絡（不動産向け）</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_DecisionContactToEmployee</name>
        <choiceText>決定連絡（企業社員向け）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>決定連絡（企業社員向け）</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_FirstStorageDocumentReminderNewMatter</name>
        <choiceText>初回保管書類督促</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>初回保管書類督促</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_FivePieceSetReminder</name>
        <choiceText>5点セット督促</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5点セット督促</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_FivePieceSetRequest</name>
        <choiceText>5点セット依頼</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5点セット依頼</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_GreetingMail</name>
        <choiceText>入居者へ挨拶連絡(SNT）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入居者へ挨拶連絡(SNT）</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LegalApplicationApprovalContactNewMatter</name>
        <choiceText>リーガル申請承認後連絡</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>リーガル申請承認後連絡</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MediationContactUnnecessaryAgency</name>
        <choiceText>斡旋連絡(不要/物件決定済)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>斡旋連絡(不要/物件決定済)</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MediationContactUnnecessaryVer</name>
        <choiceText>入居者へ挨拶連絡（不要Ver）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入居者へ挨拶連絡（不要Ver）</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_MediationRequestSend</name>
        <choiceText>斡旋依頼送付</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>斡旋依頼送付</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_OtherDecisionContact</name>
        <choiceText>他決連絡</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>他決連絡</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_SendApplicationForm</name>
        <choiceText>入居申込書送付</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>入居申込書送付</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_SendBusinessConsignmentCertific</name>
        <choiceText>業務委託証明書送付</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>業務委託証明書送付</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_SendFireInsurancePolicy</name>
        <choiceText>火災保険証券送付</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>火災保険証券送付</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_SendLegalApplication</name>
        <choiceText>リーガル申請送付</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>リーガル申請送付</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_StorageDocumentReminderNewMatter</name>
        <choiceText>保管書類督促</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>保管書類督促​</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decision_FromChat</name>
        <label>チャットからのChatter投稿判定</label>
        <locationX>1270</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>action_ChatterPost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isFromChat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>action_ChatterPost_0</targetReference>
            </connector>
            <label>チャットからのChatter投稿</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_isAgencyStaff</name>
        <label>仲介業者担当者有無判定</label>
        <locationX>850</locationX>
        <locationY>877</locationY>
        <defaultConnector>
            <targetReference>get_AgencyStaff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NotAgencyStaff</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_NewMatter.AgencyStaff__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_NewMatter.AgencyStaff__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>仲介業者担当者なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_isCorporateHousingStaff</name>
        <label>連絡先有無判定</label>
        <locationX>1290</locationX>
        <locationY>819</locationY>
        <defaultConnector>
            <targetReference>get_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isNotCorporateHousingStaff</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_NewMatter.ProxyContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_NewMatter.ProxyContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>連絡先なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsPortal</name>
        <label>ポータル利用判定</label>
        <locationX>964</locationX>
        <locationY>1292</locationY>
        <defaultConnectorLabel>ポータル利用あり</defaultConnectorLabel>
        <rules>
            <name>isNotPortal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_NotificationDestination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_PortalUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>ポータル利用なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsPortalUser</name>
        <label>ポータル利用判定</label>
        <locationX>1125</locationX>
        <locationY>1381</locationY>
        <defaultConnector>
            <targetReference>decision_SelectTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ポータル利用あり</defaultConnectorLabel>
        <rules>
            <name>isNotPortalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NotificationDestination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>ポータル利用なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NotificationDestination</name>
        <label>通知先判定</label>
        <locationX>1202</locationX>
        <locationY>730</locationY>
        <defaultConnector>
            <targetReference>decision_isCorporateHousingStaff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>企業社員</defaultConnectorLabel>
        <rules>
            <name>Agency</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MediationRequestSend</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_SendBusinessConsignmentCertific</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_SendFireInsurancePolicy</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_FivePieceSetRequest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_FivePieceSetReminder</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalContactNM</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalContactNMContractorChange</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalContactNMParking</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_OtherDecisionContact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_DecisionContactToAgency</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_SendApplicationForm</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_FirstStorageDocumentReminderNewMatter</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_StorageDocumentReminderNewMatter</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_AdjustmentConditions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_SelectNotificationDestinationGroup</targetReference>
            </connector>
            <label>仲介業者</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_SelectTemplate</name>
        <label>選択テンプレート判定</label>
        <locationX>1120</locationX>
        <locationY>1507</locationY>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>GreetingMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_GreetingMail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_GreetingMail</targetReference>
            </connector>
            <label>挨拶連絡</label>
        </rules>
        <rules>
            <name>MediationContactUnnecessaryAgency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MediationContactUnnecessaryAgency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MediationContactUnnecessaryAgency</targetReference>
            </connector>
            <label>挨拶連絡(不要/物件決定済)</label>
        </rules>
        <rules>
            <name>MediationRequestSend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MediationRequestSend</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MediationRequestSend</targetReference>
            </connector>
            <label>斡旋依頼送付</label>
        </rules>
        <rules>
            <name>MediationContactUnnecessaryVer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MediationContactUnnecessaryVer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MediationContactUnnecessaryVer</targetReference>
            </connector>
            <label>挨拶連絡（不要Ver）</label>
        </rules>
        <rules>
            <name>SendFireInsurancePolicy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_SendFireInsurancePolicy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SendFireInsurancePolicy</targetReference>
            </connector>
            <label>火災保険証券送付</label>
        </rules>
        <rules>
            <name>SendBusinessConsignmentCertific</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_SendBusinessConsignmentCertific</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SendBusinessConsignmentCertific</targetReference>
            </connector>
            <label>業務委託証明書送付</label>
        </rules>
        <rules>
            <name>ApplicationContentAdjustmentUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApplicationContentAdjustmentUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApplicationContentAdjustmentUpdate</targetReference>
            </connector>
            <label>申請内容調整/更新</label>
        </rules>
        <rules>
            <name>ConfirmationPreviewProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ConfirmationPreviewProgress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ConfirmationPreviewProgress</targetReference>
            </connector>
            <label>内見進捗確認</label>
        </rules>
        <rules>
            <name>FivePieceSetRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_FivePieceSetRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_FivePieceSetRequest</targetReference>
            </connector>
            <label>5点セット依頼</label>
        </rules>
        <rules>
            <name>FivePieceSetReminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_FivePieceSetReminder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_FivePieceSetReminder</targetReference>
            </connector>
            <label>5点セット督促依頼</label>
        </rules>
        <rules>
            <name>LegalApplicationApprovalContactNewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LegalApplicationApprovalContactNewMatter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LegalApplicationApprovalContactNewMatter</targetReference>
            </connector>
            <label>リーガル申請_承認後連絡(新規)</label>
        </rules>
        <rules>
            <name>SendLegalApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_SendLegalApplication</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SendLegalApplication</targetReference>
            </connector>
            <label>リーガル申請送付</label>
        </rules>
        <rules>
            <name>ContactAccountNewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ContactAccountNewMatter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ContactAccountNewMatter</targetReference>
            </connector>
            <label>企業に連絡</label>
        </rules>
        <rules>
            <name>AccountDecisionApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_AccountDecisionApplication</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_AccountDecisionApplication</targetReference>
            </connector>
            <label>企業決裁申請</label>
        </rules>
        <rules>
            <name>ConfirmationContractCondition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ConfirmationContractCondition</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ConfirmationContractCondition</targetReference>
            </connector>
            <label>契約条件確認</label>
        </rules>
        <rules>
            <name>DecisionContactToEmployee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_DecisionContactToEmployee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_DecisionContactToEmployee</targetReference>
            </connector>
            <label>決定連絡（企業社員向け）</label>
        </rules>
        <rules>
            <name>DecisionContactToAgency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_DecisionContactToAgency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_DecisionContactToAgency</targetReference>
            </connector>
            <label>新規_決定連絡（不動産向け）</label>
        </rules>
        <rules>
            <name>FirstStorageDocumentReminderNewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_FirstStorageDocumentReminderNewMatter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_FirstStorageDocumentReminderNewMatter</targetReference>
            </connector>
            <label>初回保管書類督促</label>
        </rules>
        <rules>
            <name>ApprovalProxyContactNMParking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalProxyContactNMParking</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApprovalProxyContactNMParking</targetReference>
            </connector>
            <label>承認後連絡（社員/駐車場）</label>
        </rules>
        <rules>
            <name>ApprovalProxyContactNM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalProxyContactNM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApprovalProxyContactNM</targetReference>
            </connector>
            <label>承認後連絡（社員/通常）</label>
        </rules>
        <rules>
            <name>ApprovalProxyContactNMContractorChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalProxyContactNMContractorChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApprovalProxyContactNMContractorChange</targetReference>
            </connector>
            <label>承認後連絡（社員/名変）</label>
        </rules>
        <rules>
            <name>ApprovalContactNMParking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalContactNMParking</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApprovalContactNMParking</targetReference>
            </connector>
            <label>承認後連絡（不動産/駐車場）</label>
        </rules>
        <rules>
            <name>ApprovalContactNM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalContactNM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApprovalContactNM</targetReference>
            </connector>
            <label>承認後連絡（不動産/通常）</label>
        </rules>
        <rules>
            <name>ApprovalContactNMContractorChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApprovalContactNMContractorChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApprovalContactNMContractorChange</targetReference>
            </connector>
            <label>承認後連絡（不動産/名変）</label>
        </rules>
        <rules>
            <name>AdjustmentConditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_AdjustmentConditions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_AdjustmentConditions</targetReference>
            </connector>
            <label>条件調整</label>
        </rules>
        <rules>
            <name>ConfirmationScrutinyProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ConfirmationScrutinyProgress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ConfirmationScrutinyProgress</targetReference>
            </connector>
            <label>精査進捗確認</label>
        </rules>
        <rules>
            <name>OtherDecisionContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_OtherDecisionContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_OtherDecisionContact</targetReference>
            </connector>
            <label>他決連絡</label>
        </rules>
        <rules>
            <name>SendApplicationForm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_SendApplicationForm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SendApplicationForm</targetReference>
            </connector>
            <label>入居申込書送付</label>
        </rules>
        <rules>
            <name>StorageDocumentReminderNewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_StorageDocumentReminderNewMatter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SendApplicationForm_0</targetReference>
            </connector>
            <label>保管書類督促</label>
        </rules>
    </decisions>
    <decisions>
        <name>desicion_isAgency</name>
        <label>仲介業者通知先判定</label>
        <locationX>1099</locationX>
        <locationY>934</locationY>
        <defaultConnector>
            <targetReference>decision_isAgencyStaff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>窓口担当者</defaultConnectorLabel>
        <rules>
            <name>AgencyAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_NotificationDestination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Agency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Account</targetReference>
            </connector>
            <label>仲介業者</label>
        </rules>
    </decisions>
    <description>チャットオブジェクトからのChatter投稿にも対応
formula_GreetingMailの内容でGreetingMail__cが無効になっていたためGreetingContact__cに変更</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_ApprovalProxyContactNM</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.ApprovalContactNMFeed__c}), {!$Setup.DefaultFeedTemplate__c.ApprovalProxyContactNM__c},{!get_NotificationTemplate.ApprovalContactNMFeed__c})</expression>
    </formulas>
    <formulas>
        <name>formula_ApprovalProxyContactNMContractorChange</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.ApprovalContactNMContractorChange__c}),{!$Setup.DefaultFeedTemplate__c.ApprovalProxyContactNMContractorChange__c},{!get_NotificationTemplate.ApprovalContactNMContractorChange__c})</expression>
    </formulas>
    <formulas>
        <name>formula_ApprovalProxyContactNMParking</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.ApprovalContactNMParkingFeed__c}),{!$Setup.DefaultFeedTemplate__c.ApprovalProxyContactNMParking__c}, {!get_NotificationTemplate.ApprovalContactNMParkingFeed__c})</expression>
    </formulas>
    <formulas>
        <name>formula_ConfirmationContractCondition</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.ConfirmationContractConditionFeed__c}),{!$Setup.DefaultFeedTemplate__c.ConfirmationContractCondition__c} ,{!get_NotificationTemplate.ConfirmationContractConditionFeed__c})</expression>
    </formulas>
    <formulas>
        <name>formula_DecisionContactToEmployee</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.DecisionContactToEmployeeFeed__c}),{!$Setup.DefaultFeedTemplate__c.DecisionContactToEmployee__c},{!get_NotificationTemplate.DecisionContactToEmployeeFeed__c})</expression>
    </formulas>
    <formulas>
        <name>formula_GreetingMail</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.GreetingChatter__c}),{!$Setup.DefaultFeedTemplate__c.GreetingContact__c} , {!get_NotificationTemplate.GreetingChatter__c})</expression>
    </formulas>
    <formulas>
        <name>formula_LegalApplicationApprovalContactNewMatter</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.LegalApplicationApprovalNMSendFeed__c}),{!$Setup.DefaultFeedTemplate__c.LegalApplicationApprovalContactNewMatter__c},{!get_NotificationTemplate.LegalApplicationApprovalNMSendFeed__c})</expression>
    </formulas>
    <formulas>
        <name>formula_MediationContactUnnecessaryAgency</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.GreetingChatterNoMediationDecisionRE__c}),{!$Setup.DefaultFeedTemplate__c.GreetingContactUnnecessaryAgencyDecisi__c} , {!get_NotificationTemplate.GreetingChatterNoMediationDecisionRE__c})</expression>
    </formulas>
    <formulas>
        <name>formula_MediationContactUnnecessaryVer</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.GreetingChatterNoMediation__c}),{!$Setup.DefaultFeedTemplate__c.GreetingContactUnnecessaryVer__c} , {!get_NotificationTemplate.GreetingChatterNoMediation__c})</expression>
    </formulas>
    <formulas>
        <name>formula_PersonalExpenseContact</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.PersonalExpenseContactFeed__c}),
{!$Setup.DefaultFeedTemplate__c.PersonalExpenseContact__c},
{!get_NotificationTemplate.PersonalExpenseContactFeed__c})</expression>
    </formulas>
    <formulas>
        <name>formula_SendLegalApplicationFeed</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.SendLegalApplicationFeed__c}),{!$Setup.DefaultFeedTemplate__c.SendLegalApplication__c} ,{!get_NotificationTemplate.SendLegalApplicationFeed__c})</expression>
    </formulas>
    <interviewLabel>NM_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_Chatterテンプレート挿入(新規)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Account</name>
        <label>取引先取得</label>
        <locationX>1127</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ChatterGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Agency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AgencyStaff</name>
        <label>ユーザー取得</label>
        <locationX>840</locationX>
        <locationY>1049</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsPortalUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.AgencyStaff__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_NotificationDestination</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_ChatterGroup</name>
        <label>Chatterグループ取得</label>
        <locationX>1127</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PortalUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account.ChatterGroupId__c</elementReference>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>var_NotificationDestination</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規レコード取得</label>
        <locationX>1211</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NotificationTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>解約精算レコードの「企業名」に入力されている取引先の通知テンプレートを取得します</description>
        <name>get_NotificationTemplate</name>
        <label>通知テンプレート取得</label>
        <locationX>1211</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_SelectChatterTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Account__r.NotificationTemplate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NotificationTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PortalUser</name>
        <label>ポータルユーザ取得</label>
        <locationX>964</locationX>
        <locationY>1158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsPortal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_User</name>
        <label>ユーザー取得</label>
        <locationX>1299</locationX>
        <locationY>940</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsPortalUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.ProxyContact__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_NotificationDestination</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_ChatterInput</name>
        <label>Chatter入力画面</label>
        <locationX>1208</locationX>
        <locationY>592</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_NotificationDestination</targetReference>
        </connector>
        <fields>
            <name>input_MediationRequestSend</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.MediationRequestSend__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MediationRequestSend</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_GreetingMail</name>
            <defaultValue>
                <stringValue>{!formula_GreetingMail}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_GreetingMail</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MediationContactUnnecessaryAgency</name>
            <defaultValue>
                <stringValue>{!formula_MediationContactUnnecessaryAgency}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MediationContactUnnecessaryAgency</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MediationContactUnnecessaryVer</name>
            <defaultValue>
                <stringValue>{!formula_MediationContactUnnecessaryVer}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_MediationContactUnnecessaryVer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_SendFireInsurancePolicy</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.SendFireInsurancePolicy__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_SendFireInsurancePolicy</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_SendBusinessConsignmentCertific</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.SendBusinessConsignmentCertific__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_SendBusinessConsignmentCertific</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ApplicationContentAdjustmentUpdate</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ApplicationContentAdjustmentUpdate__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApplicationContentAdjustmentUpdate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ConfirmationPreviewProgress</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ConfirmationPreviewProgress__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ConfirmationPreviewProgress</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_FivePieceSetRequest</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.FivePieceSetRequest__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_FivePieceSetRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_FivePieceSetReminder</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.FivePieceSetReminder__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_FivePieceSetReminder</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_SendLegalApplication</name>
            <defaultValue>
                <stringValue>{!formula_SendLegalApplicationFeed}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_SendLegalApplication</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_LegalApplicationApprovalContactNewMatter</name>
            <defaultValue>
                <stringValue>{!formula_LegalApplicationApprovalContactNewMatter}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_LegalApplicationApprovalContactNewMatter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ContactAccountNewMatter</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ContactAccountNewMatter__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ContactAccountNewMatter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_AccountDecisionApplication</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.AccountDecisionApplication__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_AccountDecisionApplication</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ConfirmationContractCondition</name>
            <defaultValue>
                <stringValue>{!formula_ConfirmationContractCondition}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ConfirmationContractCondition</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_DecisionContactToEmployee</name>
            <defaultValue>
                <stringValue>{!formula_DecisionContactToEmployee}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_DecisionContactToEmployee</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_DecisionContactToAgency</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.DecisionContactToAgency__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_DecisionContactToAgency</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_FirstStorageDocumentReminderNewMatter</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.FirstStorageDocumentReminderNewMatter__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_FirstStorageDocumentReminderNewMatter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ApprovalProxyContactNMParking</name>
            <defaultValue>
                <stringValue>{!formula_ApprovalProxyContactNMParking}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApprovalProxyContactNMParking</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ApprovalProxyContactNM</name>
            <defaultValue>
                <stringValue>{!formula_ApprovalProxyContactNM}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApprovalProxyContactNM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ApprovalProxyContactNMContractorChange</name>
            <defaultValue>
                <stringValue>{!formula_ApprovalProxyContactNMContractorChange}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApprovalProxyContactNMContractorChange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ApprovalContactNMParking</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ApprovalContactNMParking__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApprovalContactNMParking</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ApprovalContactNM</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ApprovalContactNM__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApprovalContactNM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ApprovalContactNMContractorChange</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ApprovalContactNMContractorChange__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApprovalContactNMContractorChange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_AdjustmentConditions</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.AdjustmentConditions__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_AdjustmentConditions</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ConfirmationScrutinyProgress</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ConfirmationScrutinyProgress__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ConfirmationScrutinyProgress</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_OtherDecisionContact</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.OtherDecisionContact__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_OtherDecisionContact</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_SendApplicationForm</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.SendApplicationForm__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_SendApplicationForm</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_StorageDocumentReminderNewMatter</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.StorageDocumentReminderNewMatter__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_ChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_StorageDocumentReminderNewMatter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ChatterPostFinish</name>
        <label>Chatter通知完了画面</label>
        <locationX>1268</locationX>
        <locationY>2288</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ChatterPostFinish</name>
            <fieldText>&lt;p&gt;Chatterへの通知が完了しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_PortalUserError</name>
        <label>ポータルユーザーエラー</label>
        <locationX>1497</locationX>
        <locationY>1367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_NotPortalUser</name>
            <fieldText>&lt;p&gt;この通知先はChatterを利用できません。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>通知を行うテンプレートを選択する画面です。</description>
        <name>screen_SelectChatterTemplate</name>
        <label>Chatterテンプレート選択画面</label>
        <locationX>1213</locationX>
        <locationY>457</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen_ChatterInput</targetReference>
        </connector>
        <fields>
            <name>input_ChatterTemplate</name>
            <choiceReferences>choice_ApplicationContentAdjustmentUpdate</choiceReferences>
            <choiceReferences>choice_MediationRequestSend</choiceReferences>
            <choiceReferences>choice_GreetingMail</choiceReferences>
            <choiceReferences>choice_ConfirmationPreviewProgress</choiceReferences>
            <choiceReferences>choice_MediationContactUnnecessaryVer</choiceReferences>
            <choiceReferences>choice_MediationContactUnnecessaryAgency</choiceReferences>
            <choiceReferences>choice_SendBusinessConsignmentCertific</choiceReferences>
            <choiceReferences>choice_SendFireInsurancePolicy</choiceReferences>
            <choiceReferences>choice_OtherDecisionContact</choiceReferences>
            <choiceReferences>choice_FivePieceSetRequest</choiceReferences>
            <choiceReferences>choice_FivePieceSetReminder</choiceReferences>
            <choiceReferences>choice_AdjustmentConditions</choiceReferences>
            <choiceReferences>choice_SendLegalApplication</choiceReferences>
            <choiceReferences>choice_LegalApplicationApprovalContactNewMatter</choiceReferences>
            <choiceReferences>choice_ContactAccountNewMatter</choiceReferences>
            <choiceReferences>choice_ApprovalProxyContactNM</choiceReferences>
            <choiceReferences>choice_ApprovalProxyContactNMParking</choiceReferences>
            <choiceReferences>choice_ApprovalProxyContactNMContractorChange</choiceReferences>
            <choiceReferences>choice_ApprovalContactNM</choiceReferences>
            <choiceReferences>choice_ApprovalContactNMParking</choiceReferences>
            <choiceReferences>choice_ApprovalContactNMContractorChange</choiceReferences>
            <choiceReferences>choice_ConfirmationScrutinyProgress</choiceReferences>
            <choiceReferences>choice_ConfirmationContractCondition</choiceReferences>
            <choiceReferences>choice_DecisionContactToEmployee</choiceReferences>
            <choiceReferences>choice_DecisionContactToAgency</choiceReferences>
            <choiceReferences>choice_AccountDecisionApplication</choiceReferences>
            <choiceReferences>choice_SendApplicationForm</choiceReferences>
            <choiceReferences>choice_FirstStorageDocumentReminderNewMatter</choiceReferences>
            <choiceReferences>choice_StorageDocumentReminderNewMatter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>新規業務Chatterテンプレート</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_SelectNotificationDestinationGroup</name>
        <label>通知先選択</label>
        <locationX>1090</locationX>
        <locationY>728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>desicion_isAgency</targetReference>
        </connector>
        <fields>
            <name>input_NotificationDestination</name>
            <choiceReferences>choice_Agency</choiceReferences>
            <choiceReferences>choice_AgencyStaff</choiceReferences>
            <dataType>String</dataType>
            <fieldText>通知先</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1085</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_ChatterText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!var_NotificationDestination}] 
{!var_ChatterText}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChatterText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NotificationDestination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
