force-app/main/default/flows/CreateChatterTemplateCancel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_ChatterPost</name>
        <label>Chatter投稿</label>
        <locationX>890</locationX>
        <locationY>1900</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>screen_ChatterPostFinish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_ChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>get_Cancel.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>action_ChatterPost_0</name>
        <label>Chatter投稿</label>
        <locationX>1038</locationX>
        <locationY>1899</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>screen_ChatterPostFinish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_ChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>var_ChatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_ChatterText1</name>
        <label>変数割り当て</label>
        <locationX>605</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RetireExpectedRemindFeed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText10</name>
        <label>変数割り当て</label>
        <locationX>1343</locationX>
        <locationY>1570</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_AdjustmentContactCancelToAgency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText11</name>
        <label>変数割り当て</label>
        <locationX>451</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ApplicationResultNotice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText12</name>
        <label>変数割り当て</label>
        <locationX>1431</locationX>
        <locationY>1570</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_AbroadTaxPaymentAmountReport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText13</name>
        <label>変数割り当て</label>
        <locationX>367</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ProblemContentAdjustment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText14</name>
        <label>変数割り当て</label>
        <locationX>1506</locationX>
        <locationY>1569</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ConfirmToManagementCompany</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText15</name>
        <label>変数割り当て</label>
        <locationX>284</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveDateChangeCompletedNotice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText16</name>
        <label>変数割り当て</label>
        <locationX>1602</locationX>
        <locationY>1570</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RetireeListReminder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText2</name>
        <label>変数割り当て</label>
        <locationX>690</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_OnHoldCansellationDecisionApprovalFeed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText3</name>
        <label>変数割り当て</label>
        <locationX>794</locationX>
        <locationY>1572</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_OnHoldCansellationRealEstateDecisionFeed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText4</name>
        <label>変数割り当て</label>
        <locationX>893</locationX>
        <locationY>1568</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_LeaveGuidanceFeed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText5</name>
        <label>変数割り当て</label>
        <locationX>996</locationX>
        <locationY>1570</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_OnHoldNoticeDecisionApprovalFeed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText6</name>
        <label>変数割り当て</label>
        <locationX>1096</locationX>
        <locationY>1570</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_OnHoldNoticeRealEstateDecisionFeed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText7</name>
        <label>変数割り当て</label>
        <locationX>1171</locationX>
        <locationY>1570</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_ConfirmationDunningApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText8</name>
        <label>変数割り当て</label>
        <locationX>523</locationX>
        <locationY>1575</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ApplicationReminder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ChatterText9</name>
        <label>変数割り当て</label>
        <locationX>1254</locationX>
        <locationY>1570</locationY>
        <assignmentItems>
            <assignToReference>var_ChatterText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_AdjustmentContactCancelToContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_FromChat</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_AbroadTaxPaymentAmountReport</name>
        <choiceText>海外納税額報告(企業報告)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>海外納税額報告(企業報告)​</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_AdjustmentContactCancelToAgency</name>
        <choiceText>調整連絡(不動産)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>調整連絡(不動産)​</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_AdjustmentContactCancelToContact</name>
        <choiceText>調整連絡(企業社員)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>調整連絡(企業社員)​</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ApplicationReminder</name>
        <choiceText>申請督促</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>申請督促​</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ApplicationResultNotice</name>
        <choiceText>申請結果通知</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>申請結果通知</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_CancelCounter</name>
        <choiceText>解約申入れ先</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>解約申入れ先​</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_CancelCounterStaff</name>
        <choiceText>解約申入れ先担当者</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>解約申入れ先担当者​</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ConfirmationDunningApplication</name>
        <choiceText>確認書督促​</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>確認書督促​</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ConfirmToManagementCompany</name>
        <choiceText>管理会社に確認</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>管理会社に確認​</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveDateChangeCompletedNotice</name>
        <choiceText>退去日変更完了通知</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>退去日変更完了通知​</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_LeaveGuidanceFeed</name>
        <choiceText>退去案内</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>退去案内</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_OnHoldCansellationDecisionApprovalFeed</name>
        <choiceText>保留解除決裁承認</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>保留解除決裁承認</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_OnHoldCansellationRealEstateDecisionFeed</name>
        <choiceText>保留解除物件決定</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>保留解除物件決定</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_OnHoldNoticeDecisionApprovalFeed</name>
        <choiceText>保留通知決裁承認</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>保留通知決裁承認</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_OnHoldNoticeRealEstateDecision</name>
        <choiceText>保留通知物件決定</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>保留通知物件決定</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ProblemContentAdjustment</name>
        <choiceText>問題内容の調整</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>問題内容の調整</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_RetireeListReminder</name>
        <choiceText>退職者リスト督促</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>退職者リスト督促​</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_RetireExpectedRemindFeed</name>
        <choiceText>退去申請督促</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>退去申請督促</stringValue>
        </value>
    </choices>
    <decisions>
        <description>チャットオブジェクトからフローの呼び出しがあったかを判定する</description>
        <name>decision_FromChat</name>
        <label>チャットからのChatter投稿判定</label>
        <locationX>882</locationX>
        <locationY>1761</locationY>
        <defaultConnector>
            <targetReference>action_ChatterPost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isFromChat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>action_ChatterPost_0</targetReference>
            </connector>
            <label>チャットからのChatter投稿</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_isCancelCounter</name>
        <label>解約申入れ先通知先判定</label>
        <locationX>643</locationX>
        <locationY>831</locationY>
        <defaultConnector>
            <targetReference>get_Landlord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>解約申入れ先</defaultConnectorLabel>
        <rules>
            <name>isCancelCounterStaff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_NotificationDestination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_CancelCounterStaff</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_IsCancelCounterStaff</targetReference>
            </connector>
            <label>解約申入れ先担当者</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsCancelCounterStaff</name>
        <label>解約申入れ先担当者有無判定</label>
        <locationX>491</locationX>
        <locationY>904</locationY>
        <defaultConnector>
            <targetReference>get_CancelCounterStaff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>解約申入れ先担当者あり</defaultConnectorLabel>
        <rules>
            <name>isNotCancelCounterStaff</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Cancel.CancelCounterStaff__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Cancel.CancelCounterStaff__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>解約申入れ担当者なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsNotificationDestination</name>
        <label>ポータル利用判定</label>
        <locationX>881</locationX>
        <locationY>1289</locationY>
        <defaultConnector>
            <targetReference>decision_SelectTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ポータル利用あり</defaultConnectorLabel>
        <rules>
            <name>isNotNotificationDestination</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_NotificationDestination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_NotificationDestination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>ポータル利用なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsPortalGroup</name>
        <label>ポータル利用グループ判定</label>
        <locationX>661</locationX>
        <locationY>1181</locationY>
        <defaultConnector>
            <targetReference>decision_SelectTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ポータル利用あり</defaultConnectorLabel>
        <rules>
            <name>isNotPortalGroup</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_NotificationDestination</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_PortalUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>ポータル利用なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsProxyContact</name>
        <label>その他連絡先有無判定</label>
        <locationX>883</locationX>
        <locationY>889</locationY>
        <defaultConnector>
            <targetReference>get_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他連絡先あり</defaultConnectorLabel>
        <rules>
            <name>isNotProxyContact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Cancel.ProxyContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Cancel.ProxyContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PortalUserError</targetReference>
            </connector>
            <label>その他連絡先なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NotificationDestination</name>
        <label>通知先判定</label>
        <locationX>882</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>decision_IsProxyContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>企業社員</defaultConnectorLabel>
        <rules>
            <name>isCancelCounter</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_AdjustmentContactCancelToAgency</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ConfirmationDunningApplication</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ProblemContentAdjustment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ConfirmToManagementCompany</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_SelectNotificationDestinationGroup</targetReference>
            </connector>
            <label>解約窓口</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_SelectTemplate</name>
        <label>選択テンプレート判定</label>
        <locationX>887</locationX>
        <locationY>1452</locationY>
        <defaultConnector>
            <targetReference>assign_ChatterText16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>退職者リスト督促</defaultConnectorLabel>
        <rules>
            <name>IsRetireExpectedRemindFeed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_RetireExpectedRemindFeed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText1</targetReference>
            </connector>
            <label>退去申請督促</label>
        </rules>
        <rules>
            <name>IsOnHoldCansellationDecisionApprovalFeed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_OnHoldCansellationDecisionApprovalFeed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText2</targetReference>
            </connector>
            <label>保留解除決裁承認</label>
        </rules>
        <rules>
            <name>IsOnHoldCansellationRealEstateDecisionFeed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_OnHoldCansellationRealEstateDecisionFeed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText3</targetReference>
            </connector>
            <label>保留解除物件決定</label>
        </rules>
        <rules>
            <name>IsLeaveGuidanceFeed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveGuidanceFeed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText4</targetReference>
            </connector>
            <label>退去案内</label>
        </rules>
        <rules>
            <name>IsOnHoldNoticeDecisionApprovalFeed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_OnHoldNoticeDecisionApprovalFeed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText5</targetReference>
            </connector>
            <label>保留通知決裁承認</label>
        </rules>
        <rules>
            <name>IsOnHoldNoticeRealEstateDecisionFeed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_OnHoldNoticeRealEstateDecision</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText6</targetReference>
            </connector>
            <label>保留通知物件決定</label>
        </rules>
        <rules>
            <name>IsConfirmationDunningApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ConfirmationDunningApplication</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText7</targetReference>
            </connector>
            <label>確認書自動督促</label>
        </rules>
        <rules>
            <name>isApplicationReminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApplicationReminder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText8</targetReference>
            </connector>
            <label>申請督促</label>
        </rules>
        <rules>
            <name>isAdjustmentContactCancelToContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_AdjustmentContactCancelToContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText9</targetReference>
            </connector>
            <label>調整連絡(企業社員)</label>
        </rules>
        <rules>
            <name>isAdjustmentContactCancelToAgency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_AdjustmentContactCancelToAgency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText10</targetReference>
            </connector>
            <label>調整連絡(不動産)</label>
        </rules>
        <rules>
            <name>isApplicationResultNotice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ApplicationResultNotice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText11</targetReference>
            </connector>
            <label>申請結果通知</label>
        </rules>
        <rules>
            <name>isAbroadTaxPaymentAmountReport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_AbroadTaxPaymentAmountReport</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText12</targetReference>
            </connector>
            <label>海外納税額報告</label>
        </rules>
        <rules>
            <name>isProblemContentAdjustment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ProblemContentAdjustment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText13</targetReference>
            </connector>
            <label>問題内容の調整</label>
        </rules>
        <rules>
            <name>isConfirmToManagementCompany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ConfirmToManagementCompany</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText14</targetReference>
            </connector>
            <label>管理会社に確認</label>
        </rules>
        <rules>
            <name>isLeaveDateChangeCompletedNotice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_LeaveDateChangeCompletedNotice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ChatterText15</targetReference>
            </connector>
            <label>退去日変更完了通知</label>
        </rules>
    </decisions>
    <description>チャットオブジェクトからのChatter投稿にも対応</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_LeaveGuidanceFeed</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.LeaveGuidanceFeed__c}),
{!$Setup.DefaultFeedTemplate__c.AutoSendLeaveGuidance__c},
{!get_NotificationTemplate.LeaveGuidanceFeed__c})</expression>
    </formulas>
    <formulas>
        <name>formula_OnHoldCansellationDecisionApprovalFeed</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.OnHoldCansellationDecisionApprovalFeed__c}),
{!$Setup.DefaultFeedTemplate__c.OnHoldCansellationDecisionApproval__c},
{!get_NotificationTemplate.OnHoldCansellationDecisionApprovalFeed__c})</expression>
    </formulas>
    <formulas>
        <name>formula_OnHoldCansellationRealEstateDecisionFeed</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.OnHoldCansellationRealEstateDecisionFeed__c}),
{!$Setup.DefaultFeedTemplate__c.OnHoldCansellationRealEstateDecision__c},
{!get_NotificationTemplate.OnHoldCansellationRealEstateDecisionFeed__c})</expression>
    </formulas>
    <formulas>
        <name>formula_OnHoldNoticeDecisionApprovalFeed</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.OnHoldNoticeDecisionApprovalFeed__c}),
{!$Setup.DefaultFeedTemplate__c.OnHoldNoticeDecisionApproval__c},
{!get_NotificationTemplate.OnHoldNoticeDecisionApprovalFeed__c})</expression>
    </formulas>
    <formulas>
        <name>formula_OnHoldNoticeRealEstateDecisionFeed</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.OnHoldNoticeRealEstateDecisionFeed__c}) ,
{!$Setup.DefaultFeedTemplate__c.OnHoldNoticeRealEstateDecision__c},
{!get_NotificationTemplate.OnHoldNoticeRealEstateDecisionFeed__c})</expression>
    </formulas>
    <formulas>
        <name>formula_RetireExpectedRemindFeed</name>
        <dataType>String</dataType>
        <expression>if(isblank({!get_NotificationTemplate.RetireExpectedRemindFeed__c}),
{!$Setup.DefaultFeedTemplate__c.LeaveApplicationReminderCancel__c},
{!get_NotificationTemplate.RetireExpectedRemindFeed__c})</expression>
    </formulas>
    <interviewLabel>CA_Chatterテンプレート挿入(解約申入) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CA_Chatterテンプレート挿入(解約申入)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Cancel</name>
        <label>解約申入取得</label>
        <locationX>892</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NotificationTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cancel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CancelCounterStaff</name>
        <label>ユーザ取得</label>
        <locationX>497</locationX>
        <locationY>1056</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsNotificationDestination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Cancel.CancelCounterStaff__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_NotificationDestination</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_ChatterGroup</name>
        <label>Chatterグループ取得</label>
        <locationX>756</locationX>
        <locationY>1056</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PortalUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Landlord.Account__r.ChatterGroupId__c</elementReference>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>var_NotificationDestination</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Landlord</name>
        <label>家主取得</label>
        <locationX>755</locationX>
        <locationY>955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ChatterGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Cancel.CancelCounter__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Landlord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NotificationTemplate</name>
        <label>通知テンプレート取得</label>
        <locationX>892</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_SelectChatterTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Cancel.Account__r.NotificationTemplate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NotificationTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PortalUser</name>
        <label>ポータルユーザを取得</label>
        <locationX>669</locationX>
        <locationY>1050</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsPortalGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Landlord.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_User</name>
        <label>ユーザー取得</label>
        <locationX>890</locationX>
        <locationY>1023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsNotificationDestination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Cancel.ProxyContact__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_NotificationDestination</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>screen_ChatterInput</name>
        <label>Chatter入力画面</label>
        <locationX>891</locationX>
        <locationY>591</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_NotificationDestination</targetReference>
        </connector>
        <fields>
            <name>input_LeaveGuidanceFeed</name>
            <defaultValue>
                <stringValue>{!formula_LeaveGuidanceFeed}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_LeaveGuidanceFeed</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_OnHoldCansellationDecisionApprovalFeed</name>
            <defaultValue>
                <stringValue>{!formula_OnHoldCansellationDecisionApprovalFeed}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_OnHoldCansellationDecisionApprovalFeed</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_OnHoldCansellationRealEstateDecisionFeed</name>
            <defaultValue>
                <stringValue>{!formula_OnHoldCansellationRealEstateDecisionFeed}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_OnHoldCansellationRealEstateDecisionFeed</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_RetireExpectedRemindFeed</name>
            <defaultValue>
                <stringValue>{!formula_RetireExpectedRemindFeed}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_RetireExpectedRemindFeed</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_OnHoldNoticeDecisionApprovalFeed</name>
            <defaultValue>
                <stringValue>{!formula_OnHoldNoticeDecisionApprovalFeed}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_OnHoldNoticeDecisionApprovalFeed</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_OnHoldNoticeRealEstateDecisionFeed</name>
            <defaultValue>
                <stringValue>{!formula_OnHoldNoticeRealEstateDecisionFeed}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_OnHoldNoticeRealEstateDecision</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_ConfirmationDunningApplication</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ConfirmationDunningApplication__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ConfirmationDunningApplication</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ApplicationReminder</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ApplicationReminderCancel__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApplicationReminder</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_AdjustmentContactCancelToContact</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.AdjustmentContactCancelToContact__c}</stringValue>
            </defaultValue>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_AdjustmentContactCancelToContact</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_AdjustmentContactCancelToAgency</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.AdjustmentContactCancelToAgency__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_AdjustmentContactCancelToAgency</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ApplicationResultNotice</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ApplicationResultNotice__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ApplicationResultNotice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_AbroadTaxPaymentAmountReport</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.AbroadTaxPaymentAmountReport__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_AbroadTaxPaymentAmountReport</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ProblemContentAdjustment</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ProblemContentAdjustment__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ProblemContentAdjustment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ConfirmToManagementCompany</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.ConfirmToManagementCompany__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_ConfirmToManagementCompany</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_LeaveDateChangeCompletedNotice</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.LeaveDateChangeCompletedNotice__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_LeaveDateChangeCompletedNotice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_RetireeListReminder</name>
            <defaultValue>
                <stringValue>{!$Setup.DefaultFeedTemplate__c.RetireeListReminder__c}</stringValue>
            </defaultValue>
            <fieldText>Chatter内容入力</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CancelChatterTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_RetireeListReminder</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ChatterPostFinish</name>
        <label>Chatter通知完了画面</label>
        <locationX>890</locationX>
        <locationY>2036</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ChatterPostFinish</name>
            <fieldText>&lt;p&gt;Chatterへの通知が完了しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_PortalUserError</name>
        <label>ポータルユーザーエラー</label>
        <locationX>1188</locationX>
        <locationY>1159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_NotPortalUser</name>
            <fieldText>&lt;p&gt;この通知先はポータルユーザーではありません。&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_SelectChatterTemplate</name>
        <label>Chatterテンプレート選択画面</label>
        <locationX>893</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen_ChatterInput</targetReference>
        </connector>
        <fields>
            <name>input_CancelChatterTemplate</name>
            <choiceReferences>choice_ApplicationReminder</choiceReferences>
            <choiceReferences>choice_AdjustmentContactCancelToContact</choiceReferences>
            <choiceReferences>choice_AdjustmentContactCancelToAgency</choiceReferences>
            <choiceReferences>choice_ApplicationResultNotice</choiceReferences>
            <choiceReferences>choice_AbroadTaxPaymentAmountReport</choiceReferences>
            <choiceReferences>choice_ConfirmationDunningApplication</choiceReferences>
            <choiceReferences>choice_ProblemContentAdjustment</choiceReferences>
            <choiceReferences>choice_LeaveGuidanceFeed</choiceReferences>
            <choiceReferences>choice_ConfirmToManagementCompany</choiceReferences>
            <choiceReferences>choice_LeaveDateChangeCompletedNotice</choiceReferences>
            <choiceReferences>choice_RetireeListReminder</choiceReferences>
            <choiceReferences>choice_OnHoldCansellationDecisionApprovalFeed</choiceReferences>
            <choiceReferences>choice_OnHoldNoticeDecisionApprovalFeed</choiceReferences>
            <choiceReferences>choice_OnHoldCansellationRealEstateDecisionFeed</choiceReferences>
            <choiceReferences>choice_OnHoldNoticeRealEstateDecision</choiceReferences>
            <dataType>String</dataType>
            <fieldText>解約申入業務Chatterテンプレート</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_SelectNotificationDestinationGroup</name>
        <label>通知先選択</label>
        <locationX>752</locationX>
        <locationY>792</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_isCancelCounter</targetReference>
        </connector>
        <fields>
            <name>input_NotificationDestination</name>
            <choiceReferences>choice_CancelCounter</choiceReferences>
            <choiceReferences>choice_CancelCounterStaff</choiceReferences>
            <dataType>String</dataType>
            <fieldText>通知先</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>766</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Cancel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_ChatterText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!var_NotificationDestination}]
{!var_ChatterText}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChatterText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NotificationDestination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
