force-app/main/default/flows/DataManagementTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>decision_IsNew</name>
        <label>新規作成判定</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>flow_AssignChecker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>更新</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>新規作成</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>DM_データ管理トリガー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DM_データ管理トリガー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>decision_IsNew</targetReference>
        </connector>
        <object>DataManagement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_AssignChecker</name>
        <label>チェック者割り当て</label>
        <locationX>779</locationX>
        <locationY>555</locationY>
        <flowName>AssignCheckerDataManagement</flowName>
        <inputAssignments>
            <name>var_NewRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OldRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
