force-app/main/default/flows/DecisionApplicationCancel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_ApprovalDate</name>
        <label>承認期日割り当て</label>
        <locationX>937</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>var_AfterDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ApprovalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_DecisionApplicationStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Cancel_CommonInfo</name>
        <label>解約申入レコード割当_共通</label>
        <locationX>440</locationX>
        <locationY>2625</locationY>
        <assignmentItems>
            <assignToReference>get_Cancel.IsApprovalCheckTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_CancelCalculate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CancelCalculate_DecisionApplicationDate</name>
        <label>解約清算レコード割り当て_決裁申請日</label>
        <locationX>280</locationX>
        <locationY>2262</locationY>
        <assignmentItems>
            <assignToReference>get_CancelCalculate.DecisionApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CancelCalculate_DecisionApply</name>
        <label>解約清算レコード割り当て_決裁申請中</label>
        <locationX>655</locationX>
        <locationY>1788</locationY>
        <assignmentItems>
            <assignToReference>get_CancelCalculate.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>決裁申請中</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CancelCalculate_DecisionType</name>
        <label>解約清算レコード割り当て_決裁種別</label>
        <locationX>991</locationX>
        <locationY>1990</locationY>
        <assignmentItems>
            <assignToReference>get_CancelCalculate.DecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_DecisionType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_DecisionApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CancelCalculate_Reapplication2</name>
        <label>解約申請レコード割り当て_再申請日②</label>
        <locationX>523</locationX>
        <locationY>2262</locationY>
        <assignmentItems>
            <assignToReference>get_CancelCalculate.Reapplication2_ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CancelCalculate_Reapplication3</name>
        <label>解約清算レコード割り当て_再申請日③</label>
        <locationX>685</locationX>
        <locationY>2259</locationY>
        <assignmentItems>
            <assignToReference>get_CancelCalculate.Reapplication3_ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DecisionApplication</name>
        <label>決裁申請割り当て</label>
        <locationX>747</locationX>
        <locationY>1241</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.EmployeeNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.ContractorName__r.EmployeeNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.EmployeeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.ContractorName__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.EmployeeNameKana__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.Application__r.LastNameKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.EmployeeNameKana__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_CancelCalculate.Application__r.FirstNameKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Affiliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.ContractorName__r.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.RealEstateId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateNameKana__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.Kana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.RoomNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CorporateHousingCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.CorporateHousingType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.MoveNumOfPeople__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.Application__r.ResidentNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.Structure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Layout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Layout</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.SecurityDeposit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.SecurityDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Rent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.Rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CommonCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.CommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ManagementCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.ManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Garage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.ParkingFee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherContractMoney1Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CancelApprication__r.Rent__r.OtherTitle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherContractMoney1Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CancelApprication__r.Rent__r.OtherBillingAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.LeaveReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CancelApprication__r.CancelReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.LeaveDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.ActualLeaveDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.LastRentPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CancelApprication__r.LastRentDefraymentDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateAdress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateAdress__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateAdress__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateAdress__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.RoomNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.AmortisationDepreciation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.ExpenseDeposits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentMonthMinutesRent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CancelMonthRent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentMonthMinutesGarage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CancelMonthRateParking__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentMonthMinutesCommonCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CancelMonthCommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentMonthMinutesManagementCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CancelCustodyManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentOther1Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CustodyRentOther1Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentOther1Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CustodyRentOther1Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentOther2Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CustodyRentOther2Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentOther2Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CustodyRentOther2Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentOther3Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CustodyRentOther3Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentOther3Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CustodyRentOther3Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentOther4Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CustodyRentOther4Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyRentOther4Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CustodyRentOther4Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentMonthMinutesDailyRateRent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CancelMonthDailyRent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentDailyRateCommonCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.del_CancelMonthDailyCommonInterest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentMonthMinutesDailyRateGarage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.CancelMonthDailyAssumptionGarage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentDailyRateManagementCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.del_CancelMonthDailyManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentOther1Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.OtherName1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentOther1Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.OtherAmount1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentOther2Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.OtherName2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentOther2Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.OtherAmount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentOther3Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.BillingRentOther3Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentOther3Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.BillingRentOther3Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentOther4Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.BillingRentOther4Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingRentOther4Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.BillingRentOther4Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyDepositDeposit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.Deposit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyDepositGarageDeposit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.GarageDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyDepositAmortisationDepreciation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.ExpenseDeposits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyDepositPenalty1ExpenseItems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.Penalty1ExpenseItems__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyDepositPenalty1Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.Penalty1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyDepositPenalty1TaxCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.del_Penalty1TaxCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyDepositPenalty2ExpenseItems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.Penalty2ExpenseItems__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyDepositPenalty2Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.Penalty2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CustodyDepositPenalty2TaxCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.del_Penalty2TaxCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenovationBillingOriginalRecoveryCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.OriginalRepairCostSelfPayAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.PaymentDoneAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.PaymentDoneAmountManualInput__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.TransferCharges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.TransferFee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CancelCalculate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RentPayDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.PaymentDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.EmployeeName__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_CancelCalculate.RealEstate__r.ContractorName__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApprovalApplicationNote1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.ApprovalApplicationNote1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApprovalApplicationNote2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.ApprovalApplicationNote2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApprovalDeadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ApprovalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DecisionAuthority</name>
        <label>決裁権限割り当て</label>
        <locationX>417</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.DecisionAuthority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelCalculate.DecisionAuthority__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_StatusApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NewMatter_Reapplication1</name>
        <label>新規レコード割り当て_再申請日①</label>
        <locationX>400</locationX>
        <locationY>2265</locationY>
        <assignmentItems>
            <assignToReference>get_CancelCalculate.Reapplication1_ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_OutPutValue</name>
        <label>出力値割り当て</label>
        <locationX>741</locationX>
        <locationY>2907</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_DecisionApplication</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_ScreenInputVar</name>
        <label>画面入力内容割り当て</label>
        <locationX>945</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ReplyDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ReplyDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ConfirmItems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ConfirmItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ConfirmResult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ConfirmResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_StatusApproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_StatusApplication</name>
        <label>承認ステータス割り当て</label>
        <locationX>417</locationX>
        <locationY>1721</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>申請中</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CancelCalculate_DecisionApply</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_StatusApproval</name>
        <label>承認ステータス割り当て</label>
        <locationX>945</locationX>
        <locationY>1721</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>承認</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CancelCalculate_DecisionApply</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_ConfirmCheck</name>
        <label>各チェック項目を確認</label>
        <locationX>571</locationX>
        <locationY>263</locationY>
        <defaultConnector>
            <targetReference>get_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェック問題なし</defaultConnectorLabel>
        <rules>
            <name>CheckError</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.OperatorUncheckNumAuto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.OperatorUncheckNumManual__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.ReconfirmUncheckNum__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_ErrorCheck</targetReference>
            </connector>
            <label>チェック問題あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DecisionMethod</name>
        <label>決裁方法</label>
        <locationX>747</locationX>
        <locationY>1361</locationY>
        <defaultConnector>
            <targetReference>assign_ScreenInputVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SNT決裁</defaultConnectorLabel>
        <rules>
            <name>CompanyDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.DecisionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_DecisionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_IsDecisionAuthority</targetReference>
            </connector>
            <label>企業決裁</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DecisionMethod_0</name>
        <label>決裁方法</label>
        <locationX>427</locationX>
        <locationY>2457</locationY>
        <defaultConnector>
            <targetReference>decision_IsDecisionEndNotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SNT決裁</defaultConnectorLabel>
        <rules>
            <name>CompanyDecision_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.DecisionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_DecisionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Cancel_CommonInfo</targetReference>
            </connector>
            <label>企業決裁</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DecisionType</name>
        <label>決裁種別判定</label>
        <locationX>813</locationX>
        <locationY>1894</locationY>
        <defaultConnector>
            <targetReference>create_DecisionApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>登録済み</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.DecisionType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.DecisionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CancelCalculate_DecisionType</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsDecisionAuthority</name>
        <label>決裁権限有無</label>
        <locationX>549</locationX>
        <locationY>1481</locationY>
        <defaultConnector>
            <targetReference>screen_DecisionAuthorityError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>無</defaultConnectorLabel>
        <rules>
            <name>isTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.DecisionAuthority__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_DecisionAuthority</targetReference>
            </connector>
            <label>有</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsDecisionEndNotification</name>
        <label>決裁通知有無</label>
        <locationX>684</locationX>
        <locationY>2529</locationY>
        <defaultConnector>
            <targetReference>assign_Cancel_CommonInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>不要</defaultConnectorLabel>
        <rules>
            <name>NotificationIsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.Account__r.ServiceContractDecisionApplication__r.OwendDecisionEndNotice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>必要</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_NotificationTemplate</targetReference>
            </connector>
            <label>必要</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Reconfirm</name>
        <label>再査確認</label>
        <locationX>738</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>screen_ReconfirmDateError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>再査未完了</defaultConnectorLabel>
        <rules>
            <name>isProcessed1</name>
            <conditionLogic>1 AND (2 OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication1OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（初回）</label>
        </rules>
        <rules>
            <name>isProcessed2</name>
            <conditionLogic>1 AND (2 OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication2OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication1ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication1ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication1ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication1ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（再申請①）</label>
        </rules>
        <rules>
            <name>isProcessed3</name>
            <conditionLogic>1 AND (2 OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication3OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication2ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication2ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication2ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication2ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（再申請②）</label>
        </rules>
        <rules>
            <name>isProcessed4</name>
            <conditionLogic>(1 OR (2 AND 3)) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication3ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication3ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication3ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication3ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（再申請③）</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsHoliday</name>
        <label>休日判定</label>
        <locationX>740</locationX>
        <locationY>820</locationY>
        <defaultConnector>
            <targetReference>screen_DecisionApplicationStart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>休日</defaultConnectorLabel>
        <rules>
            <name>weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsHoliday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApprovalDate</targetReference>
            </connector>
            <label>平日</label>
        </rules>
    </decisions>
    <decisions>
        <description>直前フローにてToDoレコードを作成する必要があるかを確認
作成必要であればToDoリストを作成、なければスルー</description>
        <name>isToDo</name>
        <label>ToDoの有無</label>
        <locationX>798</locationX>
        <locationY>2650</locationY>
        <defaultConnector>
            <targetReference>assign_Cancel_CommonInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ToDoなし</defaultConnectorLabel>
        <rules>
            <name>isToDos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCol_ToDo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_ToDo</targetReference>
            </connector>
            <label>ToDoあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>JudgeAppliedApproval</name>
        <label>決裁申請済み判定</label>
        <locationX>532</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>screen_AppliedApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>決裁申請済み</defaultConnectorLabel>
        <rules>
            <name>NotAppliedApproval</name>
            <conditionLogic>(1 AND 2)OR(3 AND 4)OR(5 AND 6)OR(7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.DecisionApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isProcessed2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication1_ApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isProcessed3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication2_ApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isProcessed4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.Reapplication3_ApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HolidayDetermination</targetReference>
            </connector>
            <label>決裁未申請</label>
        </rules>
    </decisions>
    <decisions>
        <name>JudgeAppliedApprovalType</name>
        <label>決裁申請種類判定</label>
        <locationX>444</locationX>
        <locationY>2092</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NormalApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CancelCalculate_DecisionApplicationDate</targetReference>
            </connector>
            <label>決裁申請</label>
        </rules>
        <rules>
            <name>ReApproval1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_NewMatter_Reapplication1</targetReference>
            </connector>
            <label>再申請①</label>
        </rules>
        <rules>
            <name>ReApproval2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CancelCalculate_Reapplication2</targetReference>
            </connector>
            <label>再申請②</label>
        </rules>
        <rules>
            <name>ReApproval3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CancelCalculate_Reapplication3</targetReference>
            </connector>
            <label>再申請③</label>
        </rules>
    </decisions>
    <description>チェックによるロジックを追加。</description>
    <dynamicChoiceSets>
        <name>choiceList_DecisionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DecisionType__c</picklistField>
        <picklistObject>CancelCalculate__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formula_ApprovalDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!get_CancelCalculate.Account__r.ServiceContractDecisionApplication__r.CLApprovalDueDate__c}</expression>
    </formulas>
    <formulas>
        <name>formula_Layout</name>
        <dataType>String</dataType>
        <expression>TEXT({!get_CancelCalculate.RealEstate__r.LayoutNum__c})&amp;{!get_CancelCalculate.RealEstate__r.LayoutType__c}</expression>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>DA_決裁申請(解約) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DA_決裁申請(解約)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_DecisionApplication</name>
        <label>決裁申請を作成</label>
        <locationX>586</locationX>
        <locationY>1991</locationY>
        <connector>
            <targetReference>JudgeAppliedApprovalType</targetReference>
        </connector>
        <inputReference>var_DecisionApplication</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_ToDo</name>
        <label>ToDoの作成</label>
        <locationX>660</locationX>
        <locationY>2684</locationY>
        <connector>
            <targetReference>assign_Cancel_CommonInfo</targetReference>
        </connector>
        <inputReference>varCol_ToDo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Cancel</name>
        <label>解約申入レコードを取得</label>
        <locationX>740</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Reconfirm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CancelCalculate.CancelApprication__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cancel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CancelCalculate</name>
        <label>解約精算レコードを取得</label>
        <locationX>738</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_ConfirmCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CancelCalculate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NotificationTemplate</name>
        <label>通知テンプレートを取得</label>
        <locationX>940</locationX>
        <locationY>2549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MB_identifyChat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CancelCalculate.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NotificationTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordType</name>
        <label>レコードタイプを取得</label>
        <locationX>747</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_DecisionApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DecisionApplication2__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Cancel</name>
        <label>解約申入レコードを更新</label>
        <locationX>444</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>screen_End</targetReference>
        </connector>
        <inputReference>get_Cancel</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約清算レコードを更新</label>
        <locationX>423</locationX>
        <locationY>2745</locationY>
        <connector>
            <targetReference>update_Cancel</targetReference>
        </connector>
        <inputReference>get_CancelCalculate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_AppliedApproval</name>
        <label>決裁申請済エラー画面</label>
        <locationX>348</locationX>
        <locationY>545</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ErrorText1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Open Sans&amp;quot;, Meiryo, メイリオ, Arial, sans-serif; color: rgb(240, 8, 8);&quot;&gt;すでに決裁申請済みです。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_DecisionApplicationStart</name>
        <label>決裁申請作成確認画面</label>
        <locationX>748</locationX>
        <locationY>988</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_RecordType</targetReference>
        </connector>
        <fields>
            <name>display_StartDisplay</name>
            <fieldText>&lt;p&gt;決裁申請レコードを作成します。&lt;/p&gt;&lt;p&gt;よろしいですか？&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_ApprovalDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>var_AfterDate</elementReference>
            </defaultValue>
            <fieldText>決裁申請承認期日</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_CancelCalculate.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>企業決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ReplyDueDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>formula_Today</elementReference>
            </defaultValue>
            <fieldText>返信期日</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_CancelCalculate.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ConfirmItems</name>
            <dataType>String</dataType>
            <fieldText>確認事項</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_CancelCalculate.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ConfirmResult</name>
            <dataType>String</dataType>
            <fieldText>確認結果</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_CancelCalculate.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_DecisionType</name>
            <choiceReferences>choiceList_DecisionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>決裁種別</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;決裁種別は解約精算レコードの項目です。&lt;/p&gt;&lt;p&gt;この項目に入力した値が解約精算レコードの決裁種別項目に反映されます。&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_CancelCalculate.DecisionType__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_DecisionAuthorityError</name>
        <label>エラー表示</label>
        <locationX>681</locationX>
        <locationY>1601</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_SNTText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;更新レコードに決裁権限が登録されていません。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_End</name>
        <label>完了画面</label>
        <locationX>575</locationX>
        <locationY>2771</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_OutPutValue</targetReference>
        </connector>
        <fields>
            <name>display_End</name>
            <fieldText>&lt;p&gt;決裁申請レコードを作成しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_ErrorCheck</name>
        <label>チェックエラー画面</label>
        <locationX>345</locationX>
        <locationY>276</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_CheckError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;完了していないチェック項目があります。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_ReconfirmDateError</name>
        <label>再査未完了エラー画面</label>
        <locationX>945</locationX>
        <locationY>452</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_StartDisplay_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;再査が完了していません。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;再査を完了してから再度実行してください。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>612</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_CancelCalculate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_AutoNotificationCancelCalculate</name>
        <label>CL_自動通知（解約精算）</label>
        <locationX>914</locationX>
        <locationY>2731</locationY>
        <connector>
            <targetReference>isToDo</targetReference>
        </connector>
        <flowName>AutoNotificationCancelCalculate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultFeedTemplate</name>
            <value>
                <elementReference>$Setup.DefaultFeedTemplate__c.ContactAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultMailTemplate__c.ContactAccountCancel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>get_CancelCalculate.Application__r.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputChatId</name>
            <value>
                <elementReference>var_ChatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputContactId</name>
            <value>
                <elementReference>get_CancelCalculate.CorporateHousingStaff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>get_CancelCalculate.CorporateHousingStaff__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmailTemplate</name>
            <value>
                <elementReference>get_NotificationTemplate.ContactAccountCancelCalculateEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFeedTemplete</name>
            <value>
                <elementReference>get_NotificationTemplate.ContactAccountCancelCalculateFeed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <elementReference>var_isJudgeChat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <elementReference>get_NotificationTemplate.ApprovalContactCancelEmail__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCol_ToDo</assignToReference>
            <name>varCol_Todo</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>HolidayDetermination</name>
        <label>HO_休日判定/日程スライド</label>
        <locationX>746</locationX>
        <locationY>635</locationY>
        <connector>
            <targetReference>IsHoliday</targetReference>
        </connector>
        <flowName>DecisionHolidayAndMoveToWeekday</flowName>
        <inputAssignments>
            <name>var_InputDate</name>
            <value>
                <elementReference>formula_ApprovalDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_AfterDate</assignToReference>
            <name>var_AfterDate_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_IsHoliday</assignToReference>
            <name>var_IsHoliday_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MB_identifyChat</name>
        <label>MB_チャット特定フロー</label>
        <locationX>1043</locationX>
        <locationY>2657</locationY>
        <connector>
            <targetReference>flow_AutoNotificationCancelCalculate</targetReference>
        </connector>
        <flowName>MB_IdentifyChat</flowName>
        <inputAssignments>
            <name>var_OperationId</name>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SNT_CorporateHousingCompany</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_ChatId</assignToReference>
            <name>var_ChatId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_isJudgeChat</assignToReference>
            <name>var_isJudgeChat</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AfterDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BeforeDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CLCheckCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_DecisionApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DecisionApplication2__c</objectType>
    </variables>
    <variables>
        <name>var_DecisionApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_IsHoliday</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_isJudgeChat</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OperationCheckNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCol_ToDo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
