force-app/main/default/flows/DecisionApplicationConditionChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_ApprovalDate</name>
        <label>承認期日割り当て（平日の場合）</label>
        <locationX>792</locationX>
        <locationY>1072</locationY>
        <assignmentItems>
            <assignToReference>var_AfterDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ApprovalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_DecisionApplicationStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ApprovalDate_0</name>
        <label>承認期日割り当て（平日の場合）</label>
        <locationX>362</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>var_LegalAfterDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_LegalApprovalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_isLegal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ConditionChange_Apply</name>
        <label>条件変更レコード割り当て_申請中</label>
        <locationX>512</locationX>
        <locationY>2283</locationY>
        <assignmentItems>
            <assignToReference>get_ConditionChange.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>申請中</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ConditionChange_DecisionType</name>
        <label>条件変更レコード割り当て_決裁種別</label>
        <locationX>866</locationX>
        <locationY>2459</locationY>
        <assignmentItems>
            <assignToReference>get_ConditionChange.DecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_DecisionType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_DecisionApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ConditionChange_Reapplication1</name>
        <label>条件変更レコード割り当て_再申請日①</label>
        <locationX>396</locationX>
        <locationY>2732</locationY>
        <assignmentItems>
            <assignToReference>get_ConditionChange.Reapplication1_ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ConditionChange_Reapplication2</name>
        <label>条件変更レコード割り当て_再申請日②</label>
        <locationX>554</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>get_ConditionChange.Reapplication2_ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ConditionChange_Reapplication3</name>
        <label>条件変更レコード割り当て_再申請日③</label>
        <locationX>705</locationX>
        <locationY>2720</locationY>
        <assignmentItems>
            <assignToReference>get_ConditionChange.Reapplication3_ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DecisionApplication</name>
        <label>決裁申請割り当て</label>
        <locationX>590</locationX>
        <locationY>1636</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.EmployeeNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.RealEstate__r.ContractorName__r.EmployeeNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.RealEstate__r.RealEstateId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenterName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landlord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling1FieldsName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense1Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling1Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense1Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling1TaxCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense1TaxCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling2FieldsName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense2Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling2Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense2Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling2TaxCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense2TaxCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling4FieldsName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense4Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling4Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense4Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling4TaxCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense4TaxCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RentCurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.Rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RentNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewRent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CommonChargeCurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.PreviousCommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CommonChargeNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewCommonCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ManagementChargeCurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.ManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ManagementChargeNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewManagementCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.GarageCurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.Garage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.GarageNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewGarage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.DepositCurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.PreviousSecurityDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.DepositNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewSecurityDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalTermsChangeOther1Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherFields1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalTermsOther1CurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherAmount1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalTermsOther1NewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewOtherAmount1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalTermsChangeOther2Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherAmount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalTermsOther2NewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewOtherAmount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalTermsChangeOther3Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherFields3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalTermsOther3CurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherAmount3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalTermsOther3NewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewOtherAmount3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalTermsChangeOther4Fields__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherFields4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalTermsOther4CurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherAmount4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RenewalTermsOther4NewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewOtherAmount4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateNameCurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.RealEstateName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateNameNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewRealEstateName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RoomNumCurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.RoomNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RoomNumNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewRoomNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.AdressCurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.RealEstateAdress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.AdressNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewRealEstateAdress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ContractTermBeginningCurrentContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.ContractBeginning__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ContractTermEndDateCurrentContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.ContractEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ContractTermBeginningNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewContractTermStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ContractTermEndDateNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewContractTermEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.LenderNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewLandlord__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.LenderProxyCurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.LenderProxy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.LenderProxyNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewLenderProxy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ManagementCompanyCurrentContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.ManagementCompany__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ManagementCompanyNewContractContent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.NewManagementCompany__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ChangeMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.ChangeContentChangeYearMonth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.PriceIncreaseCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.ChangeContentPriceIncreaseType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.NewRentRemittanceStartMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.ChangeContentRemittanceStartYearMonth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.BillingDeficiency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.DeficiencyCalculateAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.TermsChangeApplicationOther__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ConditionChange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling3FieldsName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense3Fields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling3Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense3Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling3TaxCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.OtherProcedureExpense3TaxCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.EmployeeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.RealEstate__r.ContractorName__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CalculateMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.DeficiencyCalculateCalculateMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.NewRentBillingStartMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NewRentBillingStartMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.EmployeeName__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_ConditionChange.RealEstate__r.ContractorName__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApprovalApplicationNote1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.ApprovalApplicationNote1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApprovalApplicationNote2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.ApprovalApplicationNote2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApprovalDeadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ApprovalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CorporateHousingCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.CorporateHousingType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DecisionAuthority</name>
        <label>決裁権限割り当て</label>
        <locationX>235</locationX>
        <locationY>2026</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.DecisionAuthority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.DecisionAuthority__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_StatusApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_isLegal</name>
        <label>リーガル申請同時申請有無割り当て</label>
        <locationX>513</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>var_isLegal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ConditionChange.Account__r.ServiceContractDecisionApplication__r.LegalApplicationSimultaneousApplication__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HolidayDetermination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NewMatter_DecisionApplicationDate</name>
        <label>条件変更レコード割り当て_決裁申請日</label>
        <locationX>169</locationX>
        <locationY>2656</locationY>
        <assignmentItems>
            <assignToReference>get_ConditionChange.DecisionApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_OutPutValue</name>
        <label>出力値割り当て</label>
        <locationX>565</locationX>
        <locationY>3490</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_DecisionApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_LegalApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ScreenInputVar</name>
        <label>画面入力内容割り当て</label>
        <locationX>763</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ConfirmItems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ConfirmItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ConfirmResult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ConfirmResult</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ReplyDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ReplyDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_StatusApproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_StatusApplication</name>
        <label>承認ステータス割り当て</label>
        <locationX>235</locationX>
        <locationY>2146</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>申請中</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ConditionChange_Apply</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_StatusApproval</name>
        <label>承認ステータス割り当て</label>
        <locationX>764</locationX>
        <locationY>2146</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>承認</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ConditionChange_Apply</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_ConfirmCheck</name>
        <label>各チェック項目を確認</label>
        <locationX>471</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>decision_Reconfirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェック問題なし</defaultConnectorLabel>
        <rules>
            <name>CheckError</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.OperatorUncheckNumAuto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.OperatorUncheckNumManual__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.ReconfirmUncheckNum__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_ErrorCheck</targetReference>
            </connector>
            <label>チェック問題あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DecisionMethod</name>
        <label>決済方法</label>
        <locationX>565</locationX>
        <locationY>1786</locationY>
        <defaultConnector>
            <targetReference>assign_ScreenInputVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SNT決裁</defaultConnectorLabel>
        <rules>
            <name>CompanyDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.DecisionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_DecisionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_IsDecisionAuthority</targetReference>
            </connector>
            <label>企業決済</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DecisionMethod_0</name>
        <label>決済方法</label>
        <locationX>463</locationX>
        <locationY>2924</locationY>
        <defaultConnector>
            <targetReference>decision_IsDecisionEndNotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SNT決裁</defaultConnectorLabel>
        <rules>
            <name>CompanyDecision_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.DecisionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_DecisionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_ConditionChange</targetReference>
            </connector>
            <label>企業決済</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DecisionType</name>
        <label>決裁種別判定</label>
        <locationX>706</locationX>
        <locationY>2373</locationY>
        <defaultConnector>
            <targetReference>create_DecisionApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>登録済み</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.DecisionType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.DecisionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ConditionChange_DecisionType</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsDecisionAuthority</name>
        <label>決裁権限有無</label>
        <locationX>367</locationX>
        <locationY>1906</locationY>
        <defaultConnector>
            <targetReference>screen_DecisionAuthorityError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>無</defaultConnectorLabel>
        <rules>
            <name>IsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.DecisionAuthority__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_DecisionAuthority</targetReference>
            </connector>
            <label>有</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsDecisionEndNotification</name>
        <label>決裁終了通知有無</label>
        <locationX>645</locationX>
        <locationY>3066</locationY>
        <defaultConnector>
            <targetReference>update_ConditionChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>不要</defaultConnectorLabel>
        <rules>
            <name>NotificationIsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.Account__r.ServiceContractDecisionApplication__r.OwendDecisionEndNotice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>必要</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_NotificationTemplate</targetReference>
            </connector>
            <label>必要</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsNotNullCollection</name>
        <label>ToDoコレクション変数Nullチェック</label>
        <locationX>658</locationX>
        <locationY>3173</locationY>
        <defaultConnector>
            <targetReference>update_ConditionChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>値なし</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flow_AutoNotificationConditionChange.varCol_ToDo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_ToDo</targetReference>
            </connector>
            <label>値あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_LegalApplication</name>
        <label>リーガル申請有無</label>
        <locationX>563</locationX>
        <locationY>3610</locationY>
        <defaultConnectorLabel>無</defaultConnectorLabel>
        <rules>
            <name>IsTrueRegalApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.Account__r.ServiceContractDecisionApplication__r.LegalApplicationSimultaneousApplication__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>frow_CreateLegalApplication</targetReference>
            </connector>
            <label>有</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_LegalApplication_0</name>
        <label>リーガル申請有無</label>
        <locationX>592</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>HolidayDetermination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>無</defaultConnectorLabel>
        <rules>
            <name>IsTrueRegalApplication_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.Account__r.ServiceContractDecisionApplication__r.LegalApplicationSimultaneousApplication__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HolidayDetermination_0</targetReference>
            </connector>
            <label>リーガル申請有</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Reconfirm</name>
        <label>再査確認</label>
        <locationX>601</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>screen_ReconfirmDateError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>再査未完了</defaultConnectorLabel>
        <rules>
            <name>isProcessed1</name>
            <conditionLogic>1 AND (2 OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication1OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.ReconfirmReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.ReconfirmReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（初回）</label>
        </rules>
        <rules>
            <name>isProcessed2</name>
            <conditionLogic>1 AND (2 OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication2OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication1ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication1ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication1ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication1ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（再申請①）</label>
        </rules>
        <rules>
            <name>isProcessed3</name>
            <conditionLogic>1 AND (2 OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication3OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication2ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication2ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication2ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication2ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（再申請②）</label>
        </rules>
        <rules>
            <name>isProcessed4</name>
            <conditionLogic>(1 OR (2 AND 3)) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication3ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication3ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication3ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication3ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（再申請③）</label>
        </rules>
    </decisions>
    <decisions>
        <description>休日判定スライドのサブフローのvar_InputDateが平日だった場合、var_BeforeDateはnullになってしまうため、割り当てが必要になる</description>
        <name>isHoliday</name>
        <label>休日判定</label>
        <locationX>572</locationX>
        <locationY>1066</locationY>
        <defaultConnector>
            <targetReference>screen_DecisionApplicationStart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>休日</defaultConnectorLabel>
        <rules>
            <name>Weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_isHoliday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApprovalDate</targetReference>
            </connector>
            <label>平日</label>
        </rules>
    </decisions>
    <decisions>
        <description>休日判定スライドのサブフローのvar_InputDateが平日だった場合、var_LegalBeforeDateはnullになってしまうため、割り当てが必要になる</description>
        <name>isHoliday_0</name>
        <label>休日判定</label>
        <locationX>363</locationX>
        <locationY>725</locationY>
        <defaultConnector>
            <targetReference>assign_isLegal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>休日</defaultConnectorLabel>
        <rules>
            <name>Weekday_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_isHoliday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApprovalDate_0</targetReference>
            </connector>
            <label>平日</label>
        </rules>
    </decisions>
    <decisions>
        <name>JudgeAppliedApproval</name>
        <label>決裁申請済み判定</label>
        <locationX>864</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>screen_AppliedApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>決裁申請済み</defaultConnectorLabel>
        <rules>
            <name>NotAppliedApproval</name>
            <conditionLogic>(1 AND 2)OR(3 AND 4)OR(5 AND 6)OR(7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.DecisionApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isProcessed2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication1_ApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isProcessed3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication2_ApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isProcessed4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ConditionChange.Reapplication3_ApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_LegalApplication_0</targetReference>
            </connector>
            <label>決裁未申請</label>
        </rules>
    </decisions>
    <decisions>
        <name>JudgeAppliedApprovalType</name>
        <label>決裁申請種類判定</label>
        <locationX>442</locationX>
        <locationY>2613</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NormalApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_NewMatter_DecisionApplicationDate</targetReference>
            </connector>
            <label>決裁申請</label>
        </rules>
        <rules>
            <name>ReApproval1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ConditionChange_Reapplication1</targetReference>
            </connector>
            <label>再申請①</label>
        </rules>
        <rules>
            <name>ReApproval2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ConditionChange_Reapplication2</targetReference>
            </connector>
            <label>再申請②</label>
        </rules>
        <rules>
            <name>ReApproval3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ConditionChange_Reapplication3</targetReference>
            </connector>
            <label>再申請③</label>
        </rules>
    </decisions>
    <description>条件変更チェックの判定を追加</description>
    <dynamicChoiceSets>
        <name>choiceList_DecisionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DecisionType__c</picklistField>
        <picklistObject>CancelCalculate__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formula_ApprovalDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!get_ConditionChange.Account__r.ServiceContractDecisionApplication__r.CCApprovalDueDate__c}</expression>
    </formulas>
    <formulas>
        <name>formula_LegalApprovalDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!get_ConditionChange.Account__r.ServiceContractDecisionApplication__r.LEApprovalDueDate__c}</expression>
    </formulas>
    <formulas>
        <name>formula_NewRentBillingStartMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH({!get_ConditionChange.DeficiencyCalculateBillingStartYearMonth__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>DA_決裁申請(更新) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DA_決裁申請(条件変更)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_DecisionApplication</name>
        <label>決裁申請を作成</label>
        <locationX>544</locationX>
        <locationY>2482</locationY>
        <connector>
            <targetReference>JudgeAppliedApprovalType</targetReference>
        </connector>
        <inputReference>var_DecisionApplication</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_ToDo</name>
        <label>ToDoレコードの作成</label>
        <locationX>598</locationX>
        <locationY>3253</locationY>
        <connector>
            <targetReference>update_ConditionChange</targetReference>
        </connector>
        <inputReference>flow_AutoNotificationConditionChange.varCol_ToDo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_ConditionChange</name>
        <label>条件変更レコードを取得</label>
        <locationX>612</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_ConfirmCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ConditionChange__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Landlord</name>
        <label>代表家主を取得</label>
        <locationX>572</locationX>
        <locationY>1336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ConditionChange.RealEstate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TraderType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>家主</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsRepresentativeLender__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Landlord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NotificationTemplate</name>
        <label>通知テンプレートを取得</label>
        <locationX>900</locationX>
        <locationY>3114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MB_identifyChat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ConditionChange.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NotificationTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordType</name>
        <label>レコードタイプを取得</label>
        <locationX>570</locationX>
        <locationY>1501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_DecisionApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ConditionChange</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DecisionApplication2__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_ConditionChange</name>
        <label>条件変更レコードを更新</label>
        <locationX>420</locationX>
        <locationY>3265</locationY>
        <connector>
            <targetReference>screen_End</targetReference>
        </connector>
        <inputReference>get_ConditionChange</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_AppliedApproval</name>
        <label>決裁申請済エラー画面</label>
        <locationX>1071</locationX>
        <locationY>521</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ErrorText1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Open Sans&amp;quot;, Meiryo, メイリオ, Arial, sans-serif; color: rgb(240, 8, 8);&quot;&gt;すでに決裁申請済みです。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_DecisionApplicationStart</name>
        <label>決裁申請作成確認画面</label>
        <locationX>570</locationX>
        <locationY>1193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Landlord</targetReference>
        </connector>
        <fields>
            <name>display_StartDisplay</name>
            <fieldText>&lt;p&gt;決裁申請レコードを作成します。&lt;/p&gt;&lt;p&gt;よろしいですか？&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_ApprovalDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>var_AfterDate</elementReference>
            </defaultValue>
            <fieldText>決裁申請承認期日</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_ConditionChange.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>企業決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ReplyDueDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>formula_Today</elementReference>
            </defaultValue>
            <fieldText>返信期日</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_ConditionChange.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ConfirmItems</name>
            <dataType>String</dataType>
            <fieldText>確認事項</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_ConditionChange.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ConfirmResult</name>
            <dataType>String</dataType>
            <fieldText>確認結果</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_ConditionChange.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_LegalApprovalDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>var_LegalAfterDate</elementReference>
            </defaultValue>
            <fieldText>リーガル申請承認期日</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>var_isLegal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_DecisionType</name>
            <choiceReferences>choiceList_DecisionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>決裁種別</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;決裁種別は条件変更レコードの項目です。&lt;/p&gt;&lt;p&gt;この項目に入力した値が条件変更レコードの決裁種別項目に反映されます。&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_ConditionChange.DecisionType__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_DecisionAuthorityError</name>
        <label>エラー表示</label>
        <locationX>499</locationX>
        <locationY>2026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_SNTText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;更新レコードに決裁権限が登録されていません。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_End</name>
        <label>完了画面</label>
        <locationX>565</locationX>
        <locationY>3370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_OutPutValue</targetReference>
        </connector>
        <fields>
            <name>display_End</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;決裁申請レコードを作成しました。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_ErrorCheck</name>
        <label>チェックエラー画面</label>
        <locationX>314</locationX>
        <locationY>281</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ErrorCheck</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(250, 0, 0);&quot;&gt;完了していないチェック項目があります。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_ReconfirmDateError</name>
        <label>再査未完了エラー画面</label>
        <locationX>931</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;再査が完了していません。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;再査を完了してから再度実行してください。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_ConditionChange</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_AutoNotificationConditionChange</name>
        <label>CC_自動通知（条件変更）</label>
        <locationX>752</locationX>
        <locationY>3240</locationY>
        <connector>
            <targetReference>decision_IsNotNullCollection</targetReference>
        </connector>
        <flowName>AutoNotificationConditionChange</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ChatID</name>
            <value>
                <elementReference>MB_identifyChat.var_ChatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultFeedTemplate</name>
            <value>
                <elementReference>$Setup.DefaultFeedTemplate__c.ContactAccountConditionChange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultMailTemplate__c.ContactAccountConditionChange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputContactId</name>
            <value>
                <elementReference>get_ConditionChange.CorporateHousingStaff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>get_ConditionChange.CorporateHousingStaff__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmailTemplate</name>
            <value>
                <elementReference>get_NotificationTemplate.ContactAccountConditionChangeFeed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFeedTemplete</name>
            <value>
                <elementReference>get_NotificationTemplate.ContactAccountConditionChangeFeed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <elementReference>MB_identifyChat.var_isJudgeChat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>frow_CreateLegalApplication</name>
        <label>DA_リーガル申請作成</label>
        <locationX>433</locationX>
        <locationY>3730</locationY>
        <flowName>CreateLegalApplication</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DecisionApplicationId</name>
            <value>
                <elementReference>var_DecisionApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_LegalApprovalDate</name>
            <value>
                <elementReference>input_LegalApprovalDate</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>HolidayDetermination</name>
        <label>HO_休日判定/日程スライド</label>
        <locationX>604</locationX>
        <locationY>850</locationY>
        <connector>
            <targetReference>isHoliday</targetReference>
        </connector>
        <flowName>DecisionHolidayAndMoveToWeekday</flowName>
        <inputAssignments>
            <name>var_InputDate</name>
            <value>
                <elementReference>formula_ApprovalDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_AfterDate</assignToReference>
            <name>var_AfterDate_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_isHoliday</assignToReference>
            <name>var_IsHoliday_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>HolidayDetermination_0</name>
        <label>HO_休日判定/日程スライド</label>
        <locationX>374</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>isHoliday_0</targetReference>
        </connector>
        <flowName>DecisionHolidayAndMoveToWeekday</flowName>
        <inputAssignments>
            <name>var_InputDate</name>
            <value>
                <elementReference>formula_LegalApprovalDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_LegalAfterDate</assignToReference>
            <name>var_AfterDate_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_isHoliday</assignToReference>
            <name>var_IsHoliday_Output</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MB_identifyChat</name>
        <label>MB_チャット特定フロー</label>
        <locationX>912</locationX>
        <locationY>3246</locationY>
        <connector>
            <targetReference>flow_AutoNotificationConditionChange</targetReference>
        </connector>
        <flowName>MB_IdentifyChat</flowName>
        <inputAssignments>
            <name>var_OperationId</name>
            <value>
                <elementReference>get_ConditionChange.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SNT_CorporateHousingCompany</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AfterDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BeforeDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CCCheckCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_DecisionApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DecisionApplication2__c</objectType>
    </variables>
    <variables>
        <name>var_DecisionApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_isHoliday</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_isLegal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LegalAfterDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LegalBeforeDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
