force-app/main/default/flows/DecisionApplicationGarageCertification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_ApprovalDate</name>
        <label>承認期日割り当て</label>
        <locationX>875</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>var_AfterDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ApprovalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_DecisionApplicationStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DecisionApplication</name>
        <label>決裁申請割り当て</label>
        <locationX>582</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling1FieldsName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.OtherFields1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling1Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.OtherAmount1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling2FieldsName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.OtherFields2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling2Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.OtherAmount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling1TaxCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.OtherTaxCategory1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.OtherBilling2TaxCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.OtherTaxCategory2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApprovalApplicationNote1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.ApprovalApplicationNote1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApprovalApplicationNote2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.ApprovalApplicationNote2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ApprovalDeadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ApprovalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.GarageCertification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.GarageCertificationFeeCharges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.IssueCharges__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.GarageCertificationTaxCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.GarageCertificationTaxCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.PrepaymentParkingFeeChargeTotal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.PrepaymentTotalAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.EmployeeNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.EmployeeNo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.EmployeeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.ResidentName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Affiliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateNameKana__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.Kana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.RoomNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.RealEstateAdress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ThisMonthParkingFee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.ThisMonthPaymentParkingFee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Garage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.NextMonthPaymentParkingFee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.EmployeeNameKana__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.ReidentNameKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ConfirmItems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ConfirmItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ConfirmResult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ConfirmResult</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.CorporateHousingCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.CorporateHousingType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ParkingFeeTaxCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.NextMonthPaymentParkingFeeTaxCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ThisMonthParkingFeeTaxCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.ThisMonthPaymentParkingFeeTaxCategory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DecisionAuthority</name>
        <label>決裁権限割り当て</label>
        <locationX>251</locationX>
        <locationY>1582</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.DecisionAuthority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GC.DecisionAuthority__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_StatusApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GC_Apply</name>
        <label>車庫証明レコード割り当て_申請中</label>
        <locationX>366</locationX>
        <locationY>1816</locationY>
        <assignmentItems>
            <assignToReference>get_GC.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>申請中</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GC_Dealing</name>
        <label>車庫証明レコード割り当て_対応中</label>
        <locationX>610</locationX>
        <locationY>1820</locationY>
        <assignmentItems>
            <assignToReference>get_GC.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>対応中（精算等）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GC_DecisionApplicationDate</name>
        <label>車庫証明レコード割り当て_決裁申請日</label>
        <locationX>282</locationX>
        <locationY>2142</locationY>
        <assignmentItems>
            <assignToReference>get_GC.DecisionApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GC_DecisionType</name>
        <label>車庫証明レコード割り当て_決裁種別</label>
        <locationX>825</locationX>
        <locationY>1963</locationY>
        <assignmentItems>
            <assignToReference>get_GC.DecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_DecisionType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_DecisionApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GC_Reapplication1</name>
        <label>車庫証明レコード割り当て_再申請日①</label>
        <locationX>383</locationX>
        <locationY>2244</locationY>
        <assignmentItems>
            <assignToReference>get_GC.Reapplication1_ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GC_Reapplication2</name>
        <label>車庫証明レコード割り当て_再申請日②</label>
        <locationX>506</locationX>
        <locationY>2345</locationY>
        <assignmentItems>
            <assignToReference>get_GC.Reapplication2_ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_GC_Reapplication3</name>
        <label>車庫証明レコード割り当て_再申請日③</label>
        <locationX>603</locationX>
        <locationY>2374</locationY>
        <assignmentItems>
            <assignToReference>get_GC.Field1Reapplication3_ApplicationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_DecisionMethod_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ScreenInputVar</name>
        <label>画面入力内容割り当て</label>
        <locationX>779</locationX>
        <locationY>1582</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ConfirmItems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ConfirmItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ConfirmResult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ConfirmResult</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.ReplyDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ReplyDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_StatusApproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_StatusApplication</name>
        <label>承認ステータス割り当て</label>
        <locationX>251</locationX>
        <locationY>1702</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>申請中</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_GC_Apply</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_StatusApproval</name>
        <label>承認ステータス割り当て</label>
        <locationX>779</locationX>
        <locationY>1702</locationY>
        <assignmentItems>
            <assignToReference>var_DecisionApplication.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>承認</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_GC_Dealing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_DecisionMethod</name>
        <label>決済方法</label>
        <locationX>581</locationX>
        <locationY>1342</locationY>
        <defaultConnector>
            <targetReference>assign_ScreenInputVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SNT決裁</defaultConnectorLabel>
        <rules>
            <name>CompanyDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_GC.DecisionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_DecisionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_IsDecisionAuthority</targetReference>
            </connector>
            <label>企業決済</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DecisionMethod_0</name>
        <label>決済方法</label>
        <locationX>437</locationX>
        <locationY>2564</locationY>
        <defaultConnector>
            <targetReference>decision_IsDecisionEndNotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SNT決裁</defaultConnectorLabel>
        <rules>
            <name>CompanyDecision_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_GC.DecisionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_DecisionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>企業決裁</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_GC</targetReference>
            </connector>
            <label>企業決済</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DecisionType</name>
        <label>決裁種別判定</label>
        <locationX>514</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>create_DecisionApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>登録済み</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_GC.DecisionType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.DecisionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_GC_DecisionType</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsDecisionAuthority</name>
        <label>決裁権限有無</label>
        <locationX>360</locationX>
        <locationY>1396</locationY>
        <defaultConnector>
            <targetReference>screen_DecisionAuthorityError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>無</defaultConnectorLabel>
        <rules>
            <name>IsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_GC.DecisionAuthority__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_DecisionAuthority</targetReference>
            </connector>
            <label>有</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsDecisionEndNotification</name>
        <label>決裁終了通知有無</label>
        <locationX>828</locationX>
        <locationY>2572</locationY>
        <defaultConnector>
            <targetReference>update_GC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>不要</defaultConnectorLabel>
        <rules>
            <name>NotificationIsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_GC.Account__r.ServiceContractDecisionApplication__r.OwendDecisionEndNotice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>必要</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_NotificationTemplate</targetReference>
            </connector>
            <label>必要</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Reconfirm</name>
        <label>再査確認</label>
        <locationX>586</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>screen_ReconfirmDateError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>再査未完了</defaultConnectorLabel>
        <rules>
            <name>isProcessed1</name>
            <conditionLogic>1 AND (2 OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>get_GC.Reapplication1OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.ReconfirmReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.ReconfirmReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（初回）</label>
        </rules>
        <rules>
            <name>isProcessed2</name>
            <conditionLogic>1 AND (2 OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>get_GC.Reapplication2OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication1ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication1ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication1ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication1ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（再申請①）</label>
        </rules>
        <rules>
            <name>isProcessed3</name>
            <conditionLogic>1 AND (2 OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>get_GC.Reapplication3OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication2ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication2ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication2ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication2ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（再申請②）</label>
        </rules>
        <rules>
            <name>isProcessed4</name>
            <conditionLogic>(1 OR (2 AND 3)) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>get_GC.Reapplication3ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication3ReconfirmChargeReturnDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication3ReReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication3ReconfirmDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeAppliedApproval</targetReference>
            </connector>
            <label>再査済み（再申請③）</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsHoliday</name>
        <label>休日判定</label>
        <locationX>604</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>screen_DecisionApplicationStart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>休日</defaultConnectorLabel>
        <rules>
            <name>Weekday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_isHoliday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ApprovalDate</targetReference>
            </connector>
            <label>平日</label>
        </rules>
    </decisions>
    <decisions>
        <name>JudgeAppliedApproval</name>
        <label>決裁申請済み判定</label>
        <locationX>345</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>screen_AppliedApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>決裁申請済み</defaultConnectorLabel>
        <rules>
            <name>NotAppliedApproval</name>
            <conditionLogic>(1 AND 2)OR(3 AND 4)OR(5 AND 6)OR(7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.DecisionApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isProcessed2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication1_ApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isProcessed3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Reapplication2_ApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isProcessed4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GC.Field1Reapplication3_ApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HolidayDetermination</targetReference>
            </connector>
            <label>決裁未申請</label>
        </rules>
    </decisions>
    <decisions>
        <name>JudgeAppliedApprovalType</name>
        <label>決裁申請種類判定</label>
        <locationX>555</locationX>
        <locationY>2139</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NormalApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_GC_DecisionApplicationDate</targetReference>
            </connector>
            <label>決裁申請</label>
        </rules>
        <rules>
            <name>ReApproval1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_GC_Reapplication1</targetReference>
            </connector>
            <label>再申請①</label>
        </rules>
        <rules>
            <name>ReApproval2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_GC_Reapplication2</targetReference>
            </connector>
            <label>再申請②</label>
        </rules>
        <rules>
            <name>ReApproval3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProcessed4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_GC_Reapplication3</targetReference>
            </connector>
            <label>再申請③</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhereDecisionApplicatie</name>
        <label>決裁申請場所の判定</label>
        <locationX>568</locationX>
        <locationY>333</locationY>
        <defaultConnector>
            <targetReference>decision_Reconfirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>車庫証明</defaultConnectorLabel>
        <rules>
            <name>isNM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_GC.WhereDecisionApplicate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>新規</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_WhereDecisionApplicationError</targetReference>
            </connector>
            <label>新規</label>
        </rules>
    </decisions>
    <description>通知部分の修正
チャット特定サブフローを追加</description>
    <dynamicChoiceSets>
        <name>choiceList_DecisionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DecisionType__c</picklistField>
        <picklistObject>CancelCalculate__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formula_ApprovalDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!get_GC.Account__r.ServiceContractDecisionApplication__r.GCApprovalDueDate__c}</expression>
    </formulas>
    <formulas>
        <name>formula_Layout</name>
        <dataType>String</dataType>
        <expression>TEXT({!get_GC.RealEstate__r.LayoutNum__c})&amp;{!get_GC.RealEstate__r.LayoutType__c}</expression>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>DA_決裁申請(入替) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DA_決裁申請(車庫証明)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_DecisionApplication</name>
        <label>決裁申請を作成</label>
        <locationX>730</locationX>
        <locationY>2167</locationY>
        <connector>
            <targetReference>JudgeAppliedApprovalType</targetReference>
        </connector>
        <inputReference>var_DecisionApplication</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_GC</name>
        <label>車庫証明レコードを取得</label>
        <locationX>578</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RealEstate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GarageCertification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NotificationTemplate</name>
        <label>通知テンプレートを取得</label>
        <locationX>983</locationX>
        <locationY>2770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flow_IdentifyChat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_GC.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NotificationTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>決裁申請割り当てで、物件が紐づいていない場合にエラーで落ちないようにするため。
もし物件が紐づき済みの場合は取得できる。
ない場合はNull</description>
        <name>get_RealEstate</name>
        <label>物件取得</label>
        <locationX>450</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhereDecisionApplicatie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_GC.RealEstate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RealEstate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordType</name>
        <label>レコードタイプを取得</label>
        <locationX>581</locationX>
        <locationY>1102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_DecisionApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GarageCertification</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DecisionApplication2__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_GC</name>
        <label>車庫証明レコードを更新</label>
        <locationX>586</locationX>
        <locationY>2964</locationY>
        <connector>
            <targetReference>screen_End</targetReference>
        </connector>
        <inputReference>get_GC</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_AppliedApproval</name>
        <label>決裁申請済エラー画面</label>
        <locationX>158</locationX>
        <locationY>444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ErrorText1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Open Sans&amp;quot;, Meiryo, メイリオ, Arial, sans-serif; color: rgb(240, 8, 8);&quot;&gt;すでに決裁申請済みです。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_DecisionApplicationStart</name>
        <label>決裁申請作成確認画面</label>
        <locationX>611</locationX>
        <locationY>818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_RecordType</targetReference>
        </connector>
        <fields>
            <name>display_StartDisplay</name>
            <fieldText>&lt;p&gt;決裁申請レコードを作成します。&lt;/p&gt;&lt;p&gt;よろしいですか？&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_ApprovalDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>var_AfterDate</elementReference>
            </defaultValue>
            <fieldText>決裁申請承認期日</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_GC.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>企業決裁</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>input_DecisionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>企業決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ReplyDueDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>formula_Today</elementReference>
            </defaultValue>
            <fieldText>返信期日</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_GC.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>input_DecisionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ConfirmItems</name>
            <dataType>String</dataType>
            <fieldText>確認事項</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_GC.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>input_DecisionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_ConfirmResult</name>
            <dataType>String</dataType>
            <fieldText>確認結果</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_GC.DecisionType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>input_DecisionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SNT決裁</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_DecisionType</name>
            <choiceReferences>choiceList_DecisionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>決裁種別</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;決裁種別は入替レコードの項目です。&lt;/p&gt;&lt;p&gt;この項目に入力した値が入替レコードの決裁種別項目に反映されます。&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_GC.DecisionType__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_DecisionAuthorityError</name>
        <label>エラー表示</label>
        <locationX>514</locationX>
        <locationY>1582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_SNTText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;車庫証明レコードに決裁権限が登録されていません。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_End</name>
        <label>完了画面</label>
        <locationX>582</locationX>
        <locationY>3065</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_End</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;決裁申請レコードを作成しました。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_ReconfirmDateError</name>
        <label>再査未完了エラー画面</label>
        <locationX>910</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;再査が完了していません。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;再査を完了してから再度実行してください。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_WhereDecisionApplicationError</name>
        <label>決裁申請場所の制御画面</label>
        <locationX>854</locationX>
        <locationY>219</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_Where</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;この車庫証明は新規で決裁が行われます。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>449</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_GC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_AutoNotificationGarageCertification</name>
        <label>GC_自動通知（車庫証明）</label>
        <locationX>813</locationX>
        <locationY>2882</locationY>
        <connector>
            <targetReference>update_GC</targetReference>
        </connector>
        <flowName>AutoNotificationGarageCertification</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_GC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ChatID</name>
            <value>
                <elementReference>var_ChatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultFeedTemplate</name>
            <value>
                <elementReference>$Setup.DefaultFeedTemplate__c.ContactAccountGarageCertification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultMailTemplate__c.ContactAccountGarageCertification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputContactId</name>
            <value>
                <elementReference>get_GC.CorporateHousingStaff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>get_GC.CorporateHousingStaff__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmailTemplate</name>
            <value>
                <elementReference>get_NotificationTemplate.ContactAccountGarageCertificationEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFeedTemplete</name>
            <value>
                <elementReference>get_NotificationTemplate.ContactAccountGarageCertificationFeed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <elementReference>var_isJudgeChat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>flow_IdentifyChat</name>
        <label>チャットを特定</label>
        <locationX>926</locationX>
        <locationY>2887</locationY>
        <connector>
            <targetReference>flow_AutoNotificationGarageCertification</targetReference>
        </connector>
        <flowName>MB_IdentifyChat</flowName>
        <inputAssignments>
            <name>var_OperationId</name>
            <value>
                <elementReference>get_GC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SNT_CorporateHousingCompany</name>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_ChatId</assignToReference>
            <name>var_ChatId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_isJudgeChat</assignToReference>
            <name>var_isJudgeChat</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>HolidayDetermination</name>
        <label>HO_休日判定/日程スライド</label>
        <locationX>364</locationX>
        <locationY>657</locationY>
        <connector>
            <targetReference>IsHoliday</targetReference>
        </connector>
        <flowName>DecisionHolidayAndMoveToWeekday</flowName>
        <inputAssignments>
            <name>var_InputDate</name>
            <value>
                <elementReference>formula_ApprovalDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_AfterDate</assignToReference>
            <name>var_AfterDate_Output</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_isHoliday</assignToReference>
            <name>var_IsHoliday_Output</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AfterDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BeforeDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DecisionApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DecisionApplication2__c</objectType>
    </variables>
    <variables>
        <name>var_DecisionApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_isHoliday</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_isJudgeChat</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
