force-app/main/default/flows/DocumentTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_AcceptDate</name>
        <label>受領日割り当て</label>
        <locationX>696</locationX>
        <locationY>1071</locationY>
        <assignmentItems>
            <assignToReference>var_Document.AcceptDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Document.IsAcceptDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Collect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CollectDate</name>
        <label>回収日割り当て</label>
        <locationX>696</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>var_Document.CollectDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Document.IsCollectDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_OperationRecord</name>
        <label>業務レコード割り当て</label>
        <locationX>676</locationX>
        <locationY>1821</locationY>
        <assignmentItems>
            <assignToReference>var_Document.Cancel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Seal.Cancel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Document.Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Seal.Change__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Document.ConditionChange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Seal.ConditionChange__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Document.NewMatter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Seal.New__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Document.Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Seal.Renewal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Owner</name>
        <label>所有者割り当て</label>
        <locationX>771</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>var_Document.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRealEstateDocument</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RealEstate</name>
        <label>物件割り当て</label>
        <locationX>772</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>var_Document.RealEstate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RealEstateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Accept</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ReminderDate</name>
        <label>督促日割り当て</label>
        <locationX>696</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>var_Document.ReminderDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Document.IsReminderDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_IsNew</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>assign_Collect</name>
        <label>回収済み判定</label>
        <locationX>768</locationX>
        <locationY>1144</locationY>
        <defaultConnector>
            <targetReference>decision_Reminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isCollect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsCollectDone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CollectDate</targetReference>
            </connector>
            <label>回収済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>assign_IsOperationRecord</name>
        <label>業務レコード有無判定</label>
        <locationX>749</locationX>
        <locationY>1720</locationY>
        <defaultConnector>
            <targetReference>update_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isNoOperationRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewMatter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConditionChange__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_OperationRecord</targetReference>
            </connector>
            <label>業務レコードなし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Accept</name>
        <label>受領済み判定</label>
        <locationX>765</locationX>
        <locationY>989</locationY>
        <defaultConnector>
            <targetReference>assign_Collect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isAccept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsAcceptDone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_AcceptDate</targetReference>
            </connector>
            <label>受領済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsNew</name>
        <label>新規作成・更新判定</label>
        <locationX>754</locationX>
        <locationY>1462</locationY>
        <defaultConnector>
            <targetReference>assign_IsOperationRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>更新</defaultConnectorLabel>
        <rules>
            <name>isNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateShareObjectDocument</targetReference>
            </connector>
            <label>新規作成</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Reminder</name>
        <label>督促済み判定</label>
        <locationX>768</locationX>
        <locationY>1307</locationY>
        <defaultConnector>
            <targetReference>decision_IsNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isReminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsReminderDone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ReminderDate</targetReference>
            </connector>
            <label>督促済み</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>DO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DO_書類トリガー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Document</name>
        <label>書類を取得</label>
        <locationX>770</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Seal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Document__c</object>
        <outputReference>var_Document</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Seal</name>
        <label>捺印管理を取得</label>
        <locationX>768</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Seal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Seal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Document</name>
        <label>書類の更新</label>
        <locationX>751</locationX>
        <locationY>1945</locationY>
        <inputReference>var_Document</inputReference>
    </recordUpdates>
    <start>
        <locationX>649</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Document</targetReference>
        </connector>
        <object>Document__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateShareObjectDocument</name>
        <label>DO_シェアオブジェクト作成（書類）</label>
        <locationX>652</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>assign_IsOperationRecord</targetReference>
        </connector>
        <flowName>CreateShareObjectDocument</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>GetRealEstateDocument</name>
        <label>物件を取得</label>
        <locationX>772</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>assign_RealEstate</targetReference>
        </connector>
        <flowName>GetRealEstateDocument</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_RealEstateId</assignToReference>
            <name>var_RealEstateId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>var_Document</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>var_RealEstateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
