force-app/main/default/flows/EmailSendDisplay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_AddAddressTokenCcContact</name>
        <label>Cc追加</label>
        <locationX>1206</locationX>
        <locationY>1560</locationY>
        <assignmentItems>
            <assignToReference>varCol_EmailAddressTokenCc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filter_ReportsTo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_AddAddressTokenToContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AddAddressTokenToChargeTeam</name>
        <label>To追加</label>
        <locationX>1289</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>varCol_EmailAddressTokenTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filter_ChargeTeam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ToAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AddAddressTokenToCompanyStaff</name>
        <label>To追加</label>
        <locationX>1011</locationX>
        <locationY>1877</locationY>
        <assignmentItems>
            <assignToReference>varCol_EmailAddressTokenTo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filter_CompanyStaff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_ToChargeTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AddAddressTokenToContact</name>
        <label>To追加</label>
        <locationX>1204</locationX>
        <locationY>1691</locationY>
        <assignmentItems>
            <assignToReference>varCol_EmailAddressTokenTo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filter_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_ToChargeTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AddAddressTokenToRealEstate</name>
        <label>To追加</label>
        <locationX>1096</locationX>
        <locationY>1767</locationY>
        <assignmentItems>
            <assignToReference>varCol_EmailAddressTokenTo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filter_RealEstate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_ToChargeTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorFlag</name>
        <label>エラーフラグ割り当て</label>
        <locationX>842</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>var_DisplayFlagErrorMassage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>display_SelectEmailTemplate_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorFlagReset</name>
        <label>フラグリセット</label>
        <locationX>675</locationX>
        <locationY>1301</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMassageFlagSelectTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_ErrorJudgeSelectTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorFlagSelectTo</name>
        <label>エラーフラグ割り当て</label>
        <locationX>539</locationX>
        <locationY>1131</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMassageFlagSelectTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>display_InputTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_FlagReset</name>
        <label>フラグリセット</label>
        <locationX>465</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>var_DisplayFlagErrorMassage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>filter_EmailTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_FolderId</name>
        <label>フォルダId割り当て</label>
        <locationX>471</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>var_ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choiceRec_EmailTemplateFolder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailTemplateFilterCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filter_EmailTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>filter_Folder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_OutputValues</name>
        <label>出直値設定</label>
        <locationX>546</locationX>
        <locationY>2410</locationY>
        <assignmentItems>
            <assignToReference>var_OutputEmailHtml</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_OutputTransMergeField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OUtputEmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_EmailTemplateSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OutputToDisplayText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ToDisplayText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OutputCcDisplayText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CcDisplayText</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_SelectEmailTemplate</name>
        <label>選択メールテンプレート情報を割り当て</label>
        <locationX>825</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>var_EmailTemplateHtml</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_SelectEmailTemplate.HtmlValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailTemplateSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_SelectEmailTemplate.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_SelectEmailTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ToDisplayText</name>
        <label>To表示用テキスト割り当て</label>
        <locationX>1449</locationX>
        <locationY>2499</locationY>
        <assignmentItems>
            <assignToReference>var_TmpEmailAddressToken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ToAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_OutputToAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_ToAddress.EmailAddres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ToDisplayText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ToAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ToDisplayText_0</name>
        <label>To表示用テキスト割り当て</label>
        <locationX>1185</locationX>
        <locationY>2686</locationY>
        <assignmentItems>
            <assignToReference>var_TmpEmailAddressToken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CcAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_OutputCcAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_CcAddress.EmailAddres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CcDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_CcDisplayText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CcAddress</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Contact</name>
        <choiceText>企業社員</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Setup.SendEmail__c.Contact__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choice_CorporateHousingStaff</name>
        <choiceText>社宅担当者</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Setup.SendEmail__c.CorporateHousingStaff__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>choice_RealEstateStaff</name>
        <choiceText>不動産社員</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Setup.SendEmail__c.RealEstateStaff__c</elementReference>
        </value>
    </choices>
    <collectionProcessors>
        <name>filter_ChargeTeam</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>担当チームフィルター</label>
        <locationX>1163</locationX>
        <locationY>2136</locationY>
        <assignNextValueToReference>currentItem_filter_CompanyStaff</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCol_EmailAddressToken</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_CompanyStaff.Classification__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Setup.SendEmail__c.ChargeTeam__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assign_AddAddressTokenToChargeTeam</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_CompanyStaff</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>社宅担当者フィルター</label>
        <locationX>872</locationX>
        <locationY>1835</locationY>
        <assignNextValueToReference>currentItem_filter_CompanyStaff</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCol_EmailAddressToken</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_CompanyStaff.Classification__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>input_ToCompanyStaff</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assign_AddAddressTokenToCompanyStaff</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_Contact</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>企業社員フィルター</label>
        <locationX>913</locationX>
        <locationY>1487</locationY>
        <assignNextValueToReference>currentItem_filter_ReportsTo</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCol_EmailAddressToken</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_ReportsTo.Classification__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Setup.SendEmail__c.Contact__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>decision_CcReportsTo</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_EmailTemplate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>メールテンプレートフィルター</label>
        <locationX>468</locationX>
        <locationY>489</locationY>
        <assignNextValueToReference>currentItem_filter_EmailTemplate</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_EmailTemplate</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_EmailTemplate.FolderId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>input_SelectFolder</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assign_FolderId</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_Folder</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>フォルダフィルター</label>
        <locationX>668</locationX>
        <locationY>346</locationY>
        <assignNextValueToReference>currentItem_filter_Folder_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_folder</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_Folder_0.ParentId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_ParentId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>display_SelectEmailTemplate_0</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_RealEstate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>不動産社員フィルター</label>
        <locationX>864</locationX>
        <locationY>1667</locationY>
        <assignNextValueToReference>currentItem_filter_CompanyStaff</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCol_EmailAddressToken</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_CompanyStaff.Classification__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Setup.SendEmail__c.RealEstateStaff__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assign_AddAddressTokenToRealEstate</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_ReportsTo</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>企業社員フィルター</label>
        <locationX>1105</locationX>
        <locationY>1478</locationY>
        <assignNextValueToReference>currentItem_filter_ReportsTo</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCol_EmailAddressToken</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_ReportsTo.Classification__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Setup.SendEmail__c.ContactSuperior__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assign_AddAddressTokenCcContact</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_SelectEmailTemplate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>選択メールテンプレートを絞り込み</label>
        <locationX>672</locationX>
        <locationY>851</locationY>
        <assignNextValueToReference>currentItem_filter_SelectEmailTemplate</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_EmailTemplate</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_SelectEmailTemplate.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>input_SelectEmailTemplate2</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_SelectEmailTemplate</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>decision_CcNull</name>
        <label>分岐</label>
        <locationX>1172</locationX>
        <locationY>2334</locationY>
        <defaultConnector>
            <targetReference>display_InputEmailInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCol_EmailAddressTokenCc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_CcAddress</targetReference>
            </connector>
            <label>CC割り当て</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CcReportsTo</name>
        <label>CCに上長を追加する</label>
        <locationX>905</locationX>
        <locationY>1580</locationY>
        <defaultConnector>
            <targetReference>assign_AddAddressTokenToContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>CcReportsTo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CheckReportsTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_ReportsTo</targetReference>
            </connector>
            <label>上長を追加</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_ErrorJudgeSelectTo</name>
        <label>エラー判定</label>
        <locationX>532</locationX>
        <locationY>1407</locationY>
        <defaultConnector>
            <targetReference>decision_ToContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ErrorSelectTo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_SelectTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.SendEmail__c.CorporateHousingStaff__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_ToCompanyStaff</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ErrorFlagSelectTo</targetReference>
            </connector>
            <label>エラー</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsSelecteEmailTemplate</name>
        <label>メールテンプレート選択</label>
        <locationX>662</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>assign_FlagReset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_SelectEmailTemplate2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_SelectFolder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ErrorFlag</targetReference>
            </connector>
            <label>エラー選択</label>
        </rules>
        <rules>
            <name>IsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_SelectEmailTemplate2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_SelectEmailTemplate</targetReference>
            </connector>
            <label>選択済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_ToChargeTeam</name>
        <label>宛先担当チーム</label>
        <locationX>1352</locationX>
        <locationY>2088</locationY>
        <defaultConnector>
            <targetReference>loop_ToAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsToChargeTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_CheckChargeTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_ChargeTeam</targetReference>
            </connector>
            <label>担当チーム追加</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_ToContact</name>
        <label>宛先企業社員</label>
        <locationX>671</locationX>
        <locationY>1485</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsToContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_SelectTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.SendEmail__c.Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_Contact</targetReference>
            </connector>
            <label>企業社員</label>
        </rules>
        <rules>
            <name>RealEstate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_SelectTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.SendEmail__c.RealEstateStaff__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_RealEstate</targetReference>
            </connector>
            <label>不動産社員</label>
        </rules>
        <rules>
            <name>UniqueNameCorporateHousingStaff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_SelectTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.SendEmail__c.CorporateHousingStaff__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_CompanyStaff</targetReference>
            </connector>
            <label>社宅担当者</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceRec_EmailAddres</name>
        <collectionReference>varCol_EmailAddressToken</collectionReference>
        <dataType>String</dataType>
        <displayField>ContactName__c</displayField>
        <object>EmailAddressToken__c</object>
        <valueField>EmailAddres__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceRec_EmailTemplate</name>
        <collectionReference>filter_EmailTemplate</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>EmailTemplate</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceRec_EmailTemplateFolder</name>
        <collectionReference>filter_Folder</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Folder</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formula_CcDisplayText</name>
        <dataType>String</dataType>
        <expression>{!var_TmpEmailAddressToken.Classification__c} &amp; &quot; : &quot; &amp; {!var_TmpEmailAddressToken.ContactName__c} &amp; &quot; &quot; &amp; {!var_TmpEmailAddressToken.EmailAddres__c} &amp; &quot;&lt;br&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_OutputTransMergeField</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!formula_TransMergeField}) , {!var_OutputEmailHtml} , {!formula_TransMergeField})</expression>
    </formulas>
    <formulas>
        <name>formula_ToDisplayText</name>
        <dataType>String</dataType>
        <expression>{!var_TmpEmailAddressToken.Classification__c} &amp; &quot; : &quot; &amp; {!var_TmpEmailAddressToken.ContactName__c} &amp; &quot; &quot; &amp; {!var_TmpEmailAddressToken.EmailAddres__c} &amp;&quot;&lt;br&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_TransMergeField</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE( SUBSTITUTE( 
{!input_Body}, 
{!var_InputMethodName} , {!var_InputResourceName} ),
&quot;}}}&quot; , &quot;} &quot; ) ,
&quot;{{{&quot; , &quot; {!&quot;)</expression>
    </formulas>
    <interviewLabel>EM_メール送信画面 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EM_メール送信画面</label>
    <loops>
        <name>loop_CcAddress</name>
        <label>Cc表示用テキスト割り当て</label>
        <locationX>1184</locationX>
        <locationY>2508</locationY>
        <collectionReference>varCol_EmailAddressTokenCc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_ToDisplayText_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>display_InputEmailInfo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_SelectEmailTemplate</name>
        <label>メールテンプレートを繰り返し</label>
        <locationX>673</locationX>
        <locationY>960</locationY>
        <collectionReference>filter_SelectEmailTemplate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_SelectEmailTemplate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>display_InputTo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_ToAddress</name>
        <label>To表示用テキスト割り当て</label>
        <locationX>1433</locationX>
        <locationY>2321</locationY>
        <collectionReference>varCol_EmailAddressTokenTo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_ToDisplayText</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_CcNull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_EmailTemplate</name>
        <label>メールテンプレートを取得</label>
        <locationX>882</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_folder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_folder</name>
        <label>メールテンプレートフォルダ取得</label>
        <locationX>667</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filter_Folder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmailTemplate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Folder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>display_InputEmailInfo</name>
        <label>メール情報入力画面</label>
        <locationX>745</locationX>
        <locationY>2410</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_OutputValues</targetReference>
        </connector>
        <fields>
            <name>display_ToAddress</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;To&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!var_ToDisplayText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display_CcAddress</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Cc&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!var_CcDisplayText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>display_CcAddress</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_EmailTemplateSubject</elementReference>
            </defaultValue>
            <fieldText>件名</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_Body</name>
            <defaultValue>
                <stringValue>{!var_EmailTemplateHtml}</stringValue>
            </defaultValue>
            <fieldText>本文</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>添付ファイル</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>display_InputTo</name>
        <label>宛先入力画面</label>
        <locationX>676</locationX>
        <locationY>1132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_ErrorFlagReset</targetReference>
        </connector>
        <fields>
            <name>display_ErrorMassage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 1, 1);&quot;&gt;※社宅担当者を1名以上選択してください&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_SelectTo</name>
            <choiceReferences>choice_Contact</choiceReferences>
            <choiceReferences>choice_CorporateHousingStaff</choiceReferences>
            <choiceReferences>choice_RealEstateStaff</choiceReferences>
            <dataType>String</dataType>
            <fieldText>宛先選択</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_ToCompanyStaff</name>
            <choiceReferences>choiceRec_EmailAddres</choiceReferences>
            <dataType>String</dataType>
            <fieldText>社宅担当者一覧</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>input_SelectTo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>var_tmpSetupCorporateHousingStaff</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_CheckReportsTo</name>
            <dataType>Boolean</dataType>
            <fieldText>Ccに上長を追加する</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_SelectTo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>var_tmpSetupContact</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_CheckChargeTeam</name>
            <dataType>Boolean</dataType>
            <fieldText>Ccに担当チームを追加する</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>display_SelectEmailTemplate_0</name>
        <label>メールテンプレート選択画面</label>
        <locationX>665</locationX>
        <locationY>484</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_IsSelecteEmailTemplate</targetReference>
        </connector>
        <fields>
            <name>display_SelectEmailTemplate_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>display_SelectEmailTemplate_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_SelectFolder</name>
                    <choiceReferences>choiceRec_EmailTemplateFolder</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>フォルダ一覧</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>input_SelectEmailTemplate2</name>
            <choiceReferences>choiceRec_EmailTemplate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>メールテンプレート一覧</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_EmailTemplateFilterCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_EmailTemplate</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>text_TestOutputTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!formula_TransMergeField}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_filter_CompanyEmailAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailAddressToken__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_CompanyStaff</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailAddressToken__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_EmailTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_Folder_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Folder</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_GetFolderId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Folder</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_ReportsTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailAddressToken__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_SelectEmailTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CcDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DisplayFlagErrorMassage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_EmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EmailTemplateFilterCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_EmailTemplateHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_EmailTemplateSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ErrorMassageFlagSelectTo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Folder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Folder</objectType>
    </variables>
    <variables>
        <name>var_InputMethodName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>新規手続き</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_InputResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OutputCcDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_OutputEmailHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_OUtputEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_OutputToDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TmpEmailAddressToken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailAddressToken__c</objectType>
    </variables>
    <variables>
        <name>var_TmpHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>input_Body</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_tmpSetupContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.SendEmail__c.Contact__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_tmpSetupCorporateHousingStaff</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.SendEmail__c.CorporateHousingStaff__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_ToCompanyFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ToDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ToRealEstate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_UprodeFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>File</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCol_displayFolder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Folder</objectType>
    </variables>
    <variables>
        <name>varCol_EmailAddressToken</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailAddressToken__c</objectType>
    </variables>
    <variables>
        <name>varCol_EmailAddressTokenBcc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailAddressToken__c</objectType>
    </variables>
    <variables>
        <name>varCol_EmailAddressTokenCc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailAddressToken__c</objectType>
    </variables>
    <variables>
        <name>varCol_EmailAddressTokenTo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailAddressToken__c</objectType>
    </variables>
    <variables>
        <name>varCol_OutputCcAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCol_OutputToAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
