force-app/main/default/flows/ExecuteSOReturn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_AddCollection</name>
        <label>コレクション変数に追加</label>
        <locationX>306</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>varCol_DataManagement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AssignDataManagement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignDataManagement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DataManagement</name>
        <label>変数割り当て</label>
        <locationX>308</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>loop_AssignDataManagement.CorrectionRequestDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_AssignDataManagement.CorrectionRequester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_AssignDataManagement.CorrectionRequester__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_AssignDataManagement.FifthSetConfirm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.FifthSetConfirm__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_AddCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_DataManagement</name>
        <label>未依頼SO戻し有無判定</label>
        <locationX>444</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>screen_SOReturnStart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>未依頼あり</defaultConnectorLabel>
        <rules>
            <name>IsNotUnrequested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DataManagement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_IsNotUnrequested</targetReference>
            </connector>
            <label>未依頼なし</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DM_SO戻し実行 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DM_SO戻し実行</label>
    <loops>
        <name>loop_AssignDataManagement</name>
        <label>変数割り当てループ</label>
        <locationX>456</locationX>
        <locationY>792</locationY>
        <collectionReference>get_DataManagement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_DataManagement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_DataManagement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_ToDo</name>
        <label>ToDo作成</label>
        <locationX>455</locationX>
        <locationY>1089</locationY>
        <connector>
            <targetReference>screen_SOReturnEnd</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>SO戻しの内容を確認して対応してください</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_NewMatter.ChargeTeam__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>修正依頼発生</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>get_NewMatter.FifthSetConfirm__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_DataManagement</name>
        <label>データ管理を取得</label>
        <locationX>448</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_DataManagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CorrectionRequestDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DataManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規</label>
        <locationX>453</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_AssignDataManagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordType</name>
        <label>レコードタイプを取得</label>
        <locationX>449</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_DataManagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOReturn</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DataManagement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_DataManagement</name>
        <label>データ管理更新</label>
        <locationX>453</locationX>
        <locationY>957</locationY>
        <connector>
            <targetReference>create_ToDo</targetReference>
        </connector>
        <inputReference>varCol_DataManagement</inputReference>
    </recordUpdates>
    <screens>
        <name>screen_IsNotUnrequested</name>
        <label>エラー画面</label>
        <locationX>625</locationX>
        <locationY>407</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_IsNotUnrequested</name>
            <fieldText>&lt;p&gt;実行可能なSO戻しはありません。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_SOReturnEnd</name>
        <label>完了画面</label>
        <locationX>455</locationX>
        <locationY>1209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_SOReturnFinish</name>
            <fieldText>&lt;p&gt;SO戻しが実行完了しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_SOReturnStart</name>
        <label>開始画面</label>
        <locationX>452</locationX>
        <locationY>523</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
        <fields>
            <name>display_SOReturnStart</name>
            <fieldText>&lt;p&gt;SO戻しを実行します。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>323</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_RecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_DataManagement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DataManagement__c</objectType>
    </variables>
</Flow>
