force-app/main/default/flows/FieldByAccountReApplication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_FieldByAccountCreate</name>
        <label>個社別項目コピー用割り当て</label>
        <locationX>989</locationX>
        <locationY>1173</locationY>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.RealEstate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.DecisionApplication2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.IsApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.IsRealEstateRelation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.ConditionChange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ConditionChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.FifthSetConfirm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_FifthSetConfirm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.ChangeDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_UpdateDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccountCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_FieldByAccountExisting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_FieldByAccountExisting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>共通の変数に割りあて</description>
        <name>assign_FieldByAccountExisting1</name>
        <label>コレクションに割りあて</label>
        <locationX>372</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccountExisting</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FieldByAccountFifthSetConfirm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_FieldByAccountExisting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>共通の変数に割りあて</description>
        <name>assign_FieldByAccountExisting2</name>
        <label>コレクションに割りあて</label>
        <locationX>574</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccountExisting</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FieldByAccountChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_FieldByAccountExisting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>共通の変数に割りあて</description>
        <name>assign_FieldByAccountExisting3</name>
        <label>コレクションに割りあて</label>
        <locationX>777</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccountExisting</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_FieldByAccountConditionChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_FieldByAccountExisting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>・業務へのリレーションの削除
・変更日をリセット（スケジュールトリガのエントリー条件を削除）</description>
        <name>assign_OperationRelationAndUpdateDateDelete</name>
        <label>業務リレーション＆変更日を削除</label>
        <locationX>1100</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.FifthSetConfirm__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.Change__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.ConditionChange__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.ChangeDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccountUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_FieldByAccountExisting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_FieldByAccountCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>業務へのリレーションのみ削除
変更日前なので、物件へのリレーションはそもそもない。</description>
        <name>assign_OperationRelationDelete</name>
        <label>業務リレーションを削除</label>
        <locationX>878</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.FifthSetConfirm__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.Change__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountExisting.ConditionChange__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccountUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_FieldByAccountExisting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_FieldByAccountCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RealEstateChangeHistoryDelete</name>
        <label>削除コレクションに割りあて</label>
        <locationX>157</locationX>
        <locationY>1352</locationY>
        <assignmentItems>
            <assignToReference>varCol_RealEstateChangeHistoryDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_RealEstateChangeHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_RealEstateChangeHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateDate</name>
        <label>個社別項目情報を割りあて</label>
        <locationX>790</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>var_UpdateDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_FieldByAccountExisting.ChangeDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Change</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_FieldByAccountExisting.Change__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ConditionChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_FieldByAccountExisting.ConditionChange__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FifthSetConfirm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_FieldByAccountExisting.FifthSetConfirm__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_UpdateDate1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_CreateRecord</name>
        <label>作成対象レコード判定</label>
        <locationX>552</locationX>
        <locationY>1687</locationY>
        <defaultConnector>
            <targetReference>create_FieldByAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>レコード有り</defaultConnectorLabel>
        <rules>
            <name>isNull2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCol_FieldByAccountCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_UpdateRecord</targetReference>
            </connector>
            <label>レコード無し</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DeleteRecord</name>
        <label>削除対象レコード判定</label>
        <locationX>376</locationX>
        <locationY>1522</locationY>
        <defaultConnector>
            <targetReference>delete_RealestateChangeHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>レコード有り</defaultConnectorLabel>
        <rules>
            <name>isNull1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCol_RealEstateChangeHistoryDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_CreateRecord</targetReference>
            </connector>
            <label>レコード無し</label>
        </rules>
    </decisions>
    <decisions>
        <description>IDのプレフィクスで業務を判定</description>
        <name>decision_OperationRecord</name>
        <label>業務判定</label>
        <locationX>575</locationX>
        <locationY>225</locationY>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>isNewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_NewMatter</targetReference>
            </connector>
            <label>新規</label>
        </rules>
        <rules>
            <name>isChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Change</targetReference>
            </connector>
            <label>入替</label>
        </rules>
        <rules>
            <name>isConditionChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_ConditionChange</targetReference>
            </connector>
            <label>条件変更</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_UpdateDate1</name>
        <label>変更日判定</label>
        <locationX>980</locationX>
        <locationY>875</locationY>
        <defaultConnector>
            <targetReference>assign_OperationRelationAndUpdateDateDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>当日以降</defaultConnectorLabel>
        <rules>
            <name>isBeforeDate1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_FieldByAccountExisting.ChangeDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_OperationRelationDelete</targetReference>
            </connector>
            <label>当日以前（当日含む）</label>
        </rules>
    </decisions>
    <decisions>
        <description>・変更日が当日以前の場合のみ、物件変更履歴の削除　（未来日付で作成済みだが、変更は止めるため）</description>
        <name>decision_UpdateDate2</name>
        <label>変更日判定</label>
        <locationX>563</locationX>
        <locationY>1099</locationY>
        <defaultConnector>
            <targetReference>decision_CreateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>当日以降</defaultConnectorLabel>
        <rules>
            <name>isBeforeDate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_UpdateDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_RealEstateChangeHistory</targetReference>
            </connector>
            <label>当日以前（当日含む）</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_UpdateRecord</name>
        <label>更新対象レコード判定</label>
        <locationX>554</locationX>
        <locationY>1873</locationY>
        <defaultConnector>
            <targetReference>update_FieldByAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>レコード有り</defaultConnectorLabel>
        <rules>
            <name>isNull3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCol_FieldByAccountUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>レコード無し</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FA_個社別項目再申請時処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FA_個社別項目再申請時処理</label>
    <loops>
        <description>・変更日の変数に割りあて
・新規個社別項目用にコレクション追加（全件）
・変更日が当日以降のものは、変更日リセット</description>
        <name>loop_FieldByAccountExisting</name>
        <label>個社別項目ループ（既存）</label>
        <locationX>573</locationX>
        <locationY>935</locationY>
        <collectionReference>varCol_FieldByAccountExisting</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_UpdateDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_UpdateDate2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_RealEstateChangeHistory</name>
        <label>物件変更履歴ループ</label>
        <locationX>389</locationX>
        <locationY>1349</locationY>
        <collectionReference>get_RealEstateChangeHistory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_RealEstateChangeHistoryDelete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_DeleteRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_FieldByAccount</name>
        <label>個社別項目を作成</label>
        <locationX>761</locationX>
        <locationY>1711</locationY>
        <connector>
            <targetReference>decision_UpdateRecord</targetReference>
        </connector>
        <inputReference>varCol_FieldByAccountCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_RealestateChangeHistory</name>
        <label>物件変更履歴を削除</label>
        <locationX>372</locationX>
        <locationY>1687</locationY>
        <connector>
            <targetReference>decision_CreateRecord</targetReference>
        </connector>
        <inputReference>varCol_RealEstateChangeHistoryDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>物件IDを共通の変数に割りあて</description>
        <name>get_Change</name>
        <label>入替を取得</label>
        <locationX>572</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccountChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Change__c</object>
        <outputAssignments>
            <assignToReference>var_RealEstateId</assignToReference>
            <field>RealEstate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>物件IDを共通の変数に割りあて</description>
        <name>get_ConditionChange</name>
        <label>条件変更を取得</label>
        <locationX>775</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccountConditionChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ConditionChange__c</object>
        <outputAssignments>
            <assignToReference>var_RealEstateId</assignToReference>
            <field>RealEstate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_FieldByAccountChange</name>
        <label>個社別項目を取得</label>
        <locationX>573</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_FieldByAccountExisting2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldByAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FieldByAccountConditionChange</name>
        <label>個社別項目を取得</label>
        <locationX>778</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_FieldByAccountExisting3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConditionChange__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldByAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FieldByAccountFifthSetConfirm</name>
        <label>個社別項目を取得</label>
        <locationX>368</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_FieldByAccountExisting1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FifthSetConfirm__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_FifthSetConfirm.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldByAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FifthSetConfirm</name>
        <label>5点確定を取得</label>
        <locationX>368</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccountFifthSetConfirm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NewMatter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FifthSetConfirm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>新規業務はトリガは新規、個社別項目のリレーション先は5点確定
recordId で直接5点確定は取得できるが、物件IDを取るために、新規も取得
物件IDを共通の変数に割りあて</description>
        <name>get_NewMatter</name>
        <label>新規を取得</label>
        <locationX>368</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FifthSetConfirm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>NewMatter__c</object>
        <outputAssignments>
            <assignToReference>var_RealEstateId</assignToReference>
            <field>RealEstate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_RealEstateChangeHistory</name>
        <label>物件変更履歴を取得</label>
        <locationX>385</locationX>
        <locationY>1205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_RealEstateChangeHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UpdateDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UpdateDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RealEstateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RealEstateChangeHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_FieldByAccount</name>
        <label>個社別項目を更新</label>
        <locationX>774</locationX>
        <locationY>1884</locationY>
        <inputReference>varCol_FieldByAccountUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>decision_OperationRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Change</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ConditionChange</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FifthSetConfirm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RealEstateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UpdateDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_FieldByAccountCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldByAccount__c</objectType>
    </variables>
    <variables>
        <name>varCol_FieldByAccountExisting</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldByAccount__c</objectType>
    </variables>
    <variables>
        <name>varCol_FieldByAccountUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldByAccount__c</objectType>
    </variables>
    <variables>
        <name>varCol_RealEstateChangeHistoryDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstateChangeHistory__c</objectType>
    </variables>
</Flow>
