force-app/main/default/flows/ImmediateReflectionRealEstateByRealEstateChangeHistory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>一覧表示用の変数（var_PickUpList）に物件変更履歴の変更項目を割り当て
物件変更履歴コレクション変数に取得した物件変更履歴を割り当て</description>
        <name>assign_UpdateFields</name>
        <label>一覧表示用の変数に変更項目を割り当て</label>
        <locationX>417</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>var_PickUpList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>・</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PickUpList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_RealEstateChangeHistoryCollection.UpdateFields__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PickUpList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_RealEstateChangeHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_RealEstateChangeHistoryCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_RealEstateChangeHistoryCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_PickUpRecord</name>
        <label>レコードが選択されてるか判定</label>
        <locationX>767</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>screen_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>存在しない</defaultConnectorLabel>
        <rules>
            <name>isExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_RealEstateChangeHistory</targetReference>
            </connector>
            <label>存在する</label>
        </rules>
    </decisions>
    <description>ループ内の取得要素を制限を考慮した形に変更</description>
    <environments>Default</environments>
    <interviewLabel>RE_物件変更履歴の {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RE_物件変更履歴による物件レコード更新（即時反映）</label>
    <loops>
        <name>loop_RealEstateChangeHistoryCollection</name>
        <label>物件変更履歴コレクションをループ</label>
        <locationX>604</locationX>
        <locationY>365</locationY>
        <collectionReference>get_RealEstateChangeHistory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_UpdateFields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen_Start</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_RealEstateChangeHistory</name>
        <label>物件変更履歴の取得</label>
        <locationX>602</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_RealEstateChangeHistoryCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RealEstateChangeHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_RealEstate</name>
        <label>物件の更新</label>
        <locationX>599</locationX>
        <locationY>899</locationY>
        <connector>
            <targetReference>update_RealEstateChangeHistory</targetReference>
        </connector>
        <inputReference>varCol_RealEstate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_RealEstateChangeHistory</name>
        <label>物件変更履歴の更新</label>
        <locationX>595</locationX>
        <locationY>1044</locationY>
        <connector>
            <targetReference>screen_EndMessage</targetReference>
        </connector>
        <inputReference>varCol_UpdateRealEstateChangeHistory</inputReference>
    </recordUpdates>
    <screens>
        <name>screen_EndMessage</name>
        <label>完了画面</label>
        <locationX>595</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_EndMessage</name>
            <fieldText>&lt;p&gt;反映が完了しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Error</name>
        <label>エラー画面</label>
        <locationX>879</locationX>
        <locationY>358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ErrorMessage</name>
            <fieldText>&lt;p&gt;レコードが選択されていません。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Start</name>
        <label>即時反映開始</label>
        <locationX>600</locationX>
        <locationY>617</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>flow_DecisionFieldValue</targetReference>
        </connector>
        <fields>
            <name>display_StartAlert</name>
            <fieldText>&lt;p&gt;選択したレコードを物件に即時反映します。よろしければ「次へ」をクリックしてください。&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!var_PickUpList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>648</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>decision_PickUpRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_DecisionFieldValue</name>
        <label>RE_項目値の割り当て</label>
        <locationX>600</locationX>
        <locationY>760</locationY>
        <connector>
            <targetReference>update_RealEstate</targetReference>
        </connector>
        <flowName>DecisionFieldValue</flowName>
        <inputAssignments>
            <name>varCol_InputData</name>
            <value>
                <elementReference>varCol_RealEstateChangeHistory</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCol_RealEstate</assignToReference>
            <name>varCol_RealEstate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_UpdateRealEstateChangeHistory</assignToReference>
            <name>varCol_RealEstateChangeHistory</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PickUpList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RealEstateChangeHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstateChangeHistory__c</objectType>
    </variables>
    <variables>
        <name>var_RealEstateChangeHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_RealEstate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstate__c</objectType>
    </variables>
    <variables>
        <name>varCol_RealEstateChangeHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstateChangeHistory__c</objectType>
    </variables>
    <variables>
        <name>varCol_test</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_UpdateRealEstateChangeHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstateChangeHistory__c</objectType>
    </variables>
</Flow>
