force-app/main/default/flows/InputQuestionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_LoopCountUp</name>
        <label>ループカウントアップ</label>
        <locationX>1492</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>var_CountCompanyNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Questionnaire</name>
        <label>アンケート項目割り当て</label>
        <locationX>672</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>var_Questionnaire.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.MoveReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_MoveReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.MoveReasonOther__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_MoveReasonOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.IsIntroduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_IsIntroduction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.UnintroductionReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_UnintroductionReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.UnintroductionReasonOther__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_UnintroductionReasonOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.MediationPeaceOfMind__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_MediationPeaceOfMind</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.MediationCompanyHousingRegulations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_MediationCompanyHousingRegulations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.MediationConvenience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_MediationConvenience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.MediationExplanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_MediationExplanation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.MediationProcedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_MediationProcedure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.MediationQuality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_MediationQuality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.ServiceUseFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ServiceUseFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.ServiceNextTimeUse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ServiceNextTimeUse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.RequestService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_RequestService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.RequestServiceOther__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_RequestServiceOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.UseMovingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_UseMovingCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.UseMovingCompanyOther__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_UseMovingCompanyOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.MovingCompanyServiceQuality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_MovingCompanyServiceQuality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.MovingCompanyPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_MovingCompanyPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.MovingServiceOpinionAndRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_MovingServiceOpinionAndRequest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.OperatorCorrespondenceGoodPoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OperatorCorrespondenceGoodPoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.OperatorCorrespondenceGoodPointOther__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OperatorCorrespondenceGoodPointOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.OperatorCorrespondenceNotGoodPoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OperatorCorrespondenceNotGoodPoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.OperatorCorrespondenceNotGoodPointOther__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OperatorCorrespondenceNotGoodPointOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.TransferMoveRequestService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_TransferMoveRequestService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.OperatorCorrespondenceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OperatorName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.AnswerStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>回答済み</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.Respondent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.AgencyDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_AgencyDecision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.AgencyDecisionReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_AgencyDecisionReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.AgencyDecisionReasonOther__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_AgencyDecisionReasonOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.ChargeGoodReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ChargeGoodReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Questionnaire.ServiceNextTimeNotUsedReson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ServiceNextTimeNotUsedReson</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Questionnaire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_QuestionnaireDetai7</name>
        <label>7社目割り当て</label>
        <locationX>1568</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail7.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail7.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.RealEstateCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_LoopCountUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_QuestionnaireDetail1</name>
        <label>1社目割り当て</label>
        <locationX>1210</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail1.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail1.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.RealEstateCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_LoopCountUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_QuestionnaireDetail10</name>
        <label>10社目割り当て</label>
        <locationX>1745</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail10.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail10.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.RealEstateCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_LoopCountUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_QuestionnaireDetail2</name>
        <label>2社目割り当て</label>
        <locationX>1266</locationX>
        <locationY>88</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail2.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail2.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.RealEstateCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_LoopCountUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_QuestionnaireDetail3</name>
        <label>3社目割り当て</label>
        <locationX>1325</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail3.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail3.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.RealEstateCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_LoopCountUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_QuestionnaireDetail4</name>
        <label>4社目割り当て</label>
        <locationX>1389</locationX>
        <locationY>153</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail4.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail4.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.RealEstateCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_LoopCountUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_QuestionnaireDetail5</name>
        <label>5社目割り当て</label>
        <locationX>1449</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail5.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail5.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.RealEstateCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_LoopCountUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_QuestionnaireDetail6</name>
        <label>6社目割り当て</label>
        <locationX>1509</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail6.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail6.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.RealEstateCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_LoopCountUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_QuestionnaireDetail8</name>
        <label>8社目割り当て</label>
        <locationX>1626</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail8.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail8.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.RealEstateCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_LoopCountUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_QuestionnaireDetail9</name>
        <label>9社目割り当て</label>
        <locationX>1682</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail9.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail9.RealEstateCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Company.RealEstateCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_LoopCountUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateQuestionnaireDetail1</name>
        <label>アンケート詳細項目割り当て1</label>
        <locationX>2161</locationX>
        <locationY>1112</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail1.ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactStatusQ4_1_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail1.ContactRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactRanking1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail1.OfferRealEstateDocumentNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OfferRealEstateDocumentNum1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail1.NonRealEstateInfoOfferNumRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_NonRealEstateInfoOfferNumRanking1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail1.ContactFrequencyRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactFrequencyRanking1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail1.SatisfactionLevelRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRanking1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail1.SatisfactionLevelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRankingReason1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_QuestionnaireDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_QuestionnaireDetail1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_QuestionnaireDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateQuestionnaireDetail10</name>
        <label>アンケート詳細項目割り当て10</label>
        <locationX>1194</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail10.ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactStatusQ4_1_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail10.ContactRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactRanking10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail10.OfferRealEstateDocumentNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OfferRealEstateDocumentNum10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail10.NonRealEstateInfoOfferNumRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_NonRealEstateInfoOfferNumRanking10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail10.ContactFrequencyRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactFrequencyRanking10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail10.SatisfactionLevelRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRanking10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail10.SatisfactionLevelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRankingReason10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_QuestionnaireDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_QuestionnaireDetail10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_UpdateQuestionnaireDetail9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateQuestionnaireDetail2</name>
        <label>アンケート詳細項目割り当て2</label>
        <locationX>2050</locationX>
        <locationY>1028</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail2.ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactStatusQ4_1_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail2.ContactRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactRanking2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail2.OfferRealEstateDocumentNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OfferRealEstateDocumentNum2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail2.NonRealEstateInfoOfferNumRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_NonRealEstateInfoOfferNumRanking2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail2.ContactFrequencyRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactFrequencyRanking2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail2.SatisfactionLevelRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRanking2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail2.SatisfactionLevelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRankingReason2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_QuestionnaireDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_QuestionnaireDetail2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_UpdateQuestionnaireDetail1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateQuestionnaireDetail3</name>
        <label>アンケート詳細項目割り当て3</label>
        <locationX>1952</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail3.ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactStatusQ4_1_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail3.ContactRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactRanking3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail3.OfferRealEstateDocumentNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OfferRealEstateDocumentNum3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail3.NonRealEstateInfoOfferNumRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_NonRealEstateInfoOfferNumRanking3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail3.ContactFrequencyRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactFrequencyRanking3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail3.SatisfactionLevelRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRanking3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail3.SatisfactionLevelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRankingReason3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_QuestionnaireDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_QuestionnaireDetail3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_UpdateQuestionnaireDetail2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateQuestionnaireDetail4</name>
        <label>アンケート詳細項目割り当て4</label>
        <locationX>1846</locationX>
        <locationY>889</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail4.ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactStatusQ4_1_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail4.ContactRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactRanking4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail4.OfferRealEstateDocumentNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OfferRealEstateDocumentNum4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail4.NonRealEstateInfoOfferNumRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_NonRealEstateInfoOfferNumRanking4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail4.ContactFrequencyRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactFrequencyRanking4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail4.SatisfactionLevelRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRanking4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail4.SatisfactionLevelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRankingReason4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_QuestionnaireDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_QuestionnaireDetail4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_UpdateQuestionnaireDetail3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateQuestionnaireDetail5</name>
        <label>アンケート詳細項目割り当て5</label>
        <locationX>1738</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail5.ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactStatusQ4_1_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail5.ContactRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactRanking5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail5.OfferRealEstateDocumentNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OfferRealEstateDocumentNum5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail5.NonRealEstateInfoOfferNumRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_NonRealEstateInfoOfferNumRanking5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail5.ContactFrequencyRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactFrequencyRanking5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail5.SatisfactionLevelRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRanking5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail5.SatisfactionLevelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRankingReason5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_QuestionnaireDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_QuestionnaireDetail5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_UpdateQuestionnaireDetail4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateQuestionnaireDetail6</name>
        <label>アンケート詳細項目割り当て6</label>
        <locationX>1627</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail6.ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactStatusQ4_1_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail6.ContactRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactRanking6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail6.OfferRealEstateDocumentNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OfferRealEstateDocumentNum6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail6.NonRealEstateInfoOfferNumRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_NonRealEstateInfoOfferNumRanking6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail6.ContactFrequencyRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactFrequencyRanking6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail6.SatisfactionLevelRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRanking6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail6.SatisfactionLevelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRankingReason6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_QuestionnaireDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_QuestionnaireDetail6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_UpdateQuestionnaireDetail5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateQuestionnaireDetail7</name>
        <label>アンケート詳細項目割り当て7</label>
        <locationX>1512</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail7.ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactStatusQ4_1_7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail7.ContactRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactRanking7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail7.OfferRealEstateDocumentNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OfferRealEstateDocumentNum7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail7.NonRealEstateInfoOfferNumRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_NonRealEstateInfoOfferNumRanking7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail7.ContactFrequencyRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactFrequencyRanking7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail7.SatisfactionLevelRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRanking7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail7.SatisfactionLevelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRankingReason7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_QuestionnaireDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_QuestionnaireDetail7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_UpdateQuestionnaireDetail6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateQuestionnaireDetail8</name>
        <label>アンケート詳細項目割り当て8</label>
        <locationX>1409</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail8.ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactStatusQ4_1_8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail8.ContactRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactRanking8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail8.OfferRealEstateDocumentNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OfferRealEstateDocumentNum8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail8.NonRealEstateInfoOfferNumRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_NonRealEstateInfoOfferNumRanking8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail8.ContactFrequencyRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactFrequencyRanking8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail8.SatisfactionLevelRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRanking8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail8.SatisfactionLevelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRankingReason8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_QuestionnaireDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_QuestionnaireDetail8</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_UpdateQuestionnaireDetail7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_UpdateQuestionnaireDetail9</name>
        <label>アンケート詳細項目割り当て9</label>
        <locationX>1302</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail9.ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactStatusQ4_1_9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail9.ContactRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactRanking9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail9.OfferRealEstateDocumentNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_OfferRealEstateDocumentNum9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail9.NonRealEstateInfoOfferNumRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_NonRealEstateInfoOfferNumRanking9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail9.ContactFrequencyRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_ContactFrequencyRanking9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail9.SatisfactionLevelRanking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRanking9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_QuestionnaireDetail9.SatisfactionLevelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>display_SatisfactionLevelRankingReason9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_QuestionnaireDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_QuestionnaireDetail9</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_UpdateQuestionnaireDetail8</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>selection_NotClear</name>
        <choiceText>不明</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不明</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decision_LoopCount</name>
        <label>ループ回数判定</label>
        <locationX>986</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_QuestionnaireDetail1</targetReference>
            </connector>
            <label>1社目</label>
        </rules>
        <rules>
            <name>isTwo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_QuestionnaireDetail2</targetReference>
            </connector>
            <label>2社目</label>
        </rules>
        <rules>
            <name>isThree</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_QuestionnaireDetail3</targetReference>
            </connector>
            <label>3社目</label>
        </rules>
        <rules>
            <name>isFour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_QuestionnaireDetail4</targetReference>
            </connector>
            <label>4社目</label>
        </rules>
        <rules>
            <name>isFive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_QuestionnaireDetail5</targetReference>
            </connector>
            <label>5社目</label>
        </rules>
        <rules>
            <name>isSix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_QuestionnaireDetail6</targetReference>
            </connector>
            <label>6社目</label>
        </rules>
        <rules>
            <name>isSeven</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_QuestionnaireDetai7</targetReference>
            </connector>
            <label>7社目</label>
        </rules>
        <rules>
            <name>isEight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_QuestionnaireDetail8</targetReference>
            </connector>
            <label>8社目</label>
        </rules>
        <rules>
            <name>isNine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_QuestionnaireDetail9</targetReference>
            </connector>
            <label>9社目</label>
        </rules>
        <rules>
            <name>isTen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_QuestionnaireDetail10</targetReference>
            </connector>
            <label>10社目</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_QuestionnaireDetailCountNum</name>
        <label>アンケート詳細レコード数判定</label>
        <locationX>658</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>screen_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>is1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_UpdateQuestionnaireDetail1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>is2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_UpdateQuestionnaireDetail2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>is3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_UpdateQuestionnaireDetail3</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>is4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_UpdateQuestionnaireDetail4</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>is5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_UpdateQuestionnaireDetail5</targetReference>
            </connector>
            <label>5</label>
        </rules>
        <rules>
            <name>is6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_UpdateQuestionnaireDetail6</targetReference>
            </connector>
            <label>6</label>
        </rules>
        <rules>
            <name>is7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_UpdateQuestionnaireDetail7</targetReference>
            </connector>
            <label>7</label>
        </rules>
        <rules>
            <name>is8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_UpdateQuestionnaireDetail8</targetReference>
            </connector>
            <label>8</label>
        </rules>
        <rules>
            <name>is9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_UpdateQuestionnaireDetail9</targetReference>
            </connector>
            <label>9</label>
        </rules>
        <rules>
            <name>is10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountCompanyNum</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_UpdateQuestionnaireDetail10</targetReference>
            </connector>
            <label>10</label>
        </rules>
        <rules>
            <name>isNotMediation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>display_IsIntroduction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>紹介を受けなかった</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_End</targetReference>
            </connector>
            <label>斡旋未利用</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>list_AgencyDecision</name>
        <dataType>String</dataType>
        <displayField>RealEstateCompanyName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Questionnaire__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>QuestionnaireDetail__c</object>
        <valueField>RealEstateCompany__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_AgencyDecisionReason</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AgencyDecisionReason__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_ContactStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ContactStatus__c</picklistField>
        <picklistObject>QuestionnaireDetail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_IsIntroduction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IsIntroduction__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_MediationCompanyHousingRegulations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MediationCompanyHousingRegulations__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_MediationConvenience</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MediationConvenience__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_MediationExplanation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MediationExplanation__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_MediationPeaceOfMind</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MediationPeaceOfMind__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_MediationProcedure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MediationProcedure__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_MediationQuality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MediationQuality__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_MoveReason</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MoveReason__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_MovingCompanyPrice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MovingCompanyPrice__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_MovingCompanyServiceQuality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MovingCompanyServiceQuality__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_OperatorCorrespondenceGoodPoint</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OperatorCorrespondenceGoodPoint__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_OperatorCorrespondenceImpression</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OperatorCorrespondenceImpression__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_OperatorCorrespondenceNotGoodPoint</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OperatorCorrespondenceNotGoodPoint__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_RequestService</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RequestService__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_ServiceNextTimeUse</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceNextTimeUse__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_ServiceUseFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceUseFrequency__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_UnintroductionReason</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UnintroductionReason__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>list_UseMovingCompany</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UseMovingCompany__c</picklistField>
        <picklistObject>Questionnaire__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>NE_アンケート入力画面 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_アンケート入力画面</label>
    <loops>
        <name>loop_Company</name>
        <label>不動産会社割り当てループ</label>
        <locationX>672</locationX>
        <locationY>413</locationY>
        <collectionReference>get_QuestionnaireDetail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_LoopCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen_InputQuestionnaire</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_QuestionnaireDetail</name>
        <label>斡旋依頼業者取得</label>
        <locationX>670</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Questionnaire__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuestionnaireDetail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RealEstateCompany__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Questionnaire</name>
        <label>アンケートレコードを更新</label>
        <locationX>668</locationX>
        <locationY>823</locationY>
        <connector>
            <targetReference>decision_QuestionnaireDetailCountNum</targetReference>
        </connector>
        <inputReference>var_Questionnaire</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_QuestionnaireDetail</name>
        <label>アンケート詳細レコードを更新</label>
        <locationX>1916</locationX>
        <locationY>1255</locationY>
        <connector>
            <targetReference>screen_End</targetReference>
        </connector>
        <inputReference>collection_QuestionnaireDetail</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_End</name>
        <label>完了画面</label>
        <locationX>668</locationX>
        <locationY>1152</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_End</name>
            <fieldText>&lt;p&gt;アンケート回答が完了しました。&lt;/p&gt;&lt;p&gt;ご協力ありがとうございました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>完了</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_InputQuestionnaire</name>
        <label>アンケート入力画面</label>
        <locationX>668</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_Questionnaire</targetReference>
        </connector>
        <fields>
            <name>display_Guide</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;●社宅管理代行サービスについてのアンケート&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;質問文と注意書きにしたがって上から順にお答えください。&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;「&lt;/span&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;*&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;」のついた質問は必ずお答えください。&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ1</name>
                    <fieldText>&lt;p&gt;【Q1】今回の転居理由についてお答えください。（複数回答可）&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_MoveReason</name>
                    <choiceReferences>list_MoveReason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_MoveReasonOther</name>
                    <fieldText>その他詳細</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_GuideQ2</name>
                    <fieldText>&lt;p&gt;【Q2】今回の転居において日本社宅サービスから不動産の紹介を受けましたか？&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_IsIntroduction</name>
                    <choiceReferences>list_IsIntroduction</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_GuideQ3</name>
                    <fieldText>&lt;p&gt;【Q3】Q2で紹介を受けなかったという方にお伺いします。紹介を受けなかった理由を教えてください。（複数回答可）&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_UnintroductionReason</name>
                    <choiceReferences>list_UnintroductionReason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_UnintroductionReasonOther</name>
                    <fieldText>その他詳細</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_GuideQ4</name>
                    <fieldText>&lt;p&gt;【Q4】&lt;u&gt;Q2で紹介を受けた方に、&lt;/u&gt;紹介を受けた不動産会社についてお伺いします。&lt;b style=&quot;color: rgb(255, 3, 3);&quot;&gt;*&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_GuideCompanyEqualZero</name>
                    <fieldText>&lt;p&gt;斡旋依頼をした不動産会社が存在しないようです。Q5以降にお進みください。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_InputQuestionnaire_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ4_1</name>
                    <fieldText>&lt;p&gt;【Q4‐1】各不動産会社との接触状況についてお聞かせください。&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_ContactStatusQ4_1_1</name>
                    <choiceReferences>list_ContactStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!var_QuestionnaireDetail1.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactStatusQ4_1_2</name>
                    <choiceReferences>list_ContactStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!var_QuestionnaireDetail2.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>2.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactStatusQ4_1_3</name>
                    <choiceReferences>list_ContactStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!var_QuestionnaireDetail3.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>3.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactStatusQ4_1_4</name>
                    <choiceReferences>list_ContactStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!var_QuestionnaireDetail4.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>4.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactStatusQ4_1_5</name>
                    <choiceReferences>list_ContactStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!var_QuestionnaireDetail5.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>5.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactStatusQ4_1_6</name>
                    <choiceReferences>list_ContactStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!var_QuestionnaireDetail6.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>6.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactStatusQ4_1_7</name>
                    <choiceReferences>list_ContactStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!var_QuestionnaireDetail7.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>7.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactStatusQ4_1_8</name>
                    <choiceReferences>list_ContactStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!var_QuestionnaireDetail8.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>8.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactStatusQ4_1_9</name>
                    <choiceReferences>list_ContactStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!var_QuestionnaireDetail9.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>9.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactStatusQ4_1_10</name>
                    <choiceReferences>list_ContactStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!var_QuestionnaireDetail10.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>10.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_GuideQ4_2</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;【Q4-2】連絡が早かった不動産会社の順番をご記入ください。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactRanking1</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail1.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactRanking2</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail2.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>2.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactRanking3</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail3.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>3.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactRanking4</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail4.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>4.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactRanking5</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail5.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>5.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactRanking6</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail6.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>6.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactRanking7</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail7.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>7.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactRanking8</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail8.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>8.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactRanking9</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail9.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>9.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactRanking10</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail10.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>10.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_GuideQ4_3</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;【Q4‐3】各社からの提供された物件資料の数をご記入ください。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_OfferRealEstateDocumentNum1</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail1.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_OfferRealEstateDocumentNum2</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail2.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>2.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_OfferRealEstateDocumentNum3</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail3.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>3.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_OfferRealEstateDocumentNum4</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail4.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>4.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_OfferRealEstateDocumentNum5</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail5.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>5.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_OfferRealEstateDocumentNum6</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail6.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>6.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_OfferRealEstateDocumentNum7</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail7.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>7.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_OfferRealEstateDocumentNum8</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail8.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>8.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_OfferRealEstateDocumentNum9</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail9.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>9.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_OfferRealEstateDocumentNum10</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail10.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>10.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_Guide4_4</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;【Q4-4】物件以外の情報（地域情報、スケジュール表など）を多く提供した不動産会社の順位をご記入ください。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_NonRealEstateInfoOfferNumRanking1</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail1.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_NonRealEstateInfoOfferNumRanking2</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail2.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>2.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_NonRealEstateInfoOfferNumRanking3</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail3.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>3.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_NonRealEstateInfoOfferNumRanking4</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail4.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>4.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_NonRealEstateInfoOfferNumRanking5</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail5.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>5.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_NonRealEstateInfoOfferNumRanking6</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail6.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>6.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_NonRealEstateInfoOfferNumRanking7</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail7.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>7.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_NonRealEstateInfoOfferNumRanking8</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail8.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>8.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_NonRealEstateInfoOfferNumRanking9</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail9.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>9.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_NonRealEstateInfoOfferNumRanking10</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail10.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>10.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_GuideQ4_5</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;【Q4-5】連絡回数の多かった不動産会社の順番をご記入ください。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactFrequencyRanking1</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail1.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactFrequencyRanking2</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail2.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>2.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactFrequencyRanking3</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail3.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>3.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactFrequencyRanking4</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail4.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>4.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactFrequencyRanking5</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail5.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>5.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactFrequencyRanking6</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail6.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>6.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactFrequencyRanking7</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail7.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>7.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactFrequencyRanking8</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail8.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>8.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactFrequencyRanking9</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail9.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>9.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ContactFrequencyRanking10</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail10.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>10.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_GuideQ4_6</name>
                    <fieldText>&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;【Q4-6】対応全体で満足度の高かった業者の順位をご記入ください。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRanking1</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail1.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRankingReason1</name>
                    <fieldText>理由</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRanking2</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail2.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>2.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRankingReason2</name>
                    <fieldText>理由</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>2.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRanking3</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail3.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>3.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRankingReason3</name>
                    <fieldText>理由</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>3.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRanking4</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail4.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>4.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRankingReason4</name>
                    <fieldText>理由</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>4.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRanking5</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail5.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>5.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRankingReason5</name>
                    <fieldText>理由</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>5.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRanking6</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail6.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>6.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRankingReason6</name>
                    <fieldText>理由</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>6.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRanking7</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail7.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>7.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRankingReason7</name>
                    <fieldText>理由</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>7.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRanking8</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail8.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>8.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRankingReason8</name>
                    <fieldText>理由</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>8.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRanking9</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail9.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>9.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRankingReason9</name>
                    <fieldText>理由</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>9.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRanking10</name>
                    <dataType>Number</dataType>
                    <fieldText>{!var_QuestionnaireDetail10.RealEstateCompany__r.Name}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>10.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_SatisfactionLevelRankingReason10</name>
                    <fieldText>理由</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>10.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_GuideQ4_7</name>
                    <fieldText>&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;【Q4-7】物件を決定した業者名を入力してください。&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/b&gt;&lt;/p&gt;&lt;p&gt;※業者名を忘れてしまった場合は、「不明」を選択してください。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_AgencyDecision</name>
                    <choiceReferences>list_AgencyDecision</choiceReferences>
                    <choiceReferences>selection_NotClear</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>display_GuideQ4_8</name>
                    <fieldText>&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;【Q4-8】仲介不動産会社を決定した理由をお答えください。（複数回答可）&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_AgencyDecisionReason</name>
                    <choiceReferences>list_AgencyDecisionReason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_AgencyDecisionReasonOther</name>
                    <fieldText>その他詳細</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_GuideQ4_9</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;【Q4-9】Q4-8で「担当が良かった」と回答された方に、具体的に良かった点についてお答えください。&lt;/p&gt;&lt;p&gt;例）親切丁寧な対応だった、安心感があった、レスポンスが早かった、法人契約人関する知識が豊富だった。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_CountCompanyNum</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ChargeGoodReason</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_CountCompanyNum</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display_GuideQ5</name>
            <fieldText>&lt;p&gt;&lt;u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/u&gt;【Q5】&lt;u&gt;Q2で紹介を受けた方に、&lt;/u&gt;不動産会社の斡旋紹介サービスについてお伺いします。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_InputQuestionnaire_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_MediationPeaceOfMind</name>
                    <choiceReferences>list_MediationPeaceOfMind</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>【Q5-1】会社からの紹介だと安心感がある。</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_MediationCompanyHousingRegulations</name>
                    <choiceReferences>list_MediationCompanyHousingRegulations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>【Q5-2】社宅の規定を踏まえた物件紹介を受けることができた。</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_MediationConvenience</name>
                    <choiceReferences>list_MediationConvenience</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>【Q5-3】時間や土地勘がない中で不動産会社の斡旋紹介があると便利</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_MediationExplanation</name>
                    <choiceReferences>list_MediationExplanation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>【Q5-4】不動産会社から周辺環境の説明を受けることができた</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_MediationProcedure</name>
                    <choiceReferences>list_MediationProcedure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>【Q5-5】物件を決定してからの会社との手続きがスムーズにできた</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_MediationQuality</name>
                    <choiceReferences>list_MediationQuality</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>【Q5-6】紹介される不動産会社の品質にバラツキがある</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ6</name>
                    <fieldText>&lt;p&gt;【Q6】過去に日本社宅サービスからの不動産会社紹介（日本社宅ネット）をご利用になった回数を教えてください。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_ServiceUseFrequency</name>
                    <choiceReferences>list_ServiceUseFrequency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>display_GuideQ7</name>
            <fieldText>&lt;p&gt;【Q7‐1】次回の転勤時に日本社宅サービスからの不動産会社紹介（日本社宅ネット）をご利用されますか？&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display_ServiceNextTimeUse</name>
            <choiceReferences>list_ServiceNextTimeUse</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_InputQuestionnaire_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ7_2</name>
                    <fieldText>&lt;p&gt;【Q7‐2】Q7‐1で「使いたくない」と答えた方にお伺いします。差し支えなければ理由をお聞かせください。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_ServiceNextTimeNotUsedReson</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ8</name>
                    <fieldText>&lt;p&gt;【Q8】今回のご赴任にあたって、あればいいなと思ったサービスを教えてください。（複数回答可）&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_RequestService</name>
                    <choiceReferences>list_RequestService</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_RequestServiceOther</name>
                    <fieldText>その他詳細</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ9</name>
                    <fieldText>&lt;p&gt;【Q9】引越についてお伺いします。ご利用された引越会社名をお答えください。&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_UseMovingCompany</name>
                    <choiceReferences>list_UseMovingCompany</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_UseMovingCompanyOther</name>
                    <dataType>String</dataType>
                    <fieldText>その他詳細</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ10</name>
                    <fieldText>&lt;p&gt;【Q10】引越サービスの下記質問についてお答えください。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_MovingCompanyServiceQuality</name>
                    <choiceReferences>list_MovingCompanyServiceQuality</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>１．引越会社のサービスの品質</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_MovingCompanyPrice</name>
                    <choiceReferences>list_MovingCompanyPrice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>2．引越会社の価格</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ11</name>
                    <fieldText>&lt;p&gt;【Q11】引越し作業やサービスのについての意見・要望&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_MovingServiceOpinionAndRequest</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ12</name>
                    <fieldText>&lt;p&gt;【Q12】日本社宅サービスのサービス、オペレーターの対応の感想をお答えください。&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_OperatorCorrespondenceImpression</name>
                    <choiceReferences>list_OperatorCorrespondenceImpression</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ13</name>
                    <fieldText>&lt;p&gt;【Q13】日本社宅サービスのオペレーターの対応、サービスでよかったところをお答えください。（複数回答可）&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_OperatorCorrespondenceGoodPoint</name>
                    <choiceReferences>list_OperatorCorrespondenceGoodPoint</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_OperatorCorrespondenceGoodPointOther</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ14</name>
                    <fieldText>&lt;p&gt;【Q14】対応したオペレーター名をお答えください。&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_OperatorName</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ15</name>
                    <fieldText>&lt;p&gt;【Q15】日本社宅サービスのオペレーターの対応、サービスで悪かったところをお答えください。（複数回答可）&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_OperatorCorrespondenceNotGoodPoint</name>
                    <choiceReferences>list_OperatorCorrespondenceNotGoodPoint</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>display_OperatorCorrespondenceNotGoodPointOther</name>
                    <fieldText>その他詳細</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_InputQuestionnaire_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_InputQuestionnaire_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_GuideQ16</name>
                    <fieldText>&lt;p&gt;【Q16】転勤・転居で「あったらいいな」と思うサービス&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>display_TransferMoveRequestService</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Start</name>
        <label>開始画面</label>
        <locationX>671</locationX>
        <locationY>171</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_QuestionnaireDetail</targetReference>
        </connector>
        <fields>
            <name>display_Start</name>
            <fieldText>&lt;p&gt;アンケート回答を開始します。&lt;/p&gt;&lt;p&gt;よろしければ「次へ」を押してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>次へ</nextOrFinishButtonLabel>
        <pauseButtonLabel>中止</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>547</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>screen_Start</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_QuestionnaireDetail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireDetail__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CountCompanyNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Questionnaire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>var_QuestionnaireDetail1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireDetail__c</objectType>
    </variables>
    <variables>
        <name>var_QuestionnaireDetail10</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireDetail__c</objectType>
    </variables>
    <variables>
        <name>var_QuestionnaireDetail2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireDetail__c</objectType>
    </variables>
    <variables>
        <name>var_QuestionnaireDetail3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireDetail__c</objectType>
    </variables>
    <variables>
        <name>var_QuestionnaireDetail4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireDetail__c</objectType>
    </variables>
    <variables>
        <name>var_QuestionnaireDetail5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireDetail__c</objectType>
    </variables>
    <variables>
        <name>var_QuestionnaireDetail6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireDetail__c</objectType>
    </variables>
    <variables>
        <name>var_QuestionnaireDetail7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireDetail__c</objectType>
    </variables>
    <variables>
        <name>var_QuestionnaireDetail8</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireDetail__c</objectType>
    </variables>
    <variables>
        <name>var_QuestionnaireDetail9</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuestionnaireDetail__c</objectType>
    </variables>
</Flow>
