force-app/main/default/flows/InvalidationPortalUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_IsInactive</name>
        <label>ポータル無効化割り当て</label>
        <locationX>668</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>loop_AssignVariable.IsInactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_PortalUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AssignVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignVariable</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>choiceCol_User</name>
        <collectionReference>get_PortalUserAll</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceRec_PortalUser</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcoountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.AcoountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ポータルユーザ無効化 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PU_ポータルユーザ無効化</label>
    <loops>
        <name>loop_AssignVariable</name>
        <label>変数割り当てループ</label>
        <locationX>776</locationX>
        <locationY>656</locationY>
        <collectionReference>get_PortalUserSelect</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_IsInactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_PortalUser</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_PortalUserAll</name>
        <label>ユーザを取得</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcoountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.AcoountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PortalUserSelect</name>
        <label>選択されたポータルユーザを取得</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_AssignVariable</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_DeleteUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_PortalUser</name>
        <label>ユーザを無効化</label>
        <locationX>776</locationX>
        <locationY>762</locationY>
        <connector>
            <targetReference>screen_FinishMassage</targetReference>
        </connector>
        <inputReference>varCol_PortalUser</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_ContactSelect</name>
        <label>画面</label>
        <locationX>776</locationX>
        <locationY>419</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_PortalUserSelect</targetReference>
        </connector>
        <fields>
            <name>display_DeleteUser</name>
            <fieldText>&lt;p&gt;削除したいユーザを選択してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_DeleteUser</name>
            <choiceReferences>choiceCol_User</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_FinishMassage</name>
        <label>完了画面</label>
        <locationX>777</locationX>
        <locationY>873</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_FinishMassage</name>
            <fieldText>&lt;p&gt;削除ユーザを報告しました。&lt;/p&gt;&lt;p&gt;ユーザの無効化は最大で24時間後に行われます。&lt;/p&gt;&lt;p&gt;24時間以上あけてから無効化されているかの確認をお願いします。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_PortalUserAll</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_PortalUser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
