force-app/main/default/flows/InvoiceReceiptAsynchronous.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_ReportName</name>
        <label>帳票名割り当て</label>
        <locationX>775</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>var_RecordReportMasterToken.ReportName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>F_InvoiceReceiptAsynchronous</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ReportName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RecordReportMasterToken.ReportName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>flow_ReportOutput</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_ApprovalContact</name>
        <label>承認後連絡</label>
        <locationX>768</locationX>
        <locationY>392</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>InvoiceReceipt</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CancelCalculate__r.IsCalculateCounterAutoNotice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CancelCalculate__r.BillingDocumentReceiptDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ReportName</targetReference>
            </connector>
            <label>解約（請求書受領済み）</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsSendSuccess</name>
        <label>送信成功判定</label>
        <locationX>769</locationX>
        <locationY>901</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>SendSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsSendSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_TodoSuccess</targetReference>
            </connector>
            <label>送信成功</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_DepositRefundScheduledDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!$Setup.ReminderSetting__c.ReturnScheduleDate__c}</expression>
    </formulas>
    <formulas>
        <name>formula_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CL_精算合意及び精算金送金案内（非同期） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CL_精算合意及び精算金送金案内_新規作成（非同期）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_TodoSuccess</name>
        <label>Todoを作成</label>
        <locationX>777</locationX>
        <locationY>1056</locationY>
        <connector>
            <targetReference>update_CancelCalculate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>精算窓口へ承認後連絡を行いました。</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CancelCalculate__r.CancelCalculateTeam__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>精算合意及び精算金送金案内</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.CancelCalculate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約精算レコード更新</label>
        <locationX>776</locationX>
        <locationY>1195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CancelCalculate__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovedContactDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DepositRefundScheduledDate__c</field>
            <value>
                <elementReference>formula_DepositRefundScheduledDate</elementReference>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>承認</stringValue>
            </value>
        </filters>
        <filters>
            <field>RefundTotalAmount__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>CancelCalculate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>DecisionApplication2__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>decision_ApprovalContact</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AutoNotificationCancelCalculate</name>
        <label>NT_自動通知（解約精算）</label>
        <locationX>776</locationX>
        <locationY>752</locationY>
        <connector>
            <targetReference>decision_IsSendSuccess</targetReference>
        </connector>
        <flowName>AutoNotificationCancelCalculate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.CancelCalculate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultMailTemplate__c.InvoiceReceipt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>$Record.CancelCalculate__r.CalculateCounter__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputChatterGroupId</name>
            <value>
                <elementReference>$Record.CancelCalculate__r.CalculateCounter__r.Account__r.ChatterGroupId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputDefaultReportNo</name>
            <value>
                <elementReference>var_inputReportNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>$Record.CancelCalculate__r.CalculateCounterEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFax</name>
            <value>
                <elementReference>$Record.CancelCalculate__r.CalculateCounterFax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFax</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>0円精算</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_inputReportNo</name>
            <value>
                <elementReference>var_inputReportNum</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>flow_ReportOutput</name>
        <label>帳票番号を取得</label>
        <locationX>776</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>AutoNotificationCancelCalculate</targetReference>
        </connector>
        <flowName>ReportOutput</flowName>
        <inputAssignments>
            <name>var_AccountId</name>
            <value>
                <elementReference>$Record.CancelCalculate__r.CalculateCounter__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputReportName</name>
            <value>
                <elementReference>var_ReportName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_inputReportNum</assignToReference>
            <name>var_OutputReportNum</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_inputReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_RecordReportMasterToken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportMaster__c</objectType>
    </variables>
    <variables>
        <name>var_ReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
