force-app/main/default/flows/LeaveApplicationReminderChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_Change</name>
        <label>入替レコードセット</label>
        <locationX>1062</locationX>
        <locationY>1513</locationY>
        <assignmentItems>
            <assignToReference>varCol_Change</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>自動通知で出力したコレクション変数を呼び出し元のコレクション変数に割り当てることで5件以上の選択があった場合でも上書きされないようになる</description>
        <name>assign_Collection</name>
        <label>コレクション変数を割当</label>
        <locationX>1255</locationX>
        <locationY>1081</locationY>
        <assignmentItems>
            <assignToReference>varCol_ToDo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCol_TemporaryTodo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_IsSendSuccess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Count</name>
        <label>カウント追加</label>
        <locationX>1062</locationX>
        <locationY>1633</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_count5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Failure</name>
        <label>督促失敗割り当て</label>
        <locationX>860</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>var_Change.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Change.IsRetireExpectedPersonReminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>督促失敗</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_IsRetireExpectedPersonReminder</name>
        <label>退去申請督促種別更新</label>
        <locationX>1124</locationX>
        <locationY>1296</locationY>
        <assignmentItems>
            <assignToReference>var_Change.IsRetireExpectedPersonReminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>督促済み</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Change.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_LeaveApplicationReminder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ResetCount</name>
        <label>カウントリセット</label>
        <locationX>930</locationX>
        <locationY>1993</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_LeaveApplicationReminder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_count5</name>
        <label>5件到達判定</label>
        <locationX>1062</locationX>
        <locationY>1753</locationY>
        <defaultConnector>
            <targetReference>loop_LeaveApplicationReminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>count5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_count50</targetReference>
            </connector>
            <label>5件到達</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsSendSuccess</name>
        <label>送信成功判定</label>
        <locationX>1256</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>assign_Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>送信失敗</defaultConnectorLabel>
        <rules>
            <name>isSendSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsSendSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_IsRetireExpectedPersonReminder</targetReference>
            </connector>
            <label>送信成功</label>
        </rules>
    </decisions>
    <decisions>
        <description>レコードを1つも選択しなかった場合はエラー画面を出す為</description>
        <name>dicision_ids</name>
        <label>選択レコードの有無判定</label>
        <locationX>760</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>loop_LeaveApplicationReminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>選択あり</defaultConnectorLabel>
        <rules>
            <name>isNotids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_NotLeaveApplicationReminder</targetReference>
            </connector>
            <label>選択なし</label>
        </rules>
    </decisions>
    <description>通知テンプレートの取得要素の条件を変更
・Id = 解約申入＞企業名＞通知テンプレート
通知テンプレート取得判定要素の削除
ToDo割り当て要素の削除
自動通知サブフローのInput値の変更
・「var_InputAccountId」には”企業名”
決定要素の結果のAPI参照名を修正</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_Contact</name>
        <dataType>String</dataType>
        <expression>if({!get_Change.RecordType.Name} = &quot;入替(退去)&quot;, {!get_Change.LeftEmployee__c}, {!get_Change.IsLeaveCompleted__c})</expression>
    </formulas>
    <formulas>
        <name>formula_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Subject__c.NotificationTemplateSubject__c} + &quot;（退去申請督促）&quot;</expression>
    </formulas>
    <interviewLabel>CA_退職者リスト退去申請督促 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH_退職者リスト退去申請督促（入替）</label>
    <loops>
        <name>loop_LeaveApplicationReminder</name>
        <label>退去申請督促ループ</label>
        <locationX>776</locationX>
        <locationY>481</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Change</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Change</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_ToDo</name>
        <label>ToDoレコード作成</label>
        <locationX>776</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>screen_LeaveApplicationReminderEnd</targetReference>
        </connector>
        <inputReference>varCol_ToDo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Change</name>
        <label>入替レコード取得</label>
        <locationX>1062</locationX>
        <locationY>601</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NotificationTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_LeaveApplicationReminder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NotificationTemplate</name>
        <label>通知テンプレート取得</label>
        <locationX>1062</locationX>
        <locationY>721</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flow_IdentifyChat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Change.Account__r.NotificationTemplate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NotificationTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Change</name>
        <label>入替レコード更新</label>
        <locationX>776</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>create_ToDo</targetReference>
        </connector>
        <inputReference>varCol_Change</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_count50</name>
        <label>退去申請督促確認完了画面</label>
        <locationX>930</locationX>
        <locationY>1873</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_ResetCount</targetReference>
        </connector>
        <fields>
            <name>display_count50</name>
            <fieldText>&lt;p&gt;5件の対象案件に対し、督促が完了しました。残りの対象案件に対して督促を行うため、「次へ」をクリックしてください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_LeaveApplicationReminder</name>
        <label>退去申請督促確認画面</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dicision_ids</targetReference>
        </connector>
        <fields>
            <name>display_LeaveApplicationReminder</name>
            <fieldText>&lt;p&gt;選択した入替物件の社宅利用者に対し、退去申請の督促を行います。問題がなければ「次へ」をクリックしてください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_LeaveApplicationReminderEnd</name>
        <label>退去申請督促確認完了画面</label>
        <locationX>776</locationX>
        <locationY>2390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_LeaveApplicationReminderEnd</name>
            <fieldText>&lt;p&gt;退去申請の督促が完了しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>レコードを1つ以上選択しなかった場合に表示されるエラー画面</description>
        <name>screen_NotLeaveApplicationReminder</name>
        <label>選択レコードなし画面</label>
        <locationX>515</locationX>
        <locationY>335</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_NotLeaveApplicationReminder</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;※該当レコードを1つ以上選択してください&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screen_LeaveApplicationReminder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_AutoNotificationChange</name>
        <label>自動通知（入替）</label>
        <locationX>1260</locationX>
        <locationY>961</locationY>
        <connector>
            <targetReference>assign_Collection</targetReference>
        </connector>
        <flowName>AutoNotificationChange</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>loop_LeaveApplicationReminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultFeedTemplate</name>
            <value>
                <elementReference>$Setup.DefaultFeedTemplate__c.LeaveApplicationReminderChange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultMailTemplate__c.LeaveApplicationReminderChange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>get_Change.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_inputChatID</name>
            <value>
                <elementReference>var_ChatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputContactId</name>
            <value>
                <elementReference>get_Change.ProxyContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>get_Change.ProxyContact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmailTemplate</name>
            <value>
                <elementReference>get_NotificationTemplate.RetireExpectedRemindChangeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFeedTemplete</name>
            <value>
                <elementReference>get_NotificationTemplate.RetireExpectedRemindChangeFeed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <elementReference>var_isJudgeChat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>退去申請督促</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_TemporaryTodo</assignToReference>
            <name>varCol_Todo</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>var_ChatIDを取得する</description>
        <name>flow_IdentifyChat</name>
        <label>MB_チャット特定フロー</label>
        <locationX>1259</locationX>
        <locationY>843</locationY>
        <connector>
            <targetReference>flow_AutoNotificationChange</targetReference>
        </connector>
        <flowName>MB_IdentifyChat</flowName>
        <inputAssignments>
            <name>var_OperationId</name>
            <value>
                <elementReference>get_Change.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SNT_Resident</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_ChatId</assignToReference>
            <name>var_ChatId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_isJudgeChat</assignToReference>
            <name>var_isJudgeChat</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>text_FeedTemplateError</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Chatterテンプレートの設定がされていないため、退去申請督促が自動送信されませんでした。システム管理者に確認をしてください。</text>
    </textTemplates>
    <textTemplates>
        <name>text_MailTemplateError</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>メールテンプレートの設定がされていないため、退去申請督促が自動送信されませんでした。システム管理者に確認をしてください。</text>
    </textTemplates>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Cancel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cancel__c</objectType>
    </variables>
    <variables>
        <name>var_Change</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change__c</objectType>
    </variables>
    <variables>
        <name>var_ChatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_isJudgeChat</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ToDo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCol_Cancel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cancel__c</objectType>
    </variables>
    <variables>
        <name>varCol_Change</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change__c</objectType>
    </variables>
    <variables>
        <name>varCol_TemporaryTodo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCol_ToDo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
