force-app/main/default/flows/MA_ReflectAccountInfoInMatching.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_Matching</name>
        <label>マッチングレコード割り当て</label>
        <locationX>1296</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerCompanySummaryUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CompanySummaryUrl_Landload</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerAdress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload.BillingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerZipCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerRepresentativeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RepresentativeName_Landload</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerHeadQuarterAdress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_HeadQuarterAdress_Landload</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerKana__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload.AccountKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerFax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload.MainEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerCompanySummaryUrl2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CompanySummaryUrl_Landload2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerAdress2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload2.BillingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerZipCode2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload2.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerName2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerRepresentativeName2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RepresentativeName_Landload2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerHeadQuarterAdress2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_HeadQuarterAdress_Landload2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerNameKana2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload2.AccountKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerFax2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload2.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerEmailAdress2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload2.MainEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerPhone2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload2.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerCompanySummaryUrl3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CompanySummaryUrl_Landload3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerAdress3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload3.BillingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerZipCode3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload3.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerName3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload3.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerRepresentativeName3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RepresentativeName_Landload3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerHeadQuarterAdress3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_HeadQuarterAdress_Landload3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerNameKana3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload3.AccountKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerFax3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload3.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerEmail3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload3.MainEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerPhone3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload3.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerCompanySummaryUrl4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CompanySummaryUrl_Landload4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerAdress4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload4.BillingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerZipCode4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload4.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerName4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload4.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerRepresentativeName4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RepresentativeName_Landload4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerHeadQuarterAdress4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_HeadQuarterAdress_Landload4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerNameKana4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload4.AccountKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerFax4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload4.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerEmail4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload4.MainEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerPhone4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload4.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerCompanySummaryUrl5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CompanySummaryUrl_Landload5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerAdress5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload5.BillingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerZipCode5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload5.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerName5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload5.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerRepresentativeName5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RepresentativeName_Landload5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerHeadQuarterAdress5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_HeadQuarterAdress_Landload5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerNameKana5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload5.AccountKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerFax5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload5.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerEmail5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload5.MainEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerPhone5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Landload5.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerProxyCompanySummaryUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CompanySummaryUrl_LandloadAgency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerProxyAdress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_LandloadAgency.BillingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerProxyZipCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_LandloadAgency.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerProxyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_LandloadAgency.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerProxyRepresentativeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RepresentativeName_LandloadAgency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerProxyHeadQuarterAdress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_HeadQuarterAdress_LandloadAgency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerProxyNameKana__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_LandloadAgency.AccountKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerProxyFax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_LandloadAgency.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerProxyEmailAdress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_LandloadAgency.MainEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.OwnerProxyPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_LandloadAgency.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ManagementCompanyCompanySummaryUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CompanySummaryUrl_ManagementCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ManagementCompanyAdress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ManagementCompany.BillingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ManagementCompanyZipCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ManagementCompany.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ManagementCompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ManagementCompany.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ManagementCompanyRepresentative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RepresentativeName_ManagementCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ManagementCompanyHeadQuarterAdress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_HeadQuarterAdress_ManagementCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ManagementCompanyNameKana__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ManagementCompany.AccountKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ManagementCompanyFax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ManagementCompany.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ManagementCompanyEmailAdress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ManagementCompany.MainEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ManagementCompanyPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ManagementCompany.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Matching</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formula_CompanySummaryUrl_Landload</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload.ParentId}),{!get_Landload.Website},{!get_Landload.Parent.Website})</expression>
    </formulas>
    <formulas>
        <name>formula_CompanySummaryUrl_Landload2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload2.ParentId}),{!get_Landload2.Website},{!get_Landload2.Parent.Website})</expression>
    </formulas>
    <formulas>
        <name>formula_CompanySummaryUrl_Landload3</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload3.ParentId}),{!get_Landload3.Website},{!get_Landload3.Parent.Website})</expression>
    </formulas>
    <formulas>
        <name>formula_CompanySummaryUrl_Landload4</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload4.ParentId}),{!get_Landload4.Website},{!get_Landload4.Parent.Website})</expression>
    </formulas>
    <formulas>
        <name>formula_CompanySummaryUrl_Landload5</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload5.ParentId}),{!get_Landload5.Website},{!get_Landload5.Parent.Website})</expression>
    </formulas>
    <formulas>
        <name>formula_CompanySummaryUrl_LandloadAgency</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_LandloadAgency.ParentId}),{!get_LandloadAgency.Website},{!get_LandloadAgency.Parent.Website})</expression>
    </formulas>
    <formulas>
        <name>formula_CompanySummaryUrl_ManagementCompany</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_ManagementCompany.ParentId}),{!get_ManagementCompany.Website},{!get_ManagementCompany.Parent.Website})</expression>
    </formulas>
    <formulas>
        <name>formula_HeadQuarterAdress_Landload</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload.ParentId}),{!get_Landload.BillingAddress},{!get_Landload.Parent.BillingAddress})</expression>
    </formulas>
    <formulas>
        <name>formula_HeadQuarterAdress_Landload2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload2.ParentId}),{!get_Landload2.BillingAddress},{!get_Landload2.Parent.BillingAddress})</expression>
    </formulas>
    <formulas>
        <name>formula_HeadQuarterAdress_Landload3</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload3.ParentId}),{!get_Landload3.BillingAddress},{!get_Landload3.Parent.BillingAddress})</expression>
    </formulas>
    <formulas>
        <name>formula_HeadQuarterAdress_Landload4</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload4.ParentId}),{!get_Landload4.BillingAddress},{!get_Landload4.Parent.BillingAddress})</expression>
    </formulas>
    <formulas>
        <name>formula_HeadQuarterAdress_Landload5</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload5.ParentId}),{!get_Landload5.BillingAddress},{!get_Landload5.Parent.BillingAddress})</expression>
    </formulas>
    <formulas>
        <name>formula_HeadQuarterAdress_LandloadAgency</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_LandloadAgency.ParentId}),{!get_LandloadAgency.BillingAddress},{!get_LandloadAgency.Parent.BillingAddress})</expression>
    </formulas>
    <formulas>
        <name>formula_HeadQuarterAdress_ManagementCompany</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_ManagementCompany.ParentId}),{!get_ManagementCompany.BillingAddress},{!get_ManagementCompany.Parent.BillingAddress})</expression>
    </formulas>
    <formulas>
        <name>formula_RepresentativeName_Landload</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload.ParentId}),{!get_Landload.Representative__c},{!get_Landload.Parent.Representative__c})</expression>
    </formulas>
    <formulas>
        <name>formula_RepresentativeName_Landload2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload2.ParentId}),{!get_Landload2.Representative__c},{!get_Landload2.Parent.Representative__c})</expression>
    </formulas>
    <formulas>
        <name>formula_RepresentativeName_Landload3</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload3.ParentId}),{!get_Landload3.Representative__c},{!get_Landload3.Parent.Representative__c})</expression>
    </formulas>
    <formulas>
        <name>formula_RepresentativeName_Landload4</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload4.ParentId}),{!get_Landload4.Representative__c},{!get_Landload4.Parent.Representative__c})</expression>
    </formulas>
    <formulas>
        <name>formula_RepresentativeName_Landload5</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_Landload5.ParentId}),{!get_Landload5.Representative__c},{!get_Landload5.Parent.Representative__c})</expression>
    </formulas>
    <formulas>
        <name>formula_RepresentativeName_LandloadAgency</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_LandloadAgency.ParentId}),{!get_LandloadAgency.Representative__c},{!get_LandloadAgency.Parent.Representative__c})</expression>
    </formulas>
    <formulas>
        <name>formula_RepresentativeName_ManagementCompany</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_ManagementCompany.ParentId}),{!get_ManagementCompany.Representative__c},{!get_ManagementCompany.Parent.Representative__c})</expression>
    </formulas>
    <interviewLabel>MA_取引先情報反映 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MA_取引先情報反映</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Landload</name>
        <label>家主取得</label>
        <locationX>1256</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Landload2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Matching.OwnerInfoId__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Landload2</name>
        <label>家主2取得</label>
        <locationX>1255</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Landload3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Matching.OwnerInfoId2__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Landload3</name>
        <label>家主3取得</label>
        <locationX>1267</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Landload4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Matching.OwnerInfoInfoId3__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Landload4</name>
        <label>家主4取得</label>
        <locationX>1265</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Landload5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Matching.OwnerInfoInfoId4__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Landload5</name>
        <label>家主5取得</label>
        <locationX>1269</locationX>
        <locationY>990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_LandloadAgency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Matching.OwnerInfoInfoId5__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_LandloadAgency</name>
        <label>家主代理取得</label>
        <locationX>1277</locationX>
        <locationY>1138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ManagementCompany</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Matching.OwnerProxyInfoId__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ManagementCompany</name>
        <label>管理会社取得</label>
        <locationX>1284</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Matching</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Matching.ManagementCompanyInfoInfoId__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Matching</name>
        <label>マッチングレコード取得</label>
        <locationX>1255</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Landload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Matching__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Matching</name>
        <label>マッチングレコード更新</label>
        <locationX>1304</locationX>
        <locationY>1591</locationY>
        <inputReference>get_Matching</inputReference>
    </recordUpdates>
    <start>
        <locationX>1130</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Matching</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
