force-app/main/default/flows/MA_ReflectBankInfoInMatching.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_BankAccount1Info</name>
        <label>契約金送金口座1情報割当</label>
        <locationX>416</locationX>
        <locationY>1035</locationY>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBank1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount1.BankName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBankNum1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount1.BankCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountNum1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount1.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBranchOffice1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount1.BranchOfficeName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBranchOfficeNum1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount1.BranchOfficeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountContractor1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount1.BankAccountName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountContractorKana1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount1.ContractorKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountType1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount1.DepositType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_BankAccount2Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2Info</name>
        <label>契約金送金口座2情報割当</label>
        <locationX>417</locationX>
        <locationY>1186</locationY>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBank2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount2.BankName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBankNum2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount2.BankCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountNum2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBranchOffice2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount2.BranchOfficeName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBranchOfficeNum2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount2.BranchOfficeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountContractor2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount2.BankAccountName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountContractorKana2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount2.ContractorKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountType2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount2.DepositType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_BankAccount3Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3Info</name>
        <label>契約金送金口座3情報割当</label>
        <locationX>422</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBank3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount3.BankName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBankNum3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount3.BankCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountNum3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount3.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBranchOffice3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount3.BranchOfficeName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountBranchOfficeNum3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount3.BranchOfficeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountContractor3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount3.BankAccountName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountContractorKana3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount3.ContractorKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.ContractMoneyBankAccountType3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ContractBankAccount3.DepositType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_RentBankAccountInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RentBankAccountInfo</name>
        <label>家賃送金口座情報割当</label>
        <locationX>429</locationX>
        <locationY>1458</locationY>
        <assignmentItems>
            <assignToReference>get_Matching.RentBankAccountBank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RentBankAccount.BankName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.RentBankAccountBankNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RentBankAccount.BankCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.RentBankAccountNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RentBankAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.RentBankAccountBranchOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RentBankAccount.BranchOfficeName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.RentBankAccountBranchOfficeNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RentBankAccount.BranchOfficeCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.RentBankAccountContractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RentBankAccount.BankAccountName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.RentBankAccountContractorKana__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RentBankAccount.ContractorKana__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Matching.RentBankAccountType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RentBankAccount.DepositType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Matching</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>MA_口座情報反映 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MA_口座情報反映</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_ContractBankAccount1</name>
        <label>契約金送金口座１取得</label>
        <locationX>419</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ContractBankAccount2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Matching.ContractMoneyBankAccountId1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BankAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ContractBankAccount2</name>
        <label>契約金送金口座2取得</label>
        <locationX>416</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ContractBankAccount3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Matching.ContractMoneyBankAccountId2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BankAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ContractBankAccount3</name>
        <label>契約金送金口座3取得</label>
        <locationX>417</locationX>
        <locationY>744</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RentBankAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Matching.ContractMoneyBankAccountId3__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BankAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Matching</name>
        <label>マッチング取得</label>
        <locationX>722</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ContractBankAccount1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Matching__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RentBankAccount</name>
        <label>家賃送金口座取得</label>
        <locationX>415</locationX>
        <locationY>875</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_BankAccount1Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Matching.RentBankAccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BankAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Matching</name>
        <label>マッチングレコード更新</label>
        <locationX>617</locationX>
        <locationY>1464</locationY>
        <inputReference>get_Matching</inputReference>
    </recordUpdates>
    <start>
        <locationX>596</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Matching</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
