force-app/main/default/flows/MediationRequestSendNotSendMailTriger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_SendMediationRequest</name>
        <label>斡旋依頼通知送信</label>
        <locationX>1322</locationX>
        <locationY>515</locationY>
        <actionName>TraderSelectionSendNoticesFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mediationRequestId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>decision_HolidayCheck</name>
        <label>休日チェック</label>
        <locationX>683</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>pause_SalseStartTimeSendEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Holiday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Holiday</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>休日</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_ReStartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT(YEAR(TODAY()))&amp;&quot;-&quot;&amp;
TEXT(MONTH(TODAY()))&amp;&quot;-&quot;&amp;
TEXT(DAY(TODAY()))&amp;&quot; &quot;&amp;
TEXT({!$Setup.TraderSelectionSetting__c.SendPossibleStartTimeHour__c})&amp;&quot;:&quot;&amp;
TEXT({!$Setup.TraderSelectionSetting__c.SendPossibleStartTimeMinutes__c})&amp;&quot;:&quot;&amp;
&quot;00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>AP_斡旋依頼未送信メール送信( トリガー) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP_斡旋依頼未送信通知送信</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Holiday</name>
        <label>休日を取得</label>
        <locationX>689</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_HolidayCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>563</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Holiday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MediationRequestSendDateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MediationRequest__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-09-12</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>values_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>pause_SalseStartTimeSendEmail</name>
        <label>営業開始時間に送信</label>
        <locationX>940</locationX>
        <locationY>512</locationY>
        <defaultConnectorLabel>デフォルトパス</defaultConnectorLabel>
        <waitEvents>
            <name>MediationRequestSalesStartTimeSendEmail</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Apex_SendMediationRequest</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>formula_ReStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>斡旋依頼営業時間内送信</label>
        </waitEvents>
    </waits>
</Flow>
