force-app/main/default/flows/MultipleConditionConfirmationManualDelivery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Cancel</name>
        <label>解約申入割り当て</label>
        <locationX>2582</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CurrentCancel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CurrentCancel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ColRenewal</name>
        <label>更新割り当て</label>
        <locationX>1986</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>var_ColRenewal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_RenewalRecord2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ToDo3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ColToDo</name>
        <label>Col_ToDo割り当て</label>
        <locationX>2866</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>var_ColToDo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ToDo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_RenewalRecord2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ColToDo3</name>
        <label>ColToDo割り当て</label>
        <locationX>1986</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>var_ColToDo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ToDo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_RenewalRecord2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ColToDo_0</name>
        <label>Col_ToDo割り当て</label>
        <locationX>2558</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>var_ColToDo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ToDo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_RenewalRecord2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CurrentLandlordRecord</name>
        <label>現在の家主レコード割り当て</label>
        <locationX>2582</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentLandlord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_currentLandlord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_currentLandlord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RecordsNumber</name>
        <label>更新レコード数割り当て</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>var_RecordNum</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UnselectedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal</name>
        <label>更新割り当て</label>
        <locationX>1986</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>loop_RenewalRecord2.TermsConfirmDocumentSendDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ColRenewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RenewalIds</name>
        <label>更新IDコレクションに割りあて</label>
        <locationX>1986</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>var_RenewalRealEstateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_RenewalRecord.RealEstate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LandlordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_RenewalRecord.RenewalCounter__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_RenewalRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Text</name>
        <label>テキストの割り当て</label>
        <locationX>2426</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>var_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CurrentCancel.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ToDo2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ToDo</name>
        <label>ToDoの割り当て</label>
        <locationX>2866</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>var_ToDo.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>更新窓口を確認してください。</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_RenewalRecord2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionCheckedRenewalCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ColToDo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ToDo2</name>
        <label>ToDoの割り当て</label>
        <locationX>2558</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>var_ToDo.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>条件確認依頼書が送信されませんでした。</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_RenewalRecord2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ColToDo_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ToDo3</name>
        <label>ToDo割り当て</label>
        <locationX>1986</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>var_ToDo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>条件確認書の送付が完了しました。</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>条件確認書送付完了</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_RenewalRecord2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ColToDo3</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filter_Cancel</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>解約申入をフィルタ</label>
        <locationX>2602</locationX>
        <locationY>2006</locationY>
        <assignNextValueToReference>currentItem_filter_Cancel</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Cancel</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_Cancel.RealEstate__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_RenewalRecord2.RealEstate__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>IsnullCancel</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_Landlord</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>家主をフィルタ</label>
        <locationX>2602</locationX>
        <locationY>1334</locationY>
        <assignNextValueToReference>currentItem_filter_Landlord</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Landlord</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_Landlord.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_RenewalRecord2.RenewalCounter__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>IsNullLandlord</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>dicision_SendSuccess</name>
        <label>送信成功判定</label>
        <locationX>2118</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>loop_RenewalRecord2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsSendSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Renewal</targetReference>
            </connector>
            <label>成功</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsnullCancel</name>
        <label>解約申入null判定</label>
        <locationX>2602</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Judge_RenewalCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>IsNotnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filter_Cancel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_CurrentCancel</targetReference>
            </connector>
            <label>nullではない</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNullLandlord</name>
        <label>家主null判定</label>
        <locationX>2602</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>filter_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>Isnotnull_landlord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filter_Landlord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_currentLandlord</targetReference>
            </connector>
            <label>nullではない</label>
        </rules>
    </decisions>
    <decisions>
        <name>Judge_Cancel</name>
        <label>解約申入の判定</label>
        <locationX>2558</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>assign_ToDo2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>解約申入なし</defaultConnectorLabel>
        <rules>
            <name>isExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentCancel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Text</targetReference>
            </connector>
            <label>解約申入あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>Judge_RenewalCounter</name>
        <label>更新窓口の判定</label>
        <locationX>2602</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>assign_ToDo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isCheckedRenewalCounterSlection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentLandlord.TraderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>更新窓口</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CurrentLandlord.IsRenewalCounter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CurrentLandlord.TraderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>管理会社</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Judge_SendConditionConfirmation</targetReference>
            </connector>
            <label>更新窓口選定済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>Judge_SendConditionConfirmation</name>
        <label>条件確認書送付対象の判定</label>
        <locationX>2338</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Judge_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isSubject</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 7) OR 6</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentLandlord.Account__r.AccountType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>法人</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_RenewalRecord2.Account__r.ServiceContractRenewalConditionChange__r.IsTermsConfirmationAutoSend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CurrentLandlord.Account__r.IsAutoNotice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_RenewalRecord2.RealEstate__r.IsRenewalCancelAutoSendNG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CurrentCancel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_IsManual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_RenewalRecord2.RealEstate__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>管理外</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReportOutput</targetReference>
            </connector>
            <label>対象</label>
        </rules>
    </decisions>
    <decisions>
        <name>UnselectedRecords</name>
        <label>レコード未選択時</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>screen_Start</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NoRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>レコードが未選択</label>
        </rules>
        <rules>
            <name>ids_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_RecordNum</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>51.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaxRecordsError</targetReference>
            </connector>
            <label>idsが50以上</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RE_複数条件確認書手動送付機能</interviewLabel>
    <label>RE_複数条件確認書手動送付機能</label>
    <loops>
        <name>loop_CurrentCancel</name>
        <label>解約申入ループ</label>
        <locationX>2494</locationX>
        <locationY>2246</locationY>
        <collectionReference>filter_Cancel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cancel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Judge_RenewalCounter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_currentLandlord</name>
        <label>家主レコードループ</label>
        <locationX>2494</locationX>
        <locationY>1574</locationY>
        <collectionReference>filter_Landlord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_CurrentLandlordRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>filter_Cancel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_RenewalRecord</name>
        <label>更新レコードループ</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <collectionReference>get_Renewal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_RenewalIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Cancel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_RenewalRecord2</name>
        <label>更新レコードループ</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <collectionReference>get_Renewal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filter_Landlord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateToDo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateToDo</name>
        <label>ToDoの作成</label>
        <locationX>1898</locationX>
        <locationY>4142</locationY>
        <connector>
            <targetReference>UpdateRenewal</targetReference>
        </connector>
        <inputReference>var_ColToDo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Cancel</name>
        <label>解約申入を取得</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Landlord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RealEstate__c</field>
            <operator>In</operator>
            <value>
                <elementReference>var_RenewalRealEstateIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cancel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Landlord</name>
        <label>家主を取得</label>
        <locationX>1898</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_RenewalRecord2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_LandlordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Landlord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Renewal</name>
        <label>更新を取得</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_RenewalRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Renewal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRenewal</name>
        <label>更新を更新</label>
        <locationX>1898</locationX>
        <locationY>4262</locationY>
        <connector>
            <targetReference>FinishFlow</targetReference>
        </connector>
        <inputReference>var_ColRenewal</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>レコード未選択エラー</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Open Sans&amp;quot;, Meiryo, メイリオ, Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;条件確認書を送付する更新レコードを検索してください&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinishFlow</name>
        <label>完了画面</label>
        <locationX>1898</locationX>
        <locationY>4382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Open Sans&amp;quot;, Meiryo, メイリオ, Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;条件確認書の送付が完了しました&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MaxRecordsError</name>
        <label>レコード上限エラー</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>X1_ErrorMessage</name>
            <fieldText>&lt;p&gt;一度に選択できるレコード数の上限を超えています。&lt;/p&gt;&lt;p&gt;50レコード以下にして再度選択してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Start</name>
        <label>条件確認依頼書送付</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Renewal</targetReference>
        </connector>
        <fields>
            <name>display_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;選択されたレコードに条件確認依頼書を送付します。よろしければ、「次へ」ボタンをクリックしてください。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_RecordsNumber</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AutoNotificaiton</name>
        <label>RE_自動通知（更新）</label>
        <locationX>2118</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>dicision_SendSuccess</targetReference>
        </connector>
        <flowName>AutoNotificationRenewal</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>loop_RenewalRecord2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultMailTemplate__c.ConditionConfirmationRequestForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>var_CurrentLandlord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>loop_RenewalRecord2.RenewalCounter__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsAttachmentEmail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>条件確認依頼書</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputReportNo</name>
            <value>
                <elementReference>var_OutputReportNum</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ReportOutput</name>
        <label>RM_帳票出力</label>
        <locationX>2118</locationX>
        <locationY>2918</locationY>
        <connector>
            <targetReference>AutoNotificaiton</targetReference>
        </connector>
        <flowName>ReportOutput</flowName>
        <inputAssignments>
            <name>var_AccountId</name>
            <value>
                <elementReference>var_CurrentLandlord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputReportName</name>
            <value>
                <elementReference>$Setup.ReportNameSetting__c.ConditionConfirmationAutomatic__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_OutputReportNum</assignToReference>
            <name>var_OutputReportNum</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>DescriptionCheckedRenewalCounter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>条件確認書送付対象外の更新窓口が紐づけられています。
更新窓口を確認してください。</text>
    </textTemplates>
    <textTemplates>
        <name>text_Description</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>以下条件を確認してください。
①家主の取引先の「取引先種別」が『法人』であること
現在の値：{!var_CurrentLandlord.Account__r.AccountType__c}
②家主の取引先の「自動通知不可」が『false』であること
現在の値：{!var_CurrentLandlord.Account__r.IsAutoNotice__c}
③更新レコードの企業名のサービス更新条件変更の「条件確認書自動送付」が『true』であること
現在の値：{!loop_RenewalRecord2.Account__r.ServiceContractRenewalConditionChange__r.IsTermsConfirmationAutoSend__c}
④更新レコードの物件の「更新条件確認書自動送付NGフラグ」が『false』であること
現在の値：{!loop_RenewalRecord2.RealEstate__r.IsRenewalTermsConfirmationSendNG__c}
⑤物件に「完了理由」が『解約キャンセル』以外の解約申入が紐づいていないこと
紐づき先：{!var_text}</text>
    </textTemplates>
    <variables>
        <name>col_Renewal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Renewal__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_Cancel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cancel__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_Landlord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Landlord__c</objectType>
    </variables>
    <variables>
        <name>currentItem_test</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cancel__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ColRenewal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Renewal__c</objectType>
    </variables>
    <variables>
        <name>var_ColToDo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_CurrentCancel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cancel__c</objectType>
    </variables>
    <variables>
        <name>var_CurrentLandlord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Landlord__c</objectType>
    </variables>
    <variables>
        <name>var_IsManual</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_LandlordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_LandlordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OutputReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_RecordNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_renewalcounter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RenewalRealEstateIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ToDo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
