force-app/main/default/flows/NewMatterRecordDuplication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OpenRecord</name>
        <label>レコード表示</label>
        <locationX>776</locationX>
        <locationY>806</locationY>
        <actionName>c:OpenRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <dynamicChoiceSets>
        <name>RecordTypeIdCollectionSet</name>
        <collectionReference>get_RecordTyep</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>NM_新規レコード複製 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_新規レコード複製</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_NewMatter</name>
        <label>新規レコード複製</label>
        <locationX>779</locationX>
        <locationY>629</locationY>
        <connector>
            <targetReference>OpenRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>get_NewMatter.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgencyAutoProcessNG__c</field>
            <value>
                <elementReference>get_NewMatter.AgencyAutoProcessNG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgencyEmail__c</field>
            <value>
                <elementReference>get_NewMatter.AgencyEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgencyFax__c</field>
            <value>
                <elementReference>get_NewMatter.AgencyFax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgencyStaff__c</field>
            <value>
                <elementReference>get_NewMatter.AgencyStaff__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgencyTraderPhone__c</field>
            <value>
                <elementReference>get_NewMatter.AgencyTraderPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>get_NewMatter.Agency__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>get_NewMatter.Application__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargeTeam__c</field>
            <value>
                <elementReference>get_NewMatter.ChargeTeam__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmployeeAutoProcessNG__c</field>
            <value>
                <elementReference>get_NewMatter.EmployeeAutoProcessNG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAgencyAutoNotice__c</field>
            <value>
                <elementReference>get_NewMatter.IsAgencyAutoNotice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MoveScheduledDate__c</field>
            <value>
                <elementReference>get_NewMatter.MoveScheduledDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewMatterId__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProjectImportantMatter__c</field>
            <value>
                <elementReference>get_NewMatter.ProjectImportantMatter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProxyContact__c</field>
            <value>
                <elementReference>get_NewMatter.ProxyContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>input_RecordTyep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resident__c</field>
            <value>
                <elementReference>get_NewMatter.Resident__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractNewMatter__c</field>
            <value>
                <elementReference>get_NewMatter.ServiceContractNewMatter__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Staff__c</field>
            <value>
                <elementReference>get_NewMatter.Staff__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>申請待ち</stringValue>
            </value>
        </inputAssignments>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規レコード取得</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_NewMatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordTyep</name>
        <label>レコードタイプ取得</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_NewMatterRecordDuplicationStart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewMatter__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_NewMatterRecordDuplicationStart</name>
        <label>新規レコード複製</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
        <fields>
            <name>input_RecordTyep</name>
            <choiceReferences>RecordTypeIdCollectionSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>レコードタイプを選択してください</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_RecordTyep</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NewMatter__c</objectType>
    </variables>
</Flow>
