force-app/main/default/flows/NewMatterApprovalContactRealEstateAgencyUpdateProcessAsynchronous.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_ReportName</name>
        <label>帳票名割り当て</label>
        <locationX>566</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>var_ReportName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.ReportNameSetting__c.ApprovalContact_NewMatter__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>flow_ReportOutput</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_ApprovalContact</name>
        <label>承認後連絡</label>
        <locationX>721</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isApprovalContactNewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewMatter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NewMatter__r.IsAgencyAutoNotice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_NewMatter</targetReference>
            </connector>
            <label>新規</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsSendSuccess</name>
        <label>送信成功判定（不動産）</label>
        <locationX>447</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>create_ToDo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>送信失敗</defaultConnectorLabel>
        <rules>
            <name>isSendSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsSendSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_TodoSuccess</targetReference>
            </connector>
            <label>送信成功</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNoticeType</name>
        <label>承認連絡種別判定（不動産）</label>
        <locationX>449</locationX>
        <locationY>977</locationY>
        <defaultConnector>
            <targetReference>flow_ApprovalContactNM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>通常新規</defaultConnectorLabel>
        <rules>
            <name>isContractorChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_NewMatter.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ContractorChange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_ApprovalContactNMContractorChange</targetReference>
            </connector>
            <label>名変</label>
        </rules>
        <rules>
            <name>isParking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_FifthSetConfirm.CorporateHousingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>駐車場</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flow_ApprovalContactNMParking</targetReference>
            </connector>
            <label>駐車場</label>
        </rules>
    </decisions>
    <description>MB_チャット特定フローのサブフロー追加
自動通知失敗のToDo作成コンポーネント追加</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>formula_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Subject__c.NotificationTemplateSubject__c} + &quot;（承認後連絡（新規/社員））&quot;</expression>
    </formulas>
    <interviewLabel>NM_新規レコードの承認後連絡_不動産_更新処理（非同期） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_新規レコードの承認後連絡_不動産_更新処理（非同期）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_ToDo</name>
        <label>失敗ToDo作成</label>
        <locationX>588</locationX>
        <locationY>1493</locationY>
        <inputReference>varCol_ToDo</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_TodoSuccess</name>
        <label>Todoを作成</label>
        <locationX>457</locationX>
        <locationY>1472</locationY>
        <connector>
            <targetReference>update_Renewal</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>自動で不動産仲介業者への承認後連絡を行いました。</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_NewMatter.ChargeTeam__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>自動承認連絡（不動産）</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_FifthSetConfirm</name>
        <label>5点確定取得</label>
        <locationX>561</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_ReportName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NewMatter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FifthSetConfirm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規レコード取得</label>
        <locationX>561</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FifthSetConfirm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NewMatter__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Renewal</name>
        <label>新規レコードの更新</label>
        <locationX>456</locationX>
        <locationY>1612</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ToTraderApprovalContactDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>NewMatter__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>330</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>承認</stringValue>
            </value>
        </filters>
        <filters>
            <field>NewMatter__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>DecisionApplication2__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>decision_ApprovalContact</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>flow_ApprovalContactNM</name>
        <label>自動通知（不動産/チェックリスト）</label>
        <locationX>636</locationX>
        <locationY>1178</locationY>
        <connector>
            <targetReference>decision_IsSendSuccess</targetReference>
        </connector>
        <flowName>AutoNotificationNewMatter</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultFeedTemplate</name>
            <value>
                <elementReference>$Setup.DefaultFeedTemplate__c.ApprovalContactNM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultFeedTemplate__c.ApprovalContactNM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>get_NewMatter.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputChatID</name>
            <value>
                <elementReference>var_ChatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputContactId</name>
            <value>
                <elementReference>get_NewMatter.AgencyStaff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>get_NewMatter.AgencyEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFax</name>
            <value>
                <elementReference>get_NewMatter.AgencyFax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsAttachmentEmail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFax</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <elementReference>var_isJudgeChat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>承認後連絡（不動産）</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputReportNo</name>
            <value>
                <elementReference>var_inputReportNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_LibraryURL</name>
            <value>
                <elementReference>get_NewMatter.Agency__r.LibraryURL__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_ToDo</assignToReference>
            <name>varCol_Todo</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>flow_ApprovalContactNMContractorChange</name>
        <label>自動通知（不動産/名変）</label>
        <locationX>300</locationX>
        <locationY>1159</locationY>
        <connector>
            <targetReference>decision_IsSendSuccess</targetReference>
        </connector>
        <flowName>AutoNotificationNewMatter</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultFeedTemplate</name>
            <value>
                <elementReference>$Setup.DefaultFeedTemplate__c.ApprovalContactNMContractorChange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultMailTemplate__c.ApprovalContactNMContractorChange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>get_NewMatter.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputChatID</name>
            <value>
                <elementReference>var_ChatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputContactId</name>
            <value>
                <elementReference>get_NewMatter.AgencyStaff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>get_NewMatter.AgencyEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFax</name>
            <value>
                <elementReference>get_NewMatter.AgencyFax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFax</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <elementReference>var_isJudgeChat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>承認後連絡（不動産）</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputReportNo</name>
            <value>
                <elementReference>var_inputReportNum</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_ToDo</assignToReference>
            <name>varCol_Todo</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>flow_ApprovalContactNMParking</name>
        <label>自動通知（不動産/駐車場）</label>
        <locationX>454</locationX>
        <locationY>1161</locationY>
        <connector>
            <targetReference>decision_IsSendSuccess</targetReference>
        </connector>
        <flowName>AutoNotificationNewMatter</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultFeedTemplate</name>
            <value>
                <elementReference>$Setup.DefaultFeedTemplate__c.ApprovalContactNMParking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultFeedTemplate__c.ApprovalContactNMParking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>get_NewMatter.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputChatID</name>
            <value>
                <elementReference>var_ChatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputContactId</name>
            <value>
                <elementReference>get_NewMatter.AgencyStaff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>get_NewMatter.AgencyEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFax</name>
            <value>
                <elementReference>get_NewMatter.AgencyFax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsAttachmentEmail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFax</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <elementReference>var_isJudgeChat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>承認後連絡（不動産）</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputReportNo</name>
            <value>
                <elementReference>var_inputReportNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_LibraryURL</name>
            <value>
                <elementReference>get_NewMatter.Agency__r.LibraryURL__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_ToDo</assignToReference>
            <name>varCol_Todo</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>flow_MB_IdentifyChat</name>
        <label>MB_チャット特定フロー</label>
        <locationX>442</locationX>
        <locationY>830</locationY>
        <connector>
            <targetReference>IsNoticeType</targetReference>
        </connector>
        <flowName>MB_IdentifyChat</flowName>
        <inputAssignments>
            <name>var_OperationId</name>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SNT_RealEstateCompany</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_ChatId</assignToReference>
            <name>var_ChatId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_isJudgeChat</assignToReference>
            <name>var_isJudgeChat</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>flow_ReportOutput</name>
        <label>帳票番号を取得</label>
        <locationX>419</locationX>
        <locationY>718</locationY>
        <connector>
            <targetReference>flow_MB_IdentifyChat</targetReference>
        </connector>
        <flowName>ReportOutput</flowName>
        <inputAssignments>
            <name>var_InputReportName</name>
            <value>
                <elementReference>var_ReportName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_inputReportNum</assignToReference>
            <name>var_OutputReportNum</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Input_NewMatter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NewMatter__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_inputReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_isJudgeChat</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsSendSuccessProxyContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecordReportMasterToken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportMaster__c</objectType>
    </variables>
    <variables>
        <name>var_ReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_ToDo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
