force-app/main/default/flows/NM_FiveDocumentsReminderFax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_ConnectErrorToDo</name>
        <label>接続失敗したToDoの変数割り当て</label>
        <locationX>438</locationX>
        <locationY>1897</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ConnectErrorToDo.ErrorCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_NotConnectErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>進行中</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAX連携機能への接続エラー</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ConnectErrorToDo.RecordId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ConnectErrorToDo.OwnerId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_ConnectErrorToDo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ErrorToDoToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ConnectErrorToDo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CountReportOutputToken</name>
        <label>コレクション変数カウント</label>
        <locationX>577</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varCol_ReportOutputToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_CollectionNum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorCode1</name>
        <label>エラーコード割り当て</label>
        <locationX>444</locationX>
        <locationY>1802</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ConnectErrorToDo.ErrorCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ConnectErrorToDo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorCode2</name>
        <label>エラーコード割り当て</label>
        <locationX>459</locationX>
        <locationY>2115</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_FaxErrorToDo.ErrorCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_FaxErrorToDo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_FaxErrorToDo</name>
        <label>FAX処理エラーのToDoの変数割り当て</label>
        <locationX>459</locationX>
        <locationY>2227</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_FaxErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>進行中</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAX処理エラー</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_FaxErrorToDo.OwnerId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_FaxErrorToDo.RecordId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_FaxErrorToDo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ErrorToDoToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_FaxErrorToDo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NewMatterInfoReportOutputToken</name>
        <label>新規情報帳票トークン割り当て</label>
        <locationX>854</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>var_ReportOutputToken.RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NewMatterCreateReportOutputToken.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ReportOutputToken.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NewMatterCreateReportOutputToken.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ReportOutputToken.OwnerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NewMatterCreateReportOutputToken.ChargeTeam__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ReportOutputTokenAddCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NoFaxNewMatter</name>
        <label>FAXなし変数割り当て</label>
        <locationX>772</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>varCol_NoFaxNewMatter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_NewMatterCreateReportOutputToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_NewMatterCreateReportOutputToken</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NoFaxToDo</name>
        <label>FaxなしToDoの変数割り当て</label>
        <locationX>723</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NoFaxNewMatter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NoFaxNewMatter.ChargeTeam__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NotSendError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ErrorToDoToken.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Message__c.NotSendErrorMessage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_NoFaxToDo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ErrorToDoToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_NoFaxNewMatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ReportOutputTokenAddCollection</name>
        <label>帳票送信トークンのコレクションへの追加</label>
        <locationX>853</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>varCol_ReportOutputToken</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ReportOutputToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_NewMatterCreateReportOutputToken</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SuccessNewMatter</name>
        <label>成功した新規レコードの変数を作成</label>
        <locationX>428</locationX>
        <locationY>1417</locationY>
        <assignmentItems>
            <assignToReference>var_NewMatterRecordToken.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NewMatterSuccess.RecordId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewMatterRecordToken.FifthSetReminderDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewMatterRecordToken.FifthSetCollectScheduledDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NextFifthSetCollectDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_NewMatterSuccess</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_NewMatterRecordToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_NewMatterSuccess</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filter_ReportOutputConnectError</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>帳票出力接続失敗</label>
        <locationX>590</locationX>
        <locationY>1691</locationY>
        <assignNextValueToReference>currentItem_filter_ReportOutputConnectError</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCol_ReportOutputToken</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_ReportOutputConnectError.ResultCode__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>1.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_ConnectErrorToDo</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_ReportOutputError</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>帳票出力失敗</label>
        <locationX>596</locationX>
        <locationY>2041</locationY>
        <assignNextValueToReference>currentItem_filter_ReportOutputError</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCol_ReportOutputToken</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_ReportOutputError.ResultCode__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>9.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_FaxErrorToDo</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_ReportOutputSuccess</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>帳票出力成功</label>
        <locationX>587</locationX>
        <locationY>1267</locationY>
        <assignNextValueToReference>currentItem_filter_ReportOutputSuccess</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCol_ReportOutputToken</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_ReportOutputSuccess.ResultCode__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_NewMatterSuccess</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>decision_CollectionNum</name>
        <label>コレクション数判定</label>
        <locationX>568</locationX>
        <locationY>874</locationY>
        <defaultConnector>
            <targetReference>action_ReportOutputBulk2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_NoFaxNewMatter</targetReference>
            </connector>
            <label>コレクション数0</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_FAX</name>
        <label>FAX判定</label>
        <locationX>765</locationX>
        <locationY>640</locationY>
        <defaultConnector>
            <targetReference>assign_NewMatterInfoReportOutputToken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FAXあり</defaultConnectorLabel>
        <rules>
            <name>isNoFax</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loop_NewMatterCreateReportOutputToken.AgencyFax__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_NewMatterCreateReportOutputToken.AgencyFax__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_NoFaxNewMatter</targetReference>
            </connector>
            <label>FAXなし</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_NextFifthSetCollectDate</name>
        <dataType>Date</dataType>
        <expression>Today() + {!$Setup.ReminderSetting__c.NextFifthSetCollectDays__c}</expression>
    </formulas>
    <formulas>
        <name>formula_NotSendError</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Subject__c.NotSendErrorSubject__c}+&quot; 五点書類の督促依頼 &quot;</expression>
    </formulas>
    <interviewLabel>NM_五点書類の督促(Fax) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_五点書類の督促(Fax)</label>
    <loops>
        <name>loop_ConnectErrorToDo</name>
        <label>接続失敗ToDoレコードループ</label>
        <locationX>589</locationX>
        <locationY>1814</locationY>
        <collectionReference>filter_ReportOutputConnectError</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_ErrorCode1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_ConnectErrorToDo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_FaxErrorToDo</name>
        <label>Fax失敗ToDoレコードループ</label>
        <locationX>600</locationX>
        <locationY>2158</locationY>
        <collectionReference>filter_ReportOutputError</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_ErrorCode2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_FaxErrorToDo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_NewMatterCreateReportOutputToken</name>
        <label>帳票送信トークンの作成ループ</label>
        <locationX>578</locationX>
        <locationY>644</locationY>
        <collectionReference>get_NewMatter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_FAX</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_CountReportOutputToken</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_NewMatterSuccess</name>
        <label>成功した新規レコードのコレクションをループ</label>
        <locationX>590</locationX>
        <locationY>1416</locationY>
        <collectionReference>filter_ReportOutputSuccess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_SuccessNewMatter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_NewMatter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_NoFaxNewMatter</name>
        <label>Faxなし新規レコード</label>
        <locationX>582</locationX>
        <locationY>1018</locationY>
        <collectionReference>varCol_NoFaxNewMatter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_NoFaxToDo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_NoFaxToDo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_ConnectErrorToDo</name>
        <label>接続失敗ToDo作成</label>
        <locationX>595</locationX>
        <locationY>1925</locationY>
        <connector>
            <targetReference>filter_ReportOutputError</targetReference>
        </connector>
        <inputReference>varCol_ConnectErrorToDo</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_FaxErrorToDo</name>
        <label>FAX処理エラーのToDo作成</label>
        <locationX>598</locationX>
        <locationY>2291</locationY>
        <inputReference>varCol_FaxErrorToDo</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_NoFaxToDo</name>
        <label>FaxなしToDo作成</label>
        <locationX>584</locationX>
        <locationY>1150</locationY>
        <connector>
            <targetReference>filter_ReportOutputSuccess</targetReference>
        </connector>
        <inputReference>varCol_NoFaxToDo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規を取得</label>
        <locationX>579</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_NewMatterCreateReportOutputToken</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FifthSetCollectDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FifthSetCollectScheduledDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsFifthSetCollect__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_NewMatter</name>
        <label>新規レコードを更新</label>
        <locationX>589</locationX>
        <locationY>1562</locationY>
        <connector>
            <targetReference>filter_ReportOutputConnectError</targetReference>
        </connector>
        <inputReference>varCol_NewMatterSuccess</inputReference>
    </recordUpdates>
    <start>
        <locationX>461</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-23</startDate>
            <startTime>11:22:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>action_ReportOutputBulk2</name>
        <label>帳票一括送信</label>
        <locationX>465</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>loop_NoFaxNewMatter</targetReference>
        </connector>
        <flowName>ReportOutputBulk</flowName>
        <inputAssignments>
            <name>var_InputReportName</name>
            <value>
                <stringValue>F_NW_FiveDocumentsReminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCol_RportOutputToken</name>
            <value>
                <elementReference>varCol_ReportOutputToken</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCol_ReportOutputToken</assignToReference>
            <name>varCol_OutputRportOutputToken</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>text_FaxErrorMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>﻿{!$Setup.Message__c.FaxErrorMessage__c}
﻿エラーコード：{!var_ErrorCode}</text>
    </textTemplates>
    <textTemplates>
        <name>text_NotConnectErrorMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!var_ErrorCode}
{!$Setup.Message__c.FaxConnectErrorMessage__c}</text>
    </textTemplates>
    <variables>
        <name>currentItem_filter_ByCompanyReportNum</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportMaster__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_DefaultReportNum</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportMaster__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_New</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewMatter__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_ReportOutputConnectError</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportOutputToken__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_ReportOutputError</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportOutputToken__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_ReportOutputSuccess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportOutputToken__c</objectType>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_DefaultReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_ErrorCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_ErrorToDoToken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_inputReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_NewMatterRecordToken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewMatter__c</objectType>
    </variables>
    <variables>
        <name>var_OutputReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecordReportMasterToken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportMaster__c</objectType>
    </variables>
    <variables>
        <name>var_ReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ReportOutputToken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportOutputToken__c</objectType>
    </variables>
    <variables>
        <name>var_ReportOutputTokenReset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportOutputToken__c</objectType>
    </variables>
    <variables>
        <name>varCol_ConnectErrorToDo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCol_FaxErrorToDo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCol_NewMatterSuccess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewMatter__c</objectType>
    </variables>
    <variables>
        <name>varCol_NoFaxNewMatter</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewMatter__c</objectType>
    </variables>
    <variables>
        <name>varCol_NoFaxToDo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCol_ReportMaster</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportMaster__c</objectType>
    </variables>
    <variables>
        <name>varCol_ReportOutputToken</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportOutputToken__c</objectType>
    </variables>
</Flow>
