force-app/main/default/flows/NonconformityOwnerCheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_AddCheackText</name>
        <label>手動チェック文章追加</label>
        <locationX>1278</locationX>
        <locationY>1273</locationY>
        <assignmentItems>
            <assignToReference>var_ManualCheack</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>text_ManualCheckText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_NewMatterCheck_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ManualCheack</name>
        <label>手動チェック割り当て</label>
        <locationX>1097</locationX>
        <locationY>1074</locationY>
        <assignmentItems>
            <assignToReference>var_ManualCheack</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_Owner1NullComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ManualCheack</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_Owner2NullComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ManualCheack</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_Owner3NullComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ManualCheack</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_Owner4NullComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ManualCheack</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_Owner4NullComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ManualCheack</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_Owner5NullComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ManualCheack</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ProxyParentIdNullComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ManualCheack</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_ManagementCompanyComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_ManualChack</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NewCheckTMP</name>
        <label>新規チェック割り当て</label>
        <locationX>1330</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>var_NewCheckTMP.CheckFieldsName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>不適合家主チェック(自動)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCheckTMP.NewMatter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_FifthSetConfirm.NewMatter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Comment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_NewLineComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_NewMatterCheckFlag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NewMatterCheckFlag</name>
        <label>新規チェック作成フラグ</label>
        <locationX>1330</locationX>
        <locationY>673</locationY>
        <assignmentItems>
            <assignToReference>value_NewMatterCheackFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_NonconformityOwner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_CreateNewCheckRecord</name>
        <label>新規チェックレコード作成</label>
        <locationX>1090</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>assign_ManualCheack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>value_NewMatterCheackFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_NewMatterCheck</targetReference>
            </connector>
            <label>作成</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_ManualChack</name>
        <label>手動チェック有無</label>
        <locationX>1090</locationX>
        <locationY>1275</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_ManualCheack</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ManualCheack</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_AddCheackText</targetReference>
            </connector>
            <label>有り</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_AgencyParentId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_FifthSetConfirm.Agency__c}),
&apos;&apos;,
{!var_FifthSetConfirm.Agency__r.ParentId}
)</expression>
    </formulas>
    <formulas>
        <name>formula_ManagementCompanyComment</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISBLANK({!var_FifthSetConfirm.ManagementCompany__c}) , !( ISBLANK( {!var_FifthSetConfirm.ManagementCompanyName__c} )) ),
&apos;・&apos;&amp; {!var_FifthSetConfirm.ManagementCompanyName__c} &amp; SUBSTITUTE({!$Label.LineBreak},&quot;-&quot;,&quot;&quot;),
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>formula_ManagementCompanyParentId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_FifthSetConfirm.ManagementCompany__c}),
&apos;&apos; , 
{!var_FifthSetConfirm.ManagementCompany__r.ParentId})</expression>
    </formulas>
    <formulas>
        <name>formula_NewLineComment</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;&apos; &amp; {!loop_NonconformityOwner.Name} &amp; &apos;&gt;&apos; &amp; SUBSTITUTE({!$Label.LineBreak},&quot;-&quot;,&quot;&quot;) &amp;
{!loop_NonconformityOwner.NonconformityOwnerMemo__c}</expression>
    </formulas>
    <formulas>
        <name>formula_Owner1NullComment</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISBLANK({!var_FifthSetConfirm.Owner1__c}) , !( ISBLANK({!var_FifthSetConfirm.OwnerName__c})) ),
&apos;・&apos;&amp;{!var_FifthSetConfirm.OwnerName__c} &amp; SUBSTITUTE({!$Label.LineBreak},&quot;-&quot;,&quot;&quot;),
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>formula_Owner1ParentId</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!var_FifthSetConfirm.Owner1__c}) ,
&apos;&apos;,
{!var_FifthSetConfirm.Owner1__r.ParentId})</expression>
    </formulas>
    <formulas>
        <name>formula_Owner2NullComment</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISBLANK({!var_FifthSetConfirm.Owner2__c}) , !( ISBLANK({!var_FifthSetConfirm.OwnerName2__c})) ),
&apos;・&apos;&amp;{!var_FifthSetConfirm.OwnerName2__c} &amp; SUBSTITUTE({!$Label.LineBreak},&quot;-&quot;,&quot;&quot;),
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>formula_Owner2ParentId</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!var_FifthSetConfirm.Owner2__c}) ,
&apos;&apos;,
{!var_FifthSetConfirm.Owner2__r.ParentId})</expression>
    </formulas>
    <formulas>
        <name>formula_Owner3NullComment</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISBLANK({!var_FifthSetConfirm.Owner3__c}) , !( ISBLANK({!var_FifthSetConfirm.OwnerName3__c})) ),
&apos;・&apos;&amp;{!var_FifthSetConfirm.OwnerName3__c} &amp; SUBSTITUTE({!$Label.LineBreak},&quot;-&quot;,&quot;&quot;),
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>formula_Owner3ParentId</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!var_FifthSetConfirm.Owner3__c}) ,
&apos;&apos;,
{!var_FifthSetConfirm.Owner3__r.ParentId})</expression>
    </formulas>
    <formulas>
        <name>formula_Owner4NullComment</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISBLANK({!var_FifthSetConfirm.Owner4__c}) , !( ISBLANK({!var_FifthSetConfirm.OwnerName4__c})) ),
&apos;・&apos;&amp;{!var_FifthSetConfirm.OwnerName4__c} &amp; SUBSTITUTE({!$Label.LineBreak},&quot;-&quot;,&quot;&quot;),
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>formula_Owner4ParentId</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!var_FifthSetConfirm.Owner4__c}) ,
&apos;&apos;,
{!var_FifthSetConfirm.Owner4__r.ParentId})</expression>
    </formulas>
    <formulas>
        <name>formula_Owner5NullComment</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISBLANK({!var_FifthSetConfirm.Owner5__c}) , !( ISBLANK({!var_FifthSetConfirm.OwnerName5__c})) ),
&apos;・&apos;&amp;{!var_FifthSetConfirm.OwnerName5__c} &amp; SUBSTITUTE({!$Label.LineBreak},&quot;-&quot;,&quot;&quot;),
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>formula_Owner5ParentId</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!var_FifthSetConfirm.Owner5__c}) ,
&apos;&apos;,
{!var_FifthSetConfirm.Owner5__r.ParentId})</expression>
    </formulas>
    <formulas>
        <name>formula_OwnerProxyParentId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_FifthSetConfirm.OwnerProxy__c}),
&apos;&apos; ,
{!var_FifthSetConfirm.OwnerProxy__r.ParentId} )</expression>
    </formulas>
    <formulas>
        <name>formula_ProxyParentIdNullComment</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISBLANK({!var_FifthSetConfirm.OwnerProxy__c}) , !( ISBLANK({!var_FifthSetConfirm.OwnerProxyName__c})) ),
&apos;・&apos;&amp;{!var_FifthSetConfirm.OwnerProxyName__c} &amp; SUBSTITUTE({!$Label.LineBreak},&quot;-&quot;,&quot;&quot;),
&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>NM_不適合家主チェック {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_不適合家主チェック</label>
    <loops>
        <name>loop_NonconformityOwner</name>
        <label>不適合家主ループ</label>
        <locationX>1098</locationX>
        <locationY>568</locationY>
        <collectionReference>varCol_NonconformityOwner</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_NewCheckTMP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_CreateNewCheckRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_NewMatterCheck</name>
        <label>新規チェック作成</label>
        <locationX>1351</locationX>
        <locationY>894</locationY>
        <connector>
            <targetReference>assign_ManualCheack</targetReference>
        </connector>
        <inputAssignments>
            <field>CheckCategory__c</field>
            <value>
                <stringValue>自動</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckFieldsName__c</field>
            <value>
                <stringValue>不適合家主(自動)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckFieldsValue__c</field>
            <value>
                <elementReference>text_CheckTarget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckResult__c</field>
            <value>
                <stringValue>NG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewMatter__c</field>
            <value>
                <elementReference>var_FifthSetConfirm.NewMatter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReconfirmCheck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegulationFieldsValue__c</field>
            <value>
                <elementReference>text_CheckMemo</elementReference>
            </value>
        </inputAssignments>
        <object>NewCheck__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_NewMatterCheck_0</name>
        <label>新規チェック作成</label>
        <locationX>1435</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>CheckCategory__c</field>
            <value>
                <stringValue>自動</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckFieldsName__c</field>
            <value>
                <stringValue>不適合家主</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckFieldsValue__c</field>
            <value>
                <elementReference>var_ManualCheack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckResult__c</field>
            <value>
                <stringValue>NG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewMatter__c</field>
            <value>
                <elementReference>var_FifthSetConfirm.NewMatter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReconfirmCheck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegulationFieldsValue__c</field>
            <value>
                <elementReference>text_CheckMemo</elementReference>
            </value>
        </inputAssignments>
        <object>NewCheck__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_NonconformityOwner</name>
        <label>不適合家主（家主）を取得</label>
        <locationX>1099</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_NonconformityOwner</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 ) AND ( 17 OR 18 )</filterLogic>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FifthSetConfirm.Owner1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FifthSetConfirm.Owner2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FifthSetConfirm.Owner3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FifthSetConfirm.Owner4__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FifthSetConfirm.Owner5__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FifthSetConfirm.OwnerProxy__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FifthSetConfirm.ManagementCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FifthSetConfirm.Agency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_Owner1ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_Owner2ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_Owner3ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_Owner4ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_Owner5ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_OwnerProxyParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_ManagementCompanyParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonconformityOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_AgencyParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceContractAll__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceContractAll__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FifthSetConfirm.NewMatter__r.Account__r.ServiceContractAll__c</elementReference>
            </value>
        </filters>
        <object>NonconformityOwner__c</object>
        <outputReference>varCol_NonconformityOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NonconformityOwner__c</queriedFields>
        <queriedFields>NonconformityOwnerMemo__c</queriedFields>
        <queriedFields>OwnerCheckType__c</queriedFields>
        <queriedFields>ServiceContractAll__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_NonconformityOwner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_CheckMemo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!var_Comment}</text>
    </textTemplates>
    <textTemplates>
        <name>text_CheckTarget</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>家主1：{!var_FifthSetConfirm.OwnerName__c}
家主2：{!var_FifthSetConfirm.OwnerName2__c}
家主3：{!var_FifthSetConfirm.OwnerName3__c}
家主4：{!var_FifthSetConfirm.OwnerName4__c}
家主5：{!var_FifthSetConfirm.OwnerName5__c}
管理会社：{!var_FifthSetConfirm.ManagementCompanyName__c}
仲介会社：{!var_FifthSetConfirm.Agency__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>text_ManualCheckText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>上記の取引先は自動で紐づけられていないため、手動で不適合家主チェックを実施してください。</text>
    </textTemplates>
    <variables>
        <name>value_NewMatterCheackFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>value_OwnerCheckMemoAgencyCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>value_OwnerCheckMemoLenderProxy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>value_OwnerCheckMemoManagementCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>value_OwnerCheckMemoOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>values_NewMatter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NewMatter__c</objectType>
    </variables>
    <variables>
        <name>var_Comment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FifthSetConfirm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FifthSetConfirm__c</objectType>
    </variables>
    <variables>
        <name>var_ManualCheack</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCheckTMP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewCheck__c</objectType>
    </variables>
    <variables>
        <name>var_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_NonconformityOwner</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NonconformityOwner__c</objectType>
    </variables>
</Flow>
