force-app/main/default/flows/PaymentOrBillingSettingCalculateTax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_TaxRate1Amount_Inclusive0</name>
        <label>0を割りあて</label>
        <locationX>846</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>c_var_TaxRate1Amount_Inclusive</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_IsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TaxRate1ExcludingAmount_Exclusive0</name>
        <label>0を割りあて</label>
        <locationX>370</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>c_var_TaxRate1ExcludingAmount_Exclusive</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_IsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TaxRate1ExcludingAmount_Exclusive1</name>
        <label>税抜額に割りあて</label>
        <locationX>201</locationX>
        <locationY>1178</locationY>
        <assignmentItems>
            <assignToReference>c_var_TaxRate1ExcludingAmount_Exclusive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>in_var_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_var_ExcludingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_var_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assing_formulaValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TaxRate1ExcludingAmount_Exclusive2</name>
        <label>税抜額に割りあて</label>
        <locationX>1014</locationX>
        <locationY>1179</locationY>
        <assignmentItems>
            <assignToReference>c_var_TaxRate2ExcludingAmount_Exclusive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>in_var_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_var_ExcludingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_var_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assing_formulaValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TaxRate1ExcludingAmount_Inclusive</name>
        <label>税抜額に割りあて</label>
        <locationX>511</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>c_var_TaxRate1ExcludingAmount_Inclusive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>in_var_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c_var_TaxRate1ExcludingAmount_Inclusive</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>formula_InclusiveTax1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c_var_TaxRate1Amount_Inclusive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_InclusiveTax1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_var_ExcludingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_var_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_var_ExcludingAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>formula_InclusiveTax1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assing_formulaValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TaxRate1ExcludingAmount_Inclusive0</name>
        <label>0を割りあて</label>
        <locationX>445</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>c_var_TaxRate1ExcludingAmount_Inclusive</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_IsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TaxRate2Amount_Inclusive0</name>
        <label>0を割りあて</label>
        <locationX>856</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>c_var_TaxRate2Amount_Inclusive</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_IsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TaxRate2ExcludingAmount_Exclusive0</name>
        <label>0を割りあて</label>
        <locationX>364</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>c_var_TaxRate2ExcludingAmount_Exclusive</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_IsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TaxRate2ExcludingAmount_Inclusive</name>
        <label>税抜額に割りあて</label>
        <locationX>711</locationX>
        <locationY>1197</locationY>
        <assignmentItems>
            <assignToReference>c_var_TaxRate2ExcludingAmount_Inclusive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>in_var_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c_var_TaxRate2ExcludingAmount_Inclusive</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>formula_InclusiveTax2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>c_var_TaxRate2Amount_Inclusive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula_InclusiveTax2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_var_ExcludingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_var_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_var_ExcludingAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>formula_InclusiveTax2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assing_formulaValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TaxRate2ExcludingAmount_Inclusive0</name>
        <label>0を割りあて</label>
        <locationX>740</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>c_var_TaxRate2ExcludingAmount_Inclusive</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_IsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_ExemptAmount</name>
        <label>非課税額に割り当て</label>
        <locationX>614</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>outin_var_ExemptAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>in_var_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_var_ExcludingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_var_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assing_formulaValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_formulaValue</name>
        <label>数式を変数に割り当て</label>
        <locationX>613</locationX>
        <locationY>1397</locationY>
        <assignmentItems>
            <assignToReference>out_var_TaxRate1Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_TaxRate1Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_var_TaxRate1ExcludingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_TaxRate1ExcludingAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_var_TaxRate2Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_TaxRate2Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_var_TaxRate2ExcludingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_TaxRate2ExcludingAmount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assing_IsNullTaxCategory</name>
        <label>Nullフラグ割り当て</label>
        <locationX>285</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>out_var_IsNullTaxCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assing_TaxRate1</name>
        <label>税率1割り当て</label>
        <locationX>205</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>outin_var_TaxRate1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_InputTaxRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_TaxCategory1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_TaxRate2</name>
        <label>税率2割り当て</label>
        <locationX>1021</locationX>
        <locationY>844</locationY>
        <assignmentItems>
            <assignToReference>outin_var_TaxRate2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_InputTaxRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_TaxCategory2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_IsNull</name>
        <label>Nullチェック</label>
        <locationX>578</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>decision_TaxRate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nullなし</defaultConnectorLabel>
        <rules>
            <name>isNullTaxRate1Amount_Inclusive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>c_var_TaxRate1Amount_Inclusive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_TaxRate1Amount_Inclusive0</targetReference>
            </connector>
            <label>TaxRate1Amount_Inclusive</label>
        </rules>
        <rules>
            <name>isNullTaxRate2Amount_Inclusive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>c_var_TaxRate2Amount_Inclusive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_TaxRate2Amount_Inclusive0</targetReference>
            </connector>
            <label>TaxRate2Amount_Inclusive</label>
        </rules>
        <rules>
            <name>isNullTaxRate1ExcludingAmount_Exclusive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>c_var_TaxRate1ExcludingAmount_Exclusive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_TaxRate1ExcludingAmount_Exclusive0</targetReference>
            </connector>
            <label>TaxRate1ExcludingAmount_Exclusive</label>
        </rules>
        <rules>
            <name>isNullTaxRate2ExcludingAmount_Exclusive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>c_var_TaxRate2ExcludingAmount_Exclusive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_TaxRate2ExcludingAmount_Exclusive0</targetReference>
            </connector>
            <label>TaxRate2ExcludingAmount_Exclusive</label>
        </rules>
        <rules>
            <name>isNullTaxRate1ExcludingAmount_Inclusive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>c_var_TaxRate1ExcludingAmount_Inclusive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_TaxRate1ExcludingAmount_Inclusive0</targetReference>
            </connector>
            <label>TaxRate1ExcludingAmount_Inclusive</label>
        </rules>
        <rules>
            <name>isNullTaxRate2ExcludingAmount_Inclusive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>c_var_TaxRate2ExcludingAmount_Inclusive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_TaxRate2ExcludingAmount_Inclusive0</targetReference>
            </connector>
            <label>TaxRate2ExcludingAmount_Inclusive</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_TaxCategory1</name>
        <label>税区分判定</label>
        <locationX>398</locationX>
        <locationY>1044</locationY>
        <defaultConnector>
            <targetReference>assign_TaxRate1ExcludingAmount_Inclusive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>内税</defaultConnectorLabel>
        <rules>
            <name>isExclusive1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_InputTaxCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ex</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_TaxRate1ExcludingAmount_Exclusive1</targetReference>
            </connector>
            <label>外税</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_TaxCategory2</name>
        <label>税区分判定</label>
        <locationX>799</locationX>
        <locationY>1036</locationY>
        <defaultConnector>
            <targetReference>assign_TaxRate2ExcludingAmount_Inclusive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>内税</defaultConnectorLabel>
        <rules>
            <name>isExclusive2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_InputTaxCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ex</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_TaxRate1ExcludingAmount_Exclusive2</targetReference>
            </connector>
            <label>外税</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_TaxRate</name>
        <label>税率判定</label>
        <locationX>593</locationX>
        <locationY>669</locationY>
        <defaultConnector>
            <targetReference>assing_IsNullTaxCategory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>isNullTaxCategory</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>in_var_TaxCategory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>in_var_TaxCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assing_ExemptAmount</targetReference>
            </connector>
            <label>税区分なし</label>
        </rules>
        <rules>
            <name>isExempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_var_TaxCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exempt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assing_ExemptAmount</targetReference>
            </connector>
            <label>非課税</label>
        </rules>
        <rules>
            <name>isFirstTaxRate1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outin_var_TaxRate1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>outin_var_TaxRate2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assing_TaxRate1</targetReference>
            </connector>
            <label>税率1初回</label>
        </rules>
        <rules>
            <name>isFirstTaxRate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outin_var_TaxRate1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>outin_var_TaxRate2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_InputTaxRate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>outin_var_TaxRate1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assing_TaxRate2</targetReference>
            </connector>
            <label>税率2初回</label>
        </rules>
        <rules>
            <name>isTaxRate1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_InputTaxRate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outin_var_TaxRate1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_TaxCategory1</targetReference>
            </connector>
            <label>税率1</label>
        </rules>
        <rules>
            <name>isTaxRate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_InputTaxRate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outin_var_TaxRate2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_TaxCategory2</targetReference>
            </connector>
            <label>税率2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_InclusiveTax1</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!in_var_Amount} /(1+{!outin_var_TaxRate1}/100)*{!outin_var_TaxRate1}/100)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_InclusiveTax2</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!in_var_Amount} /(1+{!outin_var_TaxRate2}/100)*{!outin_var_TaxRate2}/100)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_InputTaxCategory</name>
        <dataType>String</dataType>
        <expression>CASE(LEN({!in_var_TaxCategory}),
4,LEFT({!in_var_TaxCategory},2),
3,LEFT({!in_var_TaxCategory},2),
{!in_var_TaxCategory}
)</expression>
    </formulas>
    <formulas>
        <name>formula_InputTaxRate</name>
        <dataType>Number</dataType>
        <expression>VALUE({!formula_InputTaxRateText})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_InputTaxRateText</name>
        <dataType>String</dataType>
        <expression>CASE(LEN({!in_var_TaxCategory}),
4,RIGHT({!in_var_TaxCategory},2),
3,RIGHT({!in_var_TaxCategory},1),
&quot;0&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_TaxRate1Amount</name>
        <dataType>Currency</dataType>
        <expression>{!formula_TaxRate1Amount_Exclusive}+{!c_var_TaxRate1Amount_Inclusive}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxRate1Amount_Exclusive</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!c_var_TaxRate1ExcludingAmount_Exclusive}*{!outin_var_TaxRate1}/100)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxRate1ExcludingAmount</name>
        <dataType>Currency</dataType>
        <expression>{!c_var_TaxRate1ExcludingAmount_Exclusive}+{!c_var_TaxRate1ExcludingAmount_Inclusive}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxRate2Amount</name>
        <dataType>Currency</dataType>
        <expression>{!formula_TaxRate2Amount_Exclusive}+{!c_var_TaxRate2Amount_Inclusive}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxRate2Amount_Exclusive</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!c_var_TaxRate2ExcludingAmount_Exclusive}*{!outin_var_TaxRate2}/100)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TaxRate2ExcludingAmount</name>
        <dataType>Currency</dataType>
        <expression>{!c_var_TaxRate2ExcludingAmount_Exclusive}+{!c_var_TaxRate2ExcludingAmount_Inclusive}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PB_支払/請求設定税計算 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PB_支払/請求設定税計算</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>decision_IsNull</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>c_var_TaxRate1Amount_Inclusive</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>c_var_TaxRate1ExcludingAmount_Exclusive</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>c_var_TaxRate1ExcludingAmount_Inclusive</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>c_var_TaxRate2Amount_Inclusive</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>c_var_TaxRate2ExcludingAmount_Exclusive</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>c_var_TaxRate2ExcludingAmount_Inclusive</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>in_var_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>in_var_TaxCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>out_var_ExcludingAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>out_var_IsNullTaxCategory</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_var_TaxRate1Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>out_var_TaxRate1ExcludingAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>out_var_TaxRate2Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>out_var_TaxRate2ExcludingAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outin_var_ExemptAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outin_var_TaxRate1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>outin_var_TaxRate2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
