force-app/main/default/flows/RealEstateAssociation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>取得した新規レコードに紐づく「物件（RealEstate__c）」項目を取得した捺印管理レコードの「物件（RealEstate__c）」項目に紐づける</description>
        <name>assign_Seal</name>
        <label>捺印管理レコードの割り当て</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>get_Seal.RealEstate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.RealEstate__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Seal</targetReference>
        </connector>
    </assignments>
    <description>新規レコード修正時、「物件（RealEstate__c）」項目が変更された際
新規レコードが紐づく捺印申請レコードの物件項目を更新する</description>
    <environments>Default</environments>
    <interviewLabel>SE_物件レコード自動紐づけ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SE_物件レコード自動紐づけ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>決裁申請後、捺印管理に紐づく新規の物件情報を取得</description>
        <name>get_NewMatter</name>
        <label>新規レコードの取得</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Seal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_InputNewMatterId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>紐づけ先の捺印管理レコードを新規レコードから取得</description>
        <name>get_Seal</name>
        <label>捺印管理レコードの取得</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Seal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Seal__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Seal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>以下割り当て項目をもとに捺印管理レコードを更新する
割り当て項目「捺印管理レコードの割り当て（assign_Seal）」</description>
        <name>update_Seal</name>
        <label>捺印管理レコードの更新</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>get_Seal</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_InputNewMatterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
