force-app/main/default/flows/Record_SecurityDepositRefundReminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>decision_IsSendSuccess</name>
        <label>送信成功判定</label>
        <locationX>974</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>送信失敗</defaultConnectorLabel>
        <rules>
            <name>SendSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsSendSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Cancel</targetReference>
            </connector>
            <label>送信成功</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_SecurityDepositPaymentDetail</name>
        <label>敷金入金明細があるか</label>
        <locationX>776</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>RM_ReportOutput</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ない</defaultConnectorLabel>
        <rules>
            <name>ThereIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SecurityDepositPaymentDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CancelDepositedFlag</targetReference>
            </connector>
            <label>ある</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_DepositRefundScheduledDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.DepositRefundScheduledDate__c} + {!$Setup.ReminderSetting__c.ReturnScheduleDate__c}</expression>
    </formulas>
    <formulas>
        <name>formula_ExportHtmlCancel</name>
        <dataType>String</dataType>
        <expression>IF({!formula_HtmlCancel}=null,{!var_HtmlValue},{!formula_HtmlCancel})</expression>
    </formulas>
    <formulas>
        <name>formula_HtmlCancel</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!var_HtmlValue}, &quot;Cancel__c&quot; , &quot;!$Record&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CL_敷金返金自動督促() {!$Flow.CurrentDateTime}</interviewLabel>
    <label>（不要）CL_敷金返金自動督促(レコードトリガ)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_SecurityDepositPaymentDetail</name>
        <label>敷金入金明細</label>
        <locationX>959</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_SecurityDepositPaymentDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CancelCancelCalculate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SecurityDepositPaymentDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Cancel</name>
        <label>解約精算レコード更新</label>
        <locationX>842</locationX>
        <locationY>804</locationY>
        <inputAssignments>
            <field>DepositRefundScheduledDate__c</field>
            <value>
                <elementReference>formula_DepositRefundScheduledDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RefundReminderDate__c</field>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_CancelDepositedFlag</name>
        <label>返金フラグ更新</label>
        <locationX>578</locationX>
        <locationY>564</locationY>
        <inputAssignments>
            <field>SecurityDepositedFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>47</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsRefundAutoDunningExecution__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CancelCalculate__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>get_SecurityDepositPaymentDetail</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>CL_AutoNotification</name>
        <label>CL_自動通知（解約精算）</label>
        <locationX>1365</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>decision_IsSendSuccess</targetReference>
        </connector>
        <flowName>AutoNotificationCancelCalculate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultMailTemplate__c.RefundReminder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>$Record.CalculateCounter__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputContactId</name>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputDefaultReportNo</name>
            <value>
                <elementReference>$Setup.DefaultReportNum__c.RefundReminder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>$Record.Account__r.MainEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFax</name>
            <value>
                <elementReference>$Record.CalculateCounter__r.Account__r.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFax</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>返金督促</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_inputReportNo</name>
            <value>
                <elementReference>var_ReportNum</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RM_ReportOutput</name>
        <label>RM_帳票出力</label>
        <locationX>1172</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>CL_AutoNotification</targetReference>
        </connector>
        <flowName>ReportOutput</flowName>
        <inputAssignments>
            <name>var_AccountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputReportName</name>
            <value>
                <stringValue>F_RecordSecurityDepositRefundReminder</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_ReportNum</assignToReference>
            <name>var_OutputReportNum</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>test_inputCancel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DepositDepositAmountSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_HtmlValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_NotificationMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.SecurityDepositReturnExpectedPerson__r.Account.NotificationMethod__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_ReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
