force-app/main/default/flows/ReconfirmStaffAssign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decision_Sobject</name>
        <label>オブジェクト分岐</label>
        <locationX>842</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_NewMatter</targetReference>
            </connector>
            <label>新規</label>
        </rules>
        <rules>
            <name>CancelCalculate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CancelCalculate</targetReference>
            </connector>
            <label>解約精算</label>
        </rules>
        <rules>
            <name>Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Change</targetReference>
            </connector>
            <label>入替</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Renewal</targetReference>
            </connector>
            <label>更新</label>
        </rules>
        <rules>
            <name>ConditionChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_ConditionChange</targetReference>
            </connector>
            <label>条件変更</label>
        </rules>
        <rules>
            <name>GarageCertification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0R</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_GarageCertification</targetReference>
            </connector>
            <label>車庫証明</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>再査担当割り当て {!$Flow.CurrentDateTime}</interviewLabel>
    <label>再査担当割り当て</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_CompleatedToDo</name>
        <label>完了済みToDo</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>text_ToDoDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>再査完了</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>var_RecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_User</name>
        <label>ユーザを取得</label>
        <locationX>842</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Sobject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_StaffId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約精算レコード更新</label>
        <locationX>314</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>create_CompleatedToDo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reconfirmer__c</field>
            <value>
                <elementReference>get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Change</name>
        <label>入替レコード更新</label>
        <locationX>578</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>create_CompleatedToDo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReconfirmRequestStaff__c</field>
            <value>
                <elementReference>get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Change__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_ConditionChange</name>
        <label>条件変更レコードを更新</label>
        <locationX>1106</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>create_CompleatedToDo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReconfirmRequestStaff__c</field>
            <value>
                <elementReference>get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ConditionChange__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_GarageCertification</name>
        <label>車庫証明レコード更新</label>
        <locationX>1370</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>create_CompleatedToDo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReconfirmRequestStaff__c</field>
            <value>
                <elementReference>get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GarageCertification__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_NewMatter</name>
        <label>新規レコード更新</label>
        <locationX>50</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>create_CompleatedToDo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reconfirmer__c</field>
            <value>
                <elementReference>get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>NewMatter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Renewal</name>
        <label>更新レコード更新</label>
        <locationX>842</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>create_CompleatedToDo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReconfirmRequestStaff__c</field>
            <value>
                <elementReference>get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Renewal__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_ToDoDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!get_User.Name} さんが再査を完了しました。</text>
    </textTemplates>
    <variables>
        <name>var_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Staff</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_StaffId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
