force-app/main/default/flows/RefundBankGuide.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>decision_IsSendSuccess</name>
        <label>送信成功判定</label>
        <locationX>767</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>SendSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsSendSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_TodoSuccess</targetReference>
            </connector>
            <label>送信成功</label>
        </rules>
    </decisions>
    <description>解約精算変更</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_DepositRefundScheduledDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!$Setup.ReminderSetting__c.ReturnScheduleDate__c}</expression>
    </formulas>
    <interviewLabel>DA_自動返金口座案内 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CL_自動返金口座案内</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_TodoSuccess</name>
        <label>Todoを作成</label>
        <locationX>778</locationX>
        <locationY>572</locationY>
        <connector>
            <targetReference>update_CancelCalculate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>自動で精算窓口への返金口座案内を行いました。</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_CancelCalculate.CancelCalculateTeam__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>自動返金口座案内</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_CancelCalculate</name>
        <label>解約精算取得</label>
        <locationX>776</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AutoNotificationCancelCalculate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CancelCalculate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約精算レコード更新</label>
        <locationX>776</locationX>
        <locationY>716</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovedContactDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DepositRefundScheduledDate__c</field>
            <value>
                <elementReference>formula_DepositRefundScheduledDate</elementReference>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_CancelCalculate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AutoNotificationCancelCalculate</name>
        <label>NT_自動通知（解約精算）</label>
        <locationX>777</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>decision_IsSendSuccess</targetReference>
        </connector>
        <flowName>AutoNotificationCancelCalculate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DefaultMailTemplate</name>
            <value>
                <elementReference>$Setup.DefaultMailTemplate__c.RefundBankAccountApplication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>get_CancelCalculate.CalculateCounter__r.LenderProxy__r.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputChatterGroupId</name>
            <value>
                <elementReference>get_CancelCalculate.CalculateCounter__r.LenderProxy__r.Account__r.ChatterGroupId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputEmail</name>
            <value>
                <elementReference>get_CancelCalculate.CalculateCounterEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFax</name>
            <value>
                <elementReference>get_CancelCalculate.CalculateCounterFax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFax</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsMail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>返金口座案内</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_inputReportNo</name>
            <value>
                <elementReference>$Setup.DefaultReportNum__c.RefundBankGuide__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>text_ChatterText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Chatter下記物件の賃貸借契約の解約に伴う敷金精算につきまして、貸借人の合意が得られましたのでご連絡申し上げます。&lt;/p&gt;&lt;p&gt;・対象物件：&lt;/p&gt;&lt;p&gt;・返金合計額：&lt;/p&gt;&lt;p&gt;・返金希望日：&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;・返金先口座&lt;/span&gt;&lt;/p&gt;&lt;p&gt;金融機関：&lt;/p&gt;&lt;p&gt;口座番号：&lt;/p&gt;&lt;p&gt;名義人名：&lt;/p&gt;&lt;p&gt;フリガナ：&lt;/p&gt;&lt;p&gt;・ご連絡事項：&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
