force-app/main/default/flows/RelatedChangeAutoReflection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_ConnectionChange</name>
        <label>関連入替の割り当て</label>
        <locationX>527</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>get_ConnectionRecord.RelatedChange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CH_関連入替自動反映 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH_関連入替自動反映</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_ConnectionRecord</name>
        <label>関連レコードの取得</label>
        <locationX>526</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_ConnectionChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_Record.RelatedChange__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Record</name>
        <label>レコードの更新</label>
        <locationX>527</locationX>
        <locationY>563</locationY>
        <inputReference>get_ConnectionRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>400</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_ConnectionRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>input_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Change__c</objectType>
    </variables>
</Flow>
