force-app/main/default/flows/RelationDAAndFieldByAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_DecisionApplication</name>
        <label>決裁申請の割り当て</label>
        <locationX>1018</locationX>
        <locationY>1203</locationY>
        <assignmentItems>
            <assignToReference>loop_AssignDecisionApplication.DecisionApplication2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_DecisionApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_UpdateFieldByAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AssignDecisionApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignDecisionApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_FieldByAccountCollection</name>
        <label>個社別項目コレクション割り当て</label>
        <locationX>624</locationX>
        <locationY>903</locationY>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_FieldByAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignDecisionApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_FieldByAccountCollection_2</name>
        <label>個社別項目コレクション割り当て</label>
        <locationX>792</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_FieldByAccount_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignDecisionApplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_FieldByAccountCollection_3</name>
        <label>個社別項目コレクション割り当て</label>
        <locationX>940</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_FieldByAccount_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignDecisionApplication</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_BusinessRecord</name>
        <label>業務レコードの判定</label>
        <locationX>770</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isNewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewMatter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_FifthSetConfirm</targetReference>
            </connector>
            <label>新規</label>
        </rules>
        <rules>
            <name>isChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Change</targetReference>
            </connector>
            <label>入替</label>
        </rules>
        <rules>
            <name>isConditionChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ConditionChange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_ConditionChange</targetReference>
            </connector>
            <label>条件変更</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FA_決裁申請と個社別項目の紐づけ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FA_決裁申請と個社別項目の紐づけ</label>
    <loops>
        <name>loop_AssignDecisionApplication</name>
        <label>決裁申請割り当てループ</label>
        <locationX>785</locationX>
        <locationY>1203</locationY>
        <collectionReference>varCol_FieldByAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_DecisionApplication</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_FieldByAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Change</name>
        <label>入替の取得</label>
        <locationX>777</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccount_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication.Change__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ConditionChange</name>
        <label>条件変更の取得</label>
        <locationX>931</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccount_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication.ConditionChange__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ConditionChange__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_DecisionApplication</name>
        <label>決済申請の取得</label>
        <locationX>777</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_BusinessRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DecisionApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DecisionApplication2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FieldByAccount</name>
        <label>個社別項目の取得</label>
        <locationX>631</locationX>
        <locationY>714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_FieldByAccountCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FifthSetConfirm__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_FifthSetConfirm.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDecisionApplicationField__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldByAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FieldByAccount_2</name>
        <label>個社別項目の取得</label>
        <locationX>785</locationX>
        <locationY>714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_FieldByAccountCollection_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Change.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDecisionApplicationField__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldByAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FieldByAccount_3</name>
        <label>個社別項目の取得</label>
        <locationX>930</locationX>
        <locationY>716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_FieldByAccountCollection_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConditionChange__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ConditionChange.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDecisionApplicationField__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldByAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FifthSetConfirm</name>
        <label>5点確定レコードの取得</label>
        <locationX>636</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NewMatter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication.NewMatter__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FifthSetConfirm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_FieldByAccount</name>
        <label>個社別項目の更新</label>
        <locationX>787</locationX>
        <locationY>1374</locationY>
        <inputReference>varCol_UpdateFieldByAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_DecisionApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_DecisionApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FieldByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldByAccount__c</objectType>
    </variables>
    <variables>
        <name>var_RealEstateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_FieldByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldByAccount__c</objectType>
    </variables>
    <variables>
        <name>varCol_UpdateFieldByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldByAccount__c</objectType>
    </variables>
</Flow>
