force-app/main/default/flows/ReminderContractRenewalPerDocumentFaxAsynchronous.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>decision_isSuccess</name>
        <label>成功判定</label>
        <locationX>488</locationX>
        <locationY>737</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsSendSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Document</targetReference>
            </connector>
            <label>成功</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_DaysLater</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!$Record.Seal__r.Renewal__r.RenewalCounter__r.Account__r.ServiceContractRenewalConditionChange__r.ContractStorageReminderAddDays__c}</expression>
    </formulas>
    <interviewLabel>RE_書類レコードごとの締結書類の督促（更新）(Fax) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RE_書類レコードごとの締結書類の督促（Fax）(非同期)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Document</name>
        <label>書類レコードを更新</label>
        <locationX>382</locationX>
        <locationY>886</locationY>
        <inputAssignments>
            <field>CollectScheduledDate__c</field>
            <value>
                <elementReference>formula_DaysLater</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>370</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isFaxFlow__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Document__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>RM_ReportOutput</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_AutoNotificationRenewal</name>
        <label>RE_自動通知（更新）</label>
        <locationX>496</locationX>
        <locationY>598</locationY>
        <connector>
            <targetReference>decision_isSuccess</targetReference>
        </connector>
        <flowName>AutoNotificationRenewal</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Seal__r.Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>$Record.Seal__r.Renewal__r.RenewalCounter__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFax</name>
            <value>
                <elementReference>$Record.Seal__r.Renewal__r.RenewalMainCounterFAX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFax</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>保管締結書類の督促（更新）</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputReportNo</name>
            <value>
                <elementReference>var_ReportOutputNum</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_isFaxFlow</assignToReference>
            <name>var_isFaxFlow</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_IsSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RM_ReportOutput</name>
        <label>RM_帳票出力</label>
        <locationX>491</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>flow_AutoNotificationRenewal</targetReference>
        </connector>
        <flowName>ReportOutput</flowName>
        <inputAssignments>
            <name>var_AccountId</name>
            <value>
                <elementReference>$Record.Seal__r.Renewal__r.RenewalCounter__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputReportName</name>
            <value>
                <elementReference>$Setup.ReportNameSetting__c.ReturnReminderContractRenewal__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_ReportOutputNum</assignToReference>
            <name>var_OutputReportNum</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>var_DocumentNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_isFaxFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_ReportOutputNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
