force-app/main/default/flows/RenewalApprovalContactAsynchronous.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_ReportName</name>
        <label>帳票名割り当て</label>
        <locationX>867</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>var_ReportName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.ReportNameSetting__c.ApprovalContact_Renewal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>flow_ReportOutput</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_SendSuccess</name>
        <label>送信成功判定</label>
        <locationX>867</locationX>
        <locationY>696</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_isSendSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_ApprovalContactDate</targetReference>
            </connector>
            <label>送信成功</label>
        </rules>
    </decisions>
    <description>RE_承認連絡（スケジュールトリガーフロー）を統合</description>
    <environments>Default</environments>
    <interviewLabel>RE_承認連絡(非同期） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RE_承認連絡(非同期）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_ToDo</name>
        <label>ToDo作成</label>
        <locationX>682</locationX>
        <locationY>651</locationY>
        <connector>
            <targetReference>decision_SendSuccess</targetReference>
        </connector>
        <inputReference>varCol_ToDo</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>update_ApprovalContactDate</name>
        <label>承認後連絡日を挿入</label>
        <locationX>874</locationX>
        <locationY>826</locationY>
        <inputAssignments>
            <field>ApprovedContactDateTrader__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isApprovalContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsRenewalCounterAutoNotice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ApprovedContactDateTrader__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Renewal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>assign_ReportName</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>flow_AutoNotification</name>
        <label>RE_自動通知（更新）</label>
        <locationX>868</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>create_ToDo</targetReference>
        </connector>
        <flowName>AutoNotificationRenewal</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ChatId</name>
            <value>
                <elementReference>var_ChatID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputAccountId</name>
            <value>
                <elementReference>$Record.RenewalCounter__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputFax</name>
            <value>
                <elementReference>$Record.RenewalMainCounterFAX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFax</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputIsFeed</name>
            <value>
                <elementReference>var_JudgeChatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputNotificationTitle</name>
            <value>
                <stringValue>承認連絡(更新)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputReportNo</name>
            <value>
                <elementReference>var_ReportNum</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_isSendSuccess</assignToReference>
            <name>var_IsSendSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_ToDo</assignToReference>
            <name>varCol_ToDo</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>flow_ReportOutput</name>
        <label>RM_帳票出力</label>
        <locationX>867</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>MB_identifyChat</targetReference>
        </connector>
        <flowName>ReportOutput</flowName>
        <inputAssignments>
            <name>var_AccountId</name>
            <value>
                <elementReference>$Record.RenewalCounter__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputReportName</name>
            <value>
                <elementReference>var_ReportName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_ReportNum</assignToReference>
            <name>var_OutputReportNum</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MB_identifyChat</name>
        <label>MB_チャット特定フロー</label>
        <locationX>677</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>flow_AutoNotification</targetReference>
        </connector>
        <flowName>MB_IdentifyChat</flowName>
        <inputAssignments>
            <name>var_OperationId</name>
        </inputAssignments>
        <inputAssignments>
            <name>var_Resident_RealEstateCompany</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_ChatID</assignToReference>
            <name>var_ChatId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_JudgeChatId</assignToReference>
            <name>var_isJudgeChat</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>var_ChatID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_isSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JudgeChatId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCol_ToDo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
