force-app/main/default/flows/ResidentRegistration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>decision_isResident</name>
        <label>入居者有無判定</label>
        <locationX>951</locationX>
        <locationY>472</locationY>
        <defaultConnector>
            <targetReference>screen_StartLeave</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>入居者レコードあり</defaultConnectorLabel>
        <rules>
            <name>isResident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.RealEstate__r.ContractorName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_ResidentNull_0_0</targetReference>
            </connector>
            <label>入居者レコードなし</label>
        </rules>
        <rules>
            <name>isEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.RealEstate__r.ContractorName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Change.Account__r.EmptyStaff__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_ResidentNull_0_0</targetReference>
            </connector>
            <label>空室担当あり</label>
        </rules>
        <rules>
            <name>isNotLeaveScheduledDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.LeaveScheduledDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_ResidentNull_0_0_0</targetReference>
            </connector>
            <label>退去予定日なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_RealEstate</name>
        <label>物件判定</label>
        <locationX>537</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>decision_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isNotResident_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.RealEstate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_RealEstateNull</targetReference>
            </connector>
            <label>物件なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_RecordType</name>
        <label>レコードタイプ判定</label>
        <locationX>770</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>decision_isResident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>退去</defaultConnectorLabel>
        <rules>
            <name>isMove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>入替(入居)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Resident</targetReference>
            </connector>
            <label>入居</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Resident</name>
        <label>入居者判定</label>
        <locationX>586</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>screen_StartMove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isNotNewResident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.NewResidentName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_ResidentNull</targetReference>
            </connector>
            <label>新入居者指定なし</label>
        </rules>
        <rules>
            <name>isNotMoveScheduledDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.MoveScheduledDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_ResidentNull</targetReference>
            </connector>
            <label>入居予定日なし</label>
        </rules>
        <rules>
            <name>isExistingResident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Change.RealEstate__r.ContractorName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Change.RealEstate__r.ContractorName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Change.Account__r.EmptyStaff__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_ResidentNull_0</targetReference>
            </connector>
            <label>既存入居者あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CH_入居者登録 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH_入居者登録</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Change</name>
        <label>入替レコード取得</label>
        <locationX>784</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_RealEstate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>NewResidentName__c</queriedFields>
        <queriedFields>RealEstate__c</queriedFields>
        <queriedFields>MoveScheduledDate__c</queriedFields>
        <queriedFields>LeaveScheduledDate__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_ChangeRecord</name>
        <label>入替レコードの更新</label>
        <locationX>597</locationX>
        <locationY>899</locationY>
        <connector>
            <targetReference>screen_EndMove</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Change.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DataProcessDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Change__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_ChangeRecord_0</name>
        <label>入替レコードの更新</label>
        <locationX>954</locationX>
        <locationY>928</locationY>
        <connector>
            <targetReference>screen_EndLeave</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Change.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DataProcessDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Change__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_RealEstateAtLeave</name>
        <label>物件レコード更新</label>
        <locationX>955</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>update_ChangeRecord_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Change.RealEstate__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualLeaveDate__c</field>
            <value>
                <elementReference>get_Change.LeaveScheduledDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractorName__c</field>
            <value>
                <elementReference>get_Change.Account__r.EmptyStaff__c</elementReference>
            </value>
        </inputAssignments>
        <object>RealEstate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_RealEstateAtMove</name>
        <label>物件レコード更新</label>
        <locationX>596</locationX>
        <locationY>752</locationY>
        <connector>
            <targetReference>update_ChangeRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Change.RealEstate__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualMoveDate__c</field>
            <value>
                <elementReference>get_Change.MoveScheduledDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractorName__c</field>
            <value>
                <elementReference>get_Change.NewResidentName__c</elementReference>
            </value>
        </inputAssignments>
        <object>RealEstate__c</object>
    </recordUpdates>
    <screens>
        <name>screen_EndLeave</name>
        <label>完了画面</label>
        <locationX>954</locationX>
        <locationY>1074</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_Start_0_0</name>
            <fieldText>&lt;p&gt;物件情報から入居者を解除しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_EndMove</name>
        <label>完了画面</label>
        <locationX>597</locationX>
        <locationY>1044</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_Start_0</name>
            <fieldText>&lt;p&gt;物件情報に入居者を登録が完了しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_RealEstateNull</name>
        <label>中止画面</label>
        <locationX>947</locationX>
        <locationY>294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_RealEstateNull</name>
            <fieldText>&lt;p&gt;入替レコードの物件項目が入力されていません。確認してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>完了</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ResidentNull</name>
        <label>中止画面</label>
        <locationX>317</locationX>
        <locationY>415</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ResidentNull</name>
            <fieldText>&lt;p&gt;入替レコードの「新入居者」または「入居予定日」が入力されていません。確認してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>完了</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ResidentNull_0</name>
        <label>中止画面</label>
        <locationX>325</locationX>
        <locationY>554</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ResidentNull_0</name>
            <fieldText>&lt;p&gt;すでに入居者がいます。確認してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>完了</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ResidentNull_0_0</name>
        <label>中止画面</label>
        <locationX>1212</locationX>
        <locationY>393</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ResidentNull_0_0</name>
            <fieldText>&lt;p&gt;物件の「入居者」は既に存在しません。または空室担当が指定されています。確認してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>完了</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ResidentNull_0_0_0</name>
        <label>中止画面</label>
        <locationX>1210</locationX>
        <locationY>531</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ResidentNull_0_0_0</name>
            <fieldText>&lt;p&gt;入替の「退去予定日」が入力されていません。確認してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>完了</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_StartLeave</name>
        <label>開始画面</label>
        <locationX>957</locationX>
        <locationY>666</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_RealEstateAtLeave</targetReference>
        </connector>
        <fields>
            <name>display_Leave</name>
            <fieldText>&lt;p&gt;物件情報から退去者を登録解除します。&lt;/p&gt;&lt;p&gt;よろしければ、次へを押してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pauseButtonLabel>中止</pauseButtonLabel>
        <pausedText>&lt;p&gt;入居者の登録解除を中止します。&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_StartMove</name>
        <label>開始画面</label>
        <locationX>597</locationX>
        <locationY>587</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_RealEstateAtMove</targetReference>
        </connector>
        <fields>
            <name>display_Start</name>
            <fieldText>&lt;p&gt;物件情報に入居者を登録します。&lt;/p&gt;&lt;p&gt;よろしければ、次へを押してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>次へ</nextOrFinishButtonLabel>
        <pauseButtonLabel>中止</pauseButtonLabel>
        <pausedText>&lt;p&gt;入居者の登録を中止します。&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>657</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Change</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
