force-app/main/default/flows/SE_UpdateDecisionApplication2ItemOfSignManagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>新規作成された決裁申請２レコードのレコードタイプ別の処理の分岐を行います。
業務別のレコードタイプに対応する業務項目（「新規」「更新」「条件変更」「入替」「解約」）の値を持つ捺印管理を更新する処理を後続で行うために、レコードタイプ別の処理の分岐を行います。</description>
        <name>decision_BusinessType</name>
        <label>業務タイプ別捺印管理更新</label>
        <locationX>538</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isNewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication2.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewMatter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_DecisionApplication2.NewMatter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SignManagementNewMatterRecordTypeID</targetReference>
            </connector>
            <label>新規</label>
        </rules>
        <rules>
            <name>isRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication2.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_DecisionApplication2.Renewal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SignManagementRenewalRecordTypeID</targetReference>
            </connector>
            <label>更新</label>
        </rules>
        <rules>
            <name>isConditionChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication2.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ConditionChange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_DecisionApplication2.ConditionChange__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SignManagementConditionChangeRecordTypeID</targetReference>
            </connector>
            <label>条件変更</label>
        </rules>
        <rules>
            <name>isChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication2.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_DecisionApplication2.Change__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SignManagementChangeRecordTypeID</targetReference>
            </connector>
            <label>入替</label>
        </rules>
        <rules>
            <name>isCancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication2.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_DecisionApplication2.CancelCalculate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SignManagementCancelRecordTypeID</targetReference>
            </connector>
            <label>解約</label>
        </rules>
        <rules>
            <name>isWorkArrangement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication2.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkArrangement</stringValue>
                </rightValue>
            </conditions>
            <label>作業手配</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SE_捺印管理の決裁申請項目更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SE_捺印管理の決裁申請項目更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_DecisionApplication2</name>
        <label>決算申請2レコード情報取得</label>
        <locationX>542</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_BusinessType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DecisionApplication2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DecisionApplication2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>NewMatter__c</queriedFields>
        <queriedFields>Renewal__c</queriedFields>
        <queriedFields>ConditionChange__c</queriedFields>
        <queriedFields>Change__c</queriedFields>
        <queriedFields>CancelCalculate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>捺印管理の解約業務に対応するレコードタイプIDを取得</description>
        <name>get_SignManagementCancelRecordTypeID</name>
        <label>捺印管理解約レコードタイプ取得</label>
        <locationX>743</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_SignManagement_Cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>捺印管理の入替業務に対応するレコードタイプIDを取得</description>
        <name>get_SignManagementChangeRecordTypeID</name>
        <label>捺印管理入替レコードタイプ取得</label>
        <locationX>721</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_SignManagement_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>捺印管理の条件変更業務に対応するレコードタイプIDを取得</description>
        <name>get_SignManagementConditionChangeRecordTypeID</name>
        <label>捺印管理条件変更レコードタイプ取得</label>
        <locationX>541</locationX>
        <locationY>556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_SignManagement_ConditionChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ConditionChange</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>捺印管理の新規業務に対応するレコードタイプIDを取得</description>
        <name>get_SignManagementNewMatterRecordTypeID</name>
        <label>捺印管理新規レコードタイプ取得</label>
        <locationX>303</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_SignManagement_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewMatter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>捺印管理の更新業務に対応するレコードタイプIDを取得</description>
        <name>get_SignManagementRenewalRecordTypeID</name>
        <label>捺印管理更新レコードタイプ取得</label>
        <locationX>336</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_SignManagement_Renewl</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_SignManagement_Cancel</name>
        <label>捺印管理更新_解約</label>
        <locationX>903</locationX>
        <locationY>281</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CancelCalculate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication2.CancelCalculate__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DecisionApplication2__c</field>
            <value>
                <elementReference>DecisionApplication2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Seal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SignManagement_Change</name>
        <label>捺印管理更新_入替</label>
        <locationX>936</locationX>
        <locationY>505</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication2.Change__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DecisionApplication2__c</field>
            <value>
                <elementReference>DecisionApplication2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Seal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SignManagement_ConditionChange</name>
        <label>捺印管理更新_条件変更</label>
        <locationX>541</locationX>
        <locationY>753</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConditionChange__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication2.ConditionChange__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SignManagementConditionChangeRecordTypeID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DecisionApplication2__c</field>
            <value>
                <elementReference>DecisionApplication2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Seal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SignManagement_New</name>
        <label>捺印管理更新_新規</label>
        <locationX>142</locationX>
        <locationY>270</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication2.NewMatter__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SignManagementNewMatterRecordTypeID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DecisionApplication2__c</field>
            <value>
                <elementReference>DecisionApplication2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Seal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SignManagement_Renewl</name>
        <label>捺印管理更新_更新</label>
        <locationX>138</locationX>
        <locationY>507</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication2.Renewal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SignManagementRenewalRecordTypeID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DecisionApplication2__c</field>
            <value>
                <elementReference>DecisionApplication2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Seal__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>417</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_DecisionApplication2</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DecisionApplication2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SignManagementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Seal__c</objectType>
    </variables>
</Flow>
