force-app/main/default/flows/SealBankAccountDisplay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_BankAccount1</name>
        <label>口座1割り当て</label>
        <locationX>1213</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>var_BankAccount1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AssignBankAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignBankAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount2</name>
        <label>口座2割り当て</label>
        <locationX>1211</locationX>
        <locationY>1311</locationY>
        <assignmentItems>
            <assignToReference>var_BankAccount2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AssignBankAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignBankAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BankAccount3</name>
        <label>口座3割り当て</label>
        <locationX>1216</locationX>
        <locationY>1437</locationY>
        <assignmentItems>
            <assignToReference>var_BankAccount3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AssignBankAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignBankAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RentDetailIds</name>
        <label>コレクション変数に割り当て</label>
        <locationX>926</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varCol_BankAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AssignRentDetailIds.BankAccount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignRentDetailIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RentIds</name>
        <label>コレクション変数に割り当て</label>
        <locationX>917</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>varCol_RentId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AssignRentIds.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignRentIds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_BankAccountCount</name>
        <label>口座数判定</label>
        <locationX>951</locationX>
        <locationY>1306</locationY>
        <defaultConnector>
            <targetReference>loop_AssignBankAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>口座3以降</defaultConnectorLabel>
        <rules>
            <name>is1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount1</targetReference>
            </connector>
            <label>口座1</label>
        </rules>
        <rules>
            <name>is2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount2</targetReference>
            </connector>
            <label>口座2</label>
        </rules>
        <rules>
            <name>is3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BankAccount3</targetReference>
            </connector>
            <label>口座3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsBankAccount</name>
        <label>口座取得有無判定</label>
        <locationX>771</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>loop_AssignBankAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>口座あり</defaultConnectorLabel>
        <rules>
            <name>isNotBankAccount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_BankAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Rent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RealEstate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_RentDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_IsNotBankAccount</targetReference>
            </connector>
            <label>口座なし</label>
        </rules>
    </decisions>
    <description>画面の配置レイアウトを修正（レイアウトのみ）</description>
    <environments>Default</environments>
    <interviewLabel>SE_捺印管理内容確認口座情報画面表示 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SE_捺印管理内容確認口座情報画面表示</label>
    <loops>
        <name>loop_AssignBankAccount</name>
        <label>口座割り当てループ</label>
        <locationX>778</locationX>
        <locationY>1378</locationY>
        <collectionReference>get_BankAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_BankAccountCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen_BankAccountInformation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_AssignRentDetailIds</name>
        <label>コレクション変数割り当てループ</label>
        <locationX>777</locationX>
        <locationY>948</locationY>
        <collectionReference>get_RentDetail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_RentDetailIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_BankAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_AssignRentIds</name>
        <label>コレクション変数割り当てループ</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <collectionReference>get_Rent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_RentIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_RentDetail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_BankAccount</name>
        <label>口座を取得</label>
        <locationX>781</locationX>
        <locationY>1104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsBankAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varCol_BankAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BankAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規を取得</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RealEstate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Seal.New__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RealEstate</name>
        <label>物件を取得</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Rent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.RealEstate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RealEstate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Rent</name>
        <label>家賃を取得</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_AssignRentIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RealEstateName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RealEstate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RentDetail</name>
        <label>家賃明細を取得</label>
        <locationX>776</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_AssignRentDetailIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rent__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varCol_RentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RentDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Seal</name>
        <label>捺印管理を取得</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Seal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_BankAccountInformation</name>
        <label>口座情報画面</label>
        <locationX>777</locationX>
        <locationY>1534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;口座情報&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_BankAccountInformation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_BankAccountInformation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_BankAccount1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;口座1&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;口座番号：{!var_BankAccount1.Name}&lt;/p&gt;&lt;p&gt;口座名義：{!var_BankAccount1.BankAccountName__c}&lt;/p&gt;&lt;p&gt;銀行名　：{!var_BankAccount1.BankName__c}&lt;/p&gt;&lt;p&gt;支店名　：{!var_BankAccount1.BranchOfficeName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_BankAccountInformation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_BankAccount2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;口座2&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;口座番号：&lt;/span&gt;{!var_BankAccount2.Name}&lt;/p&gt;&lt;p&gt;口座名義：{!var_BankAccount2.BankAccountName__c}&lt;/p&gt;&lt;p&gt;銀行名　：{!var_BankAccount2.BankName__c}&lt;/p&gt;&lt;p&gt;支店名　：{!var_BankAccount2.BranchOfficeName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_Count</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>3.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_BankAccountInformation_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_BankAccount3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;口座3&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;口座番号：{!var_BankAccount3.Name}&lt;/p&gt;&lt;p&gt;口座名義：{!var_BankAccount3.BankAccountName__c}&lt;/p&gt;&lt;p&gt;銀行名　：{!var_BankAccount3.BankName__c}&lt;/p&gt;&lt;p&gt;支店名　：{!var_BankAccount3.BranchOfficeName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_Count</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>4.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_IsNotBankAccount</name>
        <label>口座なし画面</label>
        <locationX>590</locationX>
        <locationY>1234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_IsNotBankAccount</name>
            <fieldText>&lt;p&gt;口座情報が登録されていないため、口座情報を表示できません。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Seal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BankAccount1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BankAccount__c</objectType>
    </variables>
    <variables>
        <name>var_BankAccount2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BankAccount__c</objectType>
    </variables>
    <variables>
        <name>var_BankAccount3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BankAccount__c</objectType>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCol_BankAccountId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_RentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
