force-app/main/default/flows/SecurityDepositRefundReminderFax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_CountReportOutputToken</name>
        <label>コレクション変数の数を数える</label>
        <locationX>909</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>var_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varCol_ReportOutputToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_CollectionNum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DepositRefundScheduledDate</name>
        <label>返金予定日割り当て</label>
        <locationX>1336</locationX>
        <locationY>1743</locationY>
        <assignmentItems>
            <assignToReference>var_DepositRefundScheduledDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CancelCalculate.DepositRefundScheduledDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CancelCalculate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_FaxErrorToDo</name>
        <label>ToDoの割り当て</label>
        <locationX>556</locationX>
        <locationY>1434</locationY>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_FaxErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CancelCalculateFailure.OwnerId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>進行中</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fax処理エラー</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CancelCalculateFailure.RecordId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_ErrorToDo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ToDoRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CancelCalculateFailure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_FaxErrorToDo_0</name>
        <label>ToDoの割り当て</label>
        <locationX>310</locationX>
        <locationY>1453</locationY>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text_NotConnectMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CancelCalculateFailure.OwnerId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>進行中</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FAX連携機能への接続エラー</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CancelCalculateConnectFailure.RecordId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_ErrorToDo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ToDoRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CancelCalculateConnectFailure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NewMatterInfoReportOutputToken</name>
        <label>解約精算情報を帳票トークン割り当て</label>
        <locationX>1459</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>var_ReportOutputToken.RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CancelCalculateCreateReportOutputToken.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ReportOutputToken.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CancelCalculateCreateReportOutputToken.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ReportOutputToken.OwnerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CancelCalculateCreateReportOutputToken.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_ReportOutputTokenAddCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NoFaxCC</name>
        <label>FAXなし変数割り当て</label>
        <locationX>1246</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>varCol_NoFaxCC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_CancelCalculateCreateReportOutputToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CancelCalculateCreateReportOutputToken</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NoFaxToD</name>
        <label>FaxなしToDoの変数割り当て</label>
        <locationX>1392</locationX>
        <locationY>873</locationY>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NoFaxCC.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NoFaxCC.ChargeTeam__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NotSendError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDoRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Message__c.NotSendErrorMessage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_ErrorToDo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ToDoRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_NoFaxCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ReportOutputTokenAddCollection</name>
        <label>帳票送信トークンのコレクションへの追加</label>
        <locationX>1210</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>varCol_ReportOutputToken</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ReportOutputToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CancelCalculateCreateReportOutputToken</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UniqueName</name>
        <label>成功した解約精算レコードの変数を作成</label>
        <locationX>1012</locationX>
        <locationY>1569</locationY>
        <assignmentItems>
            <assignToReference>var_CancelCalculateRecordToken.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CancelCalculateSucces.RecordId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculateRecordToken.DepositRefundScheduledDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_DepositRefundScheduledDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CancelCalculateRecordToken.RefundReminderDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_CancelCalculateSuccess</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CancelCalculateRecordToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CancelCalculateSucces</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>1つに絞られる</description>
        <name>filter_CC</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>解約精算絞り込み</label>
        <locationX>1333</locationX>
        <locationY>1382</locationY>
        <assignNextValueToReference>currentItem_filter_CC</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_CancelCalculate</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_CC.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_CancelCalculateSucces.RecordId__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_CancelCalculate</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_ReportOutputConnectFailure</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>帳票出力接続失敗</label>
        <locationX>305</locationX>
        <locationY>994</locationY>
        <assignNextValueToReference>currentItem_filter_ReportOutputFailure</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCol_ReportOutputToken</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_ReportOutputFailure.ResultCode__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>1.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_CancelCalculateConnectFailure</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_ReportOutputFailure</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>帳票出力失敗</label>
        <locationX>593</locationX>
        <locationY>1007</locationY>
        <assignNextValueToReference>currentItem_filter_ReportOutputFailure</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCol_ReportOutputToken</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_ReportOutputFailure.ResultCode__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>9.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_CancelCalculateFailure</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_ReportOutputSucces</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>帳票出力成功</label>
        <locationX>1024</locationX>
        <locationY>1043</locationY>
        <assignNextValueToReference>currentItem_filter_ReportOutputFailure</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varCol_ReportOutputToken</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_ReportOutputFailure.ResultCode__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_CancelCalculateSucces</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>decision_CollectionNum</name>
        <label>コレクション数判定</label>
        <locationX>743</locationX>
        <locationY>718</locationY>
        <defaultConnector>
            <targetReference>action_ReportOutputBulk2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_NoFaxCC</targetReference>
            </connector>
            <label>コレクション数０</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_FAX</name>
        <label>FAX判定</label>
        <locationX>1442</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>assign_NewMatterInfoReportOutputToken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FAXあり</defaultConnectorLabel>
        <rules>
            <name>FAXisNoFax</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loop_CancelCalculateCreateReportOutputToken.CalculateCounterFax__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_CancelCalculateCreateReportOutputToken.CalculateCounterFax__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_NoFaxCC</targetReference>
            </connector>
            <label>FAXなし</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_dayslater</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!$Setup.SyatakusanSetting__c.EstimateReminderAdditionDays__c}</expression>
    </formulas>
    <formulas>
        <name>formula_DepositRefundScheduledDate</name>
        <dataType>Date</dataType>
        <expression>{!var_DepositRefundScheduledDate}+{!$Setup.ReminderSetting__c.ReturnScheduleDate__c}</expression>
    </formulas>
    <formulas>
        <name>formula_NotSendError</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Subject__c.NotSendErrorSubject__c}+&quot; 敷金返金の督促依頼 &quot;</expression>
    </formulas>
    <interviewLabel>CL_返金督促（Fax） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>（不要）CL_敷金返金自動督促（Fax）</label>
    <loops>
        <description>確実に一回のみのループになりますが、filterの項目の返金予定日を取ってくるにはループを使わなくては取れなかったのでループを置いています</description>
        <name>loop_CancelCalculate</name>
        <label>解約精算ループ</label>
        <locationX>1332</locationX>
        <locationY>1593</locationY>
        <collectionReference>filter_CC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_DepositRefundScheduledDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UniqueName</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_CancelCalculateConnectFailure</name>
        <label>接続失敗した解約精算レコードのコレクションをループ</label>
        <locationX>306</locationX>
        <locationY>1212</locationY>
        <collectionReference>filter_ReportOutputConnectFailure</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_FaxErrorToDo_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_ToDoFaxError</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_CancelCalculateCreateReportOutputToken</name>
        <label>帳票送信トークンの作成ループ</label>
        <locationX>1031</locationX>
        <locationY>452</locationY>
        <collectionReference>get_CancelCalculate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_FAX</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_CountReportOutputToken</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_CancelCalculateFailure</name>
        <label>失敗した解約精算レコードのコレクションをループ</label>
        <locationX>557</locationX>
        <locationY>1212</locationY>
        <collectionReference>filter_ReportOutputFailure</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_FaxErrorToDo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>filter_ReportOutputConnectFailure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_CancelCalculateSucces</name>
        <label>成功した解約精算レコードのコレクションをループ</label>
        <locationX>1031</locationX>
        <locationY>1258</locationY>
        <collectionReference>filter_ReportOutputSucces</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filter_CC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_CancelCalculate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_NoFaxCC</name>
        <label>Faxなし解約精算レコードループ</label>
        <locationX>1014</locationX>
        <locationY>876</locationY>
        <collectionReference>varCol_NoFaxCC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_NoFaxToD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>filter_ReportOutputSucces</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_ToDoFaxError</name>
        <label>Fax処理エラーのToDo作成</label>
        <locationX>50</locationX>
        <locationY>1223</locationY>
        <inputReference>varCol_ErrorToDo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_CancelCalculate</name>
        <label>解約精算を取得</label>
        <locationX>1196</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_CancelCalculateCreateReportOutputToken</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDepositRefundAutoReminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DepositRefundDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsCalculateCounterAutoNotice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SecurityDepositedFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CancelCalculate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約精算レコードを更新</label>
        <locationX>811</locationX>
        <locationY>1201</locationY>
        <connector>
            <targetReference>filter_ReportOutputFailure</targetReference>
        </connector>
        <inputReference>varCol_CancelCalculateSuccess</inputReference>
    </recordUpdates>
    <start>
        <locationX>1057</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>get_CancelCalculate</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-04</startDate>
            <startTime>14:29:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>action_ReportOutputBulk2</name>
        <label>帳票一括送信</label>
        <locationX>1014</locationX>
        <locationY>733</locationY>
        <connector>
            <targetReference>loop_NoFaxCC</targetReference>
        </connector>
        <flowName>ReportOutputBulk</flowName>
        <inputAssignments>
            <name>var_InputReportName</name>
            <value>
                <stringValue>F_RecordSecurityDepositRefundReminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCol_RportOutputToken</name>
            <value>
                <elementReference>varCol_ReportOutputToken</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCol_ReportOutputToken</assignToReference>
            <name>varCol_OutputRportOutputToken</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>text_FaxErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 0, 0);&quot;&gt;{!$Setup.Message__c.FaxErrorMessage__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 0, 0);&quot;&gt;﻿エラーコード：{!loop_CancelCalculateFailure.ErrorCode__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>text_NotConnectMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;エラーコード：&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!loop_CancelCalculateConnectFailure.ErrorCode__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Setup.Message__c.FaxConnectErrorMessage__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_filter_ByCompanyReportNum</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportMaster__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_CC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelCalculate__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_DefaultReportNum</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportMaster__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_ReportOutputFailure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportOutputToken__c</objectType>
    </variables>
    <variables>
        <name>var_CancelCalculateRecordToken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelCalculate__c</objectType>
    </variables>
    <variables>
        <name>var_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_DefaultReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_DepositRefundScheduledDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_inputReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_IsSendSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_OutputReportNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_RecordReportMasterToken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportMaster__c</objectType>
    </variables>
    <variables>
        <name>var_ReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ReportOutputToken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportOutputToken__c</objectType>
    </variables>
    <variables>
        <name>var_ReportOutputTokenReset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportOutputToken__c</objectType>
    </variables>
    <variables>
        <name>var_ToDoRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCol_CancelCalculateSuccess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelCalculate__c</objectType>
    </variables>
    <variables>
        <name>varCol_ErrorToDo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCol_NoFaxCC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancelCalculate__c</objectType>
    </variables>
    <variables>
        <name>varCol_ReportMaster</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportMaster__c</objectType>
    </variables>
    <variables>
        <name>varCol_ReportOutputToken</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportOutputToken__c</objectType>
    </variables>
</Flow>
