force-app/main/default/flows/SendEmailNewMatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_SendEmail</name>
        <label>メールを送信</label>
        <locationX>446</locationX>
        <locationY>774</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>var_InputtEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>tak-sato@virtualex.co.jp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>formula_MeageField</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_Body</name>
        <label>本文割り当て</label>
        <locationX>466</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>var_SendEmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_MeageField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>display_Preview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CompanyStaff</name>
        <label>社宅担当者割り当て</label>
        <locationX>878</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.EmailAddres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CompanyStaff.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.ContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CompanyStaff.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SendEmail__c.CorporateHousingStaff__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_EmailAddressToken</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_EmailAddressToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CompanyStaff</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TemplateFields</name>
        <label>テンプレート使用項目割り当て</label>
        <locationX>455</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>get_NewMatter.NewMatterId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.NewMatterId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.AccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.AccountName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.Signature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.AgencyTraderName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.AgencyTraderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.AgencyStaffLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.AgencyStaffLastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DecisionRealEstateName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DecisionRealEstateName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DecisionRealEstateRoom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DecisionRealEstateRoom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.CorporateHousingStaffName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.CorporateHousingStaffName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.ContractMoneyRemittanceScheduledDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ContractMoneyRemittanceScheduledDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.LastRentPaymentMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.LastRentPaymentMonth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.ResidentLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ResidentLastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.ContractStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ContractStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.AgencyStaffName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.AgencyStaffName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.del_AgencyPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.del_AgencyPhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.ManagementTraderName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ManagementTraderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.ManagementTraderPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ManagementTraderPhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DecisionAtApplicationCounter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DecisionAtApplicationCounter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DecisionAgencyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DecisionAgencyName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DecisionAgencySraffName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DecisionAgencySraffName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DecisionAgencyPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DecisionAgencyPhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DecisionRealEstateRoom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DecisionRealEstateRoom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DecisionContractStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DecisionContractStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DecisionMoveDesiredDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DecisionMoveDesiredDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DecisionTraderName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DecisionTraderName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DocumentName1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DocumentName1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DocumentName2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DocumentName2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DocumentName3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DocumentName3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DocumentName4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DocumentName4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.DocumentName5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.DocumentName5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_NewMatter.FifthSetCollectScheduledDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.FifthSetCollectScheduledDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UniqueName</name>
        <label>通知先取引先担当者割り当て</label>
        <locationX>642</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.EmailAddres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ProxyContact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.ContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ProxyContact__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SendEmail__c.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_EmailAddressToken</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_EmailAddressToken</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.EmailAddres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ContactCounter__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.ContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ContactCounter__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SendEmail__c.RealEstateStaff__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_EmailAddressToken</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_EmailAddressToken</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.EmailAddres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ChargeTeam__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.ContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ChargeTeam__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SendEmail__c.ChargeTeam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_EmailAddressToken</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_EmailAddressToken</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.EmailAddres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ProxyContact__r.ReportsTo.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.ContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NewMatter.ProxyContact__r.ReportsTo.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EmailAddressToken.Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SendEmail__c.ContactSuperior__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_EmailAddressToken</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_EmailAddressToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_RecordType</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formula_MeageField</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
SUBSTITUTE( 
SUBSTITUTE( {!var_InputHtml},
 &quot;NewMatter__c&quot; , &quot;!get_NewMatter&quot;),
&quot;{{{&quot;,&quot; {&quot;),
&quot;}}}&quot; , &quot;} &quot; )</expression>
    </formulas>
    <interviewLabel>NM_メール送信 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_メール送信</label>
    <loops>
        <name>loop_CompanyStaff</name>
        <label>社宅担当者をループ</label>
        <locationX>869</locationX>
        <locationY>482</locationY>
        <collectionReference>get_CorporateHousingStaff</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_CompanyStaff</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>flow_EmailSendDisplay</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_CorporateHousingStaff</name>
        <label>社宅担当者取得</label>
        <locationX>869</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_CompanyStaff</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規レコード取得</label>
        <locationX>455</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_TemplateFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordType</name>
        <label>レコードタイプを取得(社宅担当者)</label>
        <locationX>743</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CorporateHousingStaff</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CompanyStaff</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>display_Preview</name>
        <label>プレビュー画面</label>
        <locationX>356</locationX>
        <locationY>582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>action_SendEmail</targetReference>
        </connector>
        <fields>
            <name>display_EmailTtml</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;To：&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varCol_InputToAddress}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;件名：&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!var_InputtEmailSubject}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;本文：&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!var_SendEmailBody}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>329</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>flow_EmailSendDisplay</name>
        <label>メール送信画面</label>
        <locationX>575</locationX>
        <locationY>483</locationY>
        <connector>
            <targetReference>assign_Body</targetReference>
        </connector>
        <flowName>EmailSendDisplay</flowName>
        <inputAssignments>
            <name>var_InputMethodName</name>
            <value>
                <stringValue>NewMatter__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_InputResourceName</name>
            <value>
                <stringValue>get_NewMatter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCol_EmailAddressToken</name>
            <value>
                <elementReference>varCol_EmailAddressToken</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_InputHtml</assignToReference>
            <name>var_EmailTemplateHtml</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_InputCcDisplayText</assignToReference>
            <name>var_OutputCcDisplayText</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_InputEmailHtml</assignToReference>
            <name>var_OutputEmailHtml</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_InputtEmailSubject</assignToReference>
            <name>var_OUtputEmailSubject</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_InputToDisplayText</assignToReference>
            <name>var_OutputToDisplayText</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_InputToAddress</assignToReference>
            <name>varCol_OutputCcAddress</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_InputCcAddress</assignToReference>
            <name>varCol_OutputToAddress</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>text_EmailTemplateBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!get_NewMatter.Id}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!get_NewMatter.AgencyTraderName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!formula_MeageField}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EmailAddressToken</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailAddressToken__c</objectType>
    </variables>
    <variables>
        <name>var_InputCcAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputCcDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputEmailHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputHtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputtEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_InputToDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SendEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_EmailAddressToken</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailAddressToken__c</objectType>
    </variables>
    <variables>
        <name>varCol_InputCcAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_InputToAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
