force-app/main/default/flows/SendQuestionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_SendChatter</name>
        <label>Chatterに投稿</label>
        <locationX>685</locationX>
        <locationY>970</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>communityId</name>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.sntPortalSiteId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>text_ChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>アンケート詳細がアンケートの従オブジェクトなのに、create_QuestionnaireDetail (レコードを作成) で所有者を割り当てていてエラーとなっていたため該当箇所を削除</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_PortalSiteId</name>
        <dataType>String</dataType>
        <expression>&quot;1&quot;</expression>
    </formulas>
    <interviewLabel>NE_アンケート送信 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_アンケート送信</label>
    <loops>
        <name>loop_CreateQuestionnaireDetail</name>
        <label>アンケート詳細作成ループ</label>
        <locationX>676</locationX>
        <locationY>434</locationY>
        <collectionReference>get_MediationRequest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_QuestionnaireDetail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_NewMatter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Questionnaire</name>
        <label>アンケートレコードを作成</label>
        <locationX>669</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>get_MediationRequest</targetReference>
        </connector>
        <inputAssignments>
            <field>NewMatter__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.SystemUserId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_QuestionnaireDetail</name>
        <label>アンケート詳細作成</label>
        <locationX>916</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>loop_CreateQuestionnaireDetail</targetReference>
        </connector>
        <inputAssignments>
            <field>Questionnaire__c</field>
            <value>
                <elementReference>create_Questionnaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RealEstateCompany__c</field>
            <value>
                <elementReference>loop_CreateQuestionnaireDetail.MediationCompanyId__c</elementReference>
            </value>
        </inputAssignments>
        <object>QuestionnaireDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_MediationRequest</name>
        <label>斡旋依頼業者取得</label>
        <locationX>670</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_CreateQuestionnaireDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MediationRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規レコードを取得</label>
        <locationX>676</locationX>
        <locationY>618</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NotificationTemplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NotificationTemplete</name>
        <label>通知テンプレートを取得</label>
        <locationX>676</locationX>
        <locationY>747</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Account__r.NotificationTemplate__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NotificationTemplate__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuestionnaireSendFeed__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_User</name>
        <label>ユーザレコードを取得</label>
        <locationX>683</locationX>
        <locationY>856</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>action_SendChatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Resident__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>create_Questionnaire</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text_ChatterText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!get_User.Id}]
{!get_NotificationTemplete.QuestionnaireSendFeed__c}

&quot;https://vxcdev02-sntdemo.cs5.force.com/sntPortal/s/detail/{!create_Questionnaire}&quot;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ForEmailTemplete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
