force-app/main/default/flows/SetDecisionRequestApprover.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>decision_ApprovalPattern</name>
        <label>承認パターン判定</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>getDecisionApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>承認パターンなし</defaultConnectorLabel>
        <rules>
            <name>isApprovalPattern</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ApprovalPatternId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApprovalPattern</targetReference>
            </connector>
            <label>承認パターンあり</label>
        </rules>
    </decisions>
    <interviewLabel>決裁申請承認者割り当て {!$Flow.CurrentDateTime}</interviewLabel>
    <label>決裁申請承認者割り当て</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getApprovalPattern</name>
        <label>承認パターンレコード取得</label>
        <locationX>585</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateDecisionApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ApprovalPatternId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApprovalPattern__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDecisionApplication</name>
        <label>決裁申請レコード取得</label>
        <locationX>672</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getApprovalPattern</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>DecisionApplication__c</object>
        <outputAssignments>
            <assignToReference>var_ApprovalPatternId</assignToReference>
            <field>ApprovalPattern__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateDecisionApplication</name>
        <label>決裁申請レコード更新</label>
        <locationX>585</locationX>
        <locationY>662</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver10__c</field>
            <value>
                <elementReference>getApprovalPattern.Approver10__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver1__c</field>
            <value>
                <elementReference>getApprovalPattern.Approver1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver2__c</field>
            <value>
                <elementReference>getApprovalPattern.Approver2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver3__c</field>
            <value>
                <elementReference>getApprovalPattern.Approver3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver4__c</field>
            <value>
                <elementReference>getApprovalPattern.Approver4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver5__c</field>
            <value>
                <elementReference>getApprovalPattern.Approver5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver6__c</field>
            <value>
                <elementReference>getApprovalPattern.Approver6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver7__c</field>
            <value>
                <elementReference>getApprovalPattern.Approver7__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver8__c</field>
            <value>
                <elementReference>getApprovalPattern.Approver8__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver9__c</field>
            <value>
                <elementReference>getApprovalPattern.Approver9__c</elementReference>
            </value>
        </inputAssignments>
        <object>DecisionApplication__c</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>decision_ApprovalPattern</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_ApprovalPatternId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
