force-app/main/default/flows/SimilarApplicationCheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_IsSimilarApplicationCheckImplementation</name>
        <label>類似申請チェック実施有無割り当て</label>
        <locationX>805</locationX>
        <locationY>3200</locationY>
        <assignmentItems>
            <assignToReference>get_Application.IsSimilarApplicationCheckImplementation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_ApplicationRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SimilarLeaveApplicationWithGarage</name>
        <label>類似申請チェック（退去_駐車場）の割り当て</label>
        <locationX>1304</locationX>
        <locationY>3207</locationY>
        <assignmentItems>
            <assignToReference>get_Application.IsSimilarApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Application.SimilarLeaveApplication3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_SimilarLeaveApplicationWithGarage.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_IsSimilarApplicationCheckImplementation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SimilarLeaveApplicationWithRealEstate1</name>
        <label>類似申請チェック（退去_物件１）の割り当て</label>
        <locationX>1305</locationX>
        <locationY>2386</locationY>
        <assignmentItems>
            <assignToReference>get_Application.IsSimilarApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Application.SimilarLeaveApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_SimilarLeaveApplicationWithRealEstate1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_IsRealEstate2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SimilarLeaveApplicationWithRealEstate2</name>
        <label>類似申請チェック（退去_物件２）の割り当て</label>
        <locationX>1308</locationX>
        <locationY>2812</locationY>
        <assignmentItems>
            <assignToReference>get_Application.IsSimilarApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Application.SimilarLeaveApplication2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_SimilarLeaveApplicationWithRealEstate2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_IsGarage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SimilarMoveApplication</name>
        <label>類似申請チェック（入居）の割り当て</label>
        <locationX>978</locationX>
        <locationY>1423</locationY>
        <assignmentItems>
            <assignToReference>get_Application.IsSimilarApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Application.SimilarMoveApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_SimilarMoveApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_LeaveApplication</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_IsGarage</name>
        <label>駐車場有無判定</label>
        <locationX>976</locationX>
        <locationY>2809</locationY>
        <defaultConnector>
            <targetReference>assign_IsSimilarApplicationCheckImplementation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>駐車場なし</defaultConnectorLabel>
        <rules>
            <name>isGarage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Application.RealEstate3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SimilarLeaveApplicationWithGarage</targetReference>
            </connector>
            <label>駐車場あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsOperationWithGarage</name>
        <label>進行中業務有無判定（駐車場）</label>
        <locationX>1508</locationX>
        <locationY>3108</locationY>
        <defaultConnector>
            <targetReference>assign_SimilarLeaveApplicationWithGarage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>進行中業務あり</defaultConnectorLabel>
        <rules>
            <name>isNoOperationWithGarage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelRecordWithGarage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_IsSimilarApplicationCheckImplementation</targetReference>
            </connector>
            <label>進行中業務なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsOperationWithRealEstate1</name>
        <label>進行中業務有無判定（物件１）</label>
        <locationX>1493</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>assign_SimilarLeaveApplicationWithRealEstate1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>進行中業務あり</defaultConnectorLabel>
        <rules>
            <name>isNoOperationWithRealEstate1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ChangeLeaveRecordWithRealEstate1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelRecordWithRealEstate1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_IsRealEstate2</targetReference>
            </connector>
            <label>進行中業務なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsOperationWithRealEstate2</name>
        <label>進行中業務有無判定（物件2）</label>
        <locationX>1497</locationX>
        <locationY>2699</locationY>
        <defaultConnector>
            <targetReference>assign_SimilarLeaveApplicationWithRealEstate2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>進行中業務あり</defaultConnectorLabel>
        <rules>
            <name>isNoOperationWithRealEstate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelRecordWithRealEstate2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ChangeLeaveRecordWithRealEstate2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_IsGarage</targetReference>
            </connector>
            <label>進行中業務なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsRealEstate1</name>
        <label>物件1有無判定</label>
        <locationX>977</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>decision_IsRealEstate2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>物件１なし</defaultConnectorLabel>
        <rules>
            <name>isRealEstate1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Application.RealEstate1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SimilarLeaveApplicationWithRealEstate1</targetReference>
            </connector>
            <label>物件１あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsRealEstate2</name>
        <label>物件2有無判定</label>
        <locationX>975</locationX>
        <locationY>2383</locationY>
        <defaultConnector>
            <targetReference>decision_IsGarage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>物件2なし</defaultConnectorLabel>
        <rules>
            <name>isRealEstate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Application.RealEstate2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SimilarLeaveApplicationWithRealEstate2</targetReference>
            </connector>
            <label>物件２あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsSimilarLeaveApplicationWithGarage</name>
        <label>類似申請有無判定（駐車場）</label>
        <locationX>1285</locationX>
        <locationY>2975</locationY>
        <defaultConnector>
            <targetReference>get_CancelRecordWithGarage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>類似申請あり</defaultConnectorLabel>
        <rules>
            <name>isNoSimilarLeaveApplicationWithGarage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SimilarLeaveApplicationWithGarage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_IsSimilarApplicationCheckImplementation</targetReference>
            </connector>
            <label>類似申請なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsSimilarLeaveApplicationWithRealEstate1</name>
        <label>類似申請有無判定（物件１）</label>
        <locationX>1277</locationX>
        <locationY>2156</locationY>
        <defaultConnector>
            <targetReference>get_CancelRecordWithRealEstate1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>類似申請あり</defaultConnectorLabel>
        <rules>
            <name>isNoSimilarLeaveApplicationWithRealEstate1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SimilarLeaveApplicationWithRealEstate1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_IsRealEstate2</targetReference>
            </connector>
            <label>類似申請なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsSimilarLeaveApplicationWithRealEstate2</name>
        <label>類似申請有無判定（物件２）</label>
        <locationX>1276</locationX>
        <locationY>2580</locationY>
        <defaultConnector>
            <targetReference>get_CancelRecordWithRealEstate2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>類似申請あり</defaultConnectorLabel>
        <rules>
            <name>isNoSimilarLeaveApplicationWithRealEstate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SimilarLeaveApplicationWithRealEstate2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_IsGarage</targetReference>
            </connector>
            <label>類似申請なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_IsSimilarMoveApplication</name>
        <label>類似申請有無判定</label>
        <locationX>968</locationX>
        <locationY>1222</locationY>
        <defaultConnector>
            <targetReference>assign_SimilarMoveApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>類似申請あり</defaultConnectorLabel>
        <rules>
            <name>isNoSimilarMocveApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ChangeMoveRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_NewMatterRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_LeaveApplication</targetReference>
            </connector>
            <label>類似申請なし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_LeaveApplication</name>
        <label>退去/転居申請判定</label>
        <locationX>772</locationX>
        <locationY>1545</locationY>
        <defaultConnector>
            <targetReference>assign_IsSimilarApplicationCheckImplementation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他の申請</defaultConnectorLabel>
        <rules>
            <name>isLeaveApplication</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Application.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>退去申請</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Application.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>転居申請</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_RecordTypeLeave</targetReference>
            </connector>
            <label>退去または転居申請</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_MoveApplication</name>
        <label>入居/転居申請判定</label>
        <locationX>773</locationX>
        <locationY>824</locationY>
        <defaultConnector>
            <targetReference>decision_LeaveApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他の申請</defaultConnectorLabel>
        <rules>
            <name>isMoveApplication</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Application.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>入居申請</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Application.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>転居申請</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SimilarMoveApplication</targetReference>
            </connector>
            <label>入居または転居申請</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_NormalApplication</name>
        <label>通常申請判定</label>
        <locationX>771</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>削除/変更申請</defaultConnectorLabel>
        <rules>
            <name>isNormalApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Application.ChangeDeleteType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>通常申請</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_MoveApplication</targetReference>
            </connector>
            <label>通常申請</label>
        </rules>
    </decisions>
    <interviewLabel>AP_類似申請チェック {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP_類似申請チェック</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Application</name>
        <label>申請レコードを取得</label>
        <locationX>780</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_NormalApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CancelRecordWithGarage</name>
        <label>進行中の解約レコード取得（駐車場）</label>
        <locationX>1604</locationX>
        <locationY>2978</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsOperationWithGarage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SimilarLeaveApplicationWithGarage.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.RealEstate3__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cancel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CancelRecordWithRealEstate1</name>
        <label>進行中の解約レコード取得（物件１）</label>
        <locationX>1464</locationX>
        <locationY>2160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ChangeLeaveRecordWithRealEstate1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SimilarLeaveApplicationWithRealEstate1.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.RealEstate1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cancel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CancelRecordWithRealEstate2</name>
        <label>進行中の解約レコード取得（物件２）</label>
        <locationX>1455</locationX>
        <locationY>2573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ChangeLeaveRecordWithRealEstate2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SimilarLeaveApplicationWithRealEstate2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.RealEstate2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cancel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ChangeLeaveRecordWithRealEstate1</name>
        <label>進行中の入替退去レコード取得（物件１）</label>
        <locationX>1638</locationX>
        <locationY>2160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsOperationWithRealEstate1</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SimilarLeaveApplicationWithRealEstate1.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RecordTypeLeave.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.RealEstate1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ChangeLeaveRecordWithRealEstate2</name>
        <label>進行中の入替退去レコード取得（物件２）</label>
        <locationX>1609</locationX>
        <locationY>2570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsOperationWithRealEstate2</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SimilarLeaveApplicationWithRealEstate2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RecordTypeLeave.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.RealEstate2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ChangeMoveRecord</name>
        <label>進行中の入替入居レコード取得</label>
        <locationX>978</locationX>
        <locationY>1081</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsSimilarMoveApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SimilarMoveApplication.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RecordTypeMove.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NewMatterRecord</name>
        <label>進行中の新規レコード取得</label>
        <locationX>980</locationX>
        <locationY>961</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RecordTypeMove</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SimilarMoveApplication.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordTypeLeave</name>
        <label>レコードタイプ（入替退去）取得</label>
        <locationX>985</locationX>
        <locationY>1880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsRealEstate1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>入替(退去)</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordTypeMove</name>
        <label>レコードタイプ（入替入居）取得</label>
        <locationX>1097</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ChangeMoveRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>入替(入居)</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SimilarLeaveApplicationWithGarage</name>
        <label>類似退去申請レコード取得（駐車場）</label>
        <locationX>1135</locationX>
        <locationY>2926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsSimilarLeaveApplicationWithGarage</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND ( 7 AND 6 )</filterLogic>
        <filters>
            <field>LastName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.LastName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.FirstName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmployeeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.EmployeeCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RealEstate3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.RealEstate3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>退去申請</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>転居申請</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <sortField>CreatedDateTime__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SimilarLeaveApplicationWithRealEstate1</name>
        <label>類似退去申請レコード取得（物件１）</label>
        <locationX>1146</locationX>
        <locationY>2066</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsSimilarLeaveApplicationWithRealEstate1</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ( 5 OR 6 ) AND ( 7 AND 8 )</filterLogic>
        <filters>
            <field>LastName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.LastName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.FirstName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmployeeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.EmployeeCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RealEstate1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.RealEstate1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RealEstate2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.RealEstate1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>退去申請</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>転居申請</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <sortField>CreatedDateTime__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SimilarLeaveApplicationWithRealEstate2</name>
        <label>類似退去申請レコード取得（物件２）</label>
        <locationX>1144</locationX>
        <locationY>2507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_IsSimilarLeaveApplicationWithRealEstate2</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ( 5 OR 6 ) AND ( 7 AND 8 )</filterLogic>
        <filters>
            <field>LastName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.LastName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.FirstName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmployeeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.EmployeeCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RealEstate1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.RealEstate2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RealEstate2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.RealEstate2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>退去申請</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>転居申請</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <sortField>CreatedDateTime__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SimilarMoveApplication</name>
        <label>類似入居申請レコード取得</label>
        <locationX>984</locationX>
        <locationY>832</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NewMatterRecord</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ( 5 OR 6 ) AND 7</filterLogic>
        <filters>
            <field>LastName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.LastName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.FirstName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmployeeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.EmployeeCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>入居申請</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>転居申請</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <sortField>CreatedDateTime__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_ApplicationRecord</name>
        <label>申請レコード更新</label>
        <locationX>797</locationX>
        <locationY>3336</locationY>
        <inputReference>get_Application</inputReference>
    </recordUpdates>
    <start>
        <locationX>653</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
