force-app/main/default/flows/StopRent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_emptyVariable</name>
        <label>空にする</label>
        <locationX>849</locationX>
        <locationY>1105</locationY>
        <assignmentItems>
            <assignToReference>var_CreateRent</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateToDo</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateRent</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_Rent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Rent</name>
        <label>家賃レコード割り当て</label>
        <locationX>1599</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>var_UpdateRent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Rent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateRent.PaymentEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_PrepaymentStartDateMinus2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_UpdateRent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_UpdateRent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Rent.PaymentStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_PrepaymentEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Rent.RentId__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Rent.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateRent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Rent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_CreateRent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CreateRent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_emptyVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Rent1</name>
        <label>家賃レコード割り当て</label>
        <locationX>1597</locationX>
        <locationY>873</locationY>
        <assignmentItems>
            <assignToReference>var_UpdateRent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Rent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateRent.PaymentStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_PrepaymentEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_UpdateRent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_UpdateRent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_emptyVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Rent2</name>
        <label>家賃レコード割り当て</label>
        <locationX>1600</locationX>
        <locationY>718</locationY>
        <assignmentItems>
            <assignToReference>var_UpdateRent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Rent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateRent.PaymentEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_PrepaymentStartDateMinus2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_UpdateRent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_UpdateRent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_emptyVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Rent3</name>
        <label>家賃レコード割り当て</label>
        <locationX>1590</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>var_UpdateRent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Rent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateRent.PaymentStartDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateRent.PaymentEndDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_UpdateRent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_UpdateRent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_emptyVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ToDo</name>
        <label>ToDo割り当て</label>
        <locationX>919</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>var_CreateToDo.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateToDo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Message__c.FixPaymentMessage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateToDo.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SyatakusanSetting__c.BillingManagementTeamSection__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateToDo.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>その他</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateToDo.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_GargeCertification.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_CreateToDo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CreateToDo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_PrePaymentStart</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_PrePaymentStart</name>
        <label>前納期間と支払期間の比較</label>
        <locationX>1291</locationX>
        <locationY>846</locationY>
        <defaultConnector>
            <targetReference>assign_emptyVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isAllConnotation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_PaymentEndRentPlusOne</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_GargeCertification.PrepaymentEndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GargeCertification.ParkingFeePaymentStartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formula_PaymentStartRentPlusOne</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Rent</targetReference>
            </connector>
            <label>支払開始＜前納開始（当月から）＜前納終了＜支払終了</label>
        </rules>
        <rules>
            <name>isFirstHalfConnotation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_GargeCertification.PrepaymentEndDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formula_PaymentEndRentPlusOne</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_PaymentEndRentPlusOne</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_GargeCertification.ParkingFeePaymentStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GargeCertification.ParkingFeePaymentStartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formula_PaymentStartRentPlusOne</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Rent2</targetReference>
            </connector>
            <label>支払開始＜前納開始（当月から）＜支払終了＜＝前納終了</label>
        </rules>
        <rules>
            <name>isLatterHalfConnotation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_PaymentEndRentPlusOne</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_GargeCertification.PrepaymentEndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_GargeCertification.PrepaymentEndDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formula_PaymentStartRentPlusOne</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_PaymentStartRentPlusOne</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>get_GargeCertification.ParkingFeePaymentStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Rent1</targetReference>
            </connector>
            <label>前納開始（当月から）＜＝支払開始＜前納終了＜支払終了</label>
        </rules>
        <rules>
            <name>isEncase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_GargeCertification.PrepaymentEndDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formula_PaymentEndRentPlusOne</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_PaymentStartRentPlusOne</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>get_GargeCertification.ParkingFeePaymentStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Rent3</targetReference>
            </connector>
            <label>前納開始（当月から）＜＝支払開始＜支払終了＜＝前納終了</label>
        </rules>
    </decisions>
    <decisions>
        <description>今日が家賃レコードの支払期間中で、前納開始月である場合、支払レコードが重複してしまうので修正が必要になる。</description>
        <name>isTodayPrePaymentStartMonth</name>
        <label>今月が前納開始月かの判定</label>
        <locationX>986</locationX>
        <locationY>591</locationY>
        <defaultConnector>
            <targetReference>decision_PrePaymentStart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>以外</defaultConnectorLabel>
        <rules>
            <name>isTodayPrePaymentStartDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_PrepaymentStartDateMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_TodayMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formula_PrePaymentStartDateYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_TodayYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formula_PaymentStartRentPlusOne</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>formula_PaymentEndRentPlusOne</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ToDo</targetReference>
            </connector>
            <label>今月が前納開始月</label>
        </rules>
    </decisions>
    <description>車庫証明の決裁申請で前納が発生した場合に、家賃の月額支払を止める必要がある</description>
    <environments>Default</environments>
    <formulas>
        <description>家賃の支払終了年月日の翌月の最終日</description>
        <name>formula_PaymentEndRentPlusOne</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(ADDMONTHS({!loop_Rent.PaymentEndDate__c},2)),MONTH(ADDMONTHS({!loop_Rent.PaymentEndDate__c},2)),1)-1</expression>
    </formulas>
    <formulas>
        <description>家賃の支払開始年月日の翌月の１日</description>
        <name>formula_PaymentStartRentPlusOne</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(ADDMONTHS({!loop_Rent.PaymentStartDate__c},1)),MONTH(ADDMONTHS({!loop_Rent.PaymentStartDate__c},1)),1)</expression>
    </formulas>
    <formulas>
        <description>前納終了の月の１日
複製する家賃の支払開始年月に入る</description>
        <name>formula_PrepaymentEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!get_GargeCertification.PrepaymentEndDate__c}),MONTH({!get_GargeCertification.PrepaymentEndDate__c}),1)</expression>
    </formulas>
    <formulas>
        <description>前納開始の前々月の最終日
これを家賃の支払終了日に割り当てると、前納開始の前月分の支払レコードは家賃の月額支払で支払われることになる</description>
        <name>formula_PrepaymentStartDateMinus2</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(ADDMONTHS({!get_GargeCertification.ParkingFeePaymentStartDate__c},-1)),MONTH(ADDMONTHS({!get_GargeCertification.ParkingFeePaymentStartDate__c},-1)),1)-1</expression>
    </formulas>
    <formulas>
        <name>formula_PrepaymentStartDateMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH({!get_GargeCertification.ParkingFeePaymentStartDate__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_PrePaymentStartDateYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!get_GargeCertification.ParkingFeePaymentStartDate__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TodayMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_TodayYear</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>GC_月額支払い家賃停止 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GC_月額支払い家賃停止</label>
    <loops>
        <name>loop_Rent</name>
        <label>家賃ループ</label>
        <locationX>628</locationX>
        <locationY>888</locationY>
        <collectionReference>get_Rent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isTodayPrePaymentStartMonth</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Rent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Rent</name>
        <label>家賃レコード作成</label>
        <locationX>594</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Update_Rent</targetReference>
        </connector>
        <inputReference>varCol_CreateRent</inputReference>
    </recordCreates>
    <recordCreates>
        <description>経理に修正依頼するToDo作成</description>
        <name>create_ToDo</name>
        <label>ToDo作成</label>
        <locationX>586</locationX>
        <locationY>1443</locationY>
        <inputReference>varCol_CreateToDo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_DecisionApplication</name>
        <label>決裁申請取得</label>
        <locationX>627</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_GargeCertification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DecisionApplication2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_GargeCertification</name>
        <label>車庫証明取得</label>
        <locationX>625</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Realestate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication.GarageCertification__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GarageCertification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Realestate</name>
        <label>物件を取得</label>
        <locationX>626</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Rent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_GargeCertification.RealEstate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RealEstate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Rent</name>
        <label>家賃取得</label>
        <locationX>628</locationX>
        <locationY>712</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Rent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RealEstateName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Realestate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Rent</name>
        <label>家賃レコード更新</label>
        <locationX>593</locationX>
        <locationY>1289</locationY>
        <connector>
            <targetReference>create_ToDo</targetReference>
        </connector>
        <inputReference>varCol_UpdateRent</inputReference>
    </recordUpdates>
    <start>
        <locationX>499</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_DecisionApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreateRent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rent__c</objectType>
    </variables>
    <variables>
        <name>var_CreateToDo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_UpdateRent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rent__c</objectType>
    </variables>
    <variables>
        <name>varCol_CreateRent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rent__c</objectType>
    </variables>
    <variables>
        <name>varCol_CreateToDo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varCol_UpdateRent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rent__c</objectType>
    </variables>
</Flow>
