force-app/main/default/flows/SwitchChangeCancel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_Cancel</name>
        <label>解約レコード割り当て</label>
        <locationX>453</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>var_Cancel.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cancel.RealEstate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.RealEstate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cancel.MoveOutScheduledDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.LeaveDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cancel.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CancelRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cancel.OriginalRecoveryObligation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.Application__r.RecoveryCostDeal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cancel.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cancel.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>解約保留中</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cancel.ChargeTeam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.Account__r.CancelApplicationTeam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cancel.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cancel.ServiceContractCancel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Change.Account__r.ServiceContractCancel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Cancel.IsFromOther__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Cancel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Change</name>
        <label>入替レコード割り当て</label>
        <locationX>125</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>var_Change.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cancel.Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Change.RealEstate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cancel.RealEstate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Change.LeaveDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cancel.MoveOutScheduledDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Change.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ChangeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Change.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cancel.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Change.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>申請確認中</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Change.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cancel.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>desicion_ChangeCancel</name>
        <label>入替解約チェック</label>
        <locationX>287</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>screen_CancelToChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>解約</defaultConnectorLabel>
        <rules>
            <name>is_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Change</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_ChangeToCancel</targetReference>
            </connector>
            <label>入替</label>
        </rules>
    </decisions>
    <description>割当に企業名を追加</description>
    <environments>Default</environments>
    <interviewLabel>CH_入替解約切り替え {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH_入替解約切り替え</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Cancel</name>
        <label>解約レコード作成</label>
        <locationX>453</locationX>
        <locationY>1006</locationY>
        <connector>
            <targetReference>update_Change</targetReference>
        </connector>
        <inputReference>var_Cancel</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_Change</name>
        <label>入替レコード作成</label>
        <locationX>125</locationX>
        <locationY>1006</locationY>
        <connector>
            <targetReference>update_Cancel</targetReference>
        </connector>
        <inputReference>var_Change</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Cancel</name>
        <label>解約レコード取得</label>
        <locationX>297</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>desicion_ChangeCancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cancel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CancelRecordType</name>
        <label>解約レコードタイプ取得</label>
        <locationX>453</locationX>
        <locationY>717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>解約</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancel__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Change</name>
        <label>入替レコード取得</label>
        <locationX>294</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ChangeRecordType</name>
        <label>入替レコードタイプ取得</label>
        <locationX>125</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>入替(退去)</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Cancel</name>
        <label>解約申入クローズ更新</label>
        <locationX>125</locationX>
        <locationY>1158</locationY>
        <connector>
            <targetReference>Update_CancelCalculate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseReason__c</field>
            <value>
                <stringValue>入替に切り替え</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </inputAssignments>
        <object>Cancel__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CancelCalculate</name>
        <label>解約精算クローズ更新</label>
        <locationX>125</locationX>
        <locationY>1333</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CancelApprication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseReason__c</field>
            <value>
                <stringValue>入替に切り替え</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Change</name>
        <label>入替クローズ更新</label>
        <locationX>453</locationX>
        <locationY>1150</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClosedReason__c</field>
            <value>
                <stringValue>解約に切り替え</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </inputAssignments>
        <object>Change__c</object>
    </recordUpdates>
    <screens>
        <description>現在表示している入替（退去）レコードを解約レコードに置き換えます。</description>
        <name>screen_CancelToChange</name>
        <label>切り替え確認画面</label>
        <locationX>125</locationX>
        <locationY>554</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_ChangeRecordType</targetReference>
        </connector>
        <fields>
            <name>display_ChangeToCancel_0</name>
            <fieldText>&lt;p&gt;現在の解約レコードを入替（退去）レコードに切り替えます。&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;作成される入替（退去）レコードは以下の情報で作成されます。よろしければ、画面下部の完了ボタンを押下してください。&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;※一度切り替えを実施すると、現在の解約レコードのフェーズは完了になりますので、ご注意ください。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;申請：{!get_Cancel.Application__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;物件：{!get_Cancel.RealEstate__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;退去日：{!get_Cancel.MoveOutScheduledDate__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>完了</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>現在表示している入替（退去）レコードを解約レコードに置き換えます。</description>
        <name>screen_ChangeToCancel</name>
        <label>切り替え確認画面</label>
        <locationX>455</locationX>
        <locationY>559</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_CancelRecordType</targetReference>
        </connector>
        <fields>
            <name>display_ChangeToCancel</name>
            <fieldText>&lt;p&gt;現在の入替（退去）レコードを解約レコードに切り替えます。&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;作成される解約レコードは以下の情報で作成されます。よろしければ、画面下部の完了ボタンを押下してください。&lt;/p&gt;&lt;p&gt;※一度切り替えを実施すると、現在の入替（退去）レコードのフェーズは完了になりますので、ご注意ください。&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;申請：{!get_Change.Application__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;物件：{!get_Change.RealEstate__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;退出予定日：{!get_Change.LeaveDate__c}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>完了</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>170</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Change</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Cancel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cancel__c</objectType>
    </variables>
    <variables>
        <name>var_Change</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change__c</objectType>
    </variables>
</Flow>
