force-app/main/default/flows/UpdateStageCancelCalculate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>decision_CancelCalculate</name>
        <label>フェーズ判定</label>
        <locationX>681</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>decision_CancelCalculate2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.CancelApprication__r.MoveOutScheduledDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CancelCalculate</targetReference>
            </connector>
            <label>入居中に更新</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CancelCalculate2</name>
        <label>フェーズ判定</label>
        <locationX>546</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>decision_CancelCalculate3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isUpdate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.CancelApprication__r.MoveOutScheduledDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.RepairEstimateCollectDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CancelCalculate_0</targetReference>
            </connector>
            <label>見積準備中に更新</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CancelCalculate3</name>
        <label>フェーズ判定</label>
        <locationX>435</locationX>
        <locationY>627</locationY>
        <defaultConnector>
            <targetReference>decision_CancelCalculate4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isUpdate3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.RepairEstimateCollectDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.DecisionApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CancelCalculate3</targetReference>
            </connector>
            <label>内容確認中に更新</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CancelCalculate4</name>
        <label>フェーズ判定</label>
        <locationX>331</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>decision_CancelCalculate5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isUpdate4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.DecisionApplicationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.DecisionAcquisitionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CancelCalculate4</targetReference>
            </connector>
            <label>決裁申請中に更新</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CancelCalculate5</name>
        <label>フェーズ判定</label>
        <locationX>227</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>decision_CancelCalculate6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isUpdate5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.DecisionAcquisitionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.DepositRefundDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CancelCalculate4_0</targetReference>
            </connector>
            <label>対応中(返金/支払い)に更新</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CancelCalculate6</name>
        <label>フェーズ判定</label>
        <locationX>113</locationX>
        <locationY>1038</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isUpdate6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_CancelCalculate.DepositRefundDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CancelCalculate.CompletionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CancelCalculate4_0_0</targetReference>
            </connector>
            <label>完了に更新</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>_フェーズ自動更新（解約精算） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC_フェーズ自動更新（解約精算）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_CancelCalculate</name>
        <label>レコード取得</label>
        <locationX>691</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_CancelCalculate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CancelCalculate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>レコード更新</label>
        <locationX>916</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>decision_CancelCalculate2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>入居中</stringValue>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_CancelCalculate3</name>
        <label>レコード更新</label>
        <locationX>917</locationX>
        <locationY>640</locationY>
        <connector>
            <targetReference>decision_CancelCalculate4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>内容確認中</stringValue>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_CancelCalculate4</name>
        <label>レコード更新</label>
        <locationX>920</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>decision_CancelCalculate5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>決裁申請中</stringValue>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_CancelCalculate4_0</name>
        <label>レコード更新</label>
        <locationX>921</locationX>
        <locationY>906</locationY>
        <connector>
            <targetReference>decision_CancelCalculate6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>対応中（返金/支払い)</stringValue>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_CancelCalculate4_0_0</name>
        <label>レコード更新</label>
        <locationX>927</locationX>
        <locationY>1043</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_CancelCalculate_0</name>
        <label>レコード更新</label>
        <locationX>916</locationX>
        <locationY>512</locationY>
        <connector>
            <targetReference>decision_CancelCalculate3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CancelCalculate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>見積り準備中</stringValue>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_CancelCalculate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
