force-app/main/default/flows/UpdateFieldByAccountNewMatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_DecisionApplication</name>
        <label>決裁申請の割り当て</label>
        <locationX>1366</locationX>
        <locationY>1109</locationY>
        <assignmentItems>
            <assignToReference>loop_AssignRealEstate.IsApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AssignRealEstate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignRealEstate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RealEstate</name>
        <label>物件の割り当て</label>
        <locationX>1368</locationX>
        <locationY>1417</locationY>
        <assignmentItems>
            <assignToReference>loop_AssignRealEstate.RealEstate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RealEstateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_AssignRealEstate.RealEstateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RealEstateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_AssignRealEstate.IsApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_AssignRealEstate.ChangeDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_AssignRealEstate.IsRealEstateRelation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AssignRealEstate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignRealEstate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RemoveRealEstate</name>
        <label>物件参照関係Nullの割り当て</label>
        <locationX>625</locationX>
        <locationY>1425</locationY>
        <assignmentItems>
            <assignToReference>loop_RemoveRelationRealEstate.RealEstate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_UpdateFieldByAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_RemoveRelationRealEstate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_RemoveRelationRealEstate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_ObjectType</name>
        <label>オブジェクト判定</label>
        <locationX>1359</locationX>
        <locationY>1246</locationY>
        <defaultConnector>
            <targetReference>assign_DecisionApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>決裁申請</defaultConnectorLabel>
        <rules>
            <name>IsRealEstate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_AssignRealEstate.IsRealEstateField__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RealEstate</targetReference>
            </connector>
            <label>物件</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_RealEstate</name>
        <label>物件の有無判定</label>
        <locationX>767</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>get_RealEstate_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>紐づけあり</defaultConnectorLabel>
        <rules>
            <name>isRelationRealEstate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_NewMatter.RealEstate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_RealEstate</targetReference>
            </connector>
            <label>新規に物件の紐づけがない</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Reapplication</name>
        <label>再申請か判定</label>
        <locationX>772</locationX>
        <locationY>1112</locationY>
        <defaultConnector>
            <targetReference>get_ExistingFieldByAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>再申請</defaultConnectorLabel>
        <rules>
            <name>FirstApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication.NewMatter__r.Reapplication1OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_AssignRealEstate</targetReference>
            </connector>
            <label>初回申請</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Reapplication_2</name>
        <label>再申請か判定</label>
        <locationX>1072</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>flow_CreateRealEstateChangeHistoryFieldByAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>再申請</defaultConnectorLabel>
        <rules>
            <name>FirstApplication_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_NewMatter.Reapplication1OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>初回申請</label>
        </rules>
    </decisions>
    <description>FA_物件変更履歴作成サブフローに決裁申請ではなく、新規レコードを入力変数として渡すに変更</description>
    <environments>Default</environments>
    <interviewLabel>FA_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FA_個社別項目の更新（新規）</label>
    <loops>
        <name>loop_AssignRealEstate</name>
        <label>物件割り当てループ</label>
        <locationX>1055</locationX>
        <locationY>1211</locationY>
        <collectionReference>get_FieldByAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_ObjectType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_FieldByAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_RemoveRelationRealEstate</name>
        <label>物件紐づけ解除ループ</label>
        <locationX>429</locationX>
        <locationY>1427</locationY>
        <collectionReference>get_ExistingFieldByAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_RemoveRealEstate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ExisitingFieldByAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_DecisionApplication</name>
        <label>決裁申請の取得</label>
        <locationX>767</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DecisionApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DecisionApplication2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ExistingFieldByAccount</name>
        <label>既存個社別項目の取得</label>
        <locationX>428</locationX>
        <locationY>1253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_RemoveRelationRealEstate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RealEstateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldByAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FieldByAccount</name>
        <label>個社別項目の取得</label>
        <locationX>778</locationX>
        <locationY>987</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Reapplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FifthSetConfirm__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_FifthSetConfirm.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FifthSetConfirm__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldByAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FifthSetConfirm</name>
        <label>5点確定レコードの取得</label>
        <locationX>770</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_RealEstate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NewMatter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FifthSetConfirm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規の取得</label>
        <locationX>769</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FifthSetConfirm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication.NewMatter__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RealEstate</name>
        <label>物件の取得</label>
        <locationX>627</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RealEstate</elementReference>
            </value>
        </filters>
        <object>RealEstate__c</object>
        <outputAssignments>
            <assignToReference>var_RealEstateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_RealEstate_0</name>
        <label>物件の取得</label>
        <locationX>940</locationX>
        <locationY>840</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.RealEstate__c</elementReference>
            </value>
        </filters>
        <object>RealEstate__c</object>
        <outputAssignments>
            <assignToReference>var_RealEstateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_ExisitingFieldByAccount</name>
        <label>既存個社別項目の更新</label>
        <locationX>426</locationX>
        <locationY>1612</locationY>
        <connector>
            <targetReference>loop_AssignRealEstate</targetReference>
        </connector>
        <inputReference>varCol_UpdateFieldByAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_FieldByAccount</name>
        <label>個社別項目の更新</label>
        <locationX>1080</locationX>
        <locationY>1494</locationY>
        <connector>
            <targetReference>decision_Reapplication_2</targetReference>
        </connector>
        <inputReference>varCol_FieldByAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>642</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_DecisionApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_CreateRealEstateChangeHistoryFieldByAccount</name>
        <label>FA_物件変更履歴作成（個社別項目）</label>
        <locationX>1082</locationX>
        <locationY>1915</locationY>
        <flowName>CreateRealEstateChangeHistoryFieldByAccount</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_NewMatter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RealEstate</name>
            <value>
                <elementReference>var_RealEstateId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_DecisionApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FieldByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldByAccount__c</objectType>
    </variables>
    <variables>
        <name>var_RealEstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RealEstateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_FieldByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldByAccount__c</objectType>
    </variables>
    <variables>
        <name>varCol_UpdateFieldByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldByAccount__c</objectType>
    </variables>
</Flow>
