force-app/main/default/flows/UpdateEmployeeNameApplicantConfirmDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_ApplicantConfirmDate</name>
        <label>適用者確認日割り当て</label>
        <locationX>955</locationX>
        <locationY>1177</locationY>
        <assignmentItems>
            <assignToReference>loop_Applications.ApplicantConfirmDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Applications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CollectionNewMatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CollectionNewMatter</name>
        <label>コレクション変数に割りあて</label>
        <locationX>951</locationX>
        <locationY>1307</locationY>
        <assignmentItems>
            <assignToReference>varCol_Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Applications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_ExistEmployee</name>
        <label>取引先担当者存在チェック</label>
        <locationX>764</locationX>
        <locationY>452</locationY>
        <defaultConnectorLabel>非存在</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_EmployeeName</targetReference>
            </connector>
            <label>存在</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CA_社員適用者確認日更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CA_社員適用者確認日更新</label>
    <loops>
        <name>loop_Applications</name>
        <label>申請レコード割り当てループ</label>
        <locationX>768</locationX>
        <locationY>1184</locationY>
        <collectionReference>get_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_ApplicantConfirmDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Applications</name>
        <label>申請レコード取得</label>
        <locationX>770</locationX>
        <locationY>1039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Applications</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>受付済み</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApplicantConfirmDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ApplicantCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ContactRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RecordTypeMoveIn.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RecordTyeMove.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ContactRecord</name>
        <label>取引先担当者レコード取得</label>
        <locationX>774</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_ExistEmployee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CorporateHousingApplicant.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmployeeNum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CorporateHousingApplicant.EmployeeNo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CorporateHousingApplicant</name>
        <label>社宅適用者レコード取得</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ContactRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CorporateHousingApplicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordTyeMove</name>
        <label>転居申請レコードタイプ取得</label>
        <locationX>770</locationX>
        <locationY>885</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Move</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordTypeMoveIn</name>
        <label>入居申請レコードタイプ取得</label>
        <locationX>771</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RecordTyeMove</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MoveIn</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Application</name>
        <label>申請レコード更新</label>
        <locationX>767</locationX>
        <locationY>1423</locationY>
        <inputReference>varCol_Applications</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_EmployeeName</name>
        <label>社宅適用者_社員名更新</label>
        <locationX>773</locationX>
        <locationY>603</locationY>
        <connector>
            <targetReference>get_RecordTypeMoveIn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EmployeeName__c</field>
            <value>
                <elementReference>get_ContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CorporateHousingApplicant__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_CorporateHousingApplicant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>var_EmployeeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_Applications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
</Flow>
