force-app/main/default/flows/UpdateCheckListCollectionDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decision_BusinessRecord</name>
        <label>業務レコードの判定</label>
        <locationX>770</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>screen_CompletedSubmission_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NewMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ChaekList.NewMatter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_NewMatter</targetReference>
            </connector>
            <label>新規</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ChaekList.Cancel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CancelCalculate</targetReference>
            </connector>
            <label>解約</label>
        </rules>
        <rules>
            <name>Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ChaekList.Change__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Change</targetReference>
            </connector>
            <label>入替</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CE_回収日更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CE_チェックリスト回収日更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_ChaekList</name>
        <label>チェックリストの取得</label>
        <locationX>777</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_BusinessRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CheckList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約精算の更新</label>
        <locationX>780</locationX>
        <locationY>687</locationY>
        <connector>
            <targetReference>screen_CompletedSubmission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ChaekList.Cancel__r.CancelCalculate__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CheckListCollectDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Change</name>
        <label>入替レコードの更新</label>
        <locationX>880</locationX>
        <locationY>696</locationY>
        <connector>
            <targetReference>screen_CompletedSubmission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ChaekList.Change__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CheckListCollectDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Change__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_NewMatter</name>
        <label>新規の更新</label>
        <locationX>667</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>screen_CompletedSubmission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ChaekList.NewMatter__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CheckListCollectDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>NewMatter__c</object>
    </recordUpdates>
    <screens>
        <name>screen_CompletedSubmission</name>
        <label>提出完了画面</label>
        <locationX>770</locationX>
        <locationY>900</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_CompletedMessage</name>
            <fieldText>&lt;p&gt;提出が完了しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_CompletedSubmission_0</name>
        <label>提出完了画面</label>
        <locationX>988</locationX>
        <locationY>512</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ErrorMessage</name>
            <fieldText>&lt;p&gt;業務レコードが紐づいていません。確認してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_StartSubmission</name>
        <label>提出開始画面</label>
        <locationX>776</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_ChaekList</targetReference>
        </connector>
        <fields>
            <name>display_StartMessage</name>
            <fieldText>&lt;p&gt;チェックリストを提出します。よろしければ次へを押してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>651</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screen_StartSubmission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
