force-app/main/default/flows/UpdateFieldByAccountConditionChange2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_RealEstate</name>
        <label>物件の割り当て</label>
        <locationX>1335</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountInfomation.RealEstateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_FieldByAccountInfomation.IsApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_FieldByAccountInfomation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_FieldByAccountInfomation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>物件と紐づけ済みなら、変更日にTODAYを入れる。</description>
        <name>assign_RealEstate_0</name>
        <label>物件の割り当て（紐づけ済み）</label>
        <locationX>583</locationX>
        <locationY>1625</locationY>
        <assignmentItems>
            <assignToReference>loop_AssignFieldByAccountInfomation.ChangeDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_AssignFieldByAccountInfomation.RealEstateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_AssignFieldByAccountInfomation.IsApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_varCol_FieldByAccount_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>紐づけなしなら、変更日は更新しない</description>
        <name>assign_RealEstateAndDecisionApplication_0</name>
        <label>物件の割り当て（紐づけなし）</label>
        <locationX>708</locationX>
        <locationY>1432</locationY>
        <assignmentItems>
            <assignToReference>loop_AssignFieldByAccountInfomation.RealEstateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RealEstate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_AssignFieldByAccountInfomation.IsApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_varCol_FieldByAccount_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>decision_varCol_FieldByAccount_0</name>
        <label>個社別項目変数コレクション割り当て</label>
        <locationX>856</locationX>
        <locationY>1624</locationY>
        <assignmentItems>
            <assignToReference>varCol_FieldByAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AssignFieldByAccountInfomation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AssignFieldByAccountInfomation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>既存個社別項目が取得できない場合、物件が紐づく個社別項目はなし。取得できた場合物件が紐づく個社別項目がある</description>
        <name>decision_ExisitingFBARelationRealEstate</name>
        <label>物件が紐づく既存個社別項目の判定</label>
        <locationX>584</locationX>
        <locationY>1186</locationY>
        <defaultConnector>
            <targetReference>assign_RealEstate_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>紐づけ済み</defaultConnectorLabel>
        <rules>
            <name>isNoExisting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ExistingFieldByAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RealEstateAndDecisionApplication_0</targetReference>
            </connector>
            <label>紐づけなし</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Reapplication</name>
        <label>再申請か判定</label>
        <locationX>999</locationX>
        <locationY>1013</locationY>
        <defaultConnector>
            <targetReference>get_ExistingFieldByAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>再申請</defaultConnectorLabel>
        <rules>
            <name>FirstApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ConditionChangeRecord.Reapplication1OccurrenceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_FieldByAccountInfomation</targetReference>
            </connector>
            <label>初回申請</label>
        </rules>
    </decisions>
    <description>条件変更から個社別項目を更新する場合は、決裁申請は発生しないため、決裁申請処理を削除</description>
    <environments>Default</environments>
    <interviewLabel>FA_個社別項目の更新（入替） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FA_個社別項目の更新（条件変更）</label>
    <loops>
        <name>loop_AssignFieldByAccountInfomation</name>
        <label>個社別項目情報の割り当て</label>
        <locationX>800</locationX>
        <locationY>1180</locationY>
        <collectionReference>get_FieldByAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_ExisitingFBARelationRealEstate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_FieldByAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_FieldByAccountInfomation</name>
        <label>個社別項目情報割り当てループ</label>
        <locationX>1209</locationX>
        <locationY>1096</locationY>
        <collectionReference>get_FieldByAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_RealEstate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_FieldByAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_ConditionChangeRecord</name>
        <label>条件変更レコードの取得</label>
        <locationX>1005</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RealEstate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ConditionChange</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ConditionChange__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ExistingFieldByAccount</name>
        <label>既存個社別項目の取得</label>
        <locationX>799</locationX>
        <locationY>1037</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_AssignFieldByAccountInfomation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RealEstate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RealEstate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FifthSetConfirm__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConditionChange__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Change__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldByAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FieldByAccount</name>
        <label>個社別項目の取得</label>
        <locationX>1008</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Reapplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConditionChange__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ConditionChangeRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldByAccount__c</object>
        <sortField>SortOrder__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RealEstate</name>
        <label>物件の取得</label>
        <locationX>1010</locationX>
        <locationY>651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FieldByAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ConditionChangeRecord.RealEstate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RealEstate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_FieldByAccount</name>
        <label>個社別項目の更新</label>
        <locationX>1217</locationX>
        <locationY>1518</locationY>
        <connector>
            <targetReference>flow_CreateRealEstateChangeHistoryFieldByAccount</targetReference>
        </connector>
        <inputReference>varCol_FieldByAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>879</locationX>
        <locationY>322</locationY>
        <connector>
            <targetReference>get_ConditionChangeRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_CreateRealEstateChangeHistoryFieldByAccount</name>
        <label>FA_物件変更履歴作成（個社別項目）</label>
        <locationX>1215</locationX>
        <locationY>1695</locationY>
        <flowName>CreateRealEstateChangeHistoryFieldByAccount</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>get_ConditionChangeRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RealEstate</name>
            <value>
                <elementReference>get_RealEstate.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_ConditionChange</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_FieldByAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldByAccount__c</objectType>
    </variables>
</Flow>
