force-app/main/default/flows/UpdateStageMediationRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>decision_Stage</name>
        <label>フェーズ判定</label>
        <locationX>769</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>decision_Stage2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_MediationRequest.MediationRequestDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_MediationRequest</targetReference>
            </connector>
            <label>準備中に更新</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Stage2</name>
        <label>フェーズ判定</label>
        <locationX>635</locationX>
        <locationY>498</locationY>
        <defaultConnector>
            <targetReference>decision_Stage3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isUpdate2</name>
            <conditionLogic>1 AND (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>get_MediationRequest.MediationRequestDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_MediationRequest.NewMatterId__r.EmployeeDecisionAcceptCompletedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_MediationRequest.NewMatterId__r.AgencyDecisionAcceptDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_MediationRequest2</targetReference>
            </connector>
            <label>選定中に更新</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Stage3</name>
        <label>フェーズ判定</label>
        <locationX>506</locationX>
        <locationY>653</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isUpdate3</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>get_MediationRequest.MediationRequestDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_MediationRequest.ContractCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>成約</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_MediationRequest.ContractCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>他決</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_MediationRequest.ContractCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>キャンセル</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_MediationRequest2_0</targetReference>
            </connector>
            <label>完了に更新</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MR_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MR_フェーズ自動更新（斡旋依頼）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_MediationRequest</name>
        <label>斡旋依頼の取得</label>
        <locationX>778</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MediationRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_MediationRequest</name>
        <label>レコード更新</label>
        <locationX>1019</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>decision_Stage2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>準備中</stringValue>
            </value>
        </inputAssignments>
        <object>MediationRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_MediationRequest2</name>
        <label>レコード更新</label>
        <locationX>1024</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>decision_Stage3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_MediationRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>選定中</stringValue>
            </value>
        </inputAssignments>
        <object>MediationRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_MediationRequest2_0</name>
        <label>レコード更新</label>
        <locationX>1027</locationX>
        <locationY>649</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_MediationRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </inputAssignments>
        <object>MediationRequest__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_MediationRequest</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
