force-app/main/default/flows/UpdateCancelMiainCounter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>「連絡注意事項」に取引先の「備考」を追加する</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_IsAutoNotice</name>
        <dataType>Boolean</dataType>
        <expression>if(isblank({!get_Account.Id}), false, {!get_Account.IsAutoNotice__c})</expression>
    </formulas>
    <interviewLabel>CA_申入れ窓口連絡先更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>申入れ窓口連絡先更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Account</name>
        <label>取引先レコード取得</label>
        <locationX>615</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Cancel</name>
        <label>解約申入取得</label>
        <locationX>610</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cancel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Cancel</name>
        <label>解約申入レコード更新</label>
        <locationX>615</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>update_CancelCalculate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactNotes__c</field>
            <value>
                <elementReference>get_Account.CompanywideNote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>get_Account.MainEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax__c</field>
            <value>
                <elementReference>get_Account.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCancelCounterAutoNotice__c</field>
            <value>
                <elementReference>formula_IsAutoNotice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>get_Account.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Cancel__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約精算を更新</label>
        <locationX>616</locationX>
        <locationY>534</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CancelApprication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CancelCounterName__c</field>
            <value>
                <elementReference>get_Cancel.CancelCounter__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
