force-app/main/default/flows/UpdataContractCategory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>MR_成約区分更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MR_成約区分更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規レコードを取得</label>
        <locationX>456</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updata_DecisionMediationRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updata_DecisionMediationRequest</name>
        <label>決定斡旋依頼レコードを更新</label>
        <locationX>457</locationX>
        <locationY>321</locationY>
        <connector>
            <targetReference>updata_OtherDecisionMediationRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RequestTraderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Agency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NewMatterId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractCategory__c</field>
            <value>
                <stringValue>成約</stringValue>
            </value>
        </inputAssignments>
        <object>MediationRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updata_OtherDecisionMediationRequest</name>
        <label>他決斡旋依頼レコードを更新</label>
        <locationX>457</locationX>
        <locationY>454</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RequestTraderId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>get_NewMatter.Agency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NewMatterId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractCategory__c</field>
            <value>
                <stringValue>他決</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LostDate__c</field>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </inputAssignments>
        <object>MediationRequest__c</object>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
