force-app/main/default/flows/UpdateBusinessRecordDecisionApplicationDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decision_RecordType</name>
        <label>レコードタイプの判定</label>
        <locationX>765</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isCancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_DecisionApplication2.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_DecisionApplication2.CancelCalculate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CancelCalculate</targetReference>
            </connector>
            <label>解約</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>決裁申請日の更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP_業務レコードの決裁申請日更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_DecisionApplication2</name>
        <label>決裁申請の取得</label>
        <locationX>773</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DecisionApplication</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DecisionApplication2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_CancelCalculate</name>
        <label>解約精算の更新</label>
        <locationX>598</locationX>
        <locationY>541</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DecisionApplication2.CancelCalculate__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DecisionApplicationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>CancelCalculate__c</object>
    </recordUpdates>
    <start>
        <locationX>647</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>get_DecisionApplication2</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_DecisionApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
