force-app/main/default/flows/UpdateKeyReturn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>formula_BillingAddress</name>
        <dataType>String</dataType>
        <expression>{!GetLandlord.Account__r.BillingState} &amp; {!GetLandlord.Account__r.BillingCity} &amp; {!GetLandlord.Account__r.BillingStreet}</expression>
    </formulas>
    <interviewLabel>鍵返却窓口更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CA_鍵返却窓口更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLandlord</name>
        <label>家主を取得</label>
        <locationX>670</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateKeyRturnCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_LandlardId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Landlord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateKeyRturnCounter</name>
        <label>鍵返却窓口情報の更新</label>
        <locationX>670</locationX>
        <locationY>326</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>KeyReturnAddress__c</field>
            <value>
                <elementReference>formula_BillingAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KeyReturnCounter_FAX__c</field>
            <value>
                <elementReference>GetLandlord.Account__r.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KeyReturnCounter_mail__c</field>
            <value>
                <elementReference>GetLandlord.Account__r.MainEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KeyReturnTel__c</field>
            <value>
                <elementReference>GetLandlord.Account__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KeyReturnZipCode__c</field>
            <value>
                <elementReference>GetLandlord.Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Cancel__c</object>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetLandlord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LandlardId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
