force-app/main/default/flows/UpdateContactCounter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>「連絡注意事項」に取引先の「備考」を追加</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_AgencyAutoNotice</name>
        <dataType>Boolean</dataType>
        <expression>IF (ISBLANK({!get_NewMatter.Agency__c}), false, {!get_NewMatter.Agency__r.IsAutoNotice__c})</expression>
    </formulas>
    <interviewLabel>NM_窓口更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NM_仲介業者更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Account</name>
        <label>取引先レコード取得</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_NewMatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NewMatter</name>
        <label>新規レコード取得</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NewMatter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_NewMatter</name>
        <label>新規レコードの更新</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AgencyEmail__c</field>
            <value>
                <elementReference>get_Account.MainEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgencyFax__c</field>
            <value>
                <elementReference>get_Account.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgencyTraderPhone__c</field>
            <value>
                <elementReference>get_Account.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactNotes__c</field>
            <value>
                <elementReference>get_Account.CompanywideNote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAgencyAutoNotice__c</field>
            <value>
                <elementReference>formula_AgencyAutoNotice</elementReference>
            </value>
        </inputAssignments>
        <object>NewMatter__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_NewMatter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
