force-app/main/default/flows/UpdateRealEstateByRealEstateChangeHistory2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>フロー制限を回避するためにスケジュールトリガーを分けて実装しています。</description>
    <environments>Default</environments>
    <interviewLabel>RE_物件変更履歴による物件レコード更新2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RE_物件変更履歴による物件レコード更新②</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_RealEstateChangeHistory</name>
        <label>物件変更履歴を取得</label>
        <locationX>6535</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flow_DecisionFieldValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsTarget__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RealEstateChangeHistory__c</object>
        <sortField>RealEstate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_NewLandlord</name>
        <label>新家主の更新</label>
        <locationX>6535</locationX>
        <locationY>757</locationY>
        <connector>
            <targetReference>update_OldLandlord</targetReference>
        </connector>
        <inputReference>varCol_NewLandlord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_OldLandlord</name>
        <label>旧家主の更新</label>
        <locationX>6538</locationX>
        <locationY>916</locationY>
        <connector>
            <targetReference>update_RealEstateChangeHistory0</targetReference>
        </connector>
        <inputReference>varCol_OldLandLord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_RealEstate0</name>
        <label>物件を更新</label>
        <locationX>6534</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>update_NewLandlord</targetReference>
        </connector>
        <inputReference>varCol_RealEstate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_RealEstateChangeHistory0</name>
        <label>物件変更履歴を更新</label>
        <locationX>6539</locationX>
        <locationY>1097</locationY>
        <inputReference>varCol_RealEstateChangeHistory</inputReference>
    </recordUpdates>
    <start>
        <locationX>6409</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>get_RealEstateChangeHistory</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-05</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_DecisionFieldValue</name>
        <label>RE_項目値の比較</label>
        <locationX>6534</locationX>
        <locationY>451</locationY>
        <connector>
            <targetReference>update_RealEstate0</targetReference>
        </connector>
        <flowName>DecisionFieldValue</flowName>
        <inputAssignments>
            <name>varCol_InputData</name>
            <value>
                <elementReference>get_RealEstateChangeHistory</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCol_NewLandlord</assignToReference>
            <name>varCol_NewLandlord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_OldLandLord</assignToReference>
            <name>varCol_OldLandLord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_RealEstate</assignToReference>
            <name>varCol_RealEstate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCol_RealEstateChangeHistory</assignToReference>
            <name>varCol_RealEstateChangeHistory</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentItem_filter_RealEstateId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstateChangeHistory__c</objectType>
    </variables>
    <variables>
        <name>var_CurrentRealEstateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RealEstate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstate__c</objectType>
    </variables>
    <variables>
        <name>var_RealEstateIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_NewLandlord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Landlord__c</objectType>
    </variables>
    <variables>
        <name>varCol_OldLandLord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Landlord__c</objectType>
    </variables>
    <variables>
        <name>varCol_RealEstate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstate__c</objectType>
    </variables>
    <variables>
        <name>varCol_RealEstateChangeHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RealEstateChangeHistory__c</objectType>
    </variables>
</Flow>
